// navbar
.cases-search {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;

  background-color: rgba(#000, .05);
  border-radius: 2px;

  &:hover {
    background-color: rgba(#000, .1);
  }

  > :first-child {
    margin-right: .8rem;
  }
}

.cases-search-icon {
  padding: .5rem;
}

.cases-search-input {
  width: 100%;
  background-color: transparent;
}

// content
.cases-list {
  padding: 2em 0;
  width: 80%;
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
}

%cases-item-base {
  padding: .7em;
}

.cases-item-title {
  @extend %cases-item-base;
  color: darken(#00bcd4, 10%);

  display: flex;
  align-items: center;
  flex: 1;

  font-size: 1.5em;
  text-decoration: none;
}

.cases-item-bonus {
  @extend %cases-item-base;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cases-date {
  @extend %cases-item-base;

  padding-top: 0;
  padding-bottom: 0;
  color: rgba(#000, .5);
  font-size: .9em;
}

.cases-item-link {
  @extend %cases-item-base;

  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
}

.cases-item-databases {
  @extend %cases-item-base;

  overflow: auto;
  white-space: nowrap;
  margin: 0 2em;
  border-radius: 3px;
  flex: .5;
  background-color: rgba(#000, .05);
  border: 1px solid rgba(#000, .15);
  font-size: .9em;
}
