$variants-cell-padding: .6rem;

%variants-item {
	flex: 1;
	padding: $variants-cell-padding;

	position: relative;
	text-decoration: none;

	// dotdotdot
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&:not(:last-child) {
		border-right-width: 1px;
		border-right-style: solid;
	}
}

.variants-header {
  @extend %secondary-menubar;

	display: flex;
	position: relative;

	border-bottom: 1px solid rgba(#000, .05);
	font-size: .9em;
	box-shadow: 0 2px 5px rgba(#000, .4);
}

.variants-header-item {
	@extend %variants-item;

	color: #fff;
	border-right-color: rgba(#000, .15);
}

.flex-big {
  flex: 3;
}

.flex-small {
  flex: .5;
}

.variants-body {
	background-color: #fff;
	font-size: .9rem;
	border-bottom: 1px solid rgba(#000, .15);
	box-shadow: 0 1px 0 rgba(#000, .07);
	color: rgba(#000, .6);

	// clear overflow
	margin-top: 1em;
	border-top: 1px solid rgba(#000, .15);
}

.variants-row {
	display: flex;

	&:nth-child(even) {
		background-color: rgba(#000, .01);
	}

	&:hover {
		background: rgba($primary-color, .03);
	}

	&:not(:last-child) {
		border-bottom: 1px solid rgba(#000, .1);
	}
}

.variants-row-item {
	@extend %variants-item;

	&:not(:last-child) {
		border-right-color: rgba(#000, .15);
	}
}

.variants-row-list {
	@extend %variants-item;

	padding-top: 0;
	padding-bottom: 0;
}

.variants-row-list-item {
	padding: $variants-cell-padding;
	flex-shrink: 0;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	&:not(:last-child) {
		border-right: 1px solid rgba(#000, .1);
	}
}

.variants-row-item {
	// dotdotdot
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.is-scrollable {
	overflow: auto;
	text-overflow: clip;
}

.variants-load-more {
	@extend .button-base;

	display: block;
	margin: 1.5rem auto;
	width: 10em;
}

.table-compounds-popup {
  @extend .default-table;

  width: 50em;
  color: #444;
  background-color: #fff;
}

// FILTERS
.variants-filters-group {
  border-bottom: 1px solid rgba(#000, .1);
}

.variants-filters-group-label {
  @extend .md-card-header;
}

.variants-filter-buttons {
  display: flex;
  justify-content: space-around;

  margin: 1rem auto;
}

.variants-filters-select {
  max-width: 90%;
  margin: 1rem;
  display: block;
  list-style: none;
  padding: 0;

  > li {
    margin-bottom: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.error-list {
    width: 400px;
    min-width: 80%;
    margin: 1.5rem auto;
}
