{% macro core_item(label, icon=None, src=None, class='core-item', href=None, title=None, onclick=None, target=None) %}

  {% if href %}
    <a href="{{ href }}" target="{{ target if target }}"
  {% else %}
    <div
  {% endif %}
    class="{{ class }}"
    {% if title %}title="{{ title }}"{% endif %}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}
  >
    <core-icon v-with="icon: '{{ icon }}'"
               {% if src %}src="{{ src }}"{% endif %}
               class="core-item-icon"></core-icon>
    <div class="core-item-label">{{ label }}</div>
  {% if href %}
    </a>
  {% else %}
    </div>
  {% endif %}

{% endmacro %}
