{% extends "layout.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ variant.display_name }}
{% endblock %}

{% block top_nav %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
{% endblock %}

{% block content_main %}
  {% for vardata in variant_data %}
  <form method="POST" action="{{ url_for('clinvar.add_variant', institute_id=institute._id, case_name=case.display_name) }}" id="{{vardata.var_id}}_form">
    <div class="card mt-3">
      <h5 class="card-header"><span class="badge {% if vardata.var_obj.category == 'sv'%} bg-warning {% else %} bg-secondary {% endif %}" >{{vardata.var_obj.category}}</span> {{vardata.var_obj.simple_id|truncate(50, True) }}</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-6"> <!-- Variant Form -->

            <!-- hidden fields -->
            {{ vardata.var_form.category() }}
            {{ vardata.var_form.local_id() }}
            {{ vardata.var_form.linking_id() }}
            {{ vardata.var_form.chromosome() }}
            {{ vardata.var_form.ref() }}
            {{ vardata.var_form.alt() }}

            gne

            <table class="table table-fixed">
              <tr> <!--gene symbols col -->
                <td style="width:30%">{{vardata.var_form.gene_symbols.label}}</td>
                <td>{{ vardata.var_form.gene_symbols() }}</td>
              </tr>

              {% if vardata.var_form.tx_hgvs %}
                <tr> <!-- Transcripts & HGVS (SNVs only)-->
                  <td>{{vardata.var_form.tx_hgvs.label}}</td>
                  <td>{{vardata.var_form.tx_hgvs() }}</td>
                </tr>
              {% endif %}

              <tr> <!-- Inheritance models-->
                <td>{{vardata.var_form.inheritance_models.label}}<br>
                  {% for model in vardata.var_obj.genetic_models|sort %}
                    <span class="badge bg-info">{{ model }}</span>
                  {% endfor %}
                </td>
                <td>{{vardata.var_form.inheritance_models()}}</td>
              </tr>

              {% if vardata.var_form.dbsnp_id %}
                <tr> <!-- dbSNP (SNVs only) -->
                  <td>{{vardata.var_form.dbsnp_id.label}}</td>
                  <td>{{vardata.var_form.dbsnp_id()}}</td>
                </tr>
              {% endif %}

              <tr><!-- Clinical significance -->
                <td>{{vardata.var_form.clinsig.label}}</td>
                <td>{{vardata.var_form.clinsig()}}</td>
              </tr>

              <!-- Clinical significance comment-->
              <tr>
                <td>{{vardata.var_form.clinsig_comment.label}}</td>
                <td>{{vardata.var_form.clinsig_comment()}}</td>
              </tr>

              <!-- Clinical significance cit-->
              <tr><
                <td>{{vardata.var_form.clinsig_cit.label}}</td>
                <td>{{vardata.var_form.clinsig_cit(placeholder="(optional) e.g. PMID:123456,  PMCID:PMC3385229, NBK:56955")}}</td>
              </tr>















            </table>


          </div> <!-- End of Variant form -->

          <div class="col-6"> <!-- CaseData Form -->
            Casedata shit
          </div> <!-- End of CaseData Form -->
        </div>
        <input type="submit" value="Add variant to submission">
      </div>
    </div>
  </form>
  {% endfor %}
{% endblock %}
