{% extends "layout.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ variant.display_name }}
{% endblock %}

{% block top_nav %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
{% endblock %}

{% block content_main %}
  {% for vardata in variant_data %}
  <form method="POST" action="{{ url_for('clinvar.add_variant', institute_id=institute._id, case_name=case.display_name) }}" id="{{vardata.var_id}}_form">
    <div class="card mt-3">
      <h5 class="card-header"><span class="badge {% if vardata.var_obj.category == 'sv'%} bg-warning {% else %} bg-secondary {% endif %}" >{{vardata.var_obj.category}}</span> {{vardata.var_obj.simple_id|truncate(50, True) }}</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-6"> <!-- Variant Form -->
            {{ vardata.var_form.local_id() }}
          </div> <!-- End of Variant form -->

          <div class="col-6"> <!-- CaseData Form -->
            Casedata shit
          </div> <!-- End of CaseData Form -->
        </div>
        <input type="submit" value="Add variant to submission">
      </div>
    </div>
  </form>
  {% endfor %}
{% endblock %}
