{% extends "report_base.html" %}

{% block body %}
<br>
<div class="container">
  <h4>Scout - Gene panel report</h4> - created on:&nbsp;<strong>{{report_created_at}}</strong><br><br>
  {{ genes_panel() }}
  [END OF REPORT]<br><br>
  <a style="text-decoration:none;" href="https://clinical-genomics.github.io/scout" target="_blank">clinical-genomics.github.io/scout</a>
</div>
{% endblock %}

{% macro genes_panel() %}
<div class="card border-dark mb-3">
  <div class="card-header">
    Panel: <a style="text-decoration:none;" href="{{ url_for('panels.panel', panel_id=panel._id) }}">{{panel.name_and_version}}</a>
  </div>
  <div class="card-body">
    <table class="table table-sm">
      <tr>
        <td>Updated:{{ panel.date.strftime('%Y-%m-%d') }}</td>
      </tr>
      <tr>
        <td>Number of genes:{{ panel.genes|length }}</td>
      </tr>
      <tr>
        <td>Institute:{{ panel.institute.display_name }}</td>
      </tr>
      <tr>
        <td>Panel archived:
          {% if panel.is_archived %}
            True
          {% else %}
            False
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Panel database ID: {{ panel._id }}</td>
      </tr>
      <tr>
        <td>Maintainers: {{ panel.maintainer|join(", ") }}</td>
      </tr>
    </table>
  </div>
</div>
  <br>
  <div>
    <table class="table table-sm">
      <tr>
        <th></th>
        <th>Gene</th>
        <th>HGNC ID</th>
        <th>Disease-associated transcripts</th>
        <th>Reduced penetrance</th>
        <th>Mosaicism</th>
        <th>Entry version</th>
        <th>Manual inheritance (pre-set terms)</th>
        <th>Manual inheritance (free text terms)</th>
        <th>Comment</th>
      </tr>
      {% for gene in panel.genes|sort(attribute='symbol') %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{ gene.symbol }}</td>
          <td>
            <a style="text-decoration:none;" href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{gene.hgnc_id}}" target="_blank">{{gene.hgnc_id}}</a>
          </td>
          <td>{{ gene.disease_associated_transcripts|join(', ') }}</td>
          <td>{{ 'Reduced penetrance' if gene.reduced_penetrance }}</td>
          <td>{{ 'Mosaicism' if gene.mosaicism }}</td>
          <td>
            {% if gene.database_entry_version and gene.database_entry_version|string == panel.version|string %}
              <span class="badge bg-success rounded-pill">new</span>
            {% endif %}
          </td>
          <td>{{ gene.inheritance_models|join(', ') }}</td>
          <td>{{ gene.custom_inheritance_models|join(', ') }}</td>
          <td>{{ gene.comment }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endmacro %}
