{% extends "report_base.html" %}

{% block body %}
<br>
<div class="container">
  <h4>Scout - Institute {{institute.display_name}} - case {{case.display_name}} - Gene panel variant hits</h4> - created on:&nbsp;<strong>{{report_created_at}}</strong><br><br>
  {{ hits_panel() }}
  <br>[END OF REPORT]<br><br>
  <a href="https://clinical-genomics.github.io/scout" target="_blank" rel="noopener">clinical-genomics.github.io/scout</a>
</div>
{% endblock %}

{% macro hits_panel() %}
<table class="table table-sm">
  <tr>
    <th>Panel details</th>
    <th>Case details</th>
  </tr>
  <tr>
    <td>
      Gene panel: <strong>{{panel.name_and_version}}</strong><br>
      Last updated: <strong>{{ panel.date.strftime('%Y-%m-%d') }}</strong><br>
      Database ID: {{ panel._id }}<br>
      Description: {{ panel.description }}<br>
      Number of genes: <strong>{{ panel.genes|length }}</strong><br>
      Institute: {{ panel.institute }} <br>
      Archived: {% if panel.is_archived %}<span class="badge bg-danger rounded-pill">True</span>{% else %}<span class="badge bg-secondary rounded-pill text-white">False</span>{% endif %}<br>
    </td>
    <td>
      Case: <strong>{{case.display_name}}</strong><br>
      Institute: <strong>{{institute.display_name}} - {{institute._id}}</strong><br>
      Status: <strong>{{case.status}}</strong><br>
      Analysis date: {{case.analysis_date}}<br>
      Genome build: {{case.genome_build}}
    </td>
  </tr>
</table>
<br>
<table>
  <tr><th>SNV variants hits</th></tr>
  <tr>
    <td>
      <em>{{ variant_hits.snv|sort|join(", ") }}</em>
    </td>
  </tr>
</table>
<br>
<table>
  <tr><th>SV variants hits</th></tr>
  <tr>
    <td>
      <em>{{ variant_hits.sv|sort|join(", ") }}</em>
    </td>
  </tr>
</table>
<br>
<table>
  <tr><th>STR variant calls to panel genes</th></tr>
  <tr>
    <td>
      <em>{{ variant_hits.str|sort|join(", ") }}</em>
    </td>
  </tr>
</table>
<br>
{% if variant_hits.smn and case.smn_tsv %}
<table>
  <tr><th>SMN Copy Number</th></tr>
  <tr>
    <td>
      <em>{{ variant_hits.smn|sort|join(", ") }}</em>
    </td>
  </tr>
</table>
{% endif %}
{% endmacro %}
