*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Mac OSX
.DS_Store

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# si
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.sublime-*
dev/
.vagrant/

# Complexity
output/*.html
output/*/index.html

# Sphinx/MkDocs
docs/_build/
site/

# Flask
instance

# Node.js
node_modules/

# Textmate
.tm_properties