# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include  LICENSE

# including
# python source files, test/*.py will be automatically included
recursive-include  *.py
# templates
recursive-include /templates *
# static files
recursive-include /static *
# translations
recursive-include /translations *
# configs
recursive-include /configs *.ini

# tests
# example data
recursive-include /tests/fixtures/*.ped
recursive-include /tests/fixtures/*.vcf
recursive-include /tests/fixtures/*.ini
recursive-include /tests/fixtures/*.xml
recursive-include /tests/fixtures/gene_listst/gene_list_test.txt

# excluding
recursive-exclude  *.pyc
recursive-exclude tests *.pyc
