# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include CHANGELOG.md
include LICENSE
include README.md

include requirements.txt
recursive-include requirements *

# including
# templates
recursive-include scout/server/templates *
recursive-include scout/server/static *
recursive-include scout/server/blueprints/**/templates *
recursive-include scout/server/blueprints/**/static *
# static files
recursive-include scout/resources/ *.gz

# translations
recursive-include scout/translations *

# tests
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

# example data
recursive-include /tests/fixtures/*.ped
recursive-include /tests/fixtures/*.vcf
recursive-include /tests/fixtures/*.ini
recursive-include /tests/fixtures/*.xml
recursive-include /tests/fixtures/gene_listst/gene_list_test.txt
recursive-include /tests/fixtures/resources/ *

# demo
recursive-include scout/demo/resources/ *
recursive-incluce scout/demo/ *

# excluding
recursive-exclude  *.pyc
recursive-exclude tests *.pyc
