# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

# including
include CHANGELOG.md
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt

# server
recursive-include scout/server/**/templates *.html
recursive-include scout/server/**/static *

# translations
recursive-include scout/server/translations *

# static files
recursive-include scout/resources *.gz
recursive-include scout/demo *

# tests
recursive-include tests *

# excluding
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
