# everything the developer needs in addition to the production requirements

# testing
pytest==3.8
pytest-flask==0.11
pytest-cov
pandas
mongomock<=3.12
python-coveralls

# packaging
wheel>=0.23
twine

# utils
invoke

