# Everything needed in production

# Flask
Flask>=0.10.1
Jinja2>=2.7.3

# Admin
Flask-Admin>=1.4.0

# Database
Flask-MongoEngine==0.7.1
mongoengine==0.10.1
pymongo>=3.2.1

# Forms
Flask-WTF>=0.12

# Deployment
gunicorn>=17.5

# Auth
Flask-Login>=0.3.2
Flask-OAuthlib>=0.9.2

# Caching
#Flask-Cache>=0.12

# SSL
Flask-SSLify

# Chanjo coverage reports
chanjo-report==4.0.0

# misc. extensions
Flask-Babel
Flask-Markdown
Flask-Mail
Flask-DebugToolbar>=0.10.0
Flask-Script
Flask-Alchy
Flask-Bootstrap

# utils
path.py>=10.1
click
ped-parser>=1.6
vcf_parser>=1.5.9
configobj
requests
python-dateutil
arrow
query_phenomizer>=1.1
phizz>=0.2.1
loqusdb>=0.5
pyyaml
Housekeeper>=1.0.0
