# everything the developer needs in addition to the production requirements

# testing
pytest-mock
pytest>=5.2
pytest-flask
pytest-cov
mongomock<=3.12
coveralls
responses

# packaging
wheel>=0.23
twine

# utils
invoke

# docs
mkdocs
mkdocs-material==4.6.1

# PEP8 Compliance
pre-commit
black

# Pylint Rating
pylint
six>=1.12                   # due to astroid 2.3.3 needed by pylint

# Lint Free
git-lint
pycodestyle
yamllint
docutils
html-linter
