# Everything needed in production
werkzeug<2.3
Flask>=2.0
Flask-Bootstrap
Flask-CORS
path.py
Flask-Markdown
WTForms
Flask-WTF
Flask-Mail
coloredlogs
query_phenomizer
Flask-Babel>=3
livereload
tornado<6.3
python-dateutil
pymongo
pathlib
pdfkit
phenopackets
xlsxwriter
click
cryptography
defusedxml
svglib
cairosvg
importlib_resources

# webapp login
authlib
flask_login
flask-ldapconn

# Parsing
cyvcf2
configobj
ped_parser
pydantic>=2
PyYaml>=5.1

# extras
intervaltree==3.0.2
anytree

# chanjo-report
python-dateutil

# Required by scripts
tabulate
