{% extends "layout_bs4.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
  {{ super() }} - Managed variants
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
   <li class="nav-item active">
     <span class="navbar-text">Managed variants</span>
   </li>
{% endblock %}
{% block content_main %}


<form method="POST" id="add_form" action="{{url_for('managed_variants.add_managed_variant')}}" enctype="multipart/form-data">
  <div class="container-float">
    <div id="accordion_add" >
       <div class="card mt-3">
        <div class="card-header">
          <h5>
            <a data-toggle="collapse" data-parent="#accordion_add" href="#collapseAdd">
                Add variant
            </a>
          </h5>
        </div>
        <div id="collapseAdd" class="panel-collapse collapse">
          <div class="card-body">{{ add_form() }}</div>
        </div>
       </div>
    </div>
  </div>
</form>

<form method="POST" id="filters_form" action="{{url_for('managed_variants.managed_variants')}}" enctype="multipart/form-data">
  <div class="container-float">
    <div id="accordion" >
       <div class="card mt-3">
        <div class="card-header">
          <h5>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFilters">
                Filters
            </a>
          </h5>
        </div>
        <div id="collapseFilters" class="panel-collapse collapse">
          <div class="card-body">{{ filters_form() }}</div>
        </div>
       </div>
    </div>
  </div>
</form>



<div class="table-responsive" style="padding-top: 25px;">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width:10%">Chr</th>
        <th style="width:10%">Start</th>
        <th style="width:10%">End</th>
        <th style="width:10%">Ref</th>
        <th style="width:10%">Alt</th>
        <th style="width:10%">Kind</th>
        <th style="width:10%">Category</th>
        <th style="width:30%">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for variant in managed_variants %}
        <tr>
          <td>{{ variant.chromosome }}</td>
          <td>{{ variant.position }}</td>
          <td>{{ variant.end }}</td>
          <td>{{ variant.reference }}</td>
          <td>{{ variant.alternative }}</td>
          <td>{{ variant.subcategory }}</td>
          <td>{{ variant.category }}</td>
          <td>
            {{ variant.description }}
            <button id="{{variant._id}}" type="button" data-toggle="collapse" href="#modifydiv_{{variant._id}}" aria-expanded="false" aria-controls="modifydiv_{{variant._id}}" class="btn btn-warning btn-xs"><span class="fa fa-pencil-square-o"></span></button>
            <button id="remove_{{variant._id}}" type="button" href="remove_{{variant._id}}" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span></button>
          </td>
        </tr>
        <tr >
        {{ modify_variant(variant) }}
        </div>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% macro modify_variant(variant) %}
  <tr id="modifydiv_{{variant._id}}" class="collapse">
    {{ modify_form(variant) }}
  </tr>
{% endmacro %}

{% macro modify_form(variant) %}
  <form method="POST" action="{{ url_for('managed_variants.modify_managed_variant', variant_id=variant._id) }}" enctype="multipart/form-data" class="form-horizontal">
      <input type="hidden" name="variant_id" value="{{ variant._id }}">
      <td><input type="text" class="form-control" id="chromomsome" value="{{ variant.chromosome }}">
      </td>
      <td><input type="number" class="form-control" id="position" value="{{ variant.position }}"></td>
      <td><input type="number" class="form-control" id="end" value="{{ variant.end }}"></td>
      <td><input type="text" class="form-control" id="reference" value="{{ variant.reference }}"></td>
      <td><input type="text" class="form-control" id="alternative" value="{{ variant.alternative }}"></td>
      <td><input type="text" class="form-control" id="subcategory" value="{{ variant.subcategory }}"></td>
      <td><input type="text" class="form-control" id="category" value="{{ variant.category }}"></td>
      <td>
         <div class="input-group">
           <input type="text" class="form-control" id="description" value="{{ variant.description }}">
           <button id="submit" type="submit" class="btn btn-primary btn-sm">Save</button>
           <button id="cancel" type="cancel" class="btn btn-outline-secondary btn-sm">Cancel</button>
         </div>
      </td>

  </form>
{% endmacro %}

{% macro add_form() %}
<div class="table-responsive" style="padding-top: 25px;">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Chr</th>
        <th>Start</th>
        <th>End</th>
        <th>Ref</th>
        <th>Alt</th>
        <th>Kind</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td><input type="text" id="chromomsome" class="form-control"></td>
      <td><input type="number" id="position" class="form-control"></td>
      <td><input type="number" id="end" class="form-control"></td>
      <td><input type="text" id="reference" class="form-control"></td>
      <td><input type="text" id="alternative" class="form-control"></td>
      <td><input type="text" id="subcategory" class="form-control"></td>
      <td><input type="text" id="category" class="form-control"></td>
      <td>
        <input type="text" id="description" class="form-control">
      </td>
      </tr>
      <tr>
        <td colspan=12>
          <button id="submit" type="submit" class="btn btn-primary btn-sm">Add</button>
          <button id="cancel" type="cancel" class="btn btn-outline-secondary btn-sm">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endmacro %}

{% macro filters_form() %}

    {{ form.csrf_token }}

    <div class="row">
      <div class="col-2">
        {{ wtf.form_field(form.category)}}
      </div>
      <div class="col-2">
        {{ wtf.form_field(form.subcategory)}}
      </div>
      <div class="col-4">
        {{ wtf.form_field(form.description) }}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {{ wtf.form_field(form.chrom) }}
      </div>
      <div class="col-2">
        {{ wtf.form_field(form.start) }}
      </div>
      <div class="col-2">
        {{ wtf.form_field(form.end) }}
      </div>
      <div class="col-2">
        {{ wtf.form_field(form.cytoband_start) }}
      </div>
      <div class="col-2">
        {{ wtf.form_field(form.cytoband_end) }}
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col col-md-8">
        <div class="row">
          <div class="col">
            {{ form.filter_variants(class_="btn btn-primary form-control") }}
          </div>
        </div>
      </div>
    </div>
{% endmacro %}

{% block scripts %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-table-headers/0.1.19/js/jquery.stickytableheaders.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover({
      container: 'body',
    });

    $('table').stickyTableHeaders({
      fixedOffset: $(".navbar-fixed-top")
    });

    $('select[multiple]').multiselect({
      buttonWidth: '100%'
    });

    document.getElementById('symbol_file').onchange = function() {
      var the_form = document.forms['filters_form'];
      the_form.submit();
    };
  })

</script>
{% endblock %}
