{% macro compounds_table(compounds, institute_id, case_id,
                         class_names=['default-table']) %}
  <table class="{{ class_names|join(' ') }}">
    <thead>
      <tr>
        <th>Variant</th>
        <th>Combined score</th>
        <th>Rank score</th>
        <th>Region annotation</th>
        <th>Functional annotation</th>
      </tr>
    </thead>

    <tbody>
      {% for compound in compounds %}
        <tr>
          <td>
            {% if compound.variant_obj %}
              <a href="{{
                url_for('core.variant',
                        institute_id=institute_id,
                        case_id=case_id,
                        variant_id=compound.variant)
              }}">
                {{ compound.display_name }}
              </a>
            {% else %}
              {{ compound.display_name }} <small>(not loaded)</small>
            {% endif %}
          </td>
          <td class="text-right">{{ compound.combined_score }}</td>
          <td class="text-right">{{ compound.variant_obj.rank_score }}</td>
          <td>{{ compound.variant_obj.region_annotations|join(',') }}</td>
          <td>{{ compound.variant_obj.functional_annotations|join(',') }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">No compounds.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro variant_links(ensembl_link, hpa_link, string_link, ucsc_link, entrez_link, reactome_link) %}
  <a target="_blank" class="variant-link-external" href="{{ ensembl_link }}">
    Ensembl
  </a>

  <a target="_blank" class="variant-link-external" href="{{ hpa_link }}">
    HPA
  </a>

  <a target="_blank" class="variant-link-external" href="{{ string_link }}">
    STRING
  </a>

  <a target="_blank" class="variant-link-external" href="{{ ucsc_link }}">
    UCSC
  </a>

  <a target="_blank" class="variant-link-external" href="{{ entrez_link }}">
    Entrez
  </a>

  <a target="_blank" class="variant-link-external" href="http://tools.genes.toronto.edu/">SPANR</a>

  <a target="_blank" class="variant-link-external" href="{{ reactome_link }}">
    Reactome
  </a>
{% endmacro %}

{% macro activity_feed(events, context='case') %}
  <div class="activity-feed">
    {% for event in events %}
      <div class="activity-feed-item">
        <div class="activity-feed-item-event">
          <div class="activity-feed-item-event-body">
            <strong>{{ event.author.name }}</strong>
            {{ event.display_info }}
            <a href="{{ event.link }}">{{ event.subject }}</a>
            <span class="timestamp">
              {{ event.created_at|human_date }}
            </span>
          </div>
        </div>
      </div>
    {% else %}
      <div class="activity-feed-item">
        <div class="activity-feed-item-event">
          No {{ context }} activity yet.
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
