{% extends 'layouts/scroll-header.html' %}
{% from 'macros/_polymer.html' import core_item %}

{% set page_title = 'Case' %}

{% block toolbar_left %}
  <a href="{{ url_for('core.cases', institute_id=institute.id) }}" class="breadcrumb-button is-raised">
    {{ institute.display_name }}
  </a>
  <core-icon v-with="icon: 'chevron-right'"></core-icon>

  <div>Case {{ case.display_name }}</div>
{% endblock %}

{% block toolbar_secondary %}
  <div class="toolbar-secondary">
    {% if case.assignee %}
      {{ core_item(case.assignee.name, icon='assignment-ind') }}
    {% else %}
      <form action="{{ url_for('core.assign_self',
                               institute_id=institute.id,
                               case_id=case.display_name) }}"
            method="POST">
        <button type="submit" class="case-assign-button">
          <core-icon v-with="icon: 'assignment-ind'"></core-icon>
          Assign myself
        </button>
      </form>
    {% endif %}
  </div>
{% endblock %}

{% block content %}

  <div class="case-segments">

    <div id="variants-button" class="case-segment-row">
      <a href="{{ url_for('core.variants', institute_id=institute.id, case_id=case.display_name) }}" class="case-variants-button is-raised">
        Go to all variants
      </a>
    </div>

    <div id="strong-candidates" class="case-segment-row">
      <div id="case-candidates" class="case-segment-full">
        <div class="case-segment-title">Strong candidates</div>
        <div class="case-segment-content">
          <div class="case-candidate">
            {{ core_item('KAI12', icon='bookmark') }}

            <div class="case-candidate-user">
              Pinned by <strong>Anna Wedell</strong>
            </div>
          </div>

          <div class="case-candidate">
            {{ core_item('POL2', icon='bookmark') }}

            <div class="case-candidate-user">
              Pinned by <strong>Henrik Stranneheim</strong>
            </div>
          </div>
        </div>
        <div class="case-segment-notes">
          Highly suspected variants to be disease causing.
        </div>
      </div>
    </div>

    <div id="synopsis+samples" class="case-segment-row">
      <div id="case-synopsis" class="case-segment-main">
        <div class="case-segment-title">Synopsis</div>
        <div class="case-segment-content-text">
          {{ case.synopsis|markdown }}
        </div>
      </div>

      <div id="case-samples" class="case-segment-aside">
        <div class="case-segment-title">Individuals</div>
        <div class="case-segment-content">
          {% for sample in case.individuals %}
            <div class="case-sample-{{ sample.phenotype_human }}" title="{{ sample.phenotype_human }} {{ sample.sex_human }}">
              <div class="case-sample-item--small">
                <div class="case-sample-icon-{{ sample.sex_human }} is-{{ sample.phenotype_human }}"></div>
              </div>

              <div class="case-sample-item">
                {{ sample.individual_id }}
              </div>

              <div class="case-sample-item--big">
                {{ sample.capture_kit or 'capture kit: N/A' }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="case-segment-row">
      <div id="case-activity" class="case-segment-full">
        <div class="case-segment-title">Activity</div>
        <div class="case-segment-content-text">
          No recent activity.
        </div>
      </div>
    </div>

  </div>

{% endblock %}
