{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Cases' %}

{% block toolbar_middle %}
	{{ institute.name }}
{% endblock %}

{% block toolbar_bottom %}
	<core-icon icon="search"></core-icon>
	<input type="search" id="cases-search" class="cases-search-input">
{% endblock %}

{% block content %}

	<div class="cases-list">
		{% for case in institute.cases %}

			<div class="cases-item">

				<a class="cases-item-title"
           href="{{ url_for('core.case', institute_id=institute.id,
                            case_id=case.name) }}">
          <div class="cases-item-indicator"></div>
					{{ case.name }}
				</a>

				<div class="flex" layout horizontal center justified>

					<a href="{{ url_for('core.variants', institute_id=institute.id, case_id=case.name) }}"
	  				 class="cases-item-link">
	  				Variants
	  			</a>

					<div class="cases-item-date" position="left">
					  Updated {{ case.created_at | human_date }}
					</div>

				</div>

			</div>

		{% endfor %}
	</div>

{% endblock %}
