{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Case' %}

{% block toolbar_middle %}
  <div class="case-header-links" horizontal center layout>
    {% if case.assignee %}
      <core-item class="case-header-link"
                 icon="account-circle"
                 label="{{ case.assignee.name }}">
        <a href="{{ url_for('user.profile', user_id=case.assignee.id) }}"></a>
      </core-item>
    {% endif %}
    <core-item class="case-header-link" icon="link" label="All variants">
      <a href="{{ url_for('core.variants', institute_id=institute.id, case_id=case.name) }}"></a>
    </core-item>
  </div>
{% endblock %}

{% block toolbar_bottom %}
  <a href="{{ url_for('core.cases', institute_id=institute.id) }}">
    {{ institute.name }}
  </a>
  <core-icon icon="chevron-right"></core-icon>

  <core-item icon="lock-open" label="Case {{ case.name }}"></core-item>
{% endblock %}

{% block content %}

  <div class="case-segments">

    <div class="case-segment-row">
      <div id="case-candidates" class="case-segment-full">
        <div class="case-segment-title">Strong candidates</div>
        <div class="case-segment-content">
          <div class="case-candidate" horizontal layout center justified>
            <paper-ripple fit></paper-ripple>
            <div>
              <core-icon icon="bookmark"></core-icon> KAI12
            </div>
            <div class="case-candidate-user">
              Pinned by <strong>Anna Wedell</strong>
            </div>
          </div>

          <div class="case-candidate" horizontal layout center justified>
            <paper-ripple fit></paper-ripple>
            <div>
              <core-icon icon="bookmark"></core-icon> POL2
            </div>
            <div class="case-candidate-user">
              Pinned by <strong>Henrik Stranneheim</strong>
            </div>
          </div>
        </div>
        <div class="case-segment-notes">
          Highly suspected variants to be disease causing.
        </div>
      </div>
    </div>

    <div class="case-segment-row">
      <div id="case-readme" class="case-segment-main">
        <div class="case-segment-title">README</div>
        <div class="case-segment-content-text">
          <h1>An exhibit of Markdown</h1>

          <p>This note demonstrates some of what <a href="http://daringfireball.net/projects/markdown/">Markdown</a> is capable of doing.</p>

          <p><em>Note: Feel free to play with this page. Unlike regular notes, this doesn’t automatically save itself.</em></p>

          <h2>Basic formatting</h2>

          <p>Paragraphs can be written like so. A paragraph is the basic block of Markdown. A paragraph is what text will turn into when there is no reason it should become anything else.</p>

          <p>Paragraphs must be separated by a blank line. Basic formatting of <em>italics</em> and <strong>bold</strong> is supported. This <em>can be <strong>nested</strong> like</em> so.</p>
        </div>
      </div>

      <div id="case-samples" class="case-segment-aside">
        <div class="case-segment-title">Included samples</div>
        <div class="case-segment-content">
          {% for sample_id, sex, phenotype, kit in samples %}
            <div class="case-sample" horizontal layout center justified>
              <paper-ripple fit></paper-ripple>

              <div class="case-sample-item">{{ sample_id }}</div>

              <div class="case-sample-item">
                {% if sex == '1' %}
                  <core-icon src="{{ url_for('static', filename="img/icon-male.svg") }}"></core-icon>
                {% elif sex == '2' %}
                  <core-icon src="{{ url_for('static', filename="img/icon-female.svg") }}"></core-icon>
                {% else %}
                  {{ sex }}
                {% endif %}
              </div>

              <div class="case-sample-item">
                {% if phenotype == '1' %}
                  <core-icon icon="star"></core-icon>
                {% elif phenotype == '2' %}
                  <core-icon icon="star-half"></core-icon>
                {% else %}
                  {{ phenotype }}
                {% endif %}
              </div>

              <div class="case-sample-item">{{ kit }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="case-segment-row">
      <div id="case-activity" class="case-segment-full">
        <div class="case-segment-title">Activity</div>
        <div class="case-segment-content-text">
          No recent activity.
        </div>
      </div>
    </div>

  </div>

{% endblock %}
