{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Cases' %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <div class="md-breadcrumb">
      <small>{{ institute.display_name }}</small>
    </div>
  </div>
{% endblock %}

{% block toolbar_secondary %}
	<div id="search-cases" class="cases-search">
    <div class="cases-search-icon">
      <core-icon icon="search"></core-icon>
    </div>
    <input v-model="casesSearchQuery" type="search" class="cases-search-input">
  </div>
{% endblock %}

{% block content %}
	<div v-component="cases-list" class="cases-list" v-with="
    url: '{{ url_for('api.cases', institute_id=institute_id) }}',
    baseUrl: '{{ url_for('core.cases', institute_id=institute_id) }}',
    filterKey: casesSearchQuery,
    user_id: '{{ current_user.id }}'
  ">
  </div>
{% endblock %}
