{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Gene panel' %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <a href="{{ url_for('core.cases', institute_id=institute.display_name) }}" class="md-breadcrumb-button is-raised">
      <small>{{ institute.display_name }}</small>
    </a>

    <core-icon icon="chevron-right" class="md-breadcrumb-separator">
    </core-icon>
    <a class="md-breadcrumb-button is-raised" href="{{ url_for('core.case', institute_id=institute.display_name, case_id=case.display_name) }}">
      <small>{{ case.display_name }}</small>
    </a>

    <core-icon icon="chevron-right" class="md-breadcrumb-separator">
    </core-icon>
    <div class="md-breadcrumb">
      <small>{{ panel.display_name }}</small>
    </div>
  </div>
{% endblock %}

{% block toolbar_secondary %}
  {% for gene_panel in case.clinical_gene_lists %}
    <a class="md-label" href="{{ url_for('core.gene_panel', institute_id=institute.display_name, case_id=case.display_name, panel_id=gene_panel.list_id, version=gene_panel.version) }}">
      {% if gene_panel == panel %}
        <div class="md-label-icon">
          <core-icon icon="arrow-forward"></core-icon>
        </div>
      {% endif %}
      <div class="md-label-text">{{ gene_panel.display_name }}</div>
    </a>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="md-card">
    <div class="md-card-header">Included genes</div>
    <div class="md-card-body-list">
      {% for gene_id in panel.genes %}
        <div class="list-item">
          {{ gene_id }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
