{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Institutes' %}

{% block toolbar_bottom %}
	Institutes
{% endblock %}

{% block content %}

	<div class="cases-list">
		<h3>You belong to:</h3>

		{% for institute in institutes %}

			<div class="cases-item" layout horizontal center>

				<paper-item class="cases-item-title"
										icon="group-work"
										label="{{ institute.display_name }}"
										flex>
					<a href="{{ url_for('core.cases', institute_id=institute.id) }}"></a>
				</paper-item>

        <div flex></div>

        <div>{{ institute.count_cases() }} active cases</div>

			</div>

		{% endfor %}
	</div>

{% endblock %}
