{% extends 'layouts/scroll-header.html' %}
{% from 'macros/_polymer.html' import core_item %}

{% set page_title = 'Institutes' %}

{% block toolbar_left %}
  Institutes
{% endblock %}

{% block content %}

  <div class="cases-list">
    {% for institute in institutes %}

      <div class="cases-item">

        {{ core_item(institute.display_name, icon='group-work', href=url_for('core.cases', institute_id=institute.id), class='cases-item-title') }}

        <div class="cases-item-date">
          {{ institute.count_cases() }} active cases
        </div>

      </div>

    {% endfor %}
  </div>

{% endblock %}
