{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Variant' %}

{% block toolbar_bottom %}
	<a href="{{ url_for('core.cases', institute_id=institute_id) }}">
    {{ institute_id }}
  </a>
  <core-icon icon="chevron-right"></core-icon>

  <a href="{{ url_for('core.case', institute_id=institute_id, case_id=case_id) }}">Case {{ case_id }}</a>
  <core-icon icon="chevron-right"></core-icon>

  <a href="{{ url_for('core.variants',
                      institute_id=institute_id,
                      case_id=case_id) }}">
    Variants
  </a>
  <core-icon icon="chevron-right"></core-icon>

  {{ variant.common.hgnc_symbol }}
{% endblock %}

{% block content %}
  <div class="variant-segments">

    <div class="variant-segments-row">

    </div>

  </div>


	<h1>{{ variant.id }}</h1>

	<p>{{ variant.to_json() }}</p>
{% endblock %}
