{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Variants' %}

{% block toolbar_top_left %}
  <a class="breadcrumb-button is-raised"
     href="{{ url_for('core.cases', institute_id=institute_id) }}">
    Cases
  </a>
	<core-icon v-with="icon: 'chevron-right'"></core-icon>

  <a class="breadcrumb-button is-raised" href="{{ url_for('core.case', institute_id=institute_id, case_id=case_id) }}">
    Case {{ case_id }}
  </a>
  <core-icon v-with="icon: 'chevron-right'"></core-icon>

	Variants
{% endblock %}

{% block toolbar_bottom_outer %}
  <div class="variants-header">

    <div class="variants-header-item" title="Chromosome">Chromosome</div>
    <div class="variants-header-item flex-big" title="HGNC">HGNC</div>
    <div class="variants-header-item" title="1000 Genomes">1000 Genomes</div>
    <div class="variants-header-item" title="CADD score">CADD score</div>
    <div class="variants-header-item" title="Gene annotation">
      Gene annotation
    </div>
    <div class="variants-header-item flex-big" title="Func. annotation">
      Func. annotation
    </div>
    <div class="variants-header-item flex-big" title="Disease group">
      Disease group
    </div>
    <div class="variants-header-item" title="Disease gene model">
      Disease gene model
    </div>
    <div class="variants-header-item flex-big" title="Inheritance models">
      Inheritance models
    </div>

  </div>
{% endblock %}

{% block content %}

	<div class="variants-body">

		{% for variant in variants %}

			<div class="variants-row">

        <!-- Chromosome -->
				<a class="variants-row-item text-right"
					 href="{{ url_for('core.variant',
                            institute_id=institute_id,
					 									variant_id=variant.id,
                            case_id=case_id) }}">
          {{ variant.chromosome }}
				</a>

        <!-- HGNC -->
				<div class="variants-row-item flex-big">
					{{ (variant.hgnc_symbol or '-')|join(', ') }}
				</div>

        <!-- 1000 Genomes -->
				<div class="variants-row-item text-right variants-tooltip">
          {{ (variant.thousand_genomes_frequency or '-')|join(', ') }}

          <div class="variants-tooltip-tip is-left">
            <ul>
              <li><strong>ThousandG</strong> 0.004</li>
              <li><strong>Esp6500</strong> 0.011</li>
              <li><strong>Dbsnp129</strong> 0.004</li>
            </ul>
          </div>
        </div>

        <!-- PolyPhen -->
        <div class="variants-row-item text-right variants-tooltip">
          {{ variant.cadd_score }}

          <div class="variants-tooltip-tip is-right">
            <ul>
              <li><strong>SiftWholeExome</strong> 0.04</li>
              <li><strong>PolyphenDivHuman</strong> 0.999</li>
              <li><strong>PolyphenVarHuman</strong> 0.985</li>
              <li><strong>MutationTaster</strong> 0.498</li>
            </ul>
          </div>
        </div>

        <!-- Gene annotation -->
        <div class="variants-row-item">exonic</div>

        <!-- Func. annotation -->
        <div class="variants-row-item flex-big">nonsynonymous SNV</div>

        <!-- Disease group -->
        <div class="variants-row-item flex-big">Cellular immunity</div>

        <!-- Disease gene model -->
        <div class="variants-row-item">AD</div>

        <!-- Inheritance models -->
				<div class="variants-row-list flex-big">
					{% for model in (variant.genetic_models or []) %}
            <div class="variants-row-list-item">{{ model }}</div>
          {% endfor %}
				</div>

			</div>
		{% endfor %}

	</div>

  <a href="{{ request.path }}?skip={{ current_batch }}"
     class="variants-load-more is-raised">
    Load more
  </a>

{% endblock %}
