{% extends 'layouts/scroll-header.html' %}
{% from '_macros.html' import compounds_table %}

{% set page_title = 'Variants' %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <a class="md-breadcrumb-button is-raised"
       href="{{ url_for('core.cases', institute_id=institute_id) }}">
      <small>{{ institute.display_name }}</small>
    </a>
    <core-icon
      class="md-breadcrumb-separator"
      icon="chevron-right">
    </core-icon>

    <a class="md-breadcrumb-button is-raised" href="{{ url_for('core.case', institute_id=institute_id, case_id=case_id) }}">
      <small>{{ case.display_name }}</small>
    </a>
    <core-icon
      class="md-breadcrumb-separator"
      icon="chevron-right">
    </core-icon>

    <div class="md-breadcrumb">
      <small>{{ variant_type|capitalize }} variants</small>
    </div>
  </div>
{% endblock %}

{% block toolbar_right %}
  {{ super() }}

  <div class="md-label">
    <div class="md-label-icon">Gene lists</div>
    <div class="md-label-text">
      {{ current_gene_lists|join(',') or 'All' }}
    </div>
  </div>

  <a href="{{ url_for('core.variants', institute_id=institute_id, case_id=case_id, variant_type=variant_type) }}" class="md-label">
    <div class="md-label-icon">
      <core-icon icon="fast-rewind"></core-icon>
    </div>
    <div class="md-label-text">Clear filters</div>
  </a>

  <div v-on="click: showFilters" class="icon-button">
    <core-icon icon="filter-list"></core-icon>
  </div>
{% endblock %}

{% block toolbar_custom %}
  <div class="variants-header">

    <div class="variants-header-item flex-small" title="Rank position">Rank</div>
    <div class="variants-header-item flex-small" title="Rank score">Score</div>
    <div class="variants-header-item flex-small" title="Chromosome">Chr.</div>
    <div class="variants-header-item" title="HGNC">Gene</div>
    <div class="variants-header-item" title="1000 Genomes">1000G</div>
    <div class="variants-header-item flex-small" title="CADD score">CADD</div>
    <div class="variants-header-item" title="Gene annotation">
      Gene annotation
    </div>
    <div class="variants-header-item flex-big" title="Func. annotation">
      Func. annotation
    </div>
    <div class="variants-header-item" title="MIM Terms">
      MIM terms
    </div>
    <div class="variants-header-item" title="Disease gene model">
      Expected inheritance
    </div>
    <div class="variants-header-item flex-big" title="Inheritance models">
      Inheritance models
    </div>

  </div>
{% endblock %}

{% block content %}

  <drawer-panel v-ref="filters" side="right">
    <form method="POST" action="{{ url_for('core.upload_gene_list') }}"
          enctype="multipart/form-data">
      <div class="variants-filters-group">
        <div class="variants-filters-group-list">
          <div class="variants-filters-group-label">
            {{ upload_form.gene_list.label }}
          </div>
          <div class="list-item">
            <div>{{ upload_form.gene_list }}</div>
            <div><button type="submit">Upload</button></div>
          </div>
        </div>
      </div>
    </form>

    <form method="GET">
      {{ form.csrf_token }}

      <div class="variants-filter-buttons">
        <a href="{{ url_for('core.variants', institute_id=institute_id,
                      case_id=case_id,
                      variant_type=variant_type,
                      functional_annotations=severe_so_terms,
                      region_annotations=['exonic', 'splicing'],
                      thousand_genomes_frequency=0.01,
                      gene_lists=current_gene_lists,
                      hgnc_symbols=form.hgnc_symbols.data) }}"
           class="md-button">
          Clinical filter
        </a>

        <button class="md-button" type="submit">
          Filter variants
        </button>
      </div>

      <div class="variants-filters-group">
        <div class="variants-filters-group-label">
          {{ form.gene_lists.label }}
        </div>

        <div class="variants-filters-group-list">
          {{ form.gene_lists(class="variants-filters-select") }}

          <div class="list-item">
            <a class="md-button"
               href="{{ url_for('core.variants',
                             institute_id=institute_id,
                             case_id=case_id,
                             variant_type=variant_type,
                             gene_lists=current_gene_lists,
                             hgnc_symbols=case.hpo_gene_ids) }}">
              HPO generated gene list
            </a>
          </div>
        </div>
      </div>

      <div class="variants-filters-group">
        <div class="variants-filters-group-label">Filters</div>

        <div class="variants-filters-group-list">
          <div class="list-item">
            <div>{{ form.hgnc_symbols.label }}</div>
            <div>{{ form.hgnc_symbols }}</div>
          </div>
        </div>
      </div>

      <div class="variants-filters-group">
        <div class="variants-filters-group-label">Frequency cutoffs</div>

        <div class="variants-filters-group-list">
          <div class="list-item">
            <div>{{ form.thousand_genomes_frequency.label }}</div>
            <div>{{ form.thousand_genomes_frequency }}</div>
          </div>

          <div class="list-item">
            <div>{{ form.exac_frequency.label }}</div>
            <div>{{ form.exac_frequency }}</div>
          </div>
        </div>
      </div>

      <div class="variants-filters-group">
        <div class="variants-filters-group-label">
          {{ form.region_annotations.label }}
        </div>

        <div class="variant-filters-group-body">
          {{ form.region_annotations(class="variants-filters-select") }}
        </div>
      </div>

      <div class="variants-filters-group">
        <div class="variants-filters-group-label">
          {{ form.functional_annotations.label }}
        </div>

        <div class="variant-filters-group-body">
          {{ form.functional_annotations(class="variants-filters-select") }}
        </div>
      </div>

      <div class="variants-filters-group">
        <div class="variants-filters-group-label">
          {{ form.genetic_models.label }}
        </div>

        <div class="variant-filters-group-body">
          {{ form.genetic_models(class="variants-filters-select") }}
        </div>
      </div>
    </form>
  </drawer-panel>

	<div class="variants-body">
		{% for variant in variants %}

			<div class="variants-row">

        <!-- Rank position -->
				<a class="variants-row-item flex-small layout"
					 href="{{ url_for('core.variant',
                            institute_id=institute_id,
                            case_id=case_id,
					 									variant_id=variant.document_id) }}">

          <div>{{ variant.variant_rank }}</div>

          {% if variant.manual_rank %}
            <small><span class="md-badge--{{ variant.manual_rank_level }}">
              {{ variant.manual_rank }}
            </span></small>
          {% elif variant.has_comments %}
            <!-- At least show if there are any comments written -->
            <div class="dot-indicator"></div>
          {% endif %}
				</a>

        <!-- Rank score -->
        <div class="variants-row-item flex-small text-right">
          {{ variant.rank_score }}
        </div>

        <!-- Chromosome -->
        <div class="variants-row-item flex-small">
          {{ variant.chromosome }}
        </div>

        <!-- HGNC -->
				<div class="variants-row-item">
					{{ (variant.hgnc_symbols or ['-'])|join(', ') }}
				</div>

        <!-- 1000 Genomes -->
				<div class="variants-row-item text-right md-tooltip">
          {{ variant.thousand_genomes_frequency|human_decimal }}

          <div class="md-tooltip-tip is-left">
            <ul>
              {% if variant.exac_frequency %}
                <li>
                  <strong>ExAC</strong>
                  {{ variant.exac_frequency|human_decimal }}
                </li>
              {% endif %}
              <li><strong>Local</strong> {{ 'Not yet implemented' }}</li>
            </ul>
          </div>
        </div>

        <!-- CADD (severity) -->
        <div class="variants-row-item flex-small text-right md-tooltip">
          {{ variant.cadd_score or '-' }}

          <div class="md-tooltip-tip is-right">
            <ul>
              <li>
                <strong>Sift</strong>
                {{ (variant.sift_predictions or ['-'])|join(',') }}
              </li>
              <li>
                <strong>PolyPhen</strong>
                {{ (variant.polyphen_predictions or ['-'])|join(',') }}
              </li>
            </ul>
          </div>
        </div>

        <!-- Gene annotation -->
        <div class="variants-row-item is-scrollable">
          {{ variant.region_annotations|join(',') }}
        </div>

        <!-- Func. annotation -->
        <div class="variants-row-item is-scrollable flex-big">
          {{ variant.functional_annotations|join(',') }}
        </div>

        <!-- MIM terms -->
        <div class="variants-row-item is-scrollable">
          {% for omim_id, omim_link in variant.omim_annotation_links %}
            {% if omim_id %}
              <a target="_blank" href="{{ omim_link }}">{{ omim_id }}</a>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Expected inheritance -->
        <div class="variants-row-item">
          {{ variant.expected_inheritance_genes|join(', ') }}
        </div>

        <!-- Inheritance models -->
				<div class="variants-row-list flex-big md-tooltip">
          <div class="list--horizontal">
            {% for model in (variant.genetic_models or []) %}
              <div class="variants-row-list-item">{{ model }}</div>
            {% endfor %}
          </div>

          {% if variant.compounds %}
            <div class="md-tooltip-tip is-left">
              <!-- Limit compounds in this view for performance! -->
              {{ compounds_table(
                   variant.compounds[:15],
                   institute_id,
                   case_id,
                   class_names=['default-table--flex',
                                'table-compounds-popup']) }}
            </div>
          {% endif %}
				</div>

			</div>
		{% endfor %}

	</div>

  {% set get_args = request.args.to_dict() %}
  {{ get_args.update({'skip': current_batch})|default('', True) }}
  <a href="{{ url_for('core.variants', institute_id=institute_id,
                      case_id=case_id, variant_type=variant_type, **get_args) }}"
     class="variants-load-more is-raised">
    Load more
  </a>

{% endblock %}
