{% extends 'layouts/scroll-header.html' %}
{% from 'macros/_polymer.html' import core_item %}

{% set page_title = 'Variant' %}

{% block toolbar_left %}
  <a href="{{ url_for('core.cases', institute_id=institute_id) }}"
     class="breadcrumb-button is-raised">
    {{ institute_id }}
  </a>
  <core-icon v-with="icon: 'chevron-right'"></core-icon>

  <a href="{{ url_for('core.case', institute_id=institute_id, case_id=case_id) }}" class="breadcrumb-button is-raised">
    Case {{ case_id }}
  </a>
  <core-icon v-with="icon: 'chevron-right'"></core-icon>

  <a href="{{ url_for('core.variants', institute_id=institute_id, case_id=case_id) }}" class="breadcrumb-button is-raised">
    Variants
  </a>

  <core-icon v-with="icon: 'chevron-right'"></core-icon>
  {{ variant.display_name }}
{% endblock %}

{% block toolbar_right %}
  <div class="icon-button" title="Order Sanger">
    <core-icon v-with="icon: 'mail'"></core-icon>
  </div>

  <div class="icon-button" title="Pin variant">
    <core-icon v-with="icon: 'bookmark'"></core-icon>
  </div>

  {{ super() }}
{% endblock %}

{% block toolbar_secondary %}
  <div class="toolbar-secondary">
    {{ core_item(specific.variant_rank,
                 icon='grade',
                 class='variant-header-item') }}

    <div class="variant-header-item variants-tooltip">
      {{ core_item(
        'Chr%s: %s' % (variant.chromosome,
                       variant.common.hgnc_symbols|join(',')),
        icon='room')
      }}

      <div class="variants-tooltip-tip is-bottom">
        <ul>
          <li>
            <strong>Position</strong>: {{ variant.position }}
          </li>
          <li>
            <strong>Full name</strong>: {{ 'coming soon!' }}
          </li>
          <li>
            <strong>Ensembl</strong>:
            {{ variant.common.ensemble_gene_ids|join(',') }}
          </li>
        </ul>
      </div>
    </div>

    {{ core_item('%s → %s' % (variant.reference, variant.alternatives|join(',')), icon='swap-vert-circle', class='variant-header-item') }}

    {{ core_item(variant.common.region_annotation|join(','),
                 icon='report', class='variant-header-item') }}

    {{ core_item(variant.common.functional_annotation|join(','),
                 icon='settings', class='variant-header-item') }}
  </div>
{% endblock %}

{% block content %}
  <div class="variant-segments">

    <div class="variant-segments-row">
      <div id="summary" class="variant-segment-summary">
        <div class="variant-segment-title">Summary</div>

        <div class="variant-segment-content">
          <div class="variant-list-item" horizontal layout center justified>
            <div>Rank score</div>
            <div>{{ specific.rank_score }}</div>
          </div>

          <div class="variant-list-item" horizontal layout center justified>
            <div>CADD score</div>
            <div>{{ variant.common.cadd_score }}</div>
          </div>

          <div class="variant-list-item" horizontal layout center justified>
            <div>Matches expected inheritance model</div>
            <div>Yes</div>
          </div>
        </div>
      </div>
    </div>

    <div class="variant-segments-row">

      <div id="frequency" class="variant-segment">
        <div class="variant-segment-title">Frequency</div>

        <div class="variant-segment-content">
          <div class="variant-list-item">
            <div>ThousandG</div>
            <div>{{ variant.common.thousand_genomes_frequency|round(3) }}</div>
          </div>

          <div class="variant-list-item">
            <div>EXAC</div>
            <div>{{ variant.common.exac_frequency }}</div>
          </div>

          <div class="variant-list-item">
            <div>Local</div>
            <div>{{ 'coming soon' }}</div>
          </div>
        </div>
      </div>

      <div id="inheritance-model" class="variant-segment">
        <div class="variant-segment-title">Inheritance models</div>

        <div class="variant-segment-content">
          <div class="variant-list-item">
            <div>Disease gene model</div>
            <div>{{ 'coming soon' }}</div>
          </div>

          <div class="variant-list-item">
            <div>OMIM</div>
            <div>{{ 'Ex: Autosomal recessive' }}</div>
          </div>

          <div class="variant-row-item">
            <div>
              Matching
            </div>

            <div class="variant-row-item-sublist">
              {% for model in specific.genetic_models %}
                <div class="variant-row-item-sublist-item">{{ model }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div id="omim" class="variant-segment">
        <div class="variant-segment-title">OMIM</div>

        <div class="variant-segment-content">
          {% for entry in ['coming soon'] %}
            <div class="variant-list-item">
              {{ entry }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="details" class="variant-segments-row">
      <div id="protein-changes" class="variant-segment">
        <div class="variant-segment-title">Predicted protein changes</div>

        <div class="variant-segment-content">
          {% for prediction in ['coming soon'] %}
            <div class="variant-list-item">{{ prediction }}</div>
          {% endfor %}
        </div>
      </div>

      <div id="severities" class="variant-segment">
        <div class="variant-segment-title">Severity</div>

        <div class="variant-segment-content">
          <div class="variant-list-item">
            <div>Sift</div>
            <div>{{ variant.common.sift_predictions|join(',') }}</div>
          </div>
          <div class="variant-list-item">
            <div>Polyphen</div>
            <div>{{ variant.common.polyphen_predictions|join(',') }}</div>
          </div>
        </div>
      </div>

      <div id="conservation" class="variant-segment">
        <div class="variant-segment-title">Conservation</div>

        <div class="variant-list-item">
          <div>{{ 'coming soon' }}</div>
          <div>Ex: 1.586</div>
        </div>
      </div>
    </div>

    <div id="gt-call" class="variant-segments-row">
      <div id="inheritance-model" class="variant-segment">
        <div class="variant-segment-title">GT call</div>

        <div class="variant-segment-content">
          <div class="variant-row-item">
            <div class="variant-row-item-sublist">
              {% for item in "14701600331 0/1 22,18 449,0,501 99".split(' ') %}
                <div class="variant-row-item-sublist-item">{{ item }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="external-links" class="variant-segments-row">
      <div class="variant-segment">
        <div class="variant-segment-content">
          <div class="variant-list-links">
            <a class="variant-link-external" href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?g={{ variant.common.ensemble_gene_ids|join(',') }}">
              Ensembl
            </a>

            <a class="variant-link-external" href="http://www.proteinatlas.org/search/{{ variant.common.ensemble_gene_ids|join(',') }}">
              HPA
            </a>

            <a class="variant-link-external" href="http://string-db.org/newstring_cgi/show_network_section.pl?identifier={{ variant.common.ensemble_gene_ids|join(',') }}">
              STRING
            </a>

            <a class="variant-link-external" href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ variant.chromosome }}:{{ variant.position }}-{{ variant.position }}&dgv=pack&knownGene=pack&omimGene=pack">
              UCSC
            </a>

            <a class="variant-link-external" href="http://www.ncbi.nlm.nih.gov/sites/gquery/?term={{ variant.common.hgnc_symbols|join(',') }}">
              Entrez
            </a>

            <a class="variant-link-external" href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?g={{ variant.common.ensemble_gene_ids|join(',') }}">
              Ensembl
            </a>

            <a class="variant-link-external" href="https://clinical-db.scilifelab.se:8081/api/v1/variants/95079791/igv.xml?origin=https://clinical-db.scilifelab.se:8081">
              IGV
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
