{% extends 'layouts/scroll-header.html' %}
{% from '_macros.html' import compounds_table %}

{% set page_title = 'Variants' %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <a class="md-breadcrumb-button is-raised"
       href="{{ url_for('core.cases', institute_id=institute_id) }}">
      {{ institute.display_name }}
    </a>
    <core-icon
      class="md-breadcrumb-separator"
      v-with="icon: 'chevron-right'">
    </core-icon>

    <a class="md-breadcrumb-button is-raised" href="{{ url_for('core.case', institute_id=institute_id, case_id=case_id) }}">
      {{ case.display_name }}
    </a>
    <core-icon
      class="md-breadcrumb-separator"
      v-with="icon: 'chevron-right'">
    </core-icon>

    <div class="md-breadcrumb">Variants</div>
  </div>
{% endblock %}

{% block toolbar_custom %}
  <div class="variants-header">

    <div class="variants-header-item" title="Rank position">Rank</div>
    <div class="variants-header-item" title="Rank score">Score</div>
    <div class="variants-header-item" title="Chromosome">Chr.</div>
    <div class="variants-header-item flex-big" title="HGNC">HGNC</div>
    <div class="variants-header-item" title="1000 Genomes">1000 Genomes</div>
    <div class="variants-header-item" title="CADD score">CADD score</div>
    <div class="variants-header-item" title="Gene annotation">
      Gene annotation
    </div>
    <div class="variants-header-item flex-big" title="Func. annotation">
      Func. annotation
    </div>
    <div class="variants-header-item flex-big" title="Disease group">
      Disease group
    </div>
    <div class="variants-header-item" title="Disease gene model">
      Disease gene model
    </div>
    <div class="variants-header-item flex-big" title="Inheritance models">
      Inheritance models
    </div>

  </div>
{% endblock %}

{% block content %}

	<div class="variants-body">
		{% for variant in variants %}

      {% set specific = variant.specific[case.case_id] %}

			<div class="variants-row">

        <!-- Rank position -->
				<a class="variants-row-item text-right"
					 href="{{ url_for('core.variant',
                            institute_id=institute_id,
					 									variant_id=variant.variant_id,
                            case_id=case_id) }}">
          {{ specific.variant_rank }}
				</a>

        <!-- Rank score -->
        <div class="variants-row-item text-right">
          {{ specific.rank_score }}
        </div>

        <!-- Chromosome -->
        <div class="variants-row-item">
          {{ variant.chromosome }}
        </div>

        <!-- HGNC -->
				<div class="variants-row-item flex-big">
					{{ (variant.common.hgnc_symbols or ['-'])|join(', ') }}
				</div>

        <!-- 1000 Genomes -->
				<div class="variants-row-item text-right variants-tooltip">
          {% if variant.common.thousand_genomes_frequency %}
            {{ variant.common.thousand_genomes_frequency|float|round(3) }}
          {% else %}
            -
          {% endif %}

          <div class="variants-tooltip-tip is-left">
            <ul>
              <li><strong>ExAC</strong> {{ variant.common.exac_frequency or '-' }}</li>
              <li><strong>Local</strong> {{ 'soon' }}</li>
            </ul>
          </div>
        </div>

        <!-- PolyPhen -->
        <div class="variants-row-item text-right variants-tooltip">
          {{ variant.common.cadd_score or '-' }}

          <div class="variants-tooltip-tip is-right">
            <ul>
              <li>
                <strong>Sift</strong>
                {{ (variant.common.sift_predictions or ['-'])|join(',') }}
              </li>
              <li>
                <strong>Sift</strong>
                {{ (variant.common.polyphen_predictions or ['-'])|join(',') }}
              </li>
            </ul>
          </div>
        </div>

        <!-- Gene annotation -->
        <div class="variants-row-item is-scrollable">
          {{ variant.common.region_annotation|join(',') }}
        </div>

        <!-- Func. annotation -->
        <div class="variants-row-item is-scrollable flex-big">
          {{ variant.common.functional_annotation|join(',') }}
        </div>

        <!-- Disease group -->
        <div class="variants-row-item flex-big">{{ 'coming soon' }}</div>

        <!-- Disease gene model -->
        <div class="variants-row-item">{{ 'coming soon' }}</div>

        <!-- Inheritance models -->
				<div class="variants-row-list flex-big variants-tooltip">
					{% for model in (specific.genetic_models or []) %}
            <div class="variants-row-list-item">{{ model }}</div>
          {% endfor %}

          {% if specific.compounds %}
            <div class="variants-tooltip-tip is-left">
              {{ compounds_table(
                   specific.compounds,
                   class_names=['default-table', 'table-compounds-popup']) }}
            </div>
          {% endif %}
				</div>

			</div>
		{% endfor %}

	</div>

  <a href="{{ request.path }}?skip={{ current_batch }}"
     class="variants-load-more is-raised">
    Load more
  </a>

{% endblock %}
