{% extends "genes/layout.html" %}

{% block vue_block %}
  <div class="container-fluid clear-navbar">
    <div class="row">
      <div class="col-md-12">
        <typeahead url="/api/v1/genes" v-on:send="visitGene" bootstrap="yes"></typeahead>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Genes</div>
        <ul class="list-group">
          {% for gene in genes %}
            <li class="list-group-item">{{ gene.hgnc_symbol }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
