{% extends "core/layout.html" %}

{% block title %}
  {{ super() }} - Gene Panels
{% endblock %}

{% block top_nav %}
  <li>
    <a href="{{ url_for('core.cases', institute_id=institute.internal_id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="active">
    <a href="{{ url_for('genes.panels', institute_id=institute.internal_id) }}">
      Gene Panel
    </a>
  </li>
{% endblock %}

{% block content_main %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Gene Panels</div>
        <ul class="list-group">
          {% for panel in panels %}
            <li class="list-group-item">
              <a href="{{ url_for('genes.panel', panel_id=panel.panel_name) }}">
                {{ panel }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
