{% extends "layout.html" %}
{% from "utils.html" import db_table_external_scripts, db_table_external_stylesheets %}

{% block css %}
{{ super() }}
  {{ db_table_external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Diagnoses</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="container-float">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Summary</div>
        <div class="card-body">
          <table id="diagnoses_stats_table" class="table table-sm">
            {% if counts |length == 0 %}
              <tr>
                <td>
                  No diagnoses found
                </td>
              </tr>
            {% else %}
              <thead class="table-light thead">
                <th>Source</th>
                <th>Quantity</th>
              </thead>
              {% for codingsystem in counts %}
                <tr>
                  <td>
                    {{codingsystem._id}}
                  </td>
                  <td>
                    {{codingsystem.count}}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div><!--end of card body-->
      </div><!--end of card-->
    </div>
  </div>
</div>
<div class="container-float">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"> Diagnoses in database</div>
        <div class="card-body">
          <div id="spinner-container">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden"></span>
            </div>
            Loading all diagnoses, this might take some time...
          </div>
          <table id="diagnoses_table" class="table table-sm invisible">
              <thead class="table-light thead">
                <th>Diagnosis code</th>
                <th></th>
                <th>Phenotype description</th>
                <th>Inheritance</th>
                <th>Associated genes</th>
                <th>Associated HPO terms</th>
              </thead>
              <tbody>
                <tr id="diagnosis-row">
                  <td><a id="external-link" href="http://omim.org/entry/" target="_blank" rel=noopener ></a>
                  <td><a id="internal-link" href="{{ url_for('diagnoses.omim_diagnosis',omim_nr='')}}"><span class="fa fa-link"></span></a></td>
                  <td><span id="description" class="text-body"></span></td>
                  <td id="inheritance-container"><!-- inheritance-->
                      <span id="inheritance" class="badge bg-info"></span>
                  </td><!--end of inheritance-->
                  <td id="genes-container">
                    <span class="text-body">
                      <a id="geneLink" href="{{ url_for('genes.gene', hgnc_id='0') }}" target="_blank" rel="noopener" ></a>
                    </span>
                  </td>
                  <td id="hpo-container">
                    <span class="text-body">
                      <a id="hpo-link" class="badge bg-secondary text-white" href="https://hpo.jax.org/app/browse/term/{{term}}" target="_blank" rel="noopener" ></a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
        </div><!--end of card body-->
      </div><!--end of card-->
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('diagnoses.static', filename='diagnoses.js') }}"></script>
{{ super() }}
{{ db_table_external_scripts() }}
{% endblock %}
