{% extends "layout.html" %}
{% from "utils.html" import db_table_external_scripts, db_table_external_stylesheets %}

{% block css %}
{{ super() }}
  {{ db_table_external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">OMIM terms</span>
  </li>
{% endblock %}


{% block content_main %}
<div class="container-float">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"> Diagnoses in databasew</div>
        <div class="card-body">
          {% if counts |length == 0 %}
            <thead>
              <th>OMIM terms</th>
              <th>ORPHA terms</th>
            </thead>
            <tr>
              {%for codingsystem in counts%}
                <td>
                  {{counts.count}}
                </td>
              {% endfor%}
            </tr>

          {% else %}
            <table id="diagnoses_table" class="table table-sm">
              <thead class="table-light thead">
              {% for codingsystem in counts %}
                <th>{{codingsystem._id}}</th>
              {% endfor %}
              </thead>
              <tr>
                {% for codingsystem in counts %}
                  <td>
                    {{codingsystem.count}}
                  </td>
                {% endfor %}
              </tr>
            </table>
          {% endif %}
        </div><!--end of card body-->
      </div><!--end of card-->
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ db_table_external_scripts() }}
<script>
  $(document).ready(function() {
    $('#diagnoses_table').DataTable( {
        paging: false,
        dom: 'fBrtip',
        buttons: [
          {
            extend: 'excelHtml5',
            title: 'omim_terms'
          },
          'copyHtml5'
        ]
    } );
} );
</script>
{% endblock %}
