{% extends "layout.html" %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('diagnoses.count_diagnoses') }}">
      Diagnoses
    </a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">{{_id}}</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="card mt-3">
  <div class="card-header">Overview</div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
            <a target="_blank" href="{{ disease_link }}" rel="noopener" >{{disease_id}}</a>
        </li>
        <li class="list-group-item">
          description: <strong>{{description}}</strong>
        </li>
        <li class="list-group-item">
          genes:
          {% for gene in genes_complete %}
            <span class="badge bg-secondary">{{gene.hgnc_symbol}}</span>
          {% else %}
            -
          {% endfor %}
        </li>
        <li class="list-group-item">
          inheritance:
            {% for model in inheritance %}
              <span class="badge bg-info">{{model}}</span>
            {% else %}
              -
            {% endfor%}
        </li>
        <li class="list-group-item">
          Associated phenotypes:
          <ul class="list-group list-group-flush">
            {% for pheno in hpo_complete %}
              <li class="list-group-item">
                <a href="http://hpo.jax.org/app/browse/term/{{pheno.hpo_id}}" target="_blank">{{ pheno.hpo_id }}</a>
                {{pheno.description}}
              </li>
            {% else %}
              -
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
</div>
{% endblock %}
