.google-login_button {
	background-color: inherit;
	font-size: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	font-weight: 600;
}

.ant-btn {
	border: none !important;
	font-weight: 600 !important;
}

.ant-menu-item-icon {
	margin: 0 !important;
}

.ant-menu {
	background-color: inherit !important;
}

.ant-dropdown-trigger:hover {
	color: #40a9ff !important;
}
