{% extends "layout.html" %}

{% block content_main %}
{% set panel = panel|int %}
  <div>
    <div id="statsTab" class="container">
      <ul class="nav nav-tabs">
        <li class="{% if panel == 1 %}active{% endif %}"><a href="#" data-toggle="tab" onclick="hide_div(1)"><h4>General statistics</h4></a></li>
        <li class="{% if panel == 2 %}active{% endif %}"><a href="#" data-toggle="tab" onclick="hide_div(2)"><h4>Case statistics</h4></a></li>
        <li class="{% if panel == 3 %}active{% endif %}"><a href="#" data-toggle="tab" onclick="hide_div(3)"><h4>Variant statistics</h4></a></li>
      </ul>
    </div>
    <div class="tab-content" id="tabs">
      <div class="tab-pane" id="1">
        {{ basic_stats() }}
      </div>
      <div class="tab-pane" id="2">
        {{ cases_stats() }}
      </div>
      <div class="tab-pane" id="3">
        {{ variants_stats() }}
      </div>
    </div>
  </div>

{% endblock %}

{% macro basic_stats() %}
<div class="panel panel-default">
  <div class="panel-body">
    {{ dashboard_search_form(1) }}
    {{ general_stats_panels() }}
  </div>
</div>
{% endmacro %}

{% macro cases_stats() %}
<div class="panel panel-default">
  <div class="panel-body">
    {{ dashboard_search_form(2) }}
    {{ cases_stats_panels() }}
  </div>
</div>
{% endmacro %}

{% macro variants_stats() %}
<div class="panel panel-default">
  <div class="panel-body">
    {{ dashboard_search_form(3) }}<br><br>
    {{ variants_stats_panels() }}
  </div>
</div>
{% endmacro %}

{% macro dashboard_search_form(pane) %}
<br>
<form id='form' method='POST' action="{{ url_for('dashboard.index') }}" accept-charset="utf-8">
    <input type="hidden" value={{pane}} name="pane_id" id="pane_id">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        {% if pane in (1,2) %}
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="search" class="form-control" value="{{ query if query }}" name="query" id="query" placeholder="Enter query to filter cases summarized below" onchange="update_select({% if current_user.is_admin %}true{% else %}false{% endif %})"></input>
          </div>
        {% endif %}
      </div>
      <div class="col-md-2 col-xs-2">
      <select name="institute" id="institute" onchange="this.form.submit()">
        {% for inst in institutes %}
          {% if inst.display_name == 'All institutes' and query and not current_user.is_admin %}
            <option value="{{ inst._id }}" disabled>{{ inst.display_name }}</option>
          {% else %}
            <option value="{{ inst._id }}" {{ "selected" if inst._id == choice }} >{{ inst.display_name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="submit" class="form-control">Search</input>
      </div>
    </div>
    {% if pane in (1,2) %}
    <div class="bottom-align-text">
      <br>Examples: case_id=<strong>18201</strong>, HPO-term=<strong>HP:0001166</strong>, synopsis=<strong>synopsis:epilepsy</strong>, panel=<strong>panel:NMD</strong>, phenotype group=<strong>PG:0100022</strong>, cohort=<strong>cohort:pedhep</strong>.
    </div>
    {% endif %}
  </form>
{% endmacro %}

{% macro general_stats_panels() %}
  <h1>Basic statistics</h1>
  <div class="row">
    {% for group in analysis_types %}
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">{{ group.name|capitalize }} samples (not cases)</div>
          <div class="panel-body">
            <h1 class="text-center">
              {{ group.count }}
            </h1>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    {% for group in cases %}
      <div class="col-xs-4 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{ group.status|capitalize }} Cases</div>
          <div class="panel-body">
            <h1 class="text-center {{ 'text-success' if group.status == 'solved' }}">
              {{ group.count }}
            </h1>
            <div class="text-center"><span class="text-muted">
              {{ (group.percent * 100)|round(1) }}%</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h1>Pedigree info</h1>
  <div class="row">
    {% for topic in pedigree %}
      <div class="col-xs-4 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{ topic.title }} Cases </div>
          <div class="panel-body">
            <h1 class="text-center">{{ topic.count }}</h1>
            <div class="text-center">
              <span class="text-muted">{{ (topic.percent * 100)|round(1) }}%</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro cases_stats_panels() %}
  <h1>Cases with...</h1>
  <div class="row">
    {% for topic in overview %}
      <div class="col-xs-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">{{ topic.title }}</div>
          <div class="panel-body">
            <h1 class="text-center">{{ topic.count }}</h1>
            <div class="text-center">
              <span class="text-muted">{{ (topic.percent * 100)|round(1) }}%</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro variants_stats_panels() %}
  <div class="row">
    {% for topic in variants %}
      <div class="col-xs-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">{{ topic.title }}</div>
          <div class="panel-body">
            <h1 class="text-center">{{ topic.count }}</h1>
          </div>
          <div class="text-center"><span class="text-muted">
            {{ (topic.percent * 100)|round(1) }}%</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div>
    <form id="dowload_var_stats" action="{{ url_for('variants.download_verified')}}" method="GET">
      <ol class="breadcrumb">
        <li><button type="submit" name="verified_vars" value="verified" class="btn btn-primary btn-xs">Download all verified variants for your cases</button></li>
      </ol>
    </form>
  </div>
{% endmacro %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function() {
      hide_div({{panel}})
    });

    function hide_div(show_div){
      for (i=1; i<4; i++) {
        var div_el = document.getElementById(i);
        if (i==show_div){ //show div
          div_el.style.display = "block";
        }
        else{ //hode other divs
          div_el.style.display = "none";
        }
      }
    }

    function update_select(admin_user){
      var query_text = document.getElementById("query").value;
      var sel = document.getElementById("institute");
      if(query_text && !admin_user) {
        sel.children[0].disabled = "disabled";
        if(sel.options[0].selected) {
          sel.options[0].selected = false;
          sel.options[1].selected = true;
        }
      }
      else{
        sel.children[0].disabled = "";
      }
    }
  </script>
{% endblock %}
