{% extends "layout.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}
{% from "clinvar/components.html" import action_modal, render_dict_array, submit_modal, update_submission_status_form, variant_submission_table %}

{% block title %}
  {{ super() }} - {{ institute.display_name }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }}</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Clinvar oncogenicity submissions</span>
  </li>
{% endblock %}


{% macro submissions_macro(submissions) %}
<div class="container-float">
  <h3 class="mt-3">Oncogenicity submissions</h3>
  <br>
  {% if submissions %}
    <div style="overflow-y: auto; height: 1000px;">
     {% for status in ['open', 'closed', 'submitted'] %}
      {% for submission in submissions|sort(attribute='status') %}
        {% if submission.status==status %}
          {{ submission_panel(submission) }}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  {% else %}
  <p>No ClinVar submissions found. You can create one by choosing one or more pinned variants on a case page and clicking the button "Submit to ClinVar".</p>
  {% endif %}
</div>
{% endmacro %}

{% macro submission_panel(subm_obj) %}
<div class="accordion accordion-flush" id="accordionFlushSubmissions">
  <div class="accordion-item">
    <h2 class="accordion-header" id="header-{{subm_obj._id}}">
      <a class="accordion-button collapsed {% if subm_obj.status=='open' %} link-primary {% elif subm_obj.status=='submitted' %} link-success {% else %} link-secondary {% endif%}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{subm_obj._id}}" aria-expanded="false" aria-controls="flush-{{subm_obj._id}}" style="text-decoration: none;">
        Submission&nbsp;<strong>{{subm_obj._id}} - ({{subm_obj.status|upper}})</strong>&nbsp;/&nbsp;Created {% if subm_obj.created_by %}&nbsp;by&nbsp;<strong>{{subm_obj.created_by}}</strong>{% endif %}&nbsp;on&nbsp;<strong>{{subm_obj.created_at.strftime('%Y-%m-%d')}}</strong>&nbsp;/&nbsp;Last updated:&nbsp;<strong>{{subm_obj.updated_at.strftime('%d-%m-%Y, %T')}}</strong>
      </a>
    </h2>
    <div id="flush-{{subm_obj._id}}" class="accordion-collapse collapse" aria-labelledby="header-{{subm_obj._id}}" data-bs-parent="#accordionFlushSubmissions">
      <div class="accordion-body">
        <div class="row">
          {{ update_submission_status_form(institute, subm_obj) }}
        </div>
        <div class="row">
          <table>
            <caption></caption>
            <tr><th></th></tr>
            <tr>
              <form id="updateName_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_update_submission', institute_id=institute._id, submission=subm_obj._id) }}" method="POST">
              <td style="width: 10%"><label for="clinvar_id">Submission ID</label></td>
              <td style="width: 25%"> <input type="text" class="form-control" name="clinvar_id" pattern="SUB[0-9]+" placeholder="ex: SUB1234567" value="{{ subm_obj.clinvar_subm_id or ""}}"></td>
              <td style="width: 20%"><button type="submit" class="btn btn-sm btn-primary form-control" name="update_submission" value="register_id">Update ID manually</button></td>
              </form>
              {% if subm_obj.status == 'open' and show_submit  %}
                <form id="useApi_{{subm_obj._id}}" action="{{ url_for('clinvar.send_api_submission', institute_id=institute._id, submission=subm_obj._id, subm_type='oncogenicity') }}" method="POST">
                {{ submit_modal(institute) }}
                  <td style="width: 20%"><button type="button" class="btn btn-sm btn-success form-control" name="update_submission" value="api_submit" data-bs-toggle="modal" data-bs-target="#submitModal">Submit to ClinVar</button></td>
                </form>
              {% endif %}
              {% if subm_obj.status == 'submitted' %} <!--Submission status query -->
                 <form id="statusApi_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_submission_status', submission_id=subm_obj.clinvar_subm_id) }}" method="POST">
                   {{ action_modal("status", institute, subm_obj._id) }}
                   <td style="width: 20%"><button type="button" class="btn btn-sm btn-secondary form-control" name="status_enquiry" value="api_status" data-bs-toggle="modal" data-bs-target="#statusModal_{{subm_obj._id}}">Submission status enquiry</button></td>
                 </form>
              {% endif %}
            </tr>
          </table>
        </div>
        <div>
          {% if subm_obj.oncogenicitySubmission and subm_obj.oncogenicitySubmission | length > 0 %}
            {{ variant_submission_table(subm_obj, "oncogenicity") }}
          {% else %}
            <p>This submission is open but has no variants yet.</p>
          {% endif %}
        </div> <!--variant data div end -->
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ institute_actionbar(institute, "shared") }} <!-- This is the sidebar -->
  <div class="col">
    {{ submissions_macro(submissions) }}
  </div>
  </div> <!-- end of div id body-row -->
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}

{% endblock %}
