{% extends "layout.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}
{% from "clinvar/clinvar_howto.html" import clinvar_howto_modal %}

{% block title %}
  {{ super() }} - {{ institute.display_name }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }}</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Clinvar submissions</span>
  </li>
{% endblock %}


{% macro submissions_macro(submissions) %}
<div class="container-float">
  <h3 class="mt-3">ClinVar submissions page<h5></h3><a data-bs-target="#howto" href="#" data-bs-toggle="modal">howto</a><br>
  <!-- Modal -->
  {{ clinvar_howto_modal() }}
  <!-- Modal end -->
  <br>
  {% if submissions %}
    <div style="overflow-y: auto; height: 1000px;">
    {% for status in ['open', 'closed', 'submitted'] %}
      {% for submission in submissions|sort(attribute='status') %}
        {% if submission.status==status %}
          {{ submission_panel(submission) }}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  {% else %}
  <p>No ClinVar submissions found. You can create one by choosing one or more pinned variants on a case page and clicking the button "Submit to ClinVar".</p>
  {% endif %}
</div>
{% endmacro %}

{% macro submission_panel(subm_obj) %}
<div class="accordion accordion-flush" id="accordionFlushSubmissions">
  <div class="accordion-item">
    <h2 class="accordion-header" id="header-{{subm_obj._id}}">
      <a class="accordion-button collapsed {% if subm_obj.status=='open' %} link-primary {% elif subm_obj.status=='submitted' %} link-success {% else %} link-secondary {% endif%}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{subm_obj._id}}" aria-expanded="false" aria-controls="flush-{{subm_obj._id}}" style="text-decoration: none;">
        Submission&nbsp;<strong>{{subm_obj._id}} - ({{subm_obj.status|upper}})</strong>&nbsp;/&nbsp;Created {% if subm_obj.created_by %}&nbsp;by&nbsp;<strong>{{subm_obj.created_by}}</strong>{% endif %}&nbsp;on&nbsp;<strong>{{subm_obj.created_at.strftime('%Y-%m-%d')}}</strong>&nbsp;/&nbsp;Last updated:&nbsp;<strong>{{subm_obj.updated_at.strftime('%d-%m-%Y, %T')}}</strong>
      </a>
    </h2>
    <div id="flush-{{subm_obj._id}}" class="accordion-collapse collapse" aria-labelledby="header-{{subm_obj._id}}" data-bs-parent="#accordionFlushSubmissions">
      <div class="accordion-body">
        <div class="row">
        <form id="updateStatus_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_update_submission', institute_id=institute._id, submission=subm_obj._id) }}" method="POST">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center">
              <li class="breadcrumb-item">
                <!-- Download the Variant data CSV file -->
                <a href="{{ url_for('clinvar.clinvar_download_csv', submission=subm_obj._id, csv_type='variant_data', clinvar_id=subm_obj.clinvar_subm_id or 'None') }}" class="btn btn-primary btn-xs text-white" target="_blank" rel="noopener">
                  Download variants csv file
                </a>
                <a href=" {{ url_for('clinvar.clinvar_download_csv', submission=subm_obj._id, csv_type='case_data', clinvar_id=subm_obj.clinvar_subm_id or 'None') }}" class="btn btn-primary btn-xs text-white" target="_blank" rel="noopener">
                  Download casedata csv file
                </a>
                <a id="download_clinvar_json" href="{{ url_for('clinvar.clinvar_download_json', submission=subm_obj._id, clinvar_id=subm_obj.clinvar_subm_id or 'None') }}" class="btn btn-primary btn-xs text-white" target="_blank" rel="noopener">
                  Download submission json file
                </a>
              </li>
              {% if subm_obj.status=='open'%}
                <li class="breadcrumb-item"><button type="submit" name="update_submission" value="closed" class="btn btn-warning btn-xs">Close submission</button></li>
              {% else %}
                <li class="breadcrumb-item"><button type="submit" name="update_submission" value="open" class="btn btn-primary btn-xs">Re-open submission</button></li>
              {% endif %}
              {% if subm_obj.status != 'submitted' %}
                <li class="breadcrumb-item"><button type="submit" name="update_submission" value="submitted" class="btn btn-success btn-xs">Mark as submitted</button></li>
              {% endif %}

                <li class="breadcrumb-item"><button type="submit" name="update_submission" value="delete" class="btn btn-danger btn-xs">Delete submission</button></li>
            </ol>
          </nav>
          </form>
        </div>
        <div class="row">
          <table>
            <caption></caption>
            <tr><th></th></tr>
            <tr>
              <form id="updateName_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_update_submission', institute_id=institute._id, submission=subm_obj._id) }}" method="POST">
              <td style="width: 10%"><label for="clinvar_id">Submission ID</label></td>
              <td style="width: 25%"> <input type="text" class="form-control" name="clinvar_id" pattern="SUB[0-9]+" placeholder="ex: SUB1234567" value="{{ subm_obj.clinvar_subm_id or ""}}"></td>
              <td style="width: 20%"><button type="submit" class="btn btn-sm btn-primary form-control" name="update_submission" value="register_id">Update ID manually</button></td>
              </form>
              {% if subm_obj.status == 'open' and show_submit  %}
                <form id="useApi_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_update_submission', institute_id=institute._id, submission=subm_obj._id) }}" method="POST">
                {{ submit_modal(subm_obj) }}
                  <td style="width: 20%"><button type="button" class="btn btn-sm btn-success form-control" name="update_submission" value="api_submit" data-bs-toggle="modal" data-bs-target="#submitModal">Submit to ClinVar</button></td>
                </form>
              {% endif %}
            </tr>
          </table>
        </div>
        <div> <!--variant data div -->
          <h4>Variant data:</h4>
          {% if subm_obj.variant_data and subm_obj.variant_data | length > 0 %}
          <table class="table table-striped">
            <caption></caption>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th></th>
                <th>Type</th>
                <th>Case</th>
                <th>Refseq</th>
                <th>Gene</th>
                <th>HGVS</th>
                <th>Classification</th>
                <th>Added by</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% set var_key_name = {} %}
              {% for subm_variant in subm_obj.variant_data  %} <!-- loop over the submitted variants-->
                <tr>
                  <td>{{loop.index}}</td>
                    {% if subm_variant.category == 'sv' %}
                      {% do var_key_name.update( {subm_variant.local_id : '_'.join([subm_variant.var_type, subm_variant.chromosome, subm_variant.breakpoint1 or subm_variant.outer_start or ""]) }) %}
                      <td>
                        <a href="{{ url_for('variant.sv_variant', institute_id=institute._id, case_name=subm_obj.cases[subm_variant.case_id], variant_id=subm_variant.local_id) }}" target="_blank" rel="noopener"><strong>{{var_key_name[subm_variant.local_id]|truncate(25,true,'..')}}</strong></a>
                      </td>
                      <td><button id="{{subm_variant._id}}" type="button" class="btn btn-primary btn-xs var_btn"><span class="fa fa-search-plus" aria-hidden="true"></span></button></td>
                      <td><div class="badge bg-warning">SV</div></td>
                    {% else %} <!-- SNV -->
                      {% if subm_variant.ref_seq and subm_variant.hgvs %}
                        {% do var_key_name.update( {subm_variant.local_id : '_'.join([subm_variant.ref_seq, subm_variant.hgvs])} ) %}
                      {% else %}
                        {% do var_key_name.update({subm_variant.local_id : '_'.join([subm_variant.chromosome, subm_variant.start, subm_variant.ref[0:5], subm_variant.alt[0:5]]) }) %}
                      {% endif %}
                      <td>
                        <a href="{{ url_for('variant.variant', institute_id=institute._id, case_name=subm_obj.cases[subm_variant.case_id], variant_id=subm_variant.local_id) }}" target="_blank" rel="noopener"><strong>{{var_key_name[subm_variant.local_id]|truncate(25,true,'..')}}</strong></a>
                      </td>
                      <td><button id="{{subm_variant._id}}" type="button" class="btn btn-primary btn-xs var_btn"><span class="fa fa-search-plus" aria-hidden="true"></span></button></td>
                      <td><div class="badge bg-success">SNV</div></td>
                    {% endif %}
                  </td>
                  <td><a href="{{ url_for('cases.case', institute_id=institute._id, case_name=subm_obj.cases[subm_variant.case_id]) }}" target="_blank" rel="noopener">{{subm_obj.cases[subm_variant.case_id]}}</a></td>
                  <td>{{subm_variant.ref_seq or '-'}}</td>
                  <td>{{subm_variant.gene_symbol or '-'}}</td>
                  <td>{{subm_variant.hgvs|truncate(25,true,'..') or '-'}}</td>
                  <td>{{subm_variant.clinsig}}</td>
                  <td>{{subm_variant.added_by or "N/A"}}</td>
                  <form id="delete_variant_{{subm_variant._id}}" action="{{ url_for('clinvar.clinvar_delete_object', submission=subm_obj._id, object_type='variant_data') }}" method="POST">
                    <td><button type="submit" name="delete_object" value="{{subm_variant._id}}" class="btn btn-danger btn-xs"><span class="fa fa-trash fa-lg" aria-hidden="true"></span></button></td>
                  </form>
                </tr>
                <tr>
                  <td colspan=11>
                    <div class="vardata">
                      <div id="vardiv{{subm_variant._id}}" class="panel-body" style="display:none;">
                          <ul class="list-group">
                          {% for key, value in variant_header_fields.items() %}
                            {% if subm_variant[key]%}
                              <li class="list-group-item">{{ value }}: <strong>{{ subm_variant[key]|replace(subm_variant[key][75:], '..') if subm_variant[key]|length > 75 else subm_variant[key]}}</strong></li>
                              {% endif %}
                          {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>This submission is open but has no variants yet.</p>
          {% endif %}
        </div> <!--variant data div end -->
        {% if subm_obj.case_data and subm_obj.case_data | length > 0 %}
          <div id="cdata_{{subm_obj._id}}"> <!--case data div -->
            <h4>Observation data:</h4>
            <input type="hidden" name="oldSampleName" id="oldSampleName" value="">
            <input type="hidden" name="newSampleName" id="newSampleName" value="">
            <table class="table table-striped">
              <caption></caption>
              <thead>
                <tr>
                  <th></th>
                  <th>Individual ID</th>
                  <th></th>
                  <th>Case ID</th>
                  <th>Variant</th>
                  <th>Allele origin</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for case in subm_obj.case_data %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <form id="rename_cd_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_rename_casedata', submission=subm_obj._id, case=case.case_id, old_name=case.individual_id) }}" method="POST">
                    <td>
                      <input type="text" name="new_name" value="{{case.individual_id}}"><button name="rename_sample" type="submit" class="btn btn-primary btn-xs mb-1 mr-3"><span class="fa fa-pen-square" aria-hidden="true"></span></button>
                    </td>
                    </form>
                    <td><button id="{{case._id}}" type="button" class="btn btn-primary btn-xs cd_btn"><span class="fa fa-search-plus" aria-hidden="true"></span></button></td>
                    <td><a href="{{ url_for('cases.case', institute_id=institute._id, case_name=subm_obj.cases[case.case_id]) }}" target="_blank" rel="noopener">{{subm_obj.cases[case.case_id]}}</a></td>
                    <td>{{var_key_name[case.linking_id]|truncate(25,true,'..')}}</td>
                    <td>{{case.allele_origin}}</td>
                    <form id="delete_casedata_{{case._id}}" action="{{ url_for('clinvar.clinvar_delete_object', submission=subm_obj._id, object_type='case_data') }}" method="POST">
                      <td><button type="submit" name="delete_object" value="{{case._id}}" class="btn btn-danger btn-xs"><span class="fa fa-trash fa-lg" aria-hidden="true"></span></button></td>
                    </form>
                  </tr>
                  <tr>
                    <td colspan=8>
                      <div id="cddiv{{case._id}}" class="panel-body" style="display:none;">
                        <ul class="list-group">
                        {% for key, value in casedata_header_fields.items() %}
                          {% if case[key]%}
                            <li class="list-group-item">{{ value }}: <strong>{{ case[key] }}</strong></li>
                          {% endif %}
                        {% endfor %}
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p>No case data provided for the above variants</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro submit_modal(subm_obj) %}
<div class="modal fade" id="submitModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ClinVar API submission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="apiKey">Submitter's <a href="https://www.ncbi.nlm.nih.gov/clinvar/docs/api_http/" target="_blank" rel="noopener">API key</a></label>
        <input type="password" class="form-control" name="apiKey" id="apiKey" placeholder="64 alphanumeric characters" value="{{institute.clinvar_key or ''}}" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="update_submission" value="submit" class="btn btn-primary">Submit variants</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ institute_actionbar(institute, "shared") }} <!-- This is the sidebar -->
  <div class="col">
    {{ submissions_macro(submissions) }}
  </div>
  </div> <!-- end of div id body-row -->
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">

  $(function () {
      $('.casedata  div').hide();
      $('.vardata  div').hide();
      $('.cd_btn').on('click', function(){
          var bid = $(this)[0].id;
          var sel = '#cddiv' + bid;
          if($(sel).is(':visible')){
            $(sel).hide();
          }
          else{
            $('.casedata  div').hide();
            $(sel).fadeToggle();
          }
      });
      $('.var_btn').on('click', function(){
          var bid = $(this)[0].id;
          var sel = '#vardiv' + bid;
          if($(sel).is(':visible')){
            $(sel).hide();
          }
          else{
            $('.vardata div').hide();
            $(sel).fadeToggle();
          }
      });
  });
</script>

{% endblock %}
