{% extends "layout.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}
{% from "clinvar/clinvar_howto.html" import clinvar_howto_modal %}
{% from "clinvar/components.html" import action_modal, deprecated_submission_table, render_dict_array, submission_panel, submit_modal, variant_submission_table, update_submission_status_form %}

{% block title %}
  {{ super() }} - {{ institute.display_name }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }}</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Clinvar germline submissions</span>
  </li>
{% endblock %}


{% macro submissions_macro(submissions) %}
<div class="container-float">
  <h3 class="mt-3">ClinVar germline submissions</h3><a data-bs-target="#howto" href="#" data-bs-toggle="modal">howto</a><br>
  <!-- Modal -->
  {{ clinvar_howto_modal() }}
  <!-- Modal end -->
  <br>

  <div class="mb-2">
      <form id="search-form" class="d-flex gap-2 align-items-start" action="{{ url_for('clinvar.clinvar_germline_submissions', institute_id=institute._id) }}">
        <input type="text" class="form-control" name="clinvar_id_filter"
               placeholder="Enter ClinVar submission ID…"
               value="{{clinvar_id_filter if clinvar_id_filter}}"
               style="max-width: 250px;">
        <button class="btn btn-primary" type="submit">Search</button>
        <a href="{{ url_for('clinvar.clinvar_germline_submissions', institute_id=institute._id) }}" class="btn btn-secondary text-white">Show All</a>
      </form>
    </div>

  {% if submissions %}

    <div style="overflow-y: auto; height: 1000px;">
    {% for status in ['open', 'closed', 'submitted', 'deprecated'] %}
      {% for submission in submissions|sort(attribute='status') %}
        {% if submission.status==status %}
          {{ submission_panel(submission, institute, show_submit) }}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  {% else %}
  <p>No ClinVar submissions found. You can create one by choosing one or more pinned variants on a case page and clicking the button "Submit to ClinVar".</p>
  {% endif %}
</div>
{% endmacro %}

{% macro case_link(institute_id, case_name) %}
{% if "N/A" in case_name %}
  {{ case_name }}
{% else %}
  <a href="{{ url_for('cases.case', institute_id=institute_id, case_name=case_name) }}" target="_blank">{{case_name}}</a>
{% endif %}
{% endmacro %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ institute_actionbar(institute, "shared") }} <!-- This is the sidebar -->
  <div class="col">
    {{ submissions_macro(submissions) }}
  </div>
  </div> <!-- end of div id body-row -->
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">

  // Enable tooltips
  var tooltipTriggerList = Array.prototype.slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  )
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

</script>
{% endblock %}
