{% macro update_submission_status_form(institute, subm_obj) %}
<form id="updateStatus_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_update_submission', institute_id=institute._id, submission=subm_obj._id) }}" method="POST">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item">
        <a id="download_clinvar_json" href="{{ url_for('clinvar.clinvar_download', submission=subm_obj._id) }}" class="btn btn-primary btn-xs text-white" target="_blank" rel="noopener">
          Download submission json file
        </a>
      </li>
      {% if subm_obj.status=='open'%}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="closed" class="btn btn-warning btn-xs">Close submission</button></li>
      {% else %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="open" class="btn btn-primary btn-xs">Re-open submission</button></li>
      {% endif %}
      {% if subm_obj.status != 'submitted' %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="submitted" class="btn btn-success btn-xs">Mark as submitted</button></li>
      {% endif %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="delete" class="btn btn-danger btn-xs">Delete submission from Scout</button></li>
    </ol>
  </nav>
</form>
{% endmacro %}


{% macro hgvs_choices(tx_hgvs)%}
<!-- Transcripts & HGVS:(optional) -->
{{ tx_hgvs.label(class="fw-bold, text-dark") }}

<span class="text-danger" data-bs-toggle='tooltip' title="If you do not provide any HGVS expression, chromosome coordinates will be used to describe this variant instead (automatic). HGVS expressions were validated using VariantValidator"><strong>?</strong></span>
<span class="badge bg-primary float-end"><a class="text-white" href="https://variantvalidator.org/service/validate/" target="_blank" rel="noopener">VariantValidator</a></span>
<br><br>

<table style="width:100%; table-layout: auto; border-collapse: collapse;">
  <caption></caption>
  <tr><th></th></tr>
  {% for item_row in tx_hgvs | batch(3) %}
    <tr>
    {% for item in item_row %}
      {% set ns = namespace(label='', validated=false, mane_select=false, mane_plus_clinical=false) %}
      {% if "_validated_" in item.label.text %}
        {% set ns.validated = true %}
      {% endif %}
      {% if "_mane-select_" in item.label.text %}
        {% set ns.mane_select = true %}
      {% endif %}
      {% if "_mane-plus-clinical_" in item.label.text %}
         {% set ns.mane_plus_clinical = true %}
      {% endif %}

      {% set ns.label = item.label.text | replace("_validated_", "") | replace("_mane-select_", "")  %}

      <td style="width: 3%; text-align: right; vertical-align: baseline;">
        <input type="radio" name="tx_hgvs" value="{{ ns.label }}"
          {% if ns.mane_select %}checked{% endif %}>
      </td>

      <td style="width: 30%; text-align: left; ">
        <p class="text-dark"
        {% if ns.label|length > 50 %}
         data-bs-toggle="tooltip" title="{{ns.label}}">{{ ns.label|truncate(25,true,'..') }}
        {% else %}
          >{{ ns.label }}
        {% endif %}
        {% if ns.mane_select %}
          <span class='badge bg-dark'>MANE SELECT</span>
        {% endif %}
        {% if ns.mane_plus_clinical %}
          <span class='badge bg-dark'>MANE PLUS CLINICAL</span>
        {% endif %}
        {% if ns.validated %}
          <em class="fa fa-check text-success" aria-hidden="true" data-bs-toggle="tooltip" title="Verified by VariantValidator"></em>
        {% endif %}
        </p>
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endmacro %}

{% macro condition_identifiers(var_form) %}
<div class="row">
  <div class="col-6" id="clinvar_condition_container">
    {{ var_form.condition_type.label(class="fw-bold, text-dark")}}<span class="text-danger" data-bs-toggle='tooltip' title="Required field."><strong>*</strong></span>

    <select class="form-control, btn-secondary" name="condition_type" id="condition_type">
      {% for dbtype, _ in var_form.condition_type.choices %}
        <option value="{{dbtype}}">{{dbtype}}</option>
      {% endfor %}
    </select>

    <br><br>
    {{ var_form.conditions.label(class="fw-bold, text-dark")}} <span class="text-danger" data-bs-toggle='tooltip' title="Required field. Include data from ONE DATABASE TYPE ONLY (i.e. only OMIM terms, only HPO terms etc). If multiple conditions are submitted for a variant, this indicates that the variant was interpreted for the combination of conditions in the same individual(s).  i.e. this variant causes both condition A and condition B in the same individual. This scenario is most common for a new disease or syndrome that does not yet have a name and is described by several clinical features. If you want to indicate that the variant has been interpreted for more than one condition, please submit these as separate records."><strong>*?</strong></span>
    <select class="select2" id="condition_tags" name="conditions" multiple="true" style="width:100%;">
      {% if var_form.omim_terms.choices %}
        {% for term, _ in var_form.omim_terms.choices %}
          <option value="{{term}}" selected>{{term}}</option>
        {% endfor %}
      {% elif var_form.orpha_terms.choices %}
        {% for term, _ in var_form.orpha_terms.choices %}
          <option value="{{term}}" selected>{{term}}</option>
        {% endfor %}
      {% elif var_form.hpo_terms.choices %}
        {% for term, _ in var_form.hpo_terms.choices %}
          <option value="{{term}}" selected>{{term}}</option>
        {% endfor %}
      {% endif %}
    </select>

    <div class="mt-3">
      {{ var_form.multiple_condition_explanation.label(class="fw-bold, text-dark")}} <span class="text-danger" data-bs-toggle='tooltip' title="Required if you provide more than one condition ID."><strong>?</strong></span>
      <select name="multiple_condition_explanation" id="multiple_condition_explanation" class="form-control, btn-secondary">
        <option selected value>-</option>
        {% for choice, _ in var_form.multiple_condition_explanation.choices %}
          <option value="{{choice}}">{{choice}}</option>
        {% endfor %}
      </select>
    </div>


  </div>
  <div class="col-6">
    {{ var_form.omim_terms.label(class="fw-bold, text-dark" )}}<br>
    <ul class="list-group">
    {% for term in var_form.omim_terms %}
      <li class="list-group-item">{{ term.label }}</li>
    {% else %}
      <span class="text-dark">N/A</span>
    {% endfor %}
    </ul>
    <br><br>
    {{ var_form.orpha_terms.label(class="fw-bold, text-dark") }}<br>
    <ul class="list-group">
    {% for term in var_form.orpha_terms %}
      <li class="list-group-item">{{ term.label }}</li>
    {% else %}
      <span class="text-dark">N/A</span>
    {% endfor %}
    </ul>
    <br><br>
    {{ var_form.hpo_terms.label(class="fw-bold, text-dark" )}}<br>
    <ul class="list-group">
    {% for term in var_form.hpo_terms %}
      <li class="list-group-item">{{ term.label }}</li>
    {% else %}
    N/A
    </ul>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro observations(cdata_forms, var_type) %}
<ul class="list-group">
  {% for cdata in cdata_forms %}
    {{ cdata.linking_id() }} {# Hidden field #}
    <li class="list-group-item bg-white">
      <div class="row align-items-start">
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark d-block">{{ cdata.include_ind.label.text }}</label>
          <div class="form-check pt-1">
            {{ cdata.include_ind(class="form-check-input", id="include_ind_" ~ loop.index) }}
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.individual_id.label.text }}</label>
          {{ cdata.individual_id(class="form-control bg-white", readonly=true) }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.affected_status.label.text }}</label>
          {{ cdata.affected_status(class="form-select") }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.allele_of_origin.label.text }}</label>
          {{ cdata.allele_of_origin(class="form-select") }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.collection_method.label.text }}</label>
          {{ cdata.collection_method(class="form-select") }}
        </div>
      </div>

      {% if var_type == "cancer" %}
      <div class="row align-items-start">
        <div class="col-md-2 offset-md-6 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.somatic_allele_fraction.label.text }}</label>
          {{ cdata.somatic_allele_fraction(class="form-control") }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.somatic_allele_in_normal.label.text }}</label>
          {{ cdata.somatic_allele_in_normal(class="form-control") }}
        </div>
      </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endmacro %}
