{% macro render_dict_array(list_of_dicts) %}
  {% for item in list_of_dicts %}
    {% for key, value in item.items() %}
      {{key}} : {{value}}<br>
    {% endfor %}
  {% endfor %}
  {% if list_of_dicts|length > 1%}<br>{% endif %}
{% endmacro %}

{% macro update_submission_status_form(institute, subm_obj) %}
<form id="updateStatus_{{subm_obj._id}}" action="{{ url_for('clinvar.clinvar_update_submission', institute_id=institute._id, submission=subm_obj._id) }}" method="POST">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item" data-bs-toggle="tooltip" title="Functionality is disabled for deprecated submissions">
        <a
          id="download_clinvar_json"
          {% if subm_obj.type %}
            href="{{ url_for('clinvar.get_submission_as_json', submission=subm_obj._id, subm_type=subm_obj.type) }}"
            class="btn btn-primary btn-xs text-white"
            target="_blank"
            rel="noopener"
          {% else %}
            href="#"
            class="btn btn-primary btn-xs text-white disabled"
            tabindex="-1"
            aria-disabled="true"
          {% endif %}
        >
          View as json file
        </a>
      </li>
      {% if subm_obj.status=='open'%}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="closed" class="btn btn-warning btn-xs">Close submission</button></li>
      {% else %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="open" class="btn btn-primary btn-xs" {% if not subm_obj.type %}disabled{% endif %}>Re-open submission</button></li>
      {% endif %}
      {% if subm_obj.status != 'submitted' %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="submitted" class="btn btn-success btn-xs">Mark as submitted</button></li>
      {% elif not subm_obj.type %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="deprecated" class="btn btn-secondary btn-xs">Revert to deprecated</button></li>
      {% endif %}
        <li class="breadcrumb-item"><button type="submit" name="update_submission" value="delete" class="btn btn-danger btn-xs">Delete submission from Scout</button></li>
    </ol>
  </nav>
</form>
{% endmacro %}


{% macro hgvs_choices(tx_hgvs)%}
<!-- Transcripts & HGVS:(optional) -->
{{ tx_hgvs.label(class="fw-bold, text-dark") }}

<span class="text-danger" data-bs-toggle='tooltip' title="If you do not provide any HGVS expression, chromosome coordinates will be used to describe this variant instead (automatic). HGVS expressions were validated using VariantValidator"><strong>?</strong></span>
<span class="badge bg-primary float-end"><a class="text-white" href="https://variantvalidator.org/service/validate/" target="_blank" rel="noopener">VariantValidator</a></span>
<br><br>

<table style="width:100%; table-layout: auto; border-collapse: collapse;">
  <caption></caption>
  <tr><th></th></tr>
  {% for item_row in tx_hgvs | batch(3) %}
    <tr>
    {% for item in item_row %}
      {% set ns = namespace(label='', validated=false, mane_select=false, mane_plus_clinical=false) %}
      {% if "_validated_" in item.label.text %}
        {% set ns.validated = true %}
      {% endif %}
      {% if "_mane-select_" in item.label.text %}
        {% set ns.mane_select = true %}
      {% endif %}
      {% if "_mane-plus-clinical_" in item.label.text %}
         {% set ns.mane_plus_clinical = true %}
      {% endif %}

      {% set ns.label = item.label.text | replace("_validated_", "") | replace("_mane-select_", "")  %}

      <td style="width: 3%; text-align: right; vertical-align: baseline;">
        <input type="radio" name="tx_hgvs" value="{{ ns.label }}"
          {% if ns.mane_select %}checked{% endif %}>
      </td>

      <td style="width: 30%; text-align: left; ">
        <p class="text-dark"
        {% if ns.label|length > 50 %}
         data-bs-toggle="tooltip" title="{{ns.label}}">{{ ns.label|truncate(25,true,'..') }}
        {% else %}
          >{{ ns.label }}
        {% endif %}
        {% if ns.mane_select %}
          <span class='badge bg-dark'>MANE SELECT</span>
        {% endif %}
        {% if ns.mane_plus_clinical %}
          <span class='badge bg-dark'>MANE PLUS CLINICAL</span>
        {% endif %}
        {% if ns.validated %}
          <em class="fa fa-check text-success" aria-hidden="true" data-bs-toggle="tooltip" title="Verified by VariantValidator"></em>
        {% endif %}
        </p>
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endmacro %}

{% macro condition_identifiers(var_form) %}
<div class="row">
  <div class="col-6" id="clinvar_condition_container">
    {{ var_form.condition_type.label(class="fw-bold, text-dark")}}<span class="text-danger" data-bs-toggle='tooltip' title="Required field."><strong>*</strong></span>

    <select class="form-control, btn-secondary" name="condition_type" id="condition_type">
      {% for dbtype, _ in var_form.condition_type.choices %}
        <option value="{{dbtype}}">{{dbtype}}</option>
      {% endfor %}
    </select>

    <br><br>
    {{ var_form.conditions.label(class="fw-bold, text-dark")}} <span class="text-danger" data-bs-toggle='tooltip' title="Required field. Include data from ONE DATABASE TYPE ONLY (i.e. only OMIM terms, only HPO terms etc). If multiple conditions are submitted for a variant, this indicates that the variant was interpreted for the combination of conditions in the same individual(s).  i.e. this variant causes both condition A and condition B in the same individual. This scenario is most common for a new disease or syndrome that does not yet have a name and is described by several clinical features. If you want to indicate that the variant has been interpreted for more than one condition, please submit these as separate records."><strong>*?</strong></span>
    <select class="select2" id="condition_tags" name="conditions" multiple="true" style="width:100%;">
      {% if var_form.omim_terms.choices %}
        {% for term, _ in var_form.omim_terms.choices %}
          <option value="{{term}}" selected>{{term}}</option>
        {% endfor %}
      {% elif var_form.orpha_terms.choices %}
        {% for term, _ in var_form.orpha_terms.choices %}
          <option value="{{term}}" selected>{{term}}</option>
        {% endfor %}
      {% elif var_form.hpo_terms.choices %}
        {% for term, _ in var_form.hpo_terms.choices %}
          <option value="{{term}}" selected>{{term}}</option>
        {% endfor %}
      {% endif %}
    </select>

    <div class="mt-3">
      {{ var_form.multiple_condition_explanation.label(class="fw-bold, text-dark")}} <span class="text-danger" data-bs-toggle='tooltip' title="Required if you provide more than one condition ID."><strong>?</strong></span>
      <select name="multiple_condition_explanation" id="multiple_condition_explanation" class="form-control, btn-secondary">
        <option selected value>-</option>
        {% for choice, _ in var_form.multiple_condition_explanation.choices %}
          <option value="{{choice}}">{{choice}}</option>
        {% endfor %}
      </select>
    </div>


  </div>
  <div class="col-6">
    {{ var_form.omim_terms.label(class="fw-bold, text-dark" )}}<br>
    <ul class="list-group">
    {% for term in var_form.omim_terms %}
      <li class="list-group-item">{{ term.label }}</li>
    {% else %}
      <span class="text-dark">N/A</span>
    {% endfor %}
    </ul>
    <br><br>
    {{ var_form.orpha_terms.label(class="fw-bold, text-dark") }}<br>
    <ul class="list-group">
    {% for term in var_form.orpha_terms %}
      <li class="list-group-item">{{ term.label }}</li>
    {% else %}
      <span class="text-dark">N/A</span>
    {% endfor %}
    </ul>
    <br><br>
    {{ var_form.hpo_terms.label(class="fw-bold, text-dark" )}}<br>
    <ul class="list-group">
    {% for term in var_form.hpo_terms %}
      <li class="list-group-item">{{ term.label }}</li>
    {% else %}
    N/A
    </ul>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro observations(cdata_forms, var_type) %}
<ul class="list-group">
  {% for cdata in cdata_forms %}
    {{ cdata.linking_id() }} {# Hidden field #}
    <li class="list-group-item bg-white">
      <div class="row align-items-start">
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark d-block">{{ cdata.include_ind.label.text }}</label>
          <div class="form-check pt-1">
            {{ cdata.include_ind(class="form-check-input", id="include_ind_" ~ loop.index) }}
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.individual_id.label.text }}</label>
          {{ cdata.individual_id(class="form-control bg-white", readonly=true) }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.affected_status.label.text }}</label>
          {{ cdata.affected_status(class="form-select") }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.allele_of_origin.label.text }}</label>
          {{ cdata.allele_of_origin(class="form-select") }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.collection_method.label.text }}</label>
          {{ cdata.collection_method(class="form-select") }}
        </div>
      </div>

      {% if var_type == "cancer" %}
      <div class="row align-items-start">
        <div class="col-md-2 offset-md-6 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.somatic_allele_fraction.label.text }}</label>
          {{ cdata.somatic_allele_fraction(class="form-control") }}
        </div>
        <div class="col-md-2 mb-3">
          <label class="form-label fw-bold text-dark">{{ cdata.somatic_allele_in_normal.label.text }}</label>
          {{ cdata.somatic_allele_in_normal(class="form-control") }}
        </div>
      </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endmacro %}


{% macro variant_submission_table(subm_obj, subm_type) %}
<table class="table table-striped">
  <caption></caption>
  <thead>
    <tr>
      <th>Case</th>
      <th>Variant</th>
      <th>Classification</th>
      <th>Last evaluated</th>
      <th>Comment</th>
      <th>Citation</th>
      <th>Variant</th>
      <th>Associated conditions</th>
      <th>Observations</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for var in subm_obj.get(subm_type + 'Submission', []) %}
      <tr>
        <td>
          <a href="{{ url_for('cases.case', institute_id=var.institute_id, case_name=var.case_name) }}" target="_blank">
            {{ var.case_name }}
          </a>
        </td>
        <td>
          <a href="{{ url_for('variant.variant', institute_id=var.institute_id, case_name=var.case_name, variant_id=var.variant_id) }}" target="_blank">
            link
          </a>
        </td>

        {# Safe dictionary access #}
        {% set cls = var.get(subm_type + 'Classification', {}) %}
        {% set desc = cls.get(subm_type + 'ClassificationDescription', '') %}

        <td>{{ desc }}</td>
        <td>{{ cls.get('dateLastEvaluated', '') }}</td>
        <td>{{ cls.get('comment', '') }}</td>
        <td>{{ render_dict_array(cls.get('citation', [])) }}</td>

        <td>{{ render_dict_array(var.get('variantSet', {}).get('variant', [])) }}</td>
        <td>{{ render_dict_array(var.get('conditionSet', {}).get('condition', [])) }}</td>
        <td>{{ render_dict_array(var.get('observedIn', [])) }}</td>

        <td>
          <form id="delete_var_item_{{ subm_obj._id }}_{{ var.variant_id }}"
                action="{{ url_for('clinvar.clinvar_delete_variant', submission_id=subm_obj._id, submission_type=subm_type) }}"
                method="POST">
            <button type="submit" name="delete_object" value="{{ var.variant_id }}" class="btn btn-danger btn-xs">
              <span class="fa fa-trash" aria-hidden="true"></span>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro deprecated_submission_table(subm_obj) %}
<table class="table table-striped">
  <caption></caption>
  <thead>
    <tr>
      <th></th>
      <th>Variant</th>
      <th></th>
      <th>Type</th>
      <th>Case</th>
      <th>Refseq</th>
      <th>Gene</th>
      <th>HGVS</th>
      <th>Classification</th>
      <th>Added by</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% set var_key_name = {} %}

    {% for subm_variant in subm_obj.variant_data  %} <!-- loop over the submitted variants-->
      {% set case_name = subm_obj.cases[subm_variant.case_id] %}
      <tr>
        <td>{{loop.index}}</td>
          {% if subm_variant.category == 'sv' or subm_variant.breakpoint1 %}
            {% do var_key_name.update( {subm_variant.local_id : '_'.join([subm_variant.var_type, subm_variant.chromosome, subm_variant.breakpoint1 or subm_variant.outer_start or ""]) }) %}
            <td>
              {% if "N/A" not in case_name %}
                <a href="{{ url_for('variant.sv_variant', institute_id=institute._id, case_name=case_name, variant_id=subm_variant.local_id) }}" target="_blank" rel="noopener"><strong>{{var_key_name[subm_variant.local_id]|truncate(25,true,'..')}}</strong></a>
              {% else %}
                {{ var_key_name[subm_variant.local_id]|truncate(25,true,'..') }} (N/A)
              {% endif %}
            </td>
            <td><button id="{{subm_variant._id}}" type="button" class="btn btn-primary btn-xs var_btn"><span class="fa fa-search-plus" aria-hidden="true"></span></button></td>
            <td><div class="badge bg-warning">SV</div></td>
          {% else %} <!-- SNV -->
            {% if subm_variant.ref_seq and subm_variant.hgvs %}
              {% do var_key_name.update( {subm_variant.local_id : '_'.join([subm_variant.ref_seq, subm_variant.hgvs])} ) %}
            {% else %}
              {% do var_key_name.update({subm_variant.local_id : '_'.join([subm_variant.chromosome, subm_variant.start, subm_variant.ref[0:5], subm_variant.alt[0:5]]) }) %}
            {% endif %}
            <td>
              {% if "N/A" not in case_name %}
                <a href="{{ url_for('variant.variant', institute_id=institute._id, case_name=case_name, variant_id=subm_variant.local_id) }}" target="_blank" rel="noopener"><strong>{{var_key_name[subm_variant.local_id]|truncate(25,true,'..')}}</strong></a>
              {% else %}
                {{ var_key_name[subm_variant.local_id]|truncate(25,true,'..') }} (N/A)
              {% endif %}
            </td>
            <td><button id="{{subm_variant._id}}" type="button" class="btn btn-primary btn-xs var_btn"><span class="fa fa-search-plus" aria-hidden="true"></span></button></td>
            <td><div class="badge bg-success">SNV</div></td>
          {% endif %}
        </td>
        <td>{{ case_link(institute_id=institute._id, case_name=case_name) }}</td>
        <td>{{subm_variant.ref_seq or '-'}}</td>
        <td>{{subm_variant.gene_symbol or '-'}}</td>
        <td>{{subm_variant.hgvs|truncate(100,true,'..') or '-'}}</td>
        <td>{{subm_variant.clinsig}}</td>
        <td>{{subm_variant.added_by or "N/A"}}</td>
        <td>
          <form id="delete_variant_{{subm_variant._id}}" action="{{ url_for('clinvar.clinvar_delete_object', submission=subm_obj._id, object_type='variant_data') }}" method="POST">
            <button type="submit" name="delete_object" value="{{subm_variant._id}}" class="btn btn-danger btn-xs"><span class="fa fa-trash" aria-hidden="true"></span></button>
          </form>
        </td>
      </tr>
      <tr>
        <td colspan=11>
          <div class="vardata">
            <div id="vardiv{{subm_variant._id}}" class="panel-body" style="display:none;">
                <ul class="list-group">
                {% for key, value in variant_header_fields.items() %}
                  {% if subm_variant[key]%}
                    <li class="list-group-item">{{ value }}: <strong>{{ subm_variant[key]}}</strong></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% if subm_obj.case_data and subm_obj.case_data | length > 0 %}
<table class="table table-striped">
  <caption></caption>
  <thead>
    <tr>
      <th></th>
      <th>Individual</th>
      <th></th>
      <th>Case</th>
      <th>Variant</th>
      <th>Allele origin</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for case in subm_obj.case_data %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{case.individual_id}}</td>
        <td><button id="{{case._id}}" type="button" class="btn btn-primary btn-xs cd_btn"><span class="fa fa-search-plus" aria-hidden="true"></span></button></td>
        <td>{{ case_link(institute_id=institute._id, case_name=subm_obj.cases[case.case_id]) }}</td>
        <td>{{var_key_name[case.linking_id]|truncate(100,true,'..')}}</td>
        <td>{{case.allele_origin}}</td>
        <td>
          <form id="delete_casedata_{{case._id}}" action="{{ url_for('clinvar.clinvar_delete_object', submission=subm_obj._id, object_type='case_data') }}" method="POST">
            <button type="submit" name="delete_object" value="{{case._id}}" class="btn btn-danger btn-xs"><span class="fa fa-trash" aria-hidden="true"></span></button>
          </form>
        </td>
      </tr>
      <tr>
        <td colspan=8>
          <div id="cddiv{{case._id}}" class="panel-body" style="display:none;">
            <ul class="list-group">
            {% for key, value in casedata_header_fields.items() %}
              {% if case[key]%}
                <li class="list-group-item">{{ value }}: <strong>{{ case[key] }}</strong></li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No case data provided for the above variants</p>
{% endif %}
{% endmacro %}


{% macro action_modal(action_type, institute, subm_id) %}
<div class="modal fade" id="{{action_type}}Modal_{{subm_id}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submission {{action_type}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="apiKey">Submitter's <a href="https://www.ncbi.nlm.nih.gov/clinvar/docs/api_http/" target="_blank" rel="noopener">API key</a></label>
        <input type="password" class="form-control" name="apiKey" id="apiKey" placeholder="64 alphanumeric characters" value="{{institute.clinvar_key or ''}}" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="{{action_type}}" value="{{action_type}}" class="btn btn-primary">Submission {{action_type}} enquiry</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


{% macro submit_modal(institute) %}
<div class="modal fade" id="submitModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ClinVar API submission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="apiKey">Submitter's <a href="https://www.ncbi.nlm.nih.gov/clinvar/docs/api_http/" target="_blank" rel="noopener">API key</a></label>
        <input type="password" class="form-control" name="apiKey" id="apiKey" placeholder="64 alphanumeric characters" value="{{institute.clinvar_key or ''}}" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="update_submission" value="submit" class="btn btn-primary">Submit variants</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
