{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
      <header class="jumbotron">
        <h1>Scout</h1>
        <p>Analyze VCFs quicker and easier</p>
        <p>
          Scout allows you to browse VCFs in a web browser, identify
          compound pairs, and solve cases as a team.
        </p>

        <p><small>Version <strong>{{ version }}</strong></small></p>

        <p>
          {% if config.LOGIN_DISABLED %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('core.institutes') }}" class="landing-header-login">Go to scout</a>
          {% else %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('login.signin') }}" class="landing-header-login">Sign in</a>
          {% endif %}
        </p>
      </header>
      <main>
        <img width="250" src="{{ url_for('frontend.static', filename='logo-scilifelab.png') }}">
        <img class="pull-right" width="250" src="{{ url_for('frontend.static', filename='logo-karolinska.png') }}">
      </main>
    </div>
	</div>
{% endblock %}
