{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
      <header class="jumbotron">
        <h1>Scout</h1>
        <p>Analyze VCFs quicker and easier</p>
        <p>
          Scout allows you to browse VCFs in a web browser, identify
          compound pairs, and solve cases as a team.
        </p>

        <p><small>Version <strong>{{ version }}</strong></small></p>

        {% if current_user.is_authenticated %}
          <p>Welcome <strong>{{ current_user.name }}</strong></p>
          <p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('core.institutes') }}">Go to Scout</a>
          </p>
        {% else %}
          <p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('login.signin') }}">Sign in</a>
          </p>
        {% endif %}
      </header>
      <main>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <img class="img-responsive center-block" width="250" src="{{ url_for('frontend.static', filename='logo-scilifelab.png') }}">
          </div>
          <div class="col-xs-12 col-sm-6">
            <img class="img-responsive center-block" width="250" src="{{ url_for('frontend.static', filename='logo-karolinska.png') }}">
          </div>
        </div>
      </main>
    </div>
	</div>
{% endblock %}
