{% extends "genes/layout.html" %}

{% block title %}
  {{ super() }} - Genes
{% endblock %}

{% block top_nav %}
  <li class="nav-item active">
    <span class="navbar-text">Genes</span>
  </li>
{% endblock %}

{% block content_main %}
  {{ super() }}

<div class="container-float">
    <div class="card panel-default w-100 mt-3 justify-content-center">
        <div class="panel-heading">Genes</div>
        <table class="table table-bordered">
          <thead>
            <th>Gene symbol</th>
            <th>HGNC ID</th>
          </thead>
          <tbody>
          {% for gene in genes %}
            <tr>
              <td><a href="{{ url_for('genes.gene', hgnc_symbol=gene.hgnc_id) }}">{{ gene.hgnc_symbol }}</a></td>
              <td>{{ gene.hgnc_id }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
