{% extends "genes/layout.html" %}

{% block title %}
  {{ super() }} - Genes - {{ symbol }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('genes.genes') }}">Genes</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">{{ symbol }}</span>
  </li>
{% endblock %}

{% block content_main %}
  {{ super() }}

  {# ROW 0 #}
  <div class="row">
    <div class="col-md-12">
      <typeahead url="/api/v1/genes" v-on:send="visitGene" bootstrap="yes"></typeahead>
    </div>
  </div>

  <h1>
    {{ symbol }} <small>{{ record.ensembl_id }}</small>
  </h1>
  <p class="lead">{{ description }}</p>

  <div class="panel panel-default">
    <div class="panel-heading">Common Gene info</div>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                  <li class="list-group-item">
                    Aliases
                    <span class="float-end">{{ aliases|join(', ') }}</span>
                  </li>
                  <li class="list-group-item">
                    HGNC ID
                    <span class="float-end">
                      <a target="_blank" href={{ record.hgnc_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ hgnc_id }}</a>
                    </span>
                  </li>
                  <li class="list-group-item">
                    HGNC symbol
                    <span class="float-end">{{ symbol }}</span>
                  </li>
                  <li class="list-group-item">
                    Description
                    <span class="float-end">{{ description }}</span>
                  </li>
                  <li class="list-group-item">
                    Incomplete penetrance (HPO)
                    <span class="float-end">
                      {{ 'yes' if incomplete_penetrance else 'unknown' }}
                    </span>
                  </li>

                  <li class="list-group-item">
                    Inheritance models
                    <span class="float-end">
                      {{ inheritance_models|join(', ') or '-' }}
                    </span>
                  </li>
                </ul>
            </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Links</div>
                <ul class="list-group">
                  <li class="list-group-item">
                    OMIM
                    <span class="float-end">
                      <a target="_blank" href={{ record.omim_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ omim_id }}</a>
                    </span>
                  </li>
                  <li class="list-group-item">
                    Entrez
                    <span class="float-end">
                      <a target="_blank" href={{ record.entrez_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ entrez_id }}</a>
                    </span>
                  </li>
                  {% if pli_score %}
                  <li class="list-group-item">
                    pLi Score (<a href={{ record.gnomad_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank">GnomAD</a>)
                    <span class="float-end">
                      <a target="_blank" href={{ record.exac_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ pli_score|round(2) }}</a>
                    </span>
                  </li>
                  {% endif %}
                  {% if constraint_lof_oe %}
                  <li class="list-group-item">
                    LoF o/e (<a href={{ record.gnomad_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank">GnomAD</a>)
                    <span class="float-end">
                      {{ constraint_lof_oe|round(2) }}({{ constraint_lof_oe_ci_lower|round(2) }} - <mark><span data-bs-toggle="tooltip" title="LOEUF {{ constraint_lof_oe_ci_upper}}">{{ constraint_lof_oe_ci_upper|round(2) }}</span></mark>)
                    </span>
                  </li>
                {% endif %}
                {% if constraint_mis_z %}
                  <li class="list-group-item">
                    Missense Z (<a href={{ record.gnomad_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank">GnomAD</a>)
                    <span class="float-end">
                      {{ constraint_mis_z|round(2) }}
                    </span>
                  </li>
                {% endif %}
                  {% if constraint_mis_oe %}
                  <li class="list-group-item">
                    Missense o/e (<a href={{ record.gnomad_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank">GnomAD</a>)
                    <span class="float-end">
                      {{ constraint_mis_oe|round(2) }}({{ constraint_mis_oe_ci_lower|round(2) }} - {{ constraint_mis_oe_ci_upper|round(2) }})
                    </span>
                  </li>
                {% endif %}
                  <li class="list-group-item">
                    Protein Paint
                    <span class="float-end">
                      <a target="_blank" href={{ record.ppaint_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ symbol }}</a>
                    </span>
                  </li>
                </ul>
              </div>
        </div>

        {% if record.disease_terms %}
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Diagnoses</div>
            {% for disease in record.disease_terms %}
                <li class="list-group-item d-flex justify-content-between">
                  {{ disease.description }}
                  {% if disease.disease_link %}
                    <span >
                      <a target="_blank" href={{ disease.disease_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ disease.disease_id }}</a>
                    </span>
                  {% else %}
                    <span class="float-end">
                      {{ disease.disease_id }}
                    </span>
                  {% endif %}
                </li>
            {% endfor %}
            </div>
        </div>
        {% endif %}

        </div>
</div>


  {% for build, gene in builds.items() %}
  	<div class="panel panel-default">
      <div class="panel-heading">GRCh{{ build }}</div>
	  <div class="panel-body">
	  	{% if gene %}
		  <div class="row">
		    <div class="col-md-6">{{ overview(gene) }}</div>
		    <div class="col-md-6">{{ transcripts(gene) }}</div>
		  </div>
		{% else %}
	      <div>No info for build GRCh{{ build }}.</div>
		{% endif %}
	  </div>
  	</div>
  {% endfor %}
{% endblock %}

{% macro overview(gene) %}
  <ul class="list-group">
    <li class="list-group-item">
      Ensembl ID
      <span class="float-end">
        {%if gene.build == '37'%}
            <a target="_blank" href={{ gene.ensembl_37_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.ensembl_id }}</a>
        {% else %}
            <a target="_blank" href={{ gene.ensembl_38_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.ensembl_id }}</a>
        {% endif %}
      </span>
    </li>
    <li class="list-group-item">
      Chromosome
      <span class="float-end">{{ gene.chromosome }}</span>
    </li>
    <li class="list-group-item">
      Position
      <span class="float-end">{{ gene.position }}</span>
    </li>
    <li class="list-group-item">
      Expression Atlas
      <span class="float-end">
        <a target="_blank" href={{ gene.expression_atlas_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.ensembl_id }}</a>
      </span>
    </li>
    <li class="list-group-item">
      Human Protein Atlas
      <span class="float-end">
        <a target="_blank" href={{ gene.hpa_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.ensembl_id }}</a>
      </span>
    </li>
    <li class="list-group-item">
      Reactome
      <span class="float-end">
        <a target="_blank" href={{ gene.reactome_link }}referrerpolicy="no-referrer" rel="noopener"  target="_blank"> {{ gene.ensembl_id }}</a>
      </span>
    </li>
    <li class="list-group-item">
      ClinGen
      <span class="float-end">
        <a target="_blank" href={{ gene.clingen_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.hgnc_id }}</a>
      </span>
    </li>
  <li class="list-group-item">
      GenCC
      <span class="float-end">
        <a target="_blank" href={{ gene.gencc_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.hgnc_id }}</a>
      </span>
    </li>
    <li class="list-group-item">
      String
      <span class="float-end">
        <a target="_blank" href={{ gene.string_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.ensembl_id }}</a>
      </span>
    </li>
    <li class="list-group-item">
      GENEMANIA
      <span class="float-end">
        <a target="_blank" href={{ gene.genemania_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.hgnc_symbol }}</a>
      </span>
    </li>
    <li class="list-group-item">
      Vega Database
      <span class="float-end">
        <a target="_blank" href={{ gene.vega_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.vega_id }}</a>
      </span>
    </li>
    <li class="list-group-item">
      UCSC gene browser ({{ gene.build }})
      <span class="float-end">
        <a target="_blank" href={{ gene.ucsc_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ gene.ucsc_id }}</a>
      </span>
    </li>
  </ul>
{% endmacro %}

{% macro transcripts(gene) %}
  <div class="panel panel-default">
    <div class="panel-heading">Transcripts</div>
    <ul class="list-group list-scroll">
      {% for transcript in gene.transcripts %}
        <li class="list-group-item {{ 'list-group-item-info' if transcript.is_primary }}">
            <a target="_blank" href={{ transcript.ensembl_link }} referrerpolicy="no-referrer" rel="noopener" target="_blank"> {{ transcript.ensembl_transcript_id }}</a>
            /  {{ transcript.refseq_identifiers|join(', ') or '-' }}
            {% if transcript.is_primary %}<small>(primary)</small>{% endif %}
            {% if transcript.mane_select %} <span class="badge badge-sm bg-dark">MANE Select</span> {% endif %}
            {% if transcript.mane_plus_clinical %} <span class="badge badge-sm bg-dark">MANE Plus Clinical </span> {% endif %}
		  <span class="float-end">{{ transcript['position'] }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
