{% extends "genes/layout.html" %}

{% block title %}
  {{ super() }} - Genes
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Genes</span>
  </li>
{% endblock %}

{% block content_main %}
  {{ super() }}

  <div class="container-float">
    <div class="card panel-default w-100 mt-3 justify-content-center">
        <div class="panel-heading">Genes
          <span style="float:right;"> {{nr_genes[0]}} GRCh37 genes | {{nr_genes[1]}} GRCh38 genes | Last updated  {{last_updated.strftime('%d-%m-%Y %H:%M:%S')}}</span>
        </div>
        <table class="table table-bordered">
          <thead class="table-light thead">
            <th>Gene symbol</th>
            <th>HGNC ID</th>
          </thead>
          <tbody>
          {% for gene in genes %}
            <tr>
              <td><a href="{{ url_for('genes.gene', hgnc_symbol=gene.hgnc_id) }}">{{ gene.hgnc_symbol }}</a></td>
              <td>{{ gene.hgnc_id }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

{% endblock %}
