{% extends "layout.html" %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
{% endblock %}

{% block content_main %}
  <div class="container-float">
    <div class="card mt-3">
      <div class="card-body">
        <form action="{{ url_for('genes.genes') }}">
          <div class="row">
            <div class="col-7">
               <div class="input-group">
                <label class="input-group-text" for="query">Search for genes</label>
                <input name="query" class="typeahead form-control" data-provide="typeahead" autocomplete="off" placeholder="Search...">
                <button class="btn btn-secondary form-control">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

  <script>
    $(function () {
      function getTerms(query, process) {
        $.get("{{ url_for('genes.api_genes') }}", {query: query}, function(data) {
          process(data)
        });
      }

      $(".typeahead").typeahead({
        source: getTerms,
        minLength: 2,
      });
    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

  </script>
{% endblock %}
