//
// Scout Variables
//

// The default font-size is set to 100% of the browser style sheet
// (usually 16px) for compatibility with browser-based text zoom or
// user-set defaults.
$base-font-size: 100% !default;
$base-font-size-px: 16;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5 !default;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// We use these to control various global styles
$body-bg: #fff !default;
$body-fg: #eee !default;
$body-font-color: #222 !default;
$body-font-family: Roboto, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;

// We use this to control font-smoothing
$font-smoothing: antialiased !default;

// Application Colors
$primary-color: #00bcd4 !default;
$primary-color-lighter: #b2ebf2 !default;
$primary-color-lightest: #e0f7fa !default;

$secondary-color: #0097a7 !default;
$alert-color: #F04124 !default;
$info-color: #A0D3E8 !default;
$success-color: #43AC6A !default;
$warning-color: #F08A24 !default;
$dark-color: #708090 !default;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 3px !default;
$global-rounded: 1000px !default;

// We use this for default spacing
$global-spacing: rem-calc(15);

// Google Material Design "Swift Out" Easing
// Ref: [jamesdelaneyie](http://codepen.io/jamesdelaneyie/pen/yidkA)
$global-timing-function: cubic-bezier(.55, 0, .1, 1);



//
// Global Defaults
//

// Must be 100% for off canvas to work
html, body {
	font-size: $base-font-size;
	height: 100%;
	width: 100%;
	overflow: auto;
  -webkit-font-smoothing: antialiased;
}

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Default body styles
body {
  background: $body-bg;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  line-height: 1; // Set to $base-line-height to take on browser default of 150%
  position: relative;
}

// Grid Defaults to get images and embeds to work properly
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

// Miscellaneous useful HTML classes
// .left   { float: left !important; }
// .right  { float: right !important; }
.hide         { display: none; }

// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers and Firefox 25 (and later) on the Mac.
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;
}

//
// Global resets for forms
// Move these to _forms.scss

// Make sure textarea takes on height automatically
textarea { height: auto; min-height: 50px; }

// Make select elements 100% width by default
select { width: 100%; }
