// Scout Global Styles

// Make sure the charset is set appropriately
@charset "utf-8";

// Libraries
@import "bourbon";
@import "vendor/normalize";
@import "mixins";

// Global Styles
@import "global";

// Components
@import "components/landing";
@import "components/cases";
@import "components/case";
@import "components/variants";

// Resets
input {
	background-color: inherit;
	border: none;
	outline: 0;
	padding: 0;
	color: inherit;
	-webkit-appearance: none;
}

// Specific styles
div.toolbar-bottom {
	flex: 1;
	margin-right: 60px;
}

core-toolbar {
  background: $primary-color;
  color: #fff;

  a {
  	color: #fff;
  	text-decoration: none;
  }
}
