// Scout Global Styles

// Make sure the charset is set appropriately
@charset "utf-8";

// Libraries
@import "vendor/normalize";
@import "mixins";

// Global Styles
@import "global";

// Resets
#app {
	height: inherit;
	width: inherit;
}

input {
	background-color: inherit;
	border: none;
	outline: 0;
	padding: 0;
	color: inherit;
	-webkit-appearance: none;
}

.text-right {
	text-align: right;
}

h3 {
	color: rgba(#000, .6);
}

.flex {
	flex: 1;
}

core-icon {
	display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  position: relative;
  height: 24px;
  width: 24px;

  fill: currentcolor;
  stroke: currentcolor;
  stroke-width: 0;
}

.header-panel {
	height: inherit;

	display: flex;
	flex-direction: column;

	// default styles
	background-color: $body-fg;
}

.header-panel-toolbar {
	flex-basis: 4rem;

	// default styles
	background: $primary-color;
  color: #fff;
}

.header-panel-toolbar--tall {
	@extend .header-panel-toolbar;

	flex-basis: 12rem;
}

.header-panel-toolbar-main {
	flex: 1;
}

%header-toolbar-row {
	display: flex;
	align-items: center;

	height: 4rem;

	&.is-indented {
		margin-left: 60px;
	}
}

.header-toolbar-top {
	@extend %header-toolbar-row;
}

.header-toolbar-middle {
	@extend %header-toolbar-row;
}

.header-toolbar-bottom {
	@extend %header-toolbar-row;
}

// Specific styles
.toolbar-top {
	width: 100%;
}

div.toolbar-bottom {
	flex: 1;
	margin-right: 60px;
}

.button-base {
	// reset
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;

	padding: .8em 1em;

	// styles
	background-color: $primary-color;
	color: #fff;
	border-radius: 3px;

	&:hover {
		background-color: darken($primary-color, 2%);
	}

	&:active {
		background-color: darken($primary-color, 1%);
	}

	> .core-item {
		padding: 0;
	}
}

.icon-button {
	padding: 1em;
	transition: background-color 50ms;
	border-radius: 100%;
	cursor: pointer;

	&:active {
		background-color: rgba(#fff, .2);
	}
}

.is-raised {
	transition: box-shadow .15s;
	// z=1
	box-shadow: 0 2px 5px 0 rgba(#000, .26), 0 2px 10px 0 rgba(#000, .16);

	&:active {
		// z=2
		box-shadow: 0 8px 17px 0 rgba(#000, .2), 0 6px 20px 0 rgba(#000, .19);
	}
}

.breadcrumb-button {
	@extend .button-base;

	font-size: .9em;
	background-color: rgba(#000, .05);
}

core-toolbar {
  a {
  	color: #fff;
  	text-decoration: none;
  }
}

.button-menu {
	width: 24px;
	height: 24px;
	background-color: #fff;
	margin: 1em;
}

.core-item {
	display: flex;
	align-items: center;
	padding: .5em;
}

.core-item-icon {
	margin-right: .7em;
}

.core-item-label {
	// reset
	text-decoration: none;

	margin-right: 1em;
}

.hidden-submit {
	// hide submit button replaced with polymer button
	display: none;
}

.menu-button {
	display: none;
}

.drawer-panel-aside {
	> .core-item {
		padding: .8em;
		border-bottom: 1px solid rgba(#000, .1);

		&:hover {
			background-color: rgba($primary-color, .05);
		}
	}
}

core-drawer-panel[narrow] .menu-button {
	display: inline-block;
}

// Components
@import "components/drawer-panel";

@import "components/landing";
@import "components/cases";
@import "components/case";
@import "components/variants";
@import "components/variant";
