{% extends "layout_bs4.html" %}

{% block css %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('public.static', filename='external/jquery.dataTables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('public.static', filename='external/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('public.static', filename='external/buttons.dataTables.min.css') }}">
{% endblock %}

{% block top_nav %}
  <li class="nav-item active">
    <span class="navbar-text">HPO terms</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="container-float">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">HPO terms</div>
        <div class="card-body">
          {% if phenotypes|length == 0 %}
            The search didn't return any phenotype term
          {% else %}
            <table id="phenotypes_table" class="table table-sm">
                <thead>
                  <th>HPO term</th>
                  <th>Phenotype description</th>
                  <th>Number of associated genes</th>
                </thead>
                {% for pheno in phenotypes %}
                <tr>
                  <td><a href="http://hpo.jax.org/app/browse/term/{{pheno.hpo_id}}" target="_blank">{{ pheno.hpo_id }}</a></td>
                  <td>{{ pheno.description }}</td>
                  <td>{{pheno.genes|length}}</td>
                </tr>
                {% endfor %}
              </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('public.static', filename='external/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('public.static', filename='external/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('public.static', filename='external/jszip.min.js') }}"></script>
<script src="{{ url_for('public.static', filename='external/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('public.static', filename='external/buttons.bootstrap4.min.js') }}"></script>
<script>
  $(document).ready(function() {
    $('#phenotypes_table').DataTable( {
        paging: false,
        dom: 'fBrtip',
        buttons: [
          {
            extend: 'excelHtml5',
            title: 'scout_phenotypes'
          },
          'copyHtml5'
        ]
    } );
} );
</script>
{% endblock %}
