{% macro action_bar(institute, case, sample_map, collaborators) %}
  <ul class="nav nav-sidebar">
    <li class="nav-sidebar-heading">
      Case
      <h4>{{ case.display_name }}</h4>
    </li>
    <li>{{ analysis_type(case) }}</li>
    <li>{{ status(institute, case) }}</li>
    <li>{{ assign(institute, case) }}</li>
    {% if not (case.is_archived or case.is_research) %}
      <li>{{ research(case) }}</li>
    {% endif %}
    <li>{{ rerun(case) }}</li>
    <li>{{ coverage_report(institute, case, sample_map) }}</li>
    <li>{{ rank_model(case) }}</li>
    <li>{{ share_case(institute, case, collaborators) }}</li>
  </ul>
{% endmacro %}

{% macro analysis_type(case) %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-th-large"></span>
      Analysis type
    </h5>
    {{ case.analysis_type|upper }}
  </div>
{% endmacro %}

{% macro status(institute, case) %}
  <form method="POST"
        action="{{ url_for('api.case_status', institute_id=institute.id, case_id=case.display_name) }}">

    <div class="nav-sidebar-item">
      <h5>
        <span class="glyphicon glyphicon-{{ 'star' if case.status == 'prioritized' else 'star-empty' }}"></span>
        Status: {{ case.status|capitalize }}
      </h5>

      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          {% if case.status != 'archived' %}
            <button type="submit" class="btn btn-warning btn-sm" name="status" value="archived" onclick="return confirm('Are you sure? This will disable the alignment view and delete analysis files. You will have to request a FULL rerun to continue evaluating e.g. research variants.')">
              Archive
            </button>
          {% else %}
            <button type="submit" class="btn btn-default btn-sm" name="status" value="active">
              Unarchive
            </button>
          {% endif %}
        </div>
        <div class="btn-group">
          <button name="status" value="{{ 'active' if case.status == 'prioritized' else 'prioritized' }}" type="submit" class="btn btn-default btn-sm">
            {{ 'De-prioritize' if case.status == 'prioritized' else 'Prioritize' }}
          </button>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro assign(institute, case) %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-user"></span>
      Assignee
    </h5>
    {% if case.assignee %}
      <form method="POST"
            action="{{ url_for('core.remove_assignee',
                               institute_id=institute.id,
                               case_id=case.display_name) }}">
        <button type="submit" class="btn btn-default form-control">
          <span class="glyphicon glyphicon-remove"></span>
          {{ case.assignee.name }}
        </button>
      </form>
    {% else %}
      <form method="POST"
            action="{{ url_for('core.assign_self',
                               institute_id=institute.id,
                               case_id=case.display_name) }}"
            title="You adopt a case to show that you assume responsibility for it. Your name will show up in relation to the case for all team members to see.">
        <button type="submit" class="btn btn-default form-control">
          Assign yourself
        </button>
      </form>
    {% endif %}
  </div>
{% endmacro %}

{% macro research(case) %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-education"></span>
      Research list
    </h5>
    {% if case.research_requested %}
      <i>Research pending</i>
    {% else %}
      <button type="button" class="btn btn-default form-control" data-toggle="modal" data-target="#research-modal">Request research</button>
    {% endif %}
  </div>
{% endmacro %}

{% macro research_modal(institute, case) %}
  <form action="{{ url_for('core.open_research',
                              institute_id=institute.internal_id,
                              case_id=case.display_name) }}" method="POST">
    <div class="modal fade" id="research-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Request research list</h4>
          </div>
          <div class="modal-body">
            <p>Please confirm that you want to have the list of research variants opened.</p>
            <p>You also confirm that you have the relevant consent signed.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro rerun(case) %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-retweet"></span>
      Reruns
    </h5>
    {% if case.rerun_requested %}
      <i>Rerun pending</i>
    {% else %}
      <button type="button" class="btn btn-default form-control" data-toggle="modal" data-target="#rerun-modal">Request rerun</button>
    {% endif %}
  </div>
{% endmacro %}

{% macro rerun_modal(institute, case) %}
  <form action="{{ url_for('core.request_rerun',
                              institute_id=institute.internal_id,
                              case_id=case.display_name) }}" method="POST">
    <div class="modal fade" id="rerun-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Request research list</h4>
          </div>
          <div class="modal-body">
            <p>Please confirm that you want to have the case rerun and the current variants replaced with updated information.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro coverage_report(institute, case, sample_map) %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-ok-sign"></span>
      Coverage report
    </h5>
    <form method="POST" action="{{ url_for('report.group', group_id=case.owner_case_id) }}" target="_blank">
      <input type="hidden" name="level" value="{{ institute.coverage_cutoff }}"></input>
      <input type="hidden" name="panel_name" value="{{ panel_names|join(', ') }}"></input>
      <input type="hidden" name="gene_ids" value="{{ case.default_genes()|join(',') }}"></input>
      {% for sample_id, display_name in sample_map.items() %}
        <input type="hidden" name="{{ sample_id }}" value="{{ display_name }}"></input>
      {% endfor %}

      <div type="submit" class="btn btn-default form-control">View report</div>
    </form>
  </div>
{% endmacro %}

{% macro rank_model(case) %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-barcode"></span>
      Rank model
    </h5>
    Version {{ case.rank_model_version }}
  </div>
{% endmacro %}

{% macro share_case(institute, case, collaborators) %}
  {% if case.owner == institute.id %}
  <div class="nav-sidebar-item">
    <h5>
      <span class="glyphicon glyphicon-cog"></span>
      Share case
    </h5>
    {% if collaborators %}
      <div class="form-group">
        <form action="{{ url_for('core.share_case', institute_id=institute.id, case_id=case.display_name) }}" method="POST">
          <div class="input-group">
            <select class="form-control" name="collaborator">
              <option>Select institute</option>
              {% for collab_id in collaborators %}
                <option value="{{ collab_id }}">{{ collab_id }}</option>
              {% endfor %}
            </select>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default">Share</button>
            </div>
          </div>
        </form>
      </div>
    {% endif %}
    {% if case.o_collaborators %}
      <form method="POST" action="{{ url_for('core.share_case', institute_id=institute.id, case_id=case.display_name) }}">
        <input type="hidden" name="revoke" />
        <div class="input-group">
          <select class="form-control" name="collaborator">
            <option>Select institute</option>
            {% for collab_id in case.o_collaborators %}
              <option value="{{ collab_id }}">{{ collab_id }}</option>
            {% endfor %}
          </select>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">Revoke</button>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
  {% endif %}
{% endmacro %}
