{% macro action_bar(institute, case, archive_data, sample_map, collaborators) %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-2">{{ analysis_type(case) }}</div>
        <div class="col-xs-2">{{ prioritize(institute, case) }}</div>
        <div class="col-xs-2">{{ assign(institute, case) }}</div>
        <div class="col-xs-2">{{ status(institute, case) }}</div>
        {% if not (case.is_archived or case.is_research) %}
          <div class="col-xs-2">{{ research(case) }}</div>
        {% endif %}
        <div class="col-xs-2">{{ rerun(case) }}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">{{ archive(archive_data) }}</div>
        <div class="col-xs-2">{{ coverage_report(institute, case, sample_map) }}</div>
        <div class="col-xs-2">{{ rank_model(case) }}</div>
        <div class="col-xs-8">{{ share_case(institute, case, collaborators) }}</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro analysis_type(case) %}
  <div class="btn-group">
    <div class="btn btn-default btn-sm" disabled>
      <span class="glyphicon glyphicon-th-large"></span>
    </div>
    <div class="btn btn-default btn-sm" disabled>
      {{ case.analysis_type|upper }}
    </div>
  </div>
{% endmacro %}

{% macro prioritize(institute, case) %}
  <form action="{{ url_for('api.case_status', institute_id=institute.internal_id, case_id=case.display_name) }}" method="POST">
    {% if case.status == 'prioritized' %}
      <input type="hidden" name="status" readonly value="active">
    {% else %}
      <input type="hidden" name="status" readonly value="prioritized">
    {% endif %}
    <div class="btn-group">
      <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-{{ 'star' if case.status == 'prioritized' else 'star-empty' }}"></span>
      </button>
      <button type="submit" class="btn btn-default btn-sm">
        {{ 'De-prioritize' if case.status == 'prioritized' else 'Prioritize' }}
      </button>
    </div>
  </form>
{% endmacro %}

{% macro assign(institute, case) %}
  {% if case.assignee %}
    <form method="POST"
          action="{{ url_for('core.remove_assignee',
                             institute_id=institute.id,
                             case_id=case.display_name) }}">
      <div class="btn-group">
        <button type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="submit" class="btn btn-default btn-sm">
          {{ case.assignee.name }}
        </button>
      </div>
    </form>
  {% else %}
    <form method="POST"
          action="{{ url_for('core.assign_self',
                             institute_id=institute.id,
                             case_id=case.display_name) }}"
          title="You adopt a case to show that you assume responsibility for it. Your name will show up in relation to the case for all team members to see.">
      <div class="btn-group">
        <button type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-user"></span>
        </button>
        <button type="submit" class="btn btn-default btn-sm">
          Assign yourself
        </button>
      </div>
    </form>
  {% endif %}
{% endmacro %}

{% macro status(institute, case) %}
  <form method="POST"
        action="{{ url_for('api.case_status', institute_id=institute.id, case_id=case.display_name) }}">

    <div class="btn-group">
      <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-tag"></span>
      </button>
      <button type="submit" class="btn btn-default btn-sm">
        {{ case.status|capitalize }}
      </button>
      {% if case.status != 'archived' %}
        <button type="submit" class="btn btn-warning btn-sm" name="status" value="archived" onclick="return confirm('Are you sure? This will disable the alignment view and delete analysis files. You will have to request a FULL rerun to continue evaluating e.g. research variants.')">
          Archive
        </button>
      {% else %}
        <button type="submit" class="btn btn-default btn-sm" name="status" value="active">
          Unarchive
        </button>
      {% endif %}
    </div>
  </form>
{% endmacro %}

{% macro research(case) %}
  {% if case.research_requested %}
    <div class="btn-group">
      <div class="btn btn-default btn-sm" disabled>
        <span class="glyphicon glyphicon-education"></span>
      </div>
      <div class="btn btn-default btn-sm" disabled>
        <i>Research pending</i>
      </div>
    </div>
  {% else %}
    <div class="btn-group" v-on:click="showModal">
      <div class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-education"></span>
      </div>
      <div class="btn btn-default btn-sm">
        Request research list
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro rerun(case) %}
  {% if case.rerun_requested %}
    <div class="btn-group">
      <div class="btn btn-default btn-sm" disabled>
        <span class="glyphicon glyphicon-retweet"></span>
      </div>
      <div class="btn btn-default btn-sm" disabled>
        <i>Rerun pending</i>
      </div>
    </div>
  {% else %}
    <div class="btn-group" v-on:click="showSecondModal">
      <div class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-retweet"></span>
      </div>
      <div class="btn btn-default btn-sm">Request rerun</div>
    </div>
  {% endif %}
{% endmacro %}

{% macro archive(archive_data) %}
  {% if archive.status == 'past' %}
    <div class="btn-group">
      <div class="btn btn-default btn-sm" disabled>
        <span class="glyphicon glyphicon-trash"></span>
      </div>
      <div class="btn btn-default btn-sm" disabled>Archived</div>
    </div>
  {% elif archive.status == 'long' %}
    <div class="btn-group">
      <div class="btn btn-default btn-sm" disabled>
        <span class="glyphicon glyphicon-trash"></span>
      </div>
      <div class="btn btn-default btn-sm" disabled>
        Will be archived: {{ archive.date }}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro coverage_report(institute, case, sample_map) %}
  <form method="POST" action="{{ url_for('report.group', group_id=case.owner_case_id) }}" target="_blank">
    <input type="hidden" name="level" value="{{ institute.coverage_cutoff }}"></input>
    <input type="hidden" name="panel_name" value="{{ panel_names|join(', ') }}"></input>
    <input type="hidden" name="gene_ids" value="{{ case.default_genes()|join(',') }}"></input>
    {% for sample_id, display_name in sample_map.items() %}
      <input type="hidden" name="{{ sample_id }}" value="{{ display_name }}"></input>
    {% endfor %}

    <div class="btn-group">
      <div class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-ok-sign"></span>
      </div>
      <div type="submit" class="btn btn-default btn-sm">Coverage report</div>
    </div>
  </form>
{% endmacro %}

{% macro rank_model(case) %}
  <div class="btn-group">
    <div class="btn btn-default btn-sm" disabled>
      <span class="glyphicon glyphicon-barcode"></span>
    </div>
    <div class="btn btn-default btn-sm" disabled>
      Rank model: {{ case.rank_model_version }}
    </div>
  </div>
{% endmacro %}

{% macro share_case(institute, case, collaborators) %}
  {% if case.owner == institute.id %}
    {% if collaborators %}
      <form method="POST" action="{{ url_for('core.share_case', institute_id=institute.id, case_id=case_id) }}">
        <div class="btn-group">
          <div class="btn btn-default btn-sm" disabled>
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <button type="submit" class="btn btn-default btn-sm">Share</button>
          <select class="form-control" name="collaborator">
            {% for collab_id in collaborators %}
              <option value="{{ collab_id }}">{{ collab_id }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    {% endif %}
    {% if case.o_collaborators %}
      <form method="POST" action="{{ url_for('core.share_case', institute_id=institute.id, case_id=case_id) }}">
        <input type="hidden" name="revoke" />
        <div class="btn-group">
          <div class="btn btn-default btn-sm" disabled>
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <button type="submit" class="btn btn-default btn-sm">
            Revoke access
          </button>
          <select class="form-control" name="collaborator">
            {% for collab_id in case.o_collaborators %}
              <option value="{{ collab_id }}">{{ collab_id }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    {% endif %}
  {% endif %}
{% endmacro %}
