{% extends "layout.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - Cases
{% endblock %}

{% block top_nav %}
  {{ super() }}

  <li>
    <a href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="active">
    <span class="navbar-text">{{ institute.display_name }}</span>
  </li>
{% endblock %}

{% block content_main %}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ search_form() }}
    </div>
    <div class="panel-footer text-center">
      Found <strong>{{ found_cases }}</strong> cases
    </div>
  </div>

  {% if prio_cases %}
    <div class="table-responsive">
      {{ cases_table([('priority', prio_cases)]) }}
    </div>
  {% endif %}

  <div class="table-responsive">{{ cases_table(cases) }}</div>
{% endblock %}

{% macro search_form() %}
  <form action="{{ url_for('cases.cases', institute_id=institute._id) }}" method="GET" accept-charset="utf-8">
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="search" class="form-control" value="{{ query if query }}" name="query" placeholder="search cases"></input>
        </div>
      </div>
      <div class="col-md-2 col-xs-4">
        <button type="submit" class="form-control">Search</input>
      </div>
      <div class="col-md-2 col-xs-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="skip_assigned" {% if skip_assigned %}checked{% endif %}> Hide assigned
          </label>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro cases_table(case_groups) %}
  <table class="table table-hover table-special">
    <thead>
      <tr>
        <th class="col-xs-4">Case</th>
        <th class="col-xs-2">Status</th>
        <th class="col-xs-2">Analysis date</th>
        <th class="col-xs-2">Link</th>
        <th class="col-xs-2">Sequencing</th>
      </tr>
    </thead>
    <tbody>
      {% for group_id, cases in case_groups %}
        {% for case in cases %}
          {{ case_row(case) }}
        {% endfor %}
      {% endfor %}
      {% if found_cases == 0 %}
        <tr>
          <td colspan="5">No cases found.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endmacro %}

{% macro case_row(case) %}
  <tr {% if case.status == 'solved' %} class="bg-success" {% endif %}>
    <td>
      <a href="{{ url_for('cases.case', institute_id=case.owner, case_name=case.display_name) }}">
        {{ case.display_name }}
      </a>
      {% for user in case.assignees %}
        <span class="badge pull-right">{{ user.name }}</span>
      {% endfor %}
    </td>
    <td>
      <span class="label label-info">{{ case.status }}</span>
      {% if case.is_migrated %}
        <span class="label label-info">migrated</span>
      {% endif %}
    </td>
    <td>
      {{ case.analysis_date.date() }}
      {% if case.is_rerun %}
        <span class="badge pull-right">rerun</span>
      {% endif %}
    </td>
    <td>
      {% if case.is_research %}
        <a href="{{ url_for('variants.variants', institute_id=case.owner, case_name=case.display_name, variant_type='research') }}">Research SNV and INDELs</a>
      {% else %}
        <a href="{{ url_for('variants.variants', institute_id=case.owner, case_name=case.display_name, variant_type='clinical', gene_panels=case.panels|selectattr('is_default')|map(attribute='panel_name')|list) }}">Clinical SNV and INDELs</a>
      {% endif %}
    </td>
    <td>
      {% for analysis_type in case.analysis_types %}
        {% if analysis_type == 'wgs' %}
          {% set label_class = 'primary' %}
        {% elif analysis_type == 'wes' %}
          {% set label_class = 'warning' %}
        {% else %}
          {% set label_class = 'default' %}
        {% endif %}

        <span class="label label-{{ label_class }}">
          {{ analysis_type|upper }}
        </span>
      {% endfor %}
    </td>
  </tr>
{% endmacro %}
