{% extends "cases/case_tabular_view.html" %}
{% from "utils.html" import comments_panel, activity_panel %}
{% from "cases/utils.html" import individuals_table %}

{% block title %}
  {{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">SMN CN</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ smn_case_page() }}
  </div> <!-- end of div id body-row -->
</div>
{% endblock %}

{% macro smn_case_page() %}
<div class="container_spaced">
  <div class="card col-md-12">
    <h4 class="mt-3">Case: {{case.display_name}}</h4>
    <div class="card-body">

      <div class="row">
            <div class="col-xs-12 col-md-12">{{ smn_individuals_table(case, institute, tissue_types) }}</div>
        </div> <!-- end of div class row -->
        <div class="row">
          <div class="col-md-4">
            {% if case.madeline_info and case.individuals|length > 1 %}
              {{ pedigree_panel() }}
            {% else %}
              <p>No pedigree picture available.</p>
            {% endif %}
          </div>
          <div class="col-md-8">
            {{ synopsis_panel() }}
            {{ comments_panel(institute, case, current_user, comments) }}
          </div>
        </div> <!-- end of div class row -->

        <div class="row">
          <div class="col-sm-12">{{activity_panel(events)}}</div>
        </div>

        {{ modal_synopsis() }}
    </div> <!-- end of card body -->
  </div> <!-- end of card div-->
</div>
</div> <!-- end of div class col -->
{% endmacro %}

{% macro smn_individuals_table(case, institute, tissues) %}
<form method="POST" action="{{ url_for('cases.update_individual', institute_id=institute._id, case_name=case.display_name) }}">
  <div class="card panel-default">
    <div class="panel-heading">SMN Copy Number status - Individuals</div>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th data-bs-toggle='tooltip' data-bs-container='body' style="width: 20%"
             title="Display name of sample">Sample</th>
            <th data-bs-toggle='tooltip' style="width: 5%" title="Sample sex">Sex</th>
            <th data-bs-toggle='tooltip' style="width: 5%" title="Phenotype of sample">Phenotype</th>
            <th data-bs-toggle='tooltip' data-bs-container='body'
              style="width: 5%" title="SMA affected status prediction">SMA</th>
              <th data-bs-toggle='tooltip' data-bs-container='body'
                style="width: 5%" title="SMA carrier status prediction">Carrier</th>
            <th data-bs-toggle='tooltip' data-bs-container='body'
             title="SMN1 Estimated Copy Number (None means no-call)" style="width: 5%">SMN1 CN</th>
             <th data-bs-toggle='tooltip' data-bs-container='body'
              title="SMN2 Estimated Copy Number" style="width: 5%">SMN2 CN</th>
              <th data-bs-toggle='tooltip' data-bs-container='body'
               title="SMN2Δ7–8 (SMN2 with deletion of Exon 7-8) Estimated Copy Number" style="width: 10%">SMN2Δ7–8_CN</th>
               <th data-bs-toggle='tooltip' data-bs-container='body'
                title="g.27134T>G_CN Estimated Copy Number - an SNP associated with 2+0 silent carrier" style="width: 10%">g.27134T>G CN</th>
            <th data-bs-toggle='tooltip' data-bs-container='body'
             title="Ancestry prediction from peddy" style="width: 10%">Ancestry (pred.)</th>
             <th data-bs-toggle='tooltip' data-bs-container='body'
              title="Tissue origin for the sample" style="width: 15%">Tissue</th>
          </tr>
        </thead>
        <tbody>
          {% for ind in case.individuals %}
            <tr {% if ind.is_sma  %}
                  class="bg-danger"
                {% elif ind.is_sma_carrier %}
                  class="bg-warning"
                {% endif %}>
              <td>{{ ind.display_name }}</td>
              <td style="font-weight: bold;">
                {% if ind.sex_human in ['female','male'] %}
                    {% if ind.sex_human == 'female' %}
                      F
                    {% elif ind.sex_human == 'male' %}
                      M
                    {% else %}
                      {{ind.sex_human}}
                    {% endif %}
                  {% endif %}
                {% if ind.confirmed_sex %}
                  <i class="fa fa-check"></i>
                {% endif %}
              </td>
              <td>{{ ind.phenotype_human }}</td>
              <td>{{ ind.is_sma }}</td>
              <td>{{ ind.is_sma_carrier }}</td>
              <td>{{ ind.smn1_cn }}</td>
              <td>{{ ind.smn2_cn }}</td>
              <td>{{ ind.smn2delta78_cn }}</td>
              <td>{{ ind.smn_27134_cn }}</td>
              <td>{{ ind.predicted_ancestry or 'N/A' }}</td>
              <td>
                {{ ind.tissue_type }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endmacro %}

{% block scripts %}
{{ super() }}
{% endblock %}

