{% extends "layout_bs4.html" %}
{% from "cases/collapsible_actionbar.html" import action_bar %}
{% from "utils.html" import flash_messages, comments_panel, activity_panel %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item active">
    <span class="navbar-text">{{ case.display_name }}</span>
  </li>
{% endblock %}

{% block content_main %}
  <div class="row d-flex d-md-block flex-nowrap wrapper">
  {{ action_bar(institute, case, collaborators) }}
  <div class="col-md-10 float-left">
    <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
      <div class="page-header">
        <h2>Bootstrap 4 Sidebar Menu</h2>
      </div>
      <p class="lead">A responsive, multi-level vertical accordion.</p>
    <hr>
  </div>
</div>
{% endblock %}
