{% extends "layout_bs4.html" %}
{% from "cases/collapsible_actionbar.html" import action_bar, research_modal, rerun_modal, reanalysis_modal %}
{% from "utils.html" import comments_panel, activity_panel, pedigree_panel %}
{% from "cases/utils.html" import clinvar_panel, causatives_list, suspects_list, remove_form, matching_causatives, matching_managed_variants, beacon_modal, matchmaker_modal %}
{% from "cases/individuals_table.html" import cancer_individuals_table, individuals_table %}
{% from "cases/phenotype.html" import hpo_item, cohort_panel, diagnosis_phenotypes, phenotype_groups_panel, add_phenotype_terms_panel, hpo_panel %}
{% from "cases/gene_panel.html" import genepanels_table, hpo_genelist_panel %}


{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }}
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="{{ url_for('cases.static', filename='case_styles.css') }}"></link>
<style>
  [data-toggle="collapse"] .fa:before {
    content: "\f139";
  }

  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }
</style>
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }} cases
    </a>
  </li>
  <li class="nav-item active">
    <span class="navbar-text">{{ case.display_name }}</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ action_bar(institute, case, collaborators, current_user) }} <!-- This is the sidebar -->
    {{ case_page() }}
  </div> <!-- end of div id body-row -->
</div>
{% endblock %}

{% macro case_page() %}
<div class="col ml-3"> <!-- This is the main container -->
  <div class="container_spaced">
      <div class="card-body {% if case.status == 'solved' %} bg-success {% elif case.status == 'archived' %} bg-danger-light {% endif %}">
        <div class="row">
            <div class="col-sm-4">
              <h4 class="">
                  Case: {{case.display_name}}<br>
                  Status: {{case.status}}<br>
                  <p class="text-muted">Internal ID: {{case._id}}</p>
              </h4>
            </div>
            <div class="col-sm-8">
              {{ variants_buttons() }}
            </div>
        </div>
    </div> <!--end of div class="row" -->

      {% if other_causatives|length > 0%}
        <div class="row mt-0">
          <div class="col-xs-12 col-md-12">{{ matching_causatives(other_causatives, institute, case) }}</div>
        </div>
      {% endif %}

      {% if managed_variants|length > 0%}
        <div class="row">
          <div class="col-sm-12 col-md-12">{{ matching_managed_variants(managed_variants, institute, case) }}</div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col">{{ causatives_list(causatives, partial_causatives, evaluated_variants, institute, case, manual_rank_options, cancer_tier_options) }}</div>
        <div class="col">{{ suspects_list(suspects, institute, case, manual_rank_options, cancer_tier_options) }}</div>
        {% if case.clinvar_variants %}
          <div class="col">{{ clinvar_panel(institute, case) }}</div>
        {% endif %}
        <!-- end of data sharing panels -->
      </div>

      <div class="row">
        {% if case.track == 'cancer' %}
          <div class="col-sm-12 col-md-12 mt-3">{{ cancer_individuals_table(case, institute, tissue_types) }}</div>
        {% else %}
          <div class="mt-3 col-sm-8 col-md-{{"8" if case.madeline_info and case.individuals|length > 1 else "12"}}">{{ individuals_table(case, institute, tissue_types, display_rerunner, gens_info) }}</div>
          {% if case.madeline_info and case.individuals|length > 1 %}
            <div class="col-sm-4">
              {{ pedigree_panel(case) }}
            </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="row mt-3">
        <div class="col-6">{{ synopsis_panel() }}</div>
        <div class="col-6">{{ comments_panel(institute, case, current_user, comments) }}</div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {{ insert_multi_image_panel() }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {{ custom_image_panels() }}
        </div>
      </div>

      <!-- CASE DIAGNOSES AND PHENOTYPES -->
      <div class="panel-default">
        <div class="panel-heading"><span class="fa fa-user-md"></span>&nbsp;Phenotypes & diagnoses</div>
        <div class="ml-3 mr-3">
          <div class="row">
            <div class="col-sm-6 card">
            {{ hpo_panel(case, institute, config) }}
            </div>
            <div class="col-sm-6 card">
              {{ hpo_genelist_panel(case, institute, config) }}
            </div>
          </div>
        </div> <!--end of <div class="row">-->
        <!-- OMIM diagnoses-related code-->
        {% if not case.track == 'cancer' %}
          <div class="card">
            <div class="row">
                 <div class="col-sm-12 ml-3 mt-3">
                    <div class="panel-heading">
                      <h6><i class="fa fa-user-md "></i>&nbsp;Diagnoses (<a href="https://www.omim.org/" target="_blank">OMIM</a>)</h6>
                     </div>
                 </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                {{ diagnosis_phenotypes(case, institute, omim_terms) }}
               </div>
            </div>
          </div>
        {% endif %}
        <!-- end of OMIM diagnoses-related code-->
      </div>


      <div class="panel-default">
        <div class="panel-heading"><span class="fa fa-user-md"></span>&nbsp;Groups & cohorts</div>
        <div class="row">
          <div class="col-sm-4">{{ group_panel() }}</div>
          <div class="col-sm-4">{{ cohort_panel(case, institute, cohort_tags) }}</div>
          <div class="col-sm-4">{{ phenotype_groups_panel(case, institute, hpo_groups) }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">{{ genepanels_table(case, institute) }}</div>
        <div class="col-sm-6">{{activity_panel(events)}}</div>
      </div>

      {{ modal_synopsis() }}
      {{ rerun_modal(institute, case) }}
      {{ research_modal(institute, case) }}
      {{ reanalysis_modal(institute, case) }}
      {{ beacon_modal(case) }}
      {{ matchmaker_modal(institute, case, mme_nodes) }}
    </div> <!-- end of card body -->
  </div> <!-- end of card div-->
</div><!-- end of <div class="col"> -->
</div>
{% endmacro %}

{% macro variants_buttons() %}
<div>
  <!-- Clinical variants buttons -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="btn-group" role="group">
        {% if case.vcf_files.vcf_snv %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.variants', institute_id=institute._id, case_name=case.display_name, variant_type='clinical') }}">Clinical {% if case.track=="cancer" %}germline {% endif %}SNV and INDELs</a>
        {% endif %}
        {% if case.vcf_files.vcf_sv %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.sv_variants', institute_id=institute._id, case_name=case.display_name, variant_type='clinical') }}">Clinical {% if case.track=="cancer" %}germline {% endif %}structural variants</a>
        {% endif %}
        {% if case.vcf_files.vcf_str %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.str_variants', institute_id=institute._id, case_name=case.display_name, variant_type='clinical') }}">Clinical STR variants</a>
        {% endif %}
        {% if case.smn_tsv %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('cases.sma', institute_id=institute._id, case_name=case.display_name) }}">SMN CN</a>
        {% endif %}
        {% if case.vcf_files.vcf_cancer %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.cancer_variants', institute_id=institute._id, case_name=case.display_name, variant_type='clinical') }}">Clinical {% if case.track=="cancer" %}somatic {% endif %}SNV and INDELs</a>
        {% endif %}
        {% if case.vcf_files.vcf_cancer_sv %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.cancer_sv_variants', institute_id=institute._id, case_name=case.display_name, variant_type='clinical') }}">Clinical {% if case.track=="cancer" %}somatic {% endif %}structural variants</a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Research variants buttons -->
  {% if case.is_research %}
  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-center">
      <div class="btn-group" role="group">
        {% if case.vcf_files.vcf_snv_research %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.variants', institute_id=institute._id, case_name=case.display_name, variant_type='research') }}">Research {% if case.track=="cancer" %}germline {% endif %}SNV and INDELs</a>
        {% endif %}
        {% if case.vcf_files.vcf_sv_research %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.sv_variants', institute_id=institute._id, case_name=case.display_name, variant_type='research') }}">Research {% if case.track=="cancer" %}germline {% endif %}structural variants</a>
        {% endif %}
        {% if case.vcf_files.vcf_cancer_research %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.cancer_variants', institute_id=institute._id, case_name=case.display_name, variant_type='research') }}">Research somatic SNV and INDELs</a>
        {% endif %}
        {% if case.vcf_files.vcf_cancer_sv_research %}
          <a class="btn btn-dark btn-sm text-white" href="{{ url_for('variants.cancer_sv_variants', institute_id=institute._id, case_name=case.display_name, variant_type='research') }}">Research somatic structural variants</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro synopsis_panel() %}
  <div class="card">
    <h6 data-toggle='tooltip' class="panel-heading ml-3 mt-2" title="Free text field. Write a summary about the case! Markdown format"><i class="fa fa-id-card-o"></i>&nbsp;Synopsis</h6>
      <div class="card-body">
        <div class="row">
          <div class="col-10">
           {{ case.synopsis|markdown if case.synopsis else 'Nothing written yet...' }}
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-secondary form-control" data-toggle="modal" data-target="#edit-synopsis">
              Edit
            </button>
          </div>
        </div>
      </div>
  </div>
{% endmacro %}

{% macro group_panel() %}
  <div class="card" id="case_groups">
    <div class="panel-heading" data-toggle='tooltip' title="Group cases to share user variant assessments like comments, classification and dismissal. A case can be in multiple groups.">
      <h6 class="mt-3 ml-3">
        <span>
          <i class="fa fa-users mr-1"></i>Connected cases ({{case_groups|length}} groups)
        </span>
        <span class="float-sm-right mr-3" data-toggle='tooltip' data-placement="right" title="Create a new group containing case {{case.display_name}}"><a href="{{ url_for('cases.add_case_group',institute_id=institute._id, case_name=case.display_name) }}"><span class="fas fa-plus mr-1"></span>New group</a></span>
      </h6>
    </div>
    <div class="card-body">
      <div class="list-group" style="max-height:200px; overflow-y: scroll;">
      {% if case_groups %}
        {% for group_id, case_group in case_groups.items() %}
          {% if loop.index > 1 %}
            <span><hr style="height:10px;"></span>
          {% endif %}

          {{ modal_add_to_group(group_id, case_group, case_group_label[group_id]) }}

          <form class="form-inline" action="{{ url_for('cases.case_group_update_label', case_group=group_id)}}" method="POST">
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-users"></i></div>
              </div>
              <input type="text" class="form-control" name="label" id="case_group_label-{{group_id}}" placeholder="{{ case_group_label[group_id] }}">
            </div>
            <button type="submit" class="btn btn-secondary btn-sm mb-2">Save label</button>
            <button type="button" class="btn btn-secondary btn-sm mb-2 ml-3 text-right" data-toggle="modal" data-target="#add-case-group-{{group_id}}">
              <i class="fas fa-user-plus" data-toggle='tooltip' title="Add other case to this group"></i>
            </button>
          </form>

          <div class="col-12">
            {% for grouped_case in case_group %}
              <span class="badge badge-pill badge-light">
                <a href="{{ url_for('cases.case', institute_id=grouped_case.owner, case_name=grouped_case.display_name) }}"">{{ grouped_case.display_name }}</a>
                  <span>
                    <a href="{{ url_for('cases.remove_case_group', institute_id=institute._id, case_name=grouped_case.display_name, case_group=group_id) }}" class="btn btn-link btn-sm">
                        <span class="fa fa-remove"></span></a>
                  </span>
              </span>
            {% endfor %}
          </div>

        {% endfor %}
      {% endif %}
      </div> <!-- end of <div class="list-group" style="max-height:200px; overflow-y: scroll;" -->
    </div>
  </div>
{% endmacro %}

{% macro modal_add_to_group(group_id, case_group, label) %}
  <form action="{{ url_for('cases.add_case_group', institute_id=institute._id, case_name="unused") }}" method="POST">
    <div class="modal fade" id="add-case-group-{{group_id}}" role="dialog">
      <input type="hidden" name="group_id" value="{{ group_id }}">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="case_pick_dialog">Add other case to case group ({{ label }})</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Cases already in this group:
          <ul class="list-group">
          {% for grouped_case in case_group %}
            <li class="list-group-item">{{ grouped_case.display_name }}</li>
          {% endfor %}
          Add case:
          <input type="text" name="other_case_name" class="typeahead_cases form-control" data-provide="typeahead" autocomplete="off" placeholder="Search for case name..." cols="30" rows="10"></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add case</button>
        </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

<!-- Iterate through Individuals, if chromograph_files is presenet add a panel for images -->
{% macro insert_multi_image_panel() %}
<div class="panel-group" id="accordion">
  {% for i in case.individuals %}
    {% if i.chromograph_images and (i.chromograph_images.coverage or i.chromograph_images.autozygous or i.chromograph_images.upd_sites) %}
      <div class="panel-heading">
        <h5 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{i.individual_id}}">
            <i class="fa"></i>
            Images {{i.display_name}}
          </a>
        </h5>
      </div>
      <div id="collapse_{{i.individual_id}}" style="width:100%" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="card-body" style="max-height: 80vh; overflow-y: scroll;">
            <svg id={{"svg_"+i.individual_id}} class="img-fluid" width="1200" height="1700"></svg>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}

<!-- Create one expandable panel per custom image section -->
{% macro custom_image_panels() %}
  {% if case.custom_images %}
    {% for section_name in case.custom_images %}
      <div id="{{section_name}}-accordion" class="accordion">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{section_name}}-accordion" href="#collapse_{{ section_name }}">
              <i class="fa"></i>{{ section_name }} images
            </a>
          </h5>
        <div>
        <div id="collapse_{{ section_name }}" class="panel-collapse collapse pl-3">
          <div class="panel-body">
            {% for image in case.custom_images[section_name] %}
              <div class="pt-3">
                <h6 class="font-weight-bold">{{ image.title }}</h6>
                <img src="data:image/{{image.format}};base64,{{image.data|safe}}" alt="{{ image.description }}" title="{{ image.description }}"
                                                                                                                {% if image.width %}width="{{image.width}}"{% endif %}
                                                                                                                {% if image.height %}height="{{image.height}}"{% endif %}
                />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %}

<!-- Create a collapsing panel. Used for -->
{% macro add_modal_panel(id_tag, display_name) %}
  <div class="modal fade" id="modal_{{id_tag}}" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <svg class="mt-3 mb-3 ml-3 mr-3" id={{"svg_"+id_tag}} class="img-fluid" width="1200" height="1200"></svg>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
{% endmacro %}

{% macro modal_synopsis() %}
  <form action="{{ url_for('cases.case_synopsis', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
    <div class="modal fade" id="edit-synopsis" role="dialog">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit synopsis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="synopsis" class="form-control" cols="30" rows="10">{{ case.synopsis }}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro remove_form(url, hidden_input=None, button_name=None, button_value=None) %}
  <form action="{{ url }}" method="POST">
    {% if hidden_input %}
      <input type="hidden"
             name="{{ hidden_input[0] }}"
             value="{{ hidden_input[1] }}">
    {% endif %}
    <div class="pull-right">
      <button class="btn btn-link btn-sm"
              name="{{ button_name if button_name }}"
              value="{{ button_value if button_value }}"
              type="submit">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </form>
{% endmacro %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('cases.static', filename='edit_pedigree.js') }}"></script>
<script src="{{ url_for('cases.static', filename='madeline.js') }}"></script>
<script src="{{ url_for('cases.static', filename='case_images.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-table-headers/0.1.19/js/jquery.stickytableheaders.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.11/purify.min.js"></script>

<script>
  window.onload= add_image_panels();
  window.onresize= function(){
      console.log("Width '%s' ", $(window).width())
      add_image_panels();
  }


  function add_image_panels(){
      add_image_to_individual_panel( {{case.individuals|tojson}},
                                     "{{institute._id}}",
                                     "{{case.display_name}}"
                                   );
  }

  {% if case.panels %}
    $('#panel-table').DataTable({
      scrollY: 350,
      scrollCollapse: true,
      paging: false,
      searching: false,
      ordering: true,
      info: false
    });
  {% endif %}

  $(function(){
      function getHpoTerms(query, process) {
        $.get("{{ url_for('cases.hpoterms') }}", {query: query}, function(data) {
          process(data)
        });
      }
      function getNameTerms(query, process) {
        $.get("{{ url_for('genes.api_genes') }}", {query: query}, function(data) {
          process(data)
        });
      }
      function getOmimTerms(query, process) {
        $.get("{{ url_for('cases.omimterms') }}", {query: query}, function(data) {
          process(data)
        });
      }
      function getCases(query, process) {
        $.get("{{ url_for('cases.caselist', institute_id=institute._id) }}", {query: query}, function(data) {
          process(data)
        });
      }

      $(".typeahead_cases").typeahead({
        name: 'cases_list',
        source: getCases,
        minLength: 3,
      });

      $(".typeahead_hpo").typeahead({
        name: 'hpo_term',
        source: getHpoTerms,
        minLength: 3,
      });

      $(".typeahead_gene").typeahead({
        name: 'dynamic_gene_add',
        source: getNameTerms,
        minLength: 3,
      });

      $(".typeahead_omim").typeahead({
        name: 'omim_term',
        source: getOmimTerms,
        minLength: 3,
      });

      $('[data-toggle="tooltip"]').tooltip();

      $('[data-toggle="popover"]').popover({
        sanitizeFn: function (content) {
          return DOMPurify.sanitize(content)
        },
        container: 'body',
      });

      $('select[multiple]').selectpicker({
        width: '100%'
      });

      $('table').stickyTableHeaders({
        scrollableArea: $(".fixed-panel")[0]
      });
  });

function SidebarCollapse () {
    $('.menu-collapsed').toggleClass('d-none');
    $('.sidebar-submenu').toggleClass('d-none');
    $('.submenu-icon').toggleClass('d-none');
    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

    // Treating d-flex/d-none on separators with title
    var SeparatorTitle = $('.sidebar-separator-title');
    if ( SeparatorTitle.hasClass('d-flex') ) {
        SeparatorTitle.removeClass('d-flex');
    } else {
        SeparatorTitle.addClass('d-flex');
    }

    // Collapse/Expand icon
    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
}


function toggleClickableButtons(button, select_field) {
    const selection = document.getElementById(select_field)

    if (selection.value.length > 0) {
       document.getElementById(button).classList.remove('btn-outline-secondary');
       document.getElementById(button).classList.remove('no-hover');
       document.getElementById(button).classList.add('btn-secondary');
    }
    else { 
       document.getElementById(button).classList.remove('btn-secondary');
       document.getElementById(button).classList.add('no-hover');
       document.getElementById(button).classList.add('btn-outline-secondary');
    }
  }


// Hide submenus
$('#body-row .collapse').collapse('hide');

$('.collapse').on('shown.bs.collapse', function(){
  $(this).parent().find(".fa fa-plus").removeClass("fa fa-plus").addClass("fa fa-minus");
  }).on('hidden.bs.collapse', function(){
  $(this).parent().find(".fa fa-minus").removeClass("fa fa-minus").addClass("fa fa-plus");
});

// Collapse/Expand icon
$('#collapse-icon').addClass('fa-angle-double-left');

// Collapse click
$('[data-toggle=sidebar-collapse]').click(function() {
  SidebarCollapse();
});
</script>
{% endblock %}
