{% extends "report_base.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }}
{% endblock %}

{% set affected = [] %}
{% set printed_vars = [] %}

{% block body %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <!-- Brand and toggle get grouped for better mobile display -->
  <a class="nav-link" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}" target="_blank">Case {{case.display_name}}</a>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#phenotype">Phenotype overview<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gene_panels">Gene panels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#causative_variants">Causative Variants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pinned_variants">Pinned variants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#acmg_variants">ACMG-classified variants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#manual_ranked_variants">Manual ranked</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#commented_variants">Commented variants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dismissed_variants">Dismissed variants</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="{{ url_for('cases.pdf_case_report', institute_id=institute._id, case_name=case.display_name) }}"><button class="btn btn-sm btn-outline-secondary" type="button">Download PDF</button></a>
    </span>
  </div>
</nav>

	{% block content_main %}
	<div id="container" class="container">
	  <h4>Scout case analysis report</h4> - created on:&nbsp;<strong>{{report_created_at}}</strong><br><br>
		{{ phenotype_panel() }}
		{{ gene_panels_panel()}}
		{{ causatives_panel()}}
		<br>
		<a href="http://www.clinicalgenomics.se/scout/" target="_blank">http://www.clinicalgenomics.se/scout/</a>
	</div>
	{% endblock %} <!--end of block content_main -->
{% endblock %} <!-- end of block body -->

{% macro phenotype_panel() %}
	<div class="card mb-3" style="border-width: 5px;">
	  <div class="card-header">
	    <a href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}" target="_blank"><strong>Case {{ case.display_name }}</a> - Phenotype Overview</strong>
	  </div>
	  <div class="card-body">
	    <table class="table table-sm">
	      <tr>
	        <td>
	          {% if case.madeline_info and case.individuals|length > 1 %}
	            {% if format == 'html' %}
	              {{ case.madeline_info|safe }}
	            {% else %}
	              <object data="{{url_for('cases.static', filename='madeline.svg')}}"/>
	            {% endif %}
	          {% else %}
	            <p>Single sample family. No pedigree available.</p>
	          {% endif %}
	        </td>
	        <td>
	          <table class="table table-sm">
	            <tr>
	              <td>Case created: <strong>{{case.created_at.strftime('%Y-%m-%d')}}</strong></td>
	              <td>Last updated: <strong>{{case.updated_at.strftime('%Y-%m-%d')}}</strong></td>
	            </tr>
	          </table>
	          <br>
	          <table class="table table-sm">
	            <thead>
	              <tr>
	                <th>Sample</th>
	                <th>Sex</th>
	                <th>Affected</th>
	                <th>Sequencing</th>
	                <th>Ancestry (pred.)</th>
	                <th>Parenthood</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for ind in case.individuals %}
	                <tr {% if ind.phenotype == 2 %} class="table-danger" {% endif %}>
	                  <td>{{ ind.display_name }}</td>
	                  <td>
	                    {{ ind.sex_human }}
	                    {% if ind.confirmed_sex %}
	                      <span class="glyphicon glyphicon-ok"></span>
	                    {% endif %}
	                  </td>
	                  <td>
	                  {% if ind.phenotype==2 %} <!--for later use-->
	                    {% do affected.append(ind.display_name) %}
	                    <span class="badge badge-pill badge-danger" title="Affected">YES</span>
	                  {% else %}
	                    <span class="badge badge-pill badge-secondary" title="Not affected">NO</span>
	                  {% endif %}
	                  </td>
	                  <td>{{ ind.analysis_type|upper }}</td>
	                  <td>{{ ind.predicted_ancestry or 'N/A' }}</td>
	                  <td>
	                    {% if ind.confirmed_parent == True %}
	                      <span class="glyphicon glyphicon-ok text-success"></span>
	                    {% elif ind.confirmed_parent == False %}
	                      <span class="glyphicon glyphicon-remove text-danger"></span>
	                    {% else %}
	                      N/A
	                    {% endif %}
	                  </td>
	                </tr>
	              {% endfor %}
	            </tbody>
	          </table>
	        </td>
	      </tr>
	      <tr>
	        <td>Case status: <strong>
	          {% if 'solved' in case.status%}
	            <font color="green">{{case.status.upper()}}</font>
	          {% else %}
	            {{case.status.upper()}}
	          {% endif %}
	          </strong><br><br>
	        </td>
	      </tr>
	      <tr>
	        <td style="width:50%">
	          {% if case.synopsis %}
	            <strong>Synopsis:</strong>
	            {{ case.synopsis|markdown }}
	          {% endif %}
	        </td>
	        <td>
	          <strong>Associated phenotypes:</strong><br>
	          {% if case.phenotype_terms %}
	            <ul>
	              {% for pheno in case.phenotype_terms %}
	                <li>
	                {{pheno.feature}} - (<a href="{{pheno.hpo_link}}" target="_blank">{{pheno.phenotype_id}})</a>
	                </li>
	              {% endfor %}
	            </ul>
	          {% else %}
	            No phenotype terms associated.
	          {% endif %}
	        </td>
	      </tr>
	      {% if comments.count() %}
	        <tr>
	          <td colspan=2>
	            <table id="panel-table" class="table table-sm" style="background-color: transparent">
	              <thead>
	                <tr>
	                  <td><strong>Case-related comments</strong></td>
	                </tr>
	              </thead>
	              <tbody>
	                <tr>
	                  <td>
	                    <table id="panel-table" class="table table-sm" style="background-color: transparent">
	                    {% for comment in comments %}
	                      <tr>
	                        <td width="20%">{{comment.created_at.strftime('%Y-%m-%d')}}</td>
	                        <td width="20%">{{comment.user_name}}:</td>
	                        <td><strong>{{ comment.content }}</strong></td>
	                      </tr>
	                    {% endfor %}
	                    </table>
	                  </td>
	                </tr>
	              </tbody>
	            </table>
	          </td>
	        </tr>
	      {% else %}
	        <tr>
	          <td colspan=2>
	            <table id="panel-table" class="table table-sm" style="background-color: transparent">
	              <tr>
	                <td>No comments left for this case.</td>
	              </tr>
	            </table>
	          </td>
	        </tr>
	      {% endif %}
	    </table>
	  </div>
	</div>
{% endmacro %}

{% macro gene_panels_panel() %}
<div class="card mb-3" style="border-width: 5px;">
  <div class="card-header">
    <strong>Default gene panels</strong>
  </div>
  <div class="card-body">
    <table id="panel-table" class="table table-sm">
      <thead>
        <tr>
          <th>Panel</th>
          <th>Version</th>
          <th>Genes</th>
        </tr>
      </thead>
      <tbody>
        {% for panel in case.panels %}
          {% if panel.is_default %}
            <tr>
              <td>
                <a href="{{ url_for('panels.panel', panel_id=panel.panel_id, case_id=case._id, institute_id=institute._id) }}" target="_blank">
                  {{ panel.display_name|truncate(75, True) }}
                </a>
              </td>
              <td>{{ panel.version }} <small class="text-muted">({{ panel.updated_at.date() }})</small></td>
              <td>{{ panel.nr_genes }}</td>
            </tr>
          {% endif %}
        {% else %}
          <tr>
            <td colspan="5">No panels linked to case</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endmacro %}

{% macro causatives_panel() %}
<div class="card border-success mb-3" style="border-width: 5px;">
  <div class="card-header bg-success text-white">
    <a name="causative_variants"><strong>Causative Variants</strong></a>
  </div>
  <div class="card-body">
    {% if causatives_detailed %}
      {% for causative in causatives_detailed|sort(attribute='variant_rank') %}
        {% do printed_vars.append(causative['_id']) %}
        {% if causative.category == 'snv' %}
					{{causative.display_name}}

          {{ sn_variant_content(causative, loop.index) }}
        {% else %}
          {{  'hello' }}
        {% endif %}
        <br>
      {% endfor %}
    {% else %}
      No causative variants available for this case
    {% endif %}
  </div>
</div>
{% endmacro%}




{% macro sn_variant_content(variant, index) %} <!--The entire description of a single nucleotide variant, dynamic content -->
<div style="border-width: 3px;">

		{{variant.display_name}}

</div>
{% endmacro %}
