{% extends "layout_bs4.html" %}

{% block title %}
  {{ super() }} - {{ institute_id }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.cases', institute_id=institute_id) }}">
      {{ institute_id }} Cases
    </a>
  </li>
  {% if config.SHOW_CAUSATIVES %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('cases.causatives', institute_id=institute_id) }}">Causatives</a>
    </li>
   {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('cases.gene_variants', institute_id=institute_id, variant_type=['clinical'], rank_score=15) }}">All SNVs and INDELs</a>
    </li>
  <li class="nav-item active">
    <span class="navbar-text">Clinvar submissions</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="container">
  <h3>Clinvar submissions page<h5></h3><a href="#howto" onclick="show_howto()">howto</a></h5><br>
  <div class="card bg-light mb-3" id="howto" style="display: none">
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Requirements</h5>
      </div>
      <p class="mb-1">
        Make sure to <strong>register a user</strong> to the <a href="https://www.ncbi.nlm.nih.gov/clinvar/docs/submission_portal/" target="_blank">clinVar submission portal.</a><br>
                        If your organization is not already present in clinVar you should follow the instructions to <strong>register a submitting organization</strong> to the same portal.
                        The first time an organization is registered in the ClinVar Submission Portal, the content will be reviewed, so it will take some time before getting approved in order to start a variant submission.
      </p><br>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Obtain a submission ID</h5>
      </div>
      <p class="mb-1">
        If the requirements above are fullfilled, you can start a new submission by using the "<strong>Upload new file submission</strong>" button from the <a href="https://submit.ncbi.nlm.nih.gov/clinvar/" target="_blank">submission page</a>.<br>This button is a link to a multi-panel (4 panels) submission page. The first panel (submission information) has a precompiled field named "<strong>Submission name</strong>".
      </p><br>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Fill in panel 1 and 2</h5>
      </div>
      <p class="mb-1">
        Fill in submission forms in panel 1 and 2, respectively named "Submission information" and "Organization". In the "<strong>Submission format</strong>" in panel 1 make sure to select the value "<strong>Comma-separated values</strong>".<br>
        <strong>Assemby name</strong> fields should be filled in before proceding further with the submission.
      </p><br>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Download the files</h5>
      </div>
      <p class="mb-1">
        You'll need to register the <strong>Submission Name</strong> obtained from Clinvar portal in order to download variants and casedata submission files.
      </p><br>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Upload files</h5>
      </div>
      <p class="mb-1">
        Upload the files obtained above (either the variants .csv file or the variants .csv + the casedata .csv files) in the "<strong>Submission Files</strong>" field in the third panel of the submission.
          The field named <strong>"Assertion Criteria File" should be left blank</strong>, since the default information is already filled in the "Variants sheet" <strong>(ACMG Guidelines, 2015)</strong>.
      </p>
    </div>
  </div>
  <br>
  {% if submissions %}
    {% for submission in submissions|sort(attribute='status', reverse=True) %}
      {{ submission_panel(submission) }}
    {% endfor %}
  {% else %}
  <p>No clinvar submission was found. You can create one by clicking on "Submit to Clinvar" from the page of a pinned variant.</p>
  {% endif %}
</div>
{% endblock %}

{% macro submission_panel(subm_obj) %}
<form class="form-inline" id="submission_form" action="{{ url_for('cases.clinvar_submissions', institute_id=institute_id) }}" method="POST">
    <input type="hidden" name="submission_id" value="{{subm_obj._id}}">

</form>
{% endmacro %}

{% block scripts %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
function show_howto() {
  var x = document.getElementById("howto");
  if (x.style.display === "none") {
    x.style.display = "block";
  }
  else {
    x.style.display = "none";
  }
}
$(function () {
    $('.casedata  div').hide();

    $('.vardata  div').hide();

    $('.cd_btn').on('click', function(){
        var bid = $(this)[0].id;
        var sel = '#cddiv' + bid;
        if($(sel).is(':visible')){
          $(sel).hide();
        }
        else{
          $('.casedata  div').hide();
          $(sel).fadeToggle();
        }
    });

    $('.var_btn').on('click', function(){
        var bid = $(this)[0].id;
        var sel = '#vardiv' + bid;
        if($(sel).is(':visible')){
          $(sel).hide();
        }
        else{
          $('.vardata  div').hide();
          $(sel).fadeToggle();
        }
    });
});


</script>

{% endblock %}
