{% from "cases/utils.html" import pretty_variant %}
{% from "clinvar/clinvar_howto.html" import clinvar_howto_modal %}

{% macro clinvar_vars(institute, case, suspects) %}
  {{ clinvar_howto_modal() }}

  <div class="card panel-default">
    <div>
      <div class="d-flex justify-content-between">
        <h6><span class="fa fa-map-pin ms-3 mt-2"></span>&nbsp;Variants submitted to ClinVar ({{ case.clinvar_variants.items()|length }}) <a data-bs-target="#howto" href="#" data-bs-toggle="modal">?</a>
        </h6>
      </div>
    </div>
    <div class="card">
      {% if suspects %}
       <div style="max-height:300px; overflow-y: scroll;">
        <ul class="list-group">
        {% for variant in suspects %}
          {% if variant._id and variant.category != 'str' %}
            <li class="list-group-item">
              <div>
              <form id="clinvar_submit" action="{{ url_for('clinvar.clinvar_add_variant', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
                {{pretty_variant(variant)}}
                {% if case.clinvar_variants and variant._id in case.clinvar_variants.keys() %}
                 (included in submission)
                {% else %}
                  <button type="submit" name="var_id" value="{{variant._id}}" class="btn btn-secondary btn-sm" style="float: right;">Add to submission</button>
                {% endif %}
              </form>
              </div>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
       </div> <!-- End of scrollable style div -->
      {% endif %}
      {% if case.clinvar_variants %}
        <div class="d-flex justify-content-center">
          <div>
            <a href="{{url_for('clinvar.clinvar_submissions', institute_id=institute._id)}}" class="mb-3 mt-3 btn btn-secondary btn-sm text-white" target="_blank" rel="noopener noreferrer">ClinVar submissions</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}


