{% macro action_bar(institute, case, causatives, collaborators, current_user, report_types, has_rna_tracks) %}
<!-- Collapsible Sidebar, Based on https://www.codeply.com/go/LFd2SEMECH -->
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
      <!-- Bootstrap List Group -->
      <ul class="list-group">
          <a href="#" data-bs-toggle="sidebar-collapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span id="collapse-icon" class="fa fa-2x me-3"></span>
                  <span id="collapse-text" class="menu-collapsed">Collapse</span>
              </div>
          </a>
          <!-- Menu with submenu -->
          {{ reports(institute,case, report_types) }}
          {{ default_gene_panel(institute, case) }}
          {{ analysis_date(case) }}
          {{ genome_build(case, case_groups, has_rna_tracks) }}
          {{ rank_model(case) }}
          <li class="list-group-item bg-dark sidebar-separator menu-collapsed"></li>
          {{ status(case) }}
          {{ assign(institute, case) }}
          {% if not (case.is_archived or case.is_research) %}
            {{ research(case) }}
          {% endif %}
          {{ rerun(institute, case) }}
          {{ share_case(institute, case, collaborators) }}
          {% if config.BEACON_URL %}
            {{ beacon_share(institute, case, current_user) }}
          {% endif %}
          {% if config.MME_ACCEPTS and config.MME_URL and config.MME_TOKEN %}
            {{ matchmaker_share(institute, case, current_user) }}
          {% endif %}
          {% if case.needs_check %}
            {{ check_decipher(case, institute) }}
          {% endif %}
          {{ confirm_inactivate(institute,case) }}
          {{ archive_case(institute,case, causatives) }}
      </ul><!-- List Group END-->
  </div><!-- sidebar-container END -->
{% endmacro %}

{% macro default_gene_panel(institute, case) %}
  {% for panel in case.panels if panel.is_default %}
      <div href="#" class="bg-dark list-group-item text-white">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-tag fa-fw me-3"></span>
          <span class="menu-collapsed">
            <a href="{{ url_for('panels.panel', panel_id=panel.panel_id, case_id=case._id, institute_id=institute._id) }}">
              {{ panel.display_name|truncate(18, True) }}
            </a>
            {% if case.outdated_panels and panel.panel_name in case.outdated_panels %}
              <a><span class="badge rounded-pill badge-sm bg-warning" data-bs-toggle="popover" data-bs-placement="left" data-bs-html="true" data-bs-content="Panel version used in the analysis ({{panel.version}}) is outdated. Latest panel version is used in variants filtering.<br /><strong>Genes present in case panel and not in latest version</strong>: {{case.outdated_panels[panel.panel_name]['extra_genes']|join(', ') or '-'}}.<br /><strong>Genes present only in latest version</strong>: {{case.outdated_panels[panel.panel_name]['missing_genes']|join(', ') or '-'}}.">!</span></a>
            {% endif %}
          </span>
        </div>
      </div>
  {% endfor %}
{% endmacro %}

{% macro reports(institute, case, report_types) %}
<a href="#submenu1" aria-controls="submenu1" data-bs-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-book fa-fw me-3"></span>
        <span class="menu-collapsed">Reports</span>
        <span class="submenu-icon ms-auto"></span>
    </div>
</a>
<!-- Submenu content -->
<!-- General report -->
<div id='submenu1' class="collapse sidebar-submenu">
    <div href="#" class="bg-dark list-group-item text-white">
      <div class="d-flex flex-row flex-fill bd-highlight">
        <div>
          <span class="menu-collapsed">General</span>
        </div>
        <div>
          <a href="{{ url_for('cases.case_report', institute_id=institute._id, case_name=case.display_name) }}" target="_blank" rel="noopener">
                <span class="fa fa-link"></span></a>
        </div>
        <div>
          <a href="{{ url_for('cases.pdf_case_report', institute_id=institute._id, case_name=case.display_name) }}" download>
                <span class="far fa-file-pdf"></span></a>
        </div>
      </div>
    </div>

    <!-- If connected to a chanjo instance, display coverage report -->
    {% if config.SQLALCHEMY_DATABASE_URI and case.track != "cancer" %}
      <div href="#" class="bg-dark list-group-item text-white">
        <div class="d-flex flex-row flex-fill bd-highlight">
          <span class="menu-collapsed">Coverage</span>
            <form method="POST" id="coverage_html" target="_blank" rel="noopener" action="{{ url_for('report.report', sample_id=case.individual_ids, level=institute.coverage_cutoff, panel_name=case.panel_names|join(', ')) }}">
              <input type="hidden" name="gene_ids" value="{{ case.default_genes|join(',') }}"></input>
              <a href="javascript:;" onclick="document.getElementById('coverage_html').submit();">
                <span class="fa fa-link"></span></a>
            </form>
        </div>
      </div>
    {% endif %}

    <!-- Display mtDNA report for non-cancer cases -->
    {% if case.track != "cancer" %}
    <div href="#" class="bg-dark list-group-item text-white">
      <div class="d-flex flex-row flex-fill bd-highlight">
        <div>
          <span class="menu-collapsed">mtDNA report</span>
        </div>
        <div>
          <a href="{{ url_for('cases.mt_report', institute_id=institute._id, case_name=case.display_name) }}" target="_blank" rel="noopener"><span class="far fa-file-excel"></span></a>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Custom case reports as in constants.CUSTOM_CASE_REPORTS -->
    {% for _, report_data in report_types.items() %}
      {{ custom_case_report(institute, case, report_data) }}
    {% endfor %}

    <!-- Delivery reports for old analyses -->
    {% if case.analyses %}
      {% for analysis in case.analyses %}
        {% if analysis.delivery_report %}
          {{ analysis_report( institute._id, case, analysis ) }}
        {% endif %}
      {% endfor %}
    {% endif %}
</div>
<!-- end reports macro -->
{% endmacro %}

{% macro custom_case_report(institute, case, report_data) %}
  {% set report_key = report_data.key_name %}
  {% if case.get(report_key) %}
    <div href="#" class="bg-dark list-group-item text-white">
      <div class="d-flex flex-row bd-highlight mt-1">
        <div>
          <span class="menu-collapsed">{{report_key|replace("_"," ")|title}}</span>
        </div>
        {% if case.get(report_key) is existing %}
          <div>
            <a href="{{ url_for('cases.custom_report', institute_id=institute._id,
                              case_name=case.display_name, report_type=report_key) }}" target="_blank" rel="noopener"><span class="fa fa-link"></span></a>
          </div>
          {% if report_data.pdf_export %}
            <div>
              <a href="{{ url_for('cases.custom_report', institute_id=institute._id,
                                case_name=case.display_name, report_type=report_key, report_format='pdf') }}" download><span class="far fa-file-pdf"></span></a>
            </div>
          {% endif %}
        {% else %}
          <div><span class="fa fa-exclamation-triangle ms-1" data-bs-toggle="tooltip" title="A report of this type has been registered for the case but not found on the file system."></span></div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro analysis_date(case) %}
<div href="#" class="bg-dark list-group-item text-white">
  <div class="d-flex w-100 justify-content-start align-items-center">
    <span class="far fa-clock fa-fw me-3"></span>
    <span class="menu-collapsed">{{ case.analysis_date.date() }}</span>
  </div>
</div>
{% if case.is_migrated %}
  <div href="#" class="bg-dark list-group-item text-white">
    <div class="d-flex w-100 justify-content-start align-items-center">
      <span class="fa fa-info fa-fw me-3"></span>
      <span class="menu-collapsed">migrated</span>
    </div>
  </div>
{% endif %}
{% endmacro %}

{% macro genome_build(case, case_groups, has_rna_tracks) %}
<div href="#" class="bg-dark list-group-item text-white">
  <div class="d-flex w-100 justify-content-start align-items-center">
      <span class="fa fa-wrench fa-fw me-3"></span>
      <span class="menu-collapsed">Genome build {{ case.genome_build }}</span>
  </div>
</div>
<div href="#" class="bg-dark list-group-item d-inline-block text-white">
  {% if case.bam_files %}
    <form action="{{url_for('alignviewers.igv', institute_id=case['owner'], case_name=case['display_name']) }}" target="_blank" rel="noopener">
      <button role="submit" class="btn btn-xs form-control btn-secondary">I<span class="menu-collapsed">GV viewer</span></button>
    </form>
  {% else %}
    <span class="fa fa-times-circle fa-fw me-3"></span><span class="text-muted menu-collapsed">Alignment missing</span>
  {% endif %}
</div>
{% if has_rna_tracks %}
  <div href="#" class="bg-dark list-group-item d-inline-block text-white">
    <form action="{{url_for('alignviewers.sashimi_igv', institute_id=case['owner'], case_name=case['display_name']) }}" target="_blank" rel="noopener">
      <button role="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Only available in build GRCh38" class="btn btn-xs form-control btn-secondary">R<span class="menu-collapsed">NA splicing</span></button>
    </form>
  </div>
{% endif %}
{% endmacro %}

{% macro rank_model(case) %}
<div href="#" class="bg-dark list-group-item text-white">
  <div class="d-flex w-100 justify-content-start align-items-center">
      <span class="fa fa-barcode fa-fw me-3"></span>
      <span class="menu-collapsed">Rank model v.<a href="{{ case.rank_model_link }}">{{ case.rank_model_version }}</a></span>
  </div>
</div>
{% if case.sv_rank_model_version %}
  <div href="#" class="bg-dark list-group-item text-white">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-barcode fa-fw me-3"></span>
        <span class="menu-collapsed">SV rank model v.<a href="{{ case.sv_rank_model_link }}">{{ case.sv_rank_model_version }}</a></span>
    </div>
  </div>
{% endif %}
{% endmacro %}

{% macro status(case) %}
  <div class="list-group-item d-inline-block bg-dark">
    <div class="nav-sidebar-item" style="color: #FFFFFF;">
      <span class="fa fa-star fa-fw me-3"></span>
      <span class="menu-collapsed">
      Status: {{ case.status|capitalize }}
    </div>
  </div>
{% endmacro %}

{% macro assign(institute, case) %}
<div class="list-group-item d-inline-block bg-dark">
  <div class="nav-sidebar-item" style="color: #FFFFFF;">
    <span class="fa fa-users fa-fw me-3"></span>
    <span class="menu-collapsed">Assignees<br><br>
      {% for user in case.assignees %}
        <form method="POST" action="{{ url_for('cases.assign', institute_id=institute._id,
          case_name=case.display_name, user_id=user._id) }}">
            {% if case.assignees|length == 1 and not case.status in ['inactive', 'prioritized'] %}
              <button type="button" name="action" value="DELETE" class="btn btn-warning btn-xs form-control" data-bs-toggle="modal" data-bs-target="#confirm_inactivate">
            {% else %}
              <button type="submit" name="action" value="DELETE" class="btn btn-warning btn-xs form-control">
            {% endif %}
                <span class="fa fa-remove"></span>
                  {{ user.name }}
              </button>
        </form>
      {% endfor %}
      <form method="POST"
          action="{{ url_for('cases.assign', institute_id=institute._id,
                             case_name=case.display_name) }}"
          title="You adopt a case to show that you assume responsibility for it. Your name will show up in relation to the case for all team members to see.">
          <button class="btn btn-light form-control btn-xs">
            <span class="fa fa-heart"></span> Assign yourself</button>
      </form>
    </span>
  </div>
</div>

{% endmacro %}

{% macro research(case) %}
<a href="#submenu2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu2" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-start align-items-center">
    <span class="fa fa-graduation-cap fa-fw me-3"></span>
    <span class="menu-collapsed">Research list</span>
    <span class="submenu-icon ms-auto"></span>
  </div>
</a>
<!-- Submenu content -->
  {% if case.research_requested %}
    <span class="d-flex align-items-center"><span class="menu-collapsed">
      <em class="text-white mt-1 ms-3">Research pending</em></span>
      <button type="button" class="btn btn-danger btn-xs ms-3" data-bs-toggle="modal" data-bs-target="#cancel-research-modal"><span class="far fa-hand-paper text-white"></span></button>
    </span>
  {% else %}
    <div id='submenu2' class="collapse">
      <button type="button" class="btn btn-danger btn-sm form-control" data-bs-toggle="modal" data-bs-target="#research-modal">Request research</button>
    </div>
  {% endif %}
{% endmacro %}

{% macro rerun(institute, case) %}
<a href="#submenu3" data-bs-toggle="collapse" aria-controls="submenu3" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-start align-items-center">
    <span class="fa fa-retweet fa-fw me-3"></span>
    <span class="menu-collapsed">Reruns</span>
    <span class="submenu-icon ms-auto"></span>
  </div>
</a>
<!-- Submenu content -->
{% if case.rerun_requested %}
  {% if 'RERUN_MONITOR' in config and config.RERUN_MONITOR == True %}
    <div id='submenu3' class="collapse">
      {{ rerun_monitor_interact(institute, case) }}
    </div>
  {% endif %}
  <span class="d-flex align-items-center">
    <em class="text-white mt-1 ms-3">Rerun pending</em>
  </span>
  <form action="{{ url_for('cases.update_rerun_status', institute_id=institute._id, case_name=case.display_name) }}">
    <button class="btn btn-info btn-sm form-control" type="submit" name="rerun_update">Reset rerun status</button>
  </form>
{% else %}
  <div id='submenu3' class="collapse">
    {% if 'RERUN_MONITOR' in config and config.RERUN_MONITOR == True %}
      {{ rerun_monitor_interact(institute, case) }}
    {% endif %}
    {% if "RERUN_URL" in config %}
      <form action="{{config['RERUN_URL']}}" target="_blank" rel="noopener">
        <button class="btn btn-warning btn-sm form-control" type="submit">Request rerun</button>
      </form>
    {% endif %}
    <form action="{{ url_for('cases.update_rerun_status', institute_id=institute._id, case_name=case.display_name) }}">
      <button class="btn btn-info btn-sm form-control" type="submit" name="rerun_update">Set rerun as pending</button>
    </form>
  </div>
{% endif %}
{% endmacro %}

{% macro rerun_monitor_interact(institute, case) %}
  <div class="ms-3 mt-1">
    <form action="{{ url_for('cases.rerun_monitor', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
      <span><input type="checkbox" id="rerun_monitoring" onChange="this.form.submit()" name="rerun_monitoring" value="monitor" {% if case.rerun_monitoring %}checked{% endif %}></span><span class="text-white" data-bs-toggle="tooltip" title="A new analysis will start when relevant parts of the workflow are updated"> Activate monitoring</span>
    </form>
  </div>
{% endmacro %}

{% macro share_case(institute, case, collaborators) %}
<a href="#submenu4" data-bs-toggle="collapse" aria-controls="submenu4" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-start align-items-center">
    <span class="fa fa-handshake fa-fw me-3"></span>
    <span class="menu-collapsed">Share case</span>
    <span class="submenu-icon ms-auto"></span>
  </div>
</a>
<!-- Submenu content -->
<div id='submenu4' class="collapse sidebar-submenu">
  {% if collaborators %}
    <div class="form-group">
      <form action="{{ url_for('cases.share', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
        <div class="input-group">
          <select class="form-control form-control-sm" name="collaborator">
            <option selected disabled value="">Select institute</option>
            {% for collab_id, collab_name in collaborators %}
              <option value="{{ collab_id }}">{{ collab_name }}</option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-light btn-sm">Share</button>
          </span>
        </div>
      </form>
    </div>
  {% endif %}
  {% if case.o_collaborators %}
    <form method="POST" action="{{ url_for('cases.share', institute_id=institute._id, case_name=case.display_name) }}">
      <input type="hidden" name="revoke" />
      <div class="input-group">
        <select class="form-control form-control-sm" name="collaborator">
          <option>Institute</option>
          {% for collab_id, collab_name in case.o_collaborators %}
            <option value="{{ collab_id }}">{{ collab_name }}</option>
          {% endfor %}
        </select>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-light btn-sm">Revoke</button>
        </div>
      </div>
    </form>
  {% endif %}
</div>
{% endmacro %}

{% macro beacon_share(institute, case, current_user) %}
  {% if "beacon_submitter" not in current_user.roles %}
    <a disabled="disabled" data-bs-toggle="popover" data-bs-content="You don't have the permission to submit data to the Beacon. Please contact us to start using this functionality." class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  {% else %}
    <a data-bs-target="#beacon_modal" data-bs-toggle="modal" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  {% endif %}
    <div class="d-flex w-100 justify-content-start align-items-center">
      <span class="fab fa-watchman-monitoring me-3"></span>
      <span class="menu-collapsed">{% if case.beacon %}Beacon submission {% else %} Share to Beacon {% endif %}</span>
      <span class="submenu-icon ms-auto"></span>
    </div>
  </a>
{% endmacro %}

{% macro matchmaker_share(institute, case, current_user) %}
  {% if "mme_submitter" not in current_user.roles %}
    <a disabled="disabled" data-bs-toggle="popover" data-bs-content="You don't have the permission to submit data to Matchmaker Exchange. Please contact us to start using this functionality." class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  {% elif "suspects" not in case or case.suspects|length == 0 %}
    <a disabled="disabled" data-bs-toggle="popover" data-bs-content="No pinned variants for this case. Please pin at least a variant (SNV, SV) to share to the Matchmaker Exchange" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  {% else %}
    <a data-bs-target="#matchmaker_modal" data-bs-toggle="modal" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  {% endif %}
    <div class="d-flex w-100 justify-content-start align-items-center">
      <span class="fas fa-people-arrows me-3"></span>
      <span class="menu-collapsed">Matchmaker</span>
      <span class="submenu-icon ms-auto"></span>
    </div>
  </a>
{% endmacro %}

{% macro check_decipher(case, institute) %}
<a href="#submenu5" data-bs-toggle="collapse" aria-controls="submenu5" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-start align-items-center">
    <span class="fa fa-check fa-fw me-3"></span>
    <span class="menu-collapsed">Decipher check</span>
    <span class="submenu-icon ms-auto"></span>
  </div>
</a>
<!-- Submenu content -->
<div id='submenu5' class="collapse sidebar-submenu">
  <form method="POST"
            action="{{ url_for('cases.check_case', case_name=case.display_name, institute_id=institute._id) }}">
        <button name="action" value="DELETE" class="btn btn-success form-control">
          <span class="far fa-check-square"></span>
          Decipher Checked
        </button>
      </form>
</div>
{% endmacro %}

{% macro research_modal(institute, case) %}
  <form action="{{ url_for('cases.research', institute_id=institute._id,
                           case_name=case.display_name) }}" method="POST">
    <div class="modal fade" id="research-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Request research list</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Please confirm that you want to <strong>upload research variants for {{ case.display_name }}</strong>.</p>
            <p>You also confirm that you have the <strong>relevant consent</strong>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="{{ url_for('cases.reset_research', institute_id=institute._id,
                           case_name=case.display_name) }}" method="GET">
    <div class="modal fade" id="cancel-research-modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <p>Cancel request to upload research variants?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>

    </div>
  </form>
{% endmacro %}

{% macro reanalysis_modal(institute, case) %}
<div id="reanalysis-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Request reanalysis</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="toggleEditMetadata()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please confirm that you want to toggle a <strong>reanalysis of {{ case.display_name }}</strong> with the updated pedigree information. This will <strong>create a new sample</strong> with updated information.</p>
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('cases.reanalysis', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
          <input type="hidden" name="sample_metadata" id="reanalysis-data-container" value="" />
          <button type="button" class="btn btn-default" data-bs-dismiss="modal" onclick="toggleEditMetadata()">Close</button>
          <button type="submit" value="{{ case.display_name }}" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_inactivate(institute, case) %}
<div class="modal fade" id="confirm_inactivate" tabindex="-1" role="dialog" aria-labelledby="confirmInactivateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmInactivateLabel">Confirm inactivate case</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are the last user working on this case, do you wish to inactivate it?
      </div>
      {% if case.assignees %}
      <div class="modal-footer">
        <form method="POST" action="{{ url_for('cases.assign', institute_id=institute._id,
          case_name=case.display_name, user_id=case.assignees[0]._id, inactivate=True) }}">
          <button name="action" value="DELETE" type="submit" class="btn btn-primary">Inactivate case</button>
        </form>
        <form method="POST" action="{{ url_for('cases.assign', institute_id=institute._id,
          case_name=case.display_name, user_id=case.assignees[0]._id) }}">
          <button name="action" value="DELETE" type="submit" class="btn btn-secondary" >Do not inactivate</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}


{% macro archive_case(institute,case, causatives)%}
<div class="modal fade" id="archive_modal" tabindex="-1" role="dialog" aria-labelledby="archiveCaseLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="archiveCaseLabel">Confirm archive case</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if causatives|length == 0 %}
        <div class="modal-body">
          Are you sure? This will disable the alignment view and delete analysis files.
          You will have to request a FULL rerun to continue evaluating e.g. research variants.
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="POST"
            action="{{ url_for('cases.status', institute_id=institute._id, case_name=case.display_name) }}">
            <button type="submit" class="btn btn-primary" value="archived" name="status">Archive</button>
          </form>
        </div>
      {% else %}
        <div class="modal-body">
          You have marked causatives for this case. Please clear them before archiving the case.
          Note that a solved case is subject to the same archive policy as archived cases.
          Archived cases will not count as solved.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro analysis_report(institute, case, analysis) %}
{% if analysis.delivery_report == case.delivery_report and analysis.date.date() == case.analysis_date.date() %}
{% else %}
  <div href="#" class="bg-dark list-group-item text-white">
    <div class="d-flex flex-row flex-fill bd-highlight">
      <div>
        <span class="menu-collapsed">Delivery ({{ analysis.date.date() }})</span>
      </div>
      {% if analysis.delivery_report != case.delivery_report and analysis.delivery_report is existing %}
        <div>
          <a href="{{ url_for('cases.custom_report', institute_id=institute,
                            case_name=case.display_name, report_type='delivery_report', date=analysis.date.date()) }}" target="_blank" rel="noopener"><span class="fa fa-link"></span></a>
        </div>
        <div>
          <a href="{{ url_for('cases.custom_report', institute_id=institute,
                            case_name=case.display_name, report_type='delivery_report', date=analysis.date.date(), format='pdf') }}" download><span class="far fa-file-pdf"></span></a>
        </div>
      {% elif analysis.delivery_report == case.delivery_report %}
        <div><span class="fa fa-exclamation-circle ms-1" data-bs-toggle="tooltip" title="A delivery report had been registered for the analysis but has been replaced."></span></div>
      {% else %}
        <div><span class="fa fa-exclamation-triangle ms-1" data-bs-toggle="tooltip" title="A delivery report has been registered for the case but not found on the file system."></span></div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endmacro %}
