{% macro action_bar(institute, case, collaborators) %}

<div class="col-md-2 float-left pl-0 collapse width show" id="sidebar">
  <div class="list-group border-0 card text-center text-md-left">
    <a href="#menu_reports" class="list-group-item d-inline-block" data-toggle="collapse" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Report files</span> </a>
    <div class="collapse" id="menu_reports" data-parent="#sidebar">
      {{ reports(institute,case) }}
    </div>
    {{ analysis_date(case) }}
    {{ genome_build(case) }}
    {{ rank_model(case) }}
    {{ status(institute, case) }}
    {{ assign(institute, case) }}
    {% if not (case.is_archived or case.is_research) %}
      {{ research(case) }}
    {% endif %}
    {{ rerun(case) }}
    {{ share_case(institute, case, collaborators) }}
    {% if case.needs_check %}
      {{ check_decipher(case, institute) }}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro reports(institute, case) %}
<div class="list-group-item">
    <div class="row">
        <div class="btn-group-vertical btn-block">
            <a class="btn btn-light form-control" href="{{ url_for('cases.case_report', institute_id=institute._id,
                      case_name=case.display_name) }}" target="_blank" >General</a>
            {% if case.multiqc %}
              <a class="btn btn-light form-control btn-sm" href="{{ url_for('cases.multiqc', institute_id=institute._id,
                        case_name=case.display_name) }}">
              MultiQC
              </a>
            {% endif %}
            <a class="btn btn-light form-control btn-sm" href="{{ url_for('cases.mt_report', institute_id=institute._id,
                      case_name=case.display_name) }}">mtDNA report
            </a>
            {% if case.delivery_report %}
              <a href="{{ url_for('cases.delivery_report', institute_id=institute._id,
                          case_name=case.display_name) }}" class="btn btn-default btn-light form-control btn-sm" target="_blank">
              Delivery
              </a>
              {% for analysis in case.analyses %}
                <a href="{{ url_for('cases.delivery_report', institute_id=institute._id,
                                    case_name=case.display_name, date=analysis.date) }}" target="_blank">
                  {{ analysis.date.date() }}
                </a>
                <br/>
              {% endfor %}
            {% endif %}
          </div>
          <br>
          </div>

            {% if config.SQLALCHEMY_DATABASE_URI %}
            <div class="row justify-content-center">
              <form method="POST" action="{{ url_for('report.report', sample_id=case.individual_ids, level=institute.coverage_cutoff, panel_name=case.panel_names|join(', ')) }}" target="_blank">
                <input type="hidden" name="gene_ids" value="{{ case.default_genes|join(',') }}"></input>

                <div class="form-group">
                  <button type="submit" class="btn btn-default btn-light form-control btn-sm btn-block">Coverage report</button>
                </div>
              </form>
            </div>
            <br>
            <p>Based on: {{ case.panels|selectattr('is_default')|map(attribute='panel_name')|join(', ') }}</p>
              <form method="POST" action="{{ url_for('report.pdf', level=institute.coverage_cutoff, dl='yes') }}">
                <input type="hidden" name="gene_ids" value="{{ case.default_genes|join(',') }}" />
                <input type="hidden" name="panel_name" value="{{ case.panel_names|join(', ') }}" />
                {% for sample_id in case.individual_ids %}
                    <input type="text" name="sample_id" value="{{ sample_id }}" hidden>
                {% endfor %}
                <div class="row justify-content-center">
                  <div class="form-group">
                    <button type="submit" class="btn btn-default btn-light form-control btn-sm btn-block">
                      Download PDF (coverage)
                    </button>
                  </div>
                </div>
              </form>
            {% endif %}
</div>
{% endmacro %}

{% macro analysis_date(case) %}
  <div class="list-group-item d-inline-block"><i class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Analysis date</span>
    <br>
    <div class="text-center">
    {{ case.analysis_date.date() }}
    {% if case.is_migrated %}
      <span class="label label-info ">migrated</span>
    {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro genome_build(case) %}
  <div class="list-group-item d-inline-block"><i class="fa fa-wrench"></i> <span class="d-none d-md-inline">Genome build</span>
    <br>
    <div class="text-center">
    {{ case.genome_build }}
    </div>
  </div>
{% endmacro %}

{% macro status(institute, case) %}
  <div class="list-group-item d-inline-block">
    <form method="POST"
          action="{{ url_for('cases.status', institute_id=institute._id, case_name=case.display_name) }}">
      <div class="nav-sidebar-item">
          <i class="fa fa-star"></i>
          Status: {{ case.status|capitalize }}<br>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            {% if case.status != 'archived' %}
              <button type="submit" class="btn btn-warning btn-sm" name="status" value="archived" onclick="return confirm('Are you sure? This will disable the alignment view and delete analysis files. You will have to request a FULL rerun to continue evaluating e.g. research variants.')">
                Archive
              </button>
            {% else %}
              <button type="submit" class="btn btn-info btn-sm" name="status" value="active">
                Unarchive
              </button>
            {% endif %}
          </div>
          <div class="btn-group">
            <button name="status" value="{{ 'active' if case.status == 'prioritized' else 'prioritized' }}" type="submit" class="btn btn-light btn-sm">
              {{ 'De-prioritize' if case.status == 'prioritized' else 'Prioritize' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endmacro %}

{% macro assign(institute, case) %}
<div class="list-group-item d-inline-block">
      <i class="fa fa-users"></i>
      Assignees
    <br>
    <div class="btn-group-vertical col-10">
      <div class="row">
        <div class="btn-group-vertical">
        {% for user in case.assignees %}
            <form method="POST"
                  action="{{ url_for('cases.assign', institute_id=institute._id,
                                     case_name=case.display_name, user_id=user._id) }}">
              <button name="action" value="DELETE" class="btn btn-warning btn-sm form-control">
                <i class="fa fa-remove"></i>
                {{ user.name }}
              </button>
            </form>
        {% endfor %}
        <form method="POST"
              action="{{ url_for('cases.assign', institute_id=institute._id,
                                 case_name=case.display_name) }}"
              title="You adopt a case to show that you assume responsibility for it. Your name will show up in relation to the case for all team members to see.">
          <button class="btn btn-light form-control btn-sm">
            <i class="fa fa-heart"></i>Assign yourself</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro research(case) %}
<div class="list-group-item d-inline-block">
  <div class="nav-sidebar-item">
    <div class="btn-group-vertical col-10">
      <div class="row">
        <i class="fa fa-graduation-cap"></i>
        Research list<br>
        {% if case.research_requested %}
          <i>Research pending</i>
        {% else %}
          <button type="button" class="btn btn-danger btn-sm form-control" data-toggle="modal" data-target="#research-modal">Request research</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro rerun(case) %}
<div class="list-group-item d-inline-block">
  <div class="nav-sidebar-item">
    <i class="fa fa-retweet"></i> Reruns<br>
      <div class="btn-group-vertical col-10">
        <div class="row">
        {% if case.rerun_requested %}
          <i>Rerun pending</i>
        {% else %}
          <button type="button" class="btn btn-warning form-control btn-sm" data-toggle="modal" data-target="#rerun-modal">Request rerun</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro rank_model(case) %}
<div class="list-group-item d-inline-block">
  <div class="nav-sidebar-item">
      Rank model
    Version {{ case.rank_model_version }}
    {% if case.sv_rank_model_version %} <br>SV Version {{ case.sv_rank_model_version }} {% endif %}
  </div>
</div>
{% endmacro %}

{% macro share_case(institute, case, collaborators) %}
<div class="list-group-item">
  {% if case.owner == institute._id %}
  <div class="nav-sidebar-item">
      <i class="fa fa-handshake-o"></i>
      Share case
      <br>
          <div class="row">
          {% if collaborators %}
            <div class="form-group">
              <form action="{{ url_for('cases.share', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
                <div class="input-group">
                  <select class="form-control" name="collaborator">
                    <option class="placeholder" selected disabled value="">Select institute</option>
                    {% for collab_id, collab_name in collaborators %}
                      <option value="{{ collab_id }}">{{ collab_name }}</option>
                    {% endfor %}
                  </select>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-light btn-sm">Share</button>
                  </span>
                </div>
              </form>
            </div>
          {% endif %}
          {% if case.o_collaborators %}
            <form method="POST" action="{{ url_for('cases.share', institute_id=institute._id, case_name=case.display_name) }}">
              <input type="hidden" name="revoke" />
              <div class="input-group">
                <select class="form-control sm" name="collaborator">
                  <option>Institute</option>
                  {% for collab_id, collab_name in case.o_collaborators %}
                    <option value="{{ collab_id }}">{{ collab_name }}</option>
                  {% endfor %}
                </select>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-light btn-sm">Revoke</button>
                </div>
              </div>
            </form>
          {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro check_decipher(case, institute) %}
<div class="list-group-item d-inline-block">
  <div class="nav-sidebar-item">
    <h5>
      <i class="fa fa-check"></i>
    </h5>
      <form method="POST"
            action="{{ url_for('cases.check_case', case_name=case.display_name, institute_id=institute._id) }}">
        <button name="action" value="DELETE" class="btn btn-success form-control">
          <i class="fa fa-check-square-o"></i>
          Decipher Checked
        </button>
      </form>
  </div>
</div>
{% endmacro %}
