{% macro genepanels_table(case, institute) %}
  <div class="card panel-default">
    <div class="panel-heading">Gene panels</div>

    <div class="table-responsive fixed-panel" style="max-height:400px; overflow-y: scroll;">
      <table id="panel-table" class="table" style="width:100%">
        <thead>
          <tr style="cursor: pointer; white-space: nowrap">
            <th>Panel <i class="fas fa-sort" data-toggle="tooltip" title="Sort by gene panel name"></i></th>
            <th>Version <i class="fas fa-sort" data-toggle="tooltip" title="Sort by panel version"></i></th>
            <th>Genes <i class="fas fa-sort" data-toggle="tooltip" title="Sort by number of genes"></i></th>
          </tr>
        </thead>
        <tbody>
          {% for panel in case.panels %}
            <tr {% if panel.is_default %} class="bg-info-light" {% endif %}>
              <td>
                <a href="{{ url_for('panels.panel', panel_id=panel.panel_id, case_id=case._id, institute_id=institute._id) }}">
                  {{ panel.display_name|truncate(30, True) }}
                </a>
                {% if panel.is_default %}
                  <span class="badge badge-default pull-right">Default</span>
                {% endif %}
              </td>
              <td>{{ panel.version }} <small class="text-muted">({{ panel.updated_at.date() }})</small></td>
              <td>{{ panel.nr_genes }}</td>
            </tr>
          {% else %}
            <tr>
              <td colspan="5">No panels linked to case</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <form action="{{ url_for('cases.default_panels', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
        <div class="form-group">
          <label>Change default gene panels</label>
        </div>
        <div class="row">
          <div class="col-8">
            <select name="panel_ids" class="selectpicker" multiple="multiple">
              {% for panel in case.panels %}
                <option value="{{ panel.panel_id }}" {% if panel.is_default %} selected {% endif %}>{{ panel.display_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-secondary form-control">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro change_default_panels(case, institute) %}
  <div class="card panel-default">
    <div class="panel-heading">Change default gene panels</div>
    <div class="card-body">
      <form action="{{ url_for('cases.default_panels', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
        <div class="row">
          <div class="col-xs-4">
            <select name="panel_ids" class="form-control" multiple>
              {% for panel in case.panels %}
                <option value="{{ panel.panel_id }}" {% if panel.is_default %} selected {% endif %}>{{ panel.display_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-outline-secondary form-control">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro hpo_genelist_panel(case, institute, config) %}
  <div id="hpo_genelist_panel">
    <div>
      <h6 class="ml-3 mt-3"><span class="fas fa-clipboard-list"></span>&nbsp;HPO gene panel ({{ case.dynamic_gene_list|length }} genes)
        {%- if case.dynamic_panel_phenotypes %},
        <span data-toggle="tooltip" data-placement="bottom" title="{{ case.dynamic_panel_phenotypes|join(', ') }}">
            {{ case.dynamic_panel_phenotypes|length }} phenotypes</span>
        {% endif %})
        {% if config.SQLALCHEMY_DATABASE_URI and case.dynamic_gene_list|length > 0 %}
          <a class="pull-right" href="#" onclick="document.getElementById('hpo-report-form').submit();">Coverage</a>
          <form id="hpo-report-form" action="{{ url_for('report.report', sample_id=case.individuals|map(attribute='individual_id')|list, panel_name="HPO panel", level=institute.coverage_cutoff) }}" method="POST" target="_blank">
            <input type="hidden" name="gene_ids" value="{{ case.dynamic_gene_list|map(attribute='hgnc_id')|join(',') }}">
          </form>
        {% endif %}
      </h6>
    </div>

    <!-- scrollable div containing dynamic gene list -->
    <div class="mt-3 ml-3" style="max-height:200px; overflow-y: scroll; min-height: 100px;">
      {% for hpo_gene in case.dynamic_gene_list %}
        {{ hpo_gene.hgnc_symbol }}&nbsp;&nbsp;
      {% else %}
        <span class="text-muted">No gene list generated</span>
      {% endfor %}
    </div>

    {% if case.dynamic_gene_list %}
      <div>
        <div class="mt-3 d-flex justify-content-center mb-3">
          <div class="col">
            <div class="row">
              <form action="{{ url_for('cases.update_clinical_filter_hpo', institute_id=institute._id, case_name=case.display_name)+'#hpo_clinical_filter' }}" method="POST">
                <input type="checkbox" class="ios8-switch" id="hpo_clinical_filter" onChange="this.form.submit()" name="hpo_clinical_filter"{% if case.hpo_clinical_filter %}checked{% endif %}>
                <label for="hpo_clinical_filter"></label>
              </form>
              <p data-placement="top" data-toggle='tooltip'
                title="Toggle on to use dynamic (HPO) panel instead of default gene panel for searching with clinical filter.">&nbsp;&nbsp;Use HPO list for clinical filter</p>
            </div>
            <div class="row">
              {% if case.track == 'cancer' %}
                <a class="btn btn-secondary btn-sm text-white"
                  href="{{ url_for('variants.cancer_variants', institute_id=institute._id,
                                   case_name=case.display_name, variant_type='clinical',
                                   gene_panels=['hpo']) }}">
                   Clinical HPO SNV variants
                 </a>
              {% else %}
                <a class="btn btn-secondary btn-sm text-white"
                  href="{{ url_for('variants.variants', institute_id=institute._id,
                                   case_name=case.display_name, variant_type='clinical',
                                   gene_panels=['hpo']) }}">
                   Clinical HPO SNV variants
                 </a>
               {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="row">
              <a class="btn btn-sm btn-primary mt-1" href="{{ url_for('cases.download_hpo_genes', institute_id=institute._id, case_name=case.display_name, category="clinical") }}" download><span class="fa fa-download text-white" aria-hidden="true"></span>&nbsp;&nbsp;Clinical HPO gene panel</a>&nbsp;&nbsp;
              <a class="btn btn-sm btn-primary mt-1" href="{{ url_for('cases.download_hpo_genes', institute_id=institute._id, case_name=case.display_name, category="research") }}" download><span class="fa fa-download text-white" aria-hidden="true"></span>&nbsp;&nbsp;Research HPO gene panel &nbsp;&nbsp</a>
            </div>
          </div>

        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}
