{% extends "layout_bs4.html" %}

{% block title %}
  {{ super() }} - Institutes
{% endblock %}

{% block top_nav %}
  {{ super() }}

  <li class="active">
    <span class="navbar-text">Institutes</span>
  </li>
{% endblock %}

{% block content_main %}
  <div class="container">
    <h2> Available Institutes </h2>
      {% for institute, case_count in institutes %}
      <div class="card light-card">
        <div class="card-body">
          <a href="{{ url_for('cases.cases', institute_id=institute._id) }}">
            {{ institute.display_name }}
          </a>
          {% if current_user.is_admin %}
            <span class="text-muted">({{ institute._id }})</span>
          {% endif %}
          <div class="col-xs-4">
            <span class="badge badge-light pull-right">{{ case_count }} cases</span>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
