
{% macro cancer_individuals_table(case, institute, tissues) %}
<form method="POST" action="{{ url_for('cases.update_cancer_sample', institute_id=institute._id, case_name=case.display_name) }}">
  <div class="card panel-default">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th data-toggle='tooltip' data-container='body' class="col-xs-1"
             title="Sample display name">Sample</th>
            <th class="col-xs-2" title="Tumor Type">Tumor Type</th>
            <th class="col-xs-1" title="Phenotype">Phenotype</th>
            <th data-toggle='tooltip' data-container='body' class="col-xs-1"
             title="Type of sequencing (e.g panel, wes)">Sequencing</th>
            <th data-toggle='tooltip' data-container='body' class="col-xs-1"
             title="Measure of the tumor mutational burden">TMB</th>
            <th data-toggle='tooltip' data-container='body' class="col-xs-1"
             title="Measure of microsatellite instability">MSI</th>
            <th data-toggle='tooltip' data-container='body' class="col-xs-1"
             title="Measure of tumor purity">Tumor Purity</th>
            <th data-toggle='tooltip' data-container='body' class="col-xs-1"
             title="Tissue origin for the sample">Tissue</th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          {% for ind in case.individuals %}
            <tr {% if ind.phenotype_human == 'tumor' %} class="bg-danger-light" {% endif %}>
              <td>{{ ind.display_name }}</td>
              {% if ind.phenotype_human == "normal" %}
                <td>N/A</td>
              {% else %}
                <td><input name="tumor_type.{{ind.individual_id}}" class="form-control col-10" value="{{ ind.tumor_type or 'unknown'}}"></td>
              {% endif %}
              <td>{{ ind.phenotype_human }}</td>
              <td>{{ ind.analysis_type|upper }}</td>
              <td>{{ ind.tmb or 'N/A' }}</td>
              <td>{{ ind.msi or 'N/A' }}</td>
              {% if ind.phenotype_human == "tumor" %}
                <td class="d-flex flex-row align-items-center"><input name="tumor_purity.{{ind.individual_id}}" type="number" step="0.01" min="0.1" max=1
                  class="form-control col-7" value="{{ind.tumor_purity}}">
                  {% if not ind.tumor_purity or ind.tumor_purity|float < 0.2 %}
                    &nbsp;&nbsp; <i class="fa fa-exclamation" data-toggle='tooltip' data-container='body' title="Low or missing tumor purity"></i>
                  {% endif %}
                </td>
              {% else %}
                <td>N/A</td>
              {% endif %}
              <td>
                <select class="form-control col-6" name="tissue_type.{{ind.individual_id}}">
                  {% for key,tissue in tissues.items() %}
                    <option value="{{tissue}}" {{ 'selected' if ind.tissue_type == tissue }}>{{tissue}}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <button class="btn btn-secondary btn-sm form-control" name="update_ind"
                  type="submit" value="{{ ind.individual_id }}">Save</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endmacro %}

{% macro individuals_table(case, institute, tissues, display_rerunner, gens_info=None) %}
<form method="POST" action="{{ url_for('cases.update_individual', institute_id=institute._id, case_name=case.display_name) }}">
  <div class="card">

    {% if display_rerunner %}
      <div class="panel-heading">
      <button id="edit-case-metadata" class="btn btn-sm btn-dark btn-header" value="toggle_reanalysis" name="update_ind_tbl" type="button" onclick="toggleEditMetadata()"><i class="fa fa-edit fa-fw mr-2"></i>Correct metadata</button>
      <button id="toggle-case-rerun" class="btn btn-sm btn-success btn-header" value="toggle_reanalysis" data-toggle="modal" data-target="#reanalysis-modal" name="update_ind_tbl" type="button" onclick="forwardPedigreeData()" hidden><i class='fa fa-retweet fa-fw mr-2'></i>Toggle reanalysis</button>
      <button id="edit-case-metadata-reset" class="btn btn-sm btn-danger btn-header" onclick="toggleEditMetadata()" type="button" hidden><span class="fa fa-times fa-fw mr-2"></span>Clear changes</button>
      <div id="processing" class="btn btn-sm btn-dark btn-header" hidden>
          <div class="loader"></div>
          <p>Processing rerun</p>
      </div>
      </div>
    {% endif %}

    <div class="panel-body">
    <div class="table-responsive">
      <table id="individuals-table" class="table table-sm">
        <thead>
          <tr>
            <th data-toggle='tooltip' data-container='body' style="width: 20%" title="Display name of sample">Sample</th>
            <th data-toggle='tooltip' style="width: 5%" title="Sample sex">Sex</th>
            <th data-toggle='tooltip' style="width: 12%" title="Age at sampling">Age</th>
            <th data-toggle='tooltip' style="width: 10%" title="Phenotype of sample">Phenotype</th>
            <th data-toggle='tooltip' data-container='body' title="Type of sequencing (e.g wes, wgs)" style="width: 10%">Sequencing</th>
            <th data-toggle='tooltip' data-container='body' title="Ancestry prediction from peddy" style="width: 10%">Ancestry (pred.)</th>
            <th data-toggle='tooltip' data-container='body' title="If parenthood is confirmed by peddy" style="width: 10%">Kinship</th>
            <th data-toggle='tooltip' data-container='body' title="Downloadable CytoSure file" style="width: 5%">CGH</th>
            <th data-toggle='tooltip' data-container='body' title="Tissue origin for the sample" style="width: 13%">Tissue</th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          {% for ind in case.individuals %}
            <tr {% if ind.phenotype_human == 'affected' %} class="bg-danger-light ind-row" {% else %} class="ind-row" {% endif %}>
              <td>
                <label for="{{ ind.display_name }}-check">
                  <div class="form-check form-check-inline">
                    <input id="{{ ind.display_name }}-check" class="sample-selection form-check-input" type="checkbox" name="{{ ind.display_name }}-check" value="{{ ind.display_name }}" hidden checked onclick="$(this)." />
                    {{ ind.display_name }}
                  </div>
                </label>
                {% if gens_info.display %}
                  <a style="font-size: .8rem;" class="btn btn-outline-dark btn-sm" target="_blank" href="http://{{gens_info.host}}/{{ind.display_name}}?&genome_build={{case.genome_build}}">CN profile</a>
                {% endif %}
                </td>
              <td>
                <select class="sex-selector form-control-sm" name="sex-selector" hidden>
                  <option {% if ind.sex_human == "male" %} selected {% endif %} value="male">Male</option>
                  <option {% if ind.sex_human == "female" %} selected {% endif %} value="female">Female</option>
                  <option {% if not ind.sex_human in ["female", "male"] %} selected= {% endif %} value="unknown">Unknown</option>
                </select>
                <div class="sex-display" style="font-weight: bold;">
                  {% if ind.sex_human in ['female','male'] %}
                    {% if ind.sex_human == 'female' %}
                      F
                    {% elif ind.sex_human == 'male' %}
                      M
                    {% else %}
                      {{ind.sex_human}}
                    {% endif %}
                  {% endif %}
                  {% if ind.confirmed_sex %}
                    <i class="fa fa-check"></i>
                  {% endif %}
                </div>
              </td>
              <td><input name="age_{{ind.individual_id}}" type="number" step="0.1" min="0"
                  class="age-selection form-control-sm col-8" value="{{ind.age}}"></td>
              <td>
                <select class="phenotype-selector form-control-sm" name="phenotype-selector" hidden>
                  <option {% if ind.phenotype_human == "affected" %} selected {% endif %} value="affected">Affected</option>
                  <option {% if ind.phenotype_human == "unaffected" %} selected {% endif %} value="unaffected">Unaffected</option>
                </select>
                <div class="phenotype-display">{{ ind.phenotype_human }}</div>
              </td>
              <td>{{ ind.analysis_type|upper }}</td>
              <td>{{ ind.predicted_ancestry or 'N/A' }}</td>
              <td>
                {% if ind.confirmed_parent == True %}
                  <i class="fa fa-check"></i>
                {% elif ind.confirmed_parent == False %}
                  <i class="fa fa-exclamation-circle"></i>
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>
                {% if ind.vcf2cytosure %}
                <a href="{{ url_for('cases.vcf2cytosure', institute_id=institute._id,
                      case_name=case.display_name, individual_id=ind.individual_id) }}" download class="btn">
                  <i class="fa fa-download"></i>
                </a>
                {% else %}
                  N/A
                {% endif %}
                <td>
                  <select id="tissue-selection" class="form-control-sm col-10" name="tissue_{{ind.individual_id}}">
                    {% for key,tissue in tissues.items() %}
                      <option value="{{tissue}}" {{ 'selected' if ind.tissue_type == tissue }}>{{tissue}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <button class="btn btn-secondary btn-sm form-control" name="update_ind"
                    type="submit" value="{{ ind.individual_id }}">Save</button>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
</form>
{% endmacro %}
