{% from "cases/utils.html" import remove_form %}

{% macro cohort_panel(case, institute, cohort_tags) %}
  <div class="card" id="cohorts">
    <div class="panel-heading">
      <h6 class="mt-3 ml-3"><span class="fa fa-tag"></span>&nbsp;Cohort tag
    </div>
    <div class="card-body">
      {% for cohort_batch in case.cohorts|batch(5, '') -%}
        <div class="row d-flex align-items-center">
          {% for cohort in cohort_batch %}
            {% if cohort %}
            {{cohort}}
            <span class="pull-right">
              {{ remove_form(url_for('cases.cohorts', institute_id=institute._id,
                                     case_name=case.display_name, remove='yes'),
                             hidden_input=('cohort_tag', cohort)) }}
            </span>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <span class="text-muted">No cohort tags added yet.</span>
      {% endfor %}

    </div>
    <div class="card-footer">
      <form method="POST"
            action="{{ url_for('cases.cohorts', institute_id=institute._id,
                               case_name=case.display_name) }}">
        <div class="form-inline row justify-content-between">
          <div class="col-sm-5">
            <select class="form-control" name="cohort_tag" style="width:100%">
              {% for cohort_tag in cohort_tags %}
                <option value="{{ cohort_tag }}">{{ cohort_tag }}</option>
              {% endfor %}
            </select>
          </div>
            <button class="btn btn-secondary form-control" type="submit">Add</button>
            <a href="{{ url_for('overview.institute_settings', institute_id=institute._id) }}">Add more selectable options</a>
        </div>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro diagnosis_phenotypes(case, institute, omim_terms) %}
  <div class="col-6">OMIM Phenotypes</div>
    {{ diagnosis_form('phenotype', case, institute) }}
  </div>
  <div class="col-6">
    <ul class="list-group">
      {% for omim_id in case.diagnosis_phenotypes %}
        <li class="list-group-item d-flex">
          {% if omim_id in omim_terms %}
            <a class="flex-fill" target="_blank" href="http://omim.org/entry/{{ omim_id }}">
              {{ omim_id }} - {{ omim_terms[omim_id].description }}
            </a>
            <a class="text-white" target="_blank" href="{{url_for('diagnoses.omim_diagnosis', omim_nr=omim_terms[omim_id].disease_nr)}}">
              <span class="badge badge-secondary badge-pill text-white">genes:{{omim_terms[omim_id].genes|length}}</span>
              <span class="badge badge-info badge-pill text-white">hpo:{{omim_terms[omim_id].hpo_terms|length}}</span>
            </a>
          {% else %}
            <a class="flex-fill" target="_blank" href="http://omim.org/entry/{{ omim_id }}">
                {{ omim_id }}
            </a>
          {% endif %}
          &nbsp;&nbsp;&nbsp;
          <span class="pull-right">
            {{ remove_form(url_for('cases.case_diagnosis', institute_id=institute._id,
                                  case_name=case.display_name, remove='yes'),
                         hidden_input=('omim_term', omim_id), button_name='phenotype') }}
          </span>
        </li>
      {% else %}
        <li class="list-group-item">No phenotypes added</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro diagnosis_form(type, case, institute) %}
  <form action="{{ url_for('cases.case_diagnosis', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
    <div class="row ml-3 data-width="80%">
      <div class="col-md-10">
        {% if type == "phenotype"%}
          <input name="omim_term" class="form-control typeahead_omim" data-provide="typeahead" autocomplete="off"
            required placeholder="Disease description or OMIM number">
        {% else %}
          <input type="number" name="omim_term" class="form-control" required placeholder="Gene MIM number">
        {% endif %}
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary form-control" type="submit" name="{{ type }}">
          Add
        </button>
      </div>
    </div>
  </form>
  <br>
{% endmacro %}

{% macro phenotype_groups_panel(case, institute, hpo_groups) %}
  <div class="card">
    <div class="panel-heading">
      <div class="panel-heading">
        <h6 class="mt-3 ml-3"><span class="fa fa-stethoscope"></span>&nbsp;Phenotype groups
      </div>
    <div class="card-body">
        {% for hpo_term in case.phenotype_groups %}
        <span class="d-flex align-items-center">
          {{ hpo_term.feature }}&nbsp;
          <span class="badge badge-sm badge-info">
            <a href="{{ hpo_term.hpo_link }}" target="_blank" class="text-white">
              {{ hpo_term.phenotype_id }}
            </a>
          </span>
          {{ remove_form(url_for('cases.phenotypes', institute_id=institute._id, case_name=case.display_name, phenotype_id=hpo_term.phenotype_id, is_group='yes')) }}
          &nbsp;&nbsp;
        </span>

        {% else %}
          <span class="text-muted">No HPO groups added yet.</span>
        {% endfor %}
    </div>
    <div class="card-footer">
      <form method="POST" action="{{ url_for('cases.phenotypes', institute_id=institute._id, case_name=case.display_name, is_group='yes') }}">
        <div class="form-inline row justify-content-between">
          <div class="col-sm-7">
            <select class="form-control" name="hpo_term" style="width:100%">
              <option>Add HPO group...</option>
              {% for hpo_id, group in hpo_groups.items() %}
                <option value="{{ hpo_id }}">
                  {{ group.name }} ({{ group.abbr }})
                </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <button class="btn btn-secondary form-control" type="submit">Add</button>
            <a href="{{ url_for('overview.institute_settings', institute_id=institute._id) }}">Add options</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endmacro%}

{% macro hpo_group_item(hpo_term, case, institute) %}
  <li class="list-group-item">
    <div class="row d-flex justify-content-between">
      <div class="flex-fill">
        {{ hpo_term.feature }}
        <span class="badge badge-info">
          <a href="{{ hpo_term.hpo_link }}" target="_blank" class="text-white">
            {{ hpo_term.phenotype_id }}
          </a>
        </span>
      </div>
      {{ remove_form(url_for('cases.phenotypes', institute_id=institute._id,
                             case_name=case.display_name, phenotype_id=hpo_term.phenotype_id, is_group='yes')) }}
    </div>
  </li>
{% endmacro %}

{% macro hpo_panel(case, institute, config) %}
  {% set url = 'https://hpo.jax.org/app/' %}
    <div id="phenotypes_panel" class="panel-heading">
      <h6 class="mt-3"><span class="fa fa-stethoscope"></span>&nbsp;Phenotype terms (<a target="_blank" href="{{ url }}">HPO</a>)</h6>
    </div>

    <!-- Add new HPO terms to case/individuals -->
    <form method="POST" action="{{ url_for('cases.phenotypes', institute_id=institute._id, case_name=case.display_name) }}">
      <div class="row">
        <div class="col-4">
          <input name="hpo_term" id="hpo_term" class="typeahead_hpo form-control" data-provide="typeahead" autocomplete="off" required placeholder="Search..." oninput="toggleClickableButtons('assign-phenotype-button', 'hpo_term');">
        </div>
        <div class="col-3">
          <select name="phenotype_inds" multiple class="selectpicker">
            {% for ind in case.individuals %}
              <option value="{{ind.individual_id}}|{{ind.display_name}}" {{"selected" if ind.phenotype==2 }}>
                {{ind.display_name}}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-5">
          <button class="btn no-hover btn-outline-secondary btn-sm form-control"  id="assign-phenotype-button">Assign Phenotype</button>
        </div>
      </div>
    </form>
    <!-- End of add new HPO terms to case/individuals -->


    <form action="{{ url_for('cases.phenotypes_actions', institute_id=institute._id, case_name=case.display_name)+'#phenotypes_panel' }}" method="POST">

      <!-- Display and remove added HPO terms -->
      <div class="row mt-3">
        <div class="col-12 ml-3">
          {% for hpo_term in case.phenotype_terms %}
            {{ hpo_item(hpo_term, case.individuals) }}
          {% else %}
            <span class="text-mute">No phenotypes added yet</span>
          {% endfor %}
        </div>
      </div>

      <div id="phenotypes_panel" class="mt-3">
        <div class="row d-flex justify-content-between">
          <div class="col-11">
            <button class="btn btn-sm btn-secondary" type="submit" name="action" value="GENERATE">Create HPO panel</button>
            <input class="ml-3" name="min_match" type="number" min="0" step="1" placeholder="Min matches" style="width:130px"/>
            {% if config.PHENOMIZER_USERNAME %}
              <button class="btn btn-secondary btn-sm" type="submit" name="action" value="PHENOMIZER"
              {%if case.phenotype_terms|length == 0 %} disabled {%endif%}>Phenomizer</button>
            {% endif %}
          </div>
          <div class="col-1">
            <button data-toggle='tooltip' title="Remove selected HPO terms" class="btn btn-danger btn fa fa-trash float-right" type="submit" name="action" value="DELETE"></button>
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-between mt-3">
          <div class="col-4">
            <div data-toggle='tooltip' title="Manually add a gene (must have the same genome build as case analysis) to the dynamic HPO panel.
            To remove, use the HPO panel button to regenerate a list without them.">
                Add gene to the dynamic panel
            </div>
          </div>
          <div class="col-4">
            <input name="genes" pattern="^[0-9]+\s*\|\s*.*" class="typeahead_gene form-control" data-provide="typeahead" autocomplete="off" placeholder="Search..." style="width:130px">
          </div>
          <div class="col-4">
            <button class="btn btn-secondary btn-sm" type="submit" name="action" value="ADDGENE">Add gene</button>
          </div>
        </div>

      </div>
    </form> <!-- End of form phenotype actions -->
{% endmacro %}

{% macro hpo_item(hpo_term, case_individuals) %}
  {% if hpo_term %}
    <input type="checkbox" name="hpo_id" value="{{ hpo_term.phenotype_id }}"
           {% if selected_ids and hpo_term.phenotype_id in selected_ids %}checked{% endif %}>
    {{ hpo_term.feature }}
    <span class="badge badge-info">
      <a href="{{ hpo_term.hpo_link }}" target="_blank" class="text-white">
        {{ hpo_term.phenotype_id }}
      </a>
    </span>
    {% for ind in hpo_term.individuals %}
      {% for case_ind in case_individuals %}
        {% if ind.individual_name == case_ind.display_name%}
          <i data-toggle='tooltip' title="{{ind.individual_name}}" class="fa fa-user {% if case_ind.phenotype == 2 %} text-danger {% endif %}"></i>
        {% endif %}
      {% endfor %}
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;
  {% else %}
  {% endif %}
{% endmacro %}
