{% from "cases/utils.html" import remove_form %}

{% macro cohort_panel(case, institute, cohort_tags) %}
  <div class="card" id="cohorts">
    <div class="panel-heading">
      <h6 class="mt-3 ms-3"><span class="fa fa-tag"></span>&nbsp;Cohort tag</h6>
    </div>
    <div class="card-body">
      {% for cohort_batch in case.cohorts|batch(5, '') -%}
        <div class="row d-flex align-items-center row-cols-auto">
            {% for cohort in cohort_batch %}
              {% if cohort %}
                <div class="col">
                  <div class="badge bg-light text-dark d-flex align-items-center">{{cohort}}
                    <span class="float-end">
                      {{ remove_form(url_for('cases.cohorts', institute_id=institute._id,
                                       case_name=case.display_name, remove='yes'),
                               hidden_input=('cohort_tag', cohort)) }}
                    </span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
      {% else %}
        <span class="text-muted">No cohort tags added yet.</span>
      {% endfor %}
    </div>
    <div class="card-footer">
      <form method="POST"
            action="{{ url_for('cases.cohorts', institute_id=institute._id,
                               case_name=case.display_name) }}">
        <div class="row justify-content-between">
          <div class="col-5">
            <select class="form-control" name="cohort_tag" style="width:100%">
              {% for cohort_tag in cohort_tags %}
                <option value="{{ cohort_tag }}">{{ cohort_tag }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <button class="btn btn-secondary form-control" type="submit">Add</button>
          </div>
          <div class="col-4">
            <a href="{{ url_for('overview.institute_settings', institute_id=institute._id) }}">Add more selectable options</a>
          </div>
        </div>
      </form>
    </div>

  </div>
{% endmacro %}

{% macro diagnosis_phenotypes(case, institute, disease_terms) %}
  <!--Form to add disease terms -->
  <div class="col-6">
  {{ diagnosis_form(case, institute) }}
  </div>
  <!--Display assigned disease terms -->
  <div class="col-6">
  {% if "diagnosis_phenotypes" in case %}
    {% for diagnosis in case.diagnosis_phenotypes %}
      <div class="row">
        <div class="col-11">
            <a href="{{diagnosis.disease_link}}" target="_blank" rel="noopener" data-bs-toggle='tooltip' title="{{diagnosis.description}}">
              {{ diagnosis.disease_id }} - {{ diagnosis.description|truncate(40, true) }}
            </a>
            {% if diagnosis.disease_id in disease_terms %}
              <a class="text-white" target="_blank" href="{{url_for('diagnoses.diagnosis', disease_id=diagnosis.disease_id)}}">
                <span class="badge bg-secondary rounded-pill text-white">genes:{{disease_terms[diagnosis.disease_id].genes|length}}</span>
                <span class="badge bg-info rounded-pill text-white">hpo:{{disease_terms[diagnosis.disease_id].hpo_terms|length}}</span>
              </a>
            {% endif %}
          <!--display diseases at the individual level-->
          {% if diagnosis.individuals %}
            {{ feature_individuals(case, diagnosis) }}
          {% endif %}
        </div>

        <!--option to remove disease term for case-->
        <div class="col-1">
          {{ remove_form(url_for('cases.case_diagnosis', institute_id=institute._id,
                                case_name=case.display_name, remove='yes'),
                       hidden_input=('disease_term', diagnosis.disease_id)) }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <span class="text-mute">No diagnoses added</span>
  {% endif %}
  </div>
{% endmacro %}

<!-- This macro is used to display case individuals associated with an HPO phenotype or a disease -->
{% macro feature_individuals(case, feature) %}
  {% for feature_ind in feature.individuals %}
    {% for case_ind in case.individuals %}
      {% if feature_ind.individual_name == case_ind.display_name%}
        <span data-bs-toggle='tooltip' title="{{feature_ind.individual_name}}" class="fa fa-user {% if case_ind.phenotype == 2 %} text-danger {% endif %}"></span>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}


{% macro diagnosis_form(case, institute) %}
  <form action="{{ url_for('cases.case_diagnosis', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
    <div class="d-flex justify-content-between" id="disease_assign">
      <div>
        <input name="disease_term" id="assign-disease-term" class="form-control typeahead_disease align-self" data-provide="typeahead" autocomplete="off"
            required placeholder="Search..." oninput="toggleClickableButtons('assign-disease-button', 'assign-disease-term');">
      </div>
      <div>
        <select name="affected_inds" multiple class="selectpicker" data-style="btn-secondary">
          {% for ind in case.individuals %}
            <option value="{{ind.individual_id}}|{{ind.display_name}}" {{"selected" if ind.phenotype==2 }}>
              {{ind.display_name}}
            </option>
          {% endfor %}
        </select>
      </div>
      <div style="margin-right:1rem;">
        <button class="btn no-hover btn-secondary form-control" type="submit" id="assign-disease-button">Assign Diagnosis</button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro phenotype_groups_panel(case, institute, hpo_groups) %}
  <div class="card">
    <div class="panel-heading">
      <h6 class="mt-3 ms-3"><span class="fa fa-stethoscope"></span>&nbsp;Phenotype groups</h6>
    </div>
    <div class="card-body">
      {% if case.phenotype_groups %}
        {% for hpo_term in case.phenotype_groups %}
          <span class="d-flex align-items-center">
             {{ hpo_term.feature }}&nbsp;
            <span class="badge badge-sm bg-info">
             <a href="{{ hpo_term.hpo_link }}" target="_blank" class="text-white">
                {{ hpo_term.phenotype_id }}
             </a>
            </span>
            {{ remove_form(url_for('cases.phenotypes', institute_id=institute._id, case_name=case.display_name, phenotype_id=hpo_term.phenotype_id, is_group='yes')) }}
          </span>
        {% endfor %}
      {% else %}
          <span class="text-muted">No HPO groups added yet.</span>
      {% endif %}
    </div>
    <div class="card-footer">
      <form method="POST" action="{{ url_for('cases.phenotypes', institute_id=institute._id, case_name=case.display_name, is_group='yes') }}">
        <div class="row justify-content-between">
          <div class="col-7">
            <select class="form-control" name="hpo_term" style="width:100%">
              <option>Add HPO group...</option>
              {% for hpo_id, group in hpo_groups.items() %}
                <option value="{{ hpo_id }}">
                  {{ group.name }} ({{ group.abbr }})
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <button class="btn btn-secondary form-control" type="submit">Add</button>
          </div>
          <div class="col-2">
            <a href="{{ url_for('overview.institute_settings', institute_id=institute._id) }}">Add options</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endmacro%}

{% macro hpo_group_item(hpo_term, case, institute) %}
  <li class="list-group-item">
    <div class="row d-flex justify-content-between">
      <div class="flex-fill">
        {{ hpo_term.feature }}
        <span class="badge bg-info">
          <a href="{{ hpo_term.hpo_link }}" target="_blank" class="text-white">
            {{ hpo_term.phenotype_id }}
          </a>
        </span>
      </div>
      {{ remove_form(url_for('cases.phenotypes', institute_id=institute._id,
                             case_name=case.display_name, phenotype_id=hpo_term.phenotype_id, is_group='yes')) }}
    </div>
  </li>
{% endmacro %}

{% macro hpo_panel(case, institute, config) %}
  {% set url = 'https://hpo.jax.org/app/' %}
    <div id="phenotypes_panel" class="panel-heading">
      <h6 class="mt-3"><span class="fa fa-stethoscope"></span>&nbsp;Phenotype terms (<a target="_blank" class="" href="{{ url }}" rel="noopener">HPO</a>)</h6>
    </div>

    <!-- Add new HPO terms to case/individuals or export phenopacket -->
  <div class="row mb-3">
  <form method="POST" action="{{ url_for('cases.phenotypes', institute_id=institute._id, case_name=case.display_name) }}">
      <div class="row">
        <div class="col">
          <input name="hpo_term" id="hpo_term" class="typeahead_hpo form-control" data-provide="typeahead" autocomplete="off" required placeholder="Search..." oninput="toggleClickableButtons('assign-phenotype-button', 'hpo_term');">
        </div>
        <div class="col">
          <select name="phenotype_inds" multiple class="selectpicker form-control" data-style="btn-secondary form-control">
            {% for ind in case.individuals %}
              <option value="{{ind.individual_id}}|{{ind.display_name}}" {{"selected" if ind.phenotype==2 }}>
                {{ind.display_name}}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <button class="btn no-hover btn-secondary form-control" id="assign-phenotype-button">Assign</button>
        </div>
      </div>
    </form>
    </div>
    <div class="row mb-3">
      <label for="import-phenotype-modal-btn" class="col col-form-label">Phenopacket file:</label>
      <div class="col">
        <button class="btn btn-secondary form-control" id="import-phenotype-modal-btn" data-bs-toggle="modal" data-bs-target="#import-phenotype">Import</button>
      </div>
      <div class="col">
        <form method="POST" action="{{ url_for('cases.phenotype_export', institute_id=institute._id, case_name=case.display_name) }}" onsubmit="return StopSpinner()">
            <button class="btn btn-secondary form-control" id="export-phenotype-button" type="submit" data-bs-toggle="tooltip" title="Export Phenopacket JSON for affected individual">Export</button>
        </form>
      </div>
    </div>
    <!-- End of add new HPO terms to case/individuals -->

    <form action="{{ url_for('cases.phenotypes_actions', institute_id=institute._id, case_name=case.display_name)+'#phenotypes_panel' }}" method="POST">

      <!-- Display and remove added HPO terms -->
      <div class="row mt-3">
        <div class="col-12 ms-3">
          {% for hpo_term in case.phenotype_terms %}
            {{ hpo_item(hpo_term, case) }}
          {% else %}
            <span class="text-mute">No phenotypes added yet</span>
          {% endfor %}
        </div>
      </div>

      <div id="phenotypes_panel" class="mt-3">
        <div class="row d-flex justify-content-between">
          <div class="col-11">
            <button class="btn btn-sm btn-secondary" type="submit" name="action" value="GENERATE">Create HPO panel</button>
            <input class="ms-3" name="min_match" type="number" min="0" step="1" placeholder="Min matches" style="width:130px"/>
            {% if config.PHENOMIZER_USERNAME %}
              <button class="btn btn-secondary btn-sm" type="submit" name="action" value="PHENOMIZER"
              {%if case.phenotype_terms|length == 0 %} disabled {%endif%}>Phenomizer</button>
            {% endif %}
          </div>
          <div class="col-1">
            <button data-bs-toggle='tooltip' title="Remove selected HPO terms" class="btn btn-danger btn fa fa-trash float-end" type="submit" name="action" value="DELETE"></button>
          </div>

        </div>
        <hr>
        <div class="row d-flex justify-content-between align-items-center mt-3">
          <div class="col-4">
            <div data-bs-toggle='tooltip' title="Manually add a gene (must have the same genome build as case analysis) to the dynamic HPO panel.
            To remove, use the HPO panel button to regenerate a list without them.">
                Add gene to the dynamic panel
            </div>
          </div>
          <div class="col-4">
            <input name="genes" pattern="^[0-9]+\s*\|\s*.*" class="typeahead_gene form-control mb-1" data-provide="typeahead" autocomplete="off" placeholder="Search..." style="width:130px">
          </div>
          <div class="col-4">
            <button class="btn btn-secondary btn-sm" type="submit" name="action" value="ADDGENE">Add gene</button>
          </div>
        </div>

      </div>
    </form> <!-- End of form phenotype actions -->
    {{ import_phenotype_modal(institute, case) }}
{% endmacro %}

{% macro hpo_item(hpo_term, case) %}
  {% if hpo_term %}
    <input type="checkbox" name="hpo_id" value="{{ hpo_term.phenotype_id }}"
           {% if case.dynamic_panel_phenotypes and hpo_term.phenotype_id in case.dynamic_panel_phenotypes %} checked {% endif %}>
    {{ hpo_term.feature }}
    <span class="badge bg-info">
      <a href="{{ hpo_term.hpo_link }}" target="_blank" class="text-white">
        {{ hpo_term.phenotype_id }}
      </a>
    </span>
    {% if hpo_term.individuals %}
      {{ feature_individuals(case, hpo_term) }}
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
  {% else %}
  {% endif %}
{% endmacro %}

{% macro import_phenotype_modal(institute, case) %}
<div class="modal fade" id="import-phenotype" tabindex="-1" role="dialog" aria-labelledby="importPhenotypeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importPhenotypeLabel">Import phenotype case</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{ url_for('cases.phenotype_import', institute_id=institute._id, case_name=case.display_name) }}" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row mb-3">
            <span>Import phenopacket JSON files, or connect to a tip2toe phenotype backend giving a
              packet hash key to retrieve.</span>
          </div>
          <div class="row mb-3">
            <span>Upload phenopackets JSON file</span>
          </div>
          <div class="row mb-3">
            <div class="col-8">
              <input type="file" name="phenopacket_file" class="custom-file-input form-control" onchange="this.nextElementSibling.innerText = this.files[0].name">
              <p class="help-block">How do I format my <a href="https://phenopacket-schema.readthedocs.io/en/latest/index.html" rel="noopener" target="_blank">phenopacket</a> JSON file?</p>
            </div>
            <div class="col-4">
             <button type="submit" class="btn btn-secondary">Import</button>
            </div>
            <div class="row mb-3">
              <span>Fetch phenopackets from UDNI tip2toe</span>
            </div>
            <div class="row mb-3">
              <div class="col-8">
                <input type="string" name="phenopacket_hash" class="text-input form-control">
                <p class="help-block">Fill in phenotype hash from <a href="https://udni-tip2toe.vercel.app" rel="noopener" target="_blank">UDNI tip2toe</a>.</p>
              </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-secondary">Import</button>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Import</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro %}
