{% from "cases/utils.html" import remove_form %}

{% macro cohort_panel(case, institute, cohort_tags) %}
  <div class="card panel-default">
    <div class="panel-heading">Cohort tag</div>
    <div class="card-body">
      <ul class="list-group">
      {% for cohort_tag in case.cohorts %}
        <li class="list-group-item">
          {{ cohort_tag }}
          <span class="pull-right">
            {{ remove_form(url_for('cases.cohorts', institute_id=institute._id,
                                   case_name=case.display_name, remove='yes'),
                           hidden_input=('cohort_tag', cohort_tag)) }}
          </span>
        </li>
      {% else %}
        <li class="list-group-item">No cohort tags added yet.</li>
      {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <form method="POST"
            action="{{ url_for('cases.cohorts', institute_id=institute._id,
                               case_name=case.display_name) }}">
        <div class="form-inline row justify-content-between">
          <div class="col-sm-7">
            <select class="form-control" name="cohort_tag" style="width:100%">
              {% for cohort_tag in cohort_tags %}
                <option value="{{ cohort_tag }}">{{ cohort_tag }}</option>
              {% endfor %}
            </select>
          </div>
            <button class="btn btn-outline-secondary form-control" type="submit">Add</button>
            <a href="{{ url_for('overview.institute', institute_id=institute._id) }}">Add options</a>
        </div>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro diagnosis_phenotypes(case, institute) %}
  <div class="card panel-default">
    <div class="panel-heading">Diagnosis phenotypes</div>
    <div class="card-body">{{ diagnosis_form('phenotype', case, institute) }}</div>
    <div class="card-footer">
      <ul class="list-group">
        {% for omim_id in case.diagnosis_phenotypes %}
          <li class="list-group-item">
            <a target="_blank" href="http://omim.org/entry/{{ omim_id }}">{{ omim_id }}</a>
            <span class="pull-right">
              {{ remove_form(url_for('cases.case_diagnosis', institute_id=institute._id,
                                    case_name=case.display_name, remove='yes'),
                           hidden_input=('omim_id', omim_id), button_name='phenotype') }}
            </span>
          </li>
        {% else %}
          <li class="list-group-item">No phenotypes added</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro diagnosis_genes(case, institute) %}
  <div class="card panel-default">
    <div class="panel-heading">Diagnosis genes</div>
    <div class="card-body">{{ diagnosis_form('gene', case, institute) }}</div>
    <div class="card-footer">
      <ul class="list-group">
        {% for omim_id in case.diagnosis_genes %}
          <li class="list-group-item">
            <a target="_blank" href="http://omim.org/entry/{{ omim_id }}">
              {{ omim_id }}
            </a>
            <span class="pull-right">
              {{ remove_form(url_for('cases.case_diagnosis', institute_id=institute._id,
                                     case_name=case.display_name, remove='yes'),
                             hidden_input=('omim_id', omim_id), button_name='gene') }}
            </span>
          </li>
        {% else %}
          <li class="list-group-item">No genes added</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro diagnosis_form(type, case, institute) %}
  <form action="{{ url_for('cases.case_diagnosis', institute_id=institute._id, case_name=case.display_name) }}" method="POST">
    <div class="row">
      <div class="col-xs-8">
        <input class="form-control" name="omim_id" placeholder="OMIM:XXX" required pattern="OMIM:[0-9]+">
      </div>
      <div class="col-xs-4">
        <button class="btn btn-outline-secondary form-control" type="submit" name="{{ type }}">
          Add
        </button>
      </div>
    </div>
  </form>
{% endmacro %}
