.activity-feed {
  font-size: .9em;
}

.activity-feed-item {
  padding: 1em;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#000, .2);
  }
}

.activity-feed-item-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timestamp {
  font-size: .9em;
  color: rgba(#000, .6);
}

.activity-feed-delete-button {
  cursor: pointer;
}

.activity-feed-item-body {
  margin-top: .3em;
  font-size: 1.1em;
}
