// require "./buttons"

.md-breadcrumbs {
  display: flex;
  align-items: center;
}

.md-breadcrumbs-separator {
  margin-top: -3px;
}

.md-breadcrumb-button {
  @extend .button;

  font-size: .9em;
  margin: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}
