// +-------------------------------------------------------------------+
// | Buttons
// +-------------------------------------------------------------------+
// require "./shadow"

// Public API
$button-height: 36px !default;
$button-color: $primary-color !default;

// shared styles
%button {
  border: none;
  display: inline-block;
  height: $button-height;
  padding: 0 1rem;
  border-radius: 2px;
  line-height: $button-height;
  cursor: pointer;
}

// raised Button
.md-button {
  @extend %button;
  @extend .md-shadow-1;

  text-decoration: none;
  color: #fff;
  background-color: $button-color;
  text-align: center;
  letter-spacing: .8px;
  transition: .2s ease-out;

  &:hover {
    @extend .md-shadow-1-half;

    background-color: lighten($button-color, 3%);
  }
}

// flat button
.md-button-flat {
  @extend %button;

  box-shadow: none;
  background-color: transparent;
  color: #343434;
  text-transform: uppercase;

  &.disabled {
    color: lighten(#999, 10%);
  }

  &:hover {
    background-color: #DFDFDF;
  }
}
