// +-------------------------------------------------------------------+
// | Card
// +-------------------------------------------------------------------+
// require "./buttons"
$card-bg-color: #fff;

.md-card-list {
  > .md-card {
    transition: .2s ease-out;

    &:hover {
      @extend .md-shadow-1-half;
    }

    &:active {
      background-color: darken($card-bg-color, 3%);
    }
  }

  > .md-card:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.md-card {
  @extend .md-shadow-0-half;

  // styles
  background: $card-bg-color;
  text-decoration: none;

  width: 100%;
  display: inline-block;
}

%md-card-part {
  padding: .5rem;
  border-color: rgba(#000, .15);
  font-size: .9rem;
  color: #444;
}

.md-card-header {
  @extend %md-card-part;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-weight: bold;
  background-color: $primary-color-lighter;
}

%md-card-base {
  &.mod-scrollable {
    max-height: 13rem;
    overflow-y: auto;
  }

  &.mod-scrollable-big {
    max-height: 20rem;
    overflow-y: auto;
  }
}

.md-card-body {
  @extend %md-card-base;
  // layout
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.md-card-body-list {
  @extend %md-card-base;
}

.md-card-body--padded {
  @extend .md-card-body;

  padding: 1rem;
}

.md-card-footer {
  @extend %md-card-part;

  border-top-width: 1px;
  border-top-style: solid;
}
