// navbar
.cases-search-input {
	padding: 0 .5em;
	-webkit-font-smoothing: antialiased;
}

// content
.cases-list {
	padding: 2em 0;
	width: 80%;
	max-width: 60em;
	margin-right: auto;
	margin-left: auto;
}

.cases-item {
	// layout
	display: flex;
	align-items: center;

	// styles
	background: #fff;
	box-shadow: 0 1px 3px -1px rgba(#000, .4);

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

%cases-item-base {
	padding: 1rem;
}

.cases-item-title {
	@extend %cases-item-base;

	position: relative;
	color: darken(#00bcd4, 10%);

	display: flex;
	align-items: center;
	flex: 1;

	font-size: 1.5em;
	line-height: 0;
	text-decoration: none;

	&:hover {
		background-color: rgba($primary-color, .2);
	}
}

.cases-item-indicator {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
	background-color: #00bcd4;
	margin-right: .7rem;
}

.cases-item-date {
	@extend %cases-item-base;

	color: rgba(#000, .5);
	font-size: .9em;
}

.cases-item-link {
	@extend %cases-item-base;

	display: inline-block;
}
