// navbar
.cases-search-input {
	padding: 0 .5em;
	-webkit-font-smoothing: antialiased;
}

// content
.cases-list {
	padding: 2em 0;
	width: 80%;
	max-width: 60em;
	margin-right: auto;
	margin-left: auto;
}

.cases-item {
	background: #fff;
	box-shadow: 0 1px 3px -1px rgba(#000, .4);

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

%cases-item-base {
	padding: 1.2em 1em;
}

.cases-item-title {
	@extend %cases-item-base;

	padding-left: .7em;
	font-size: 1.5em;
	line-height: 0;
	flex-basis: 50%;
}

.cases-item-date {
	@extend %cases-item-base;

	color: rgba(#000, .5);
	font-size: .9em;
}

.cases-item-link {
	@extend %cases-item-base;

	display: inline-block;
}
