// +-------------------------------------------------------------------+
// | Drawer-Panel
// +-------------------------------------------------------------------+
// | Simple, animated drawer (left side). Useful for stuffing away
// | navigation etc.
// +-------------------------------------------------------------------+
// require "./shadow"

// Public API
$drawer-panel-aside-width: 20rem;
$drawer-panel-aside-bg: #fff;

drawer-panel {
  position: relative;
}

.drawer-panel-overlay {
  // covers the entire container (usually window)
  position: fixed;
  height: 100%;
  width: 100%;

  // should be ontop of everything but the drawer
  z-index: 2;

  // starts out pushed out of the way and invisible
  top: 0;
  left: -100%;
  background-color: rgba(#000, 0);

  // fade in when drawer is summoned
  transition: background-color 250ms, left 0 250ms $global-timing-function;
}

.drawer-panel-aside {
  // add some extra distance to overlay
  @extend .md-shadow-1-half;

  // coveres the height of the container
  position: fixed;
  top: 0px;
  height: 100%;

  // fixed but min-width (flex: 0)
  width: $drawer-panel-aside-width;

  // starts out pushed out of view to the left
  transition: all 250ms $global-timing-function;

  // should be ontop of everything else pretty much
  z-index: 3;

  // scrollable
  overflow-y: auto;
  padding-bottom: 1rem;

  background-color: $drawer-panel-aside-bg;

  &.right {
    // hide out of view on small screens (+ clear drop shadow)
    right: -($drawer-panel-aside-width + 1rem);

    &.is-showing {
      // slide in from the right when summoned
      right: 0;
    }
  }

  &.left {
    // hide out of view on small screens (+ clear drop shadow)
    left: -($drawer-panel-aside-width + 1rem);

    &.is-showing {
      // slide in from the left when summoned
      left: 0;
    }
  }

  &.is-showing {
    + .drawer-panel-overlay {
      // ... and this activates the overlay as well
      // slide in from the left with drawer
      left: 0;
      background-color: rgba(#000, .54);

      // update transition to make it dissapear quicker than it appeared
      transition: background-color 400ms;
    }
  }
}
