// Feed component for displaying and interacting with events and comments

.feed-toolbar {
  width: 100%;
}

.comment-box-toolbar {
  display: flex;
  justify-content: space-between;
}

.comment-box-input {
  background-color: #fff;
  box-sizing: border-box;
  min-height: 5rem;
}

.comment-box-toolbar {
  padding: .5rem 0;
  display: flex;
  align-items: center;
}

.comment-box-toolbar-setting {
  > label {
    font-size: .8rem;
    color: gray;
  }
}
