// +-------------------------------------------------------------------+
// | Header Panel
// +-------------------------------------------------------------------+
.md-header-panel {
  // take up the whole outer container
  height: 100%;

  // dist. content vertically
  display: flex;
  flex-direction: column;

  // default styles
  background-color: $body-fg;
}

.md-header-panel-header {
  background-color: $primary-color;

  &.disabled {
    background-color: #9E9E9E;  // gray
  }
  &.success {
    background-color: #8BC34A; // green
  }
}

.md-header-panel-body {
  // cover the rest of the container vertically
  flex: 1;
  // always be scrollable (y) if necessary
  overflow-y: auto;
  overflow-x: hidden;
}
