.list--horizontal {
  display: flex;
  overflow: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .7rem 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#000, .1);
  }

  &:hover {
    background-color: rgba(0, 188, 212, .1);
  }
}
