.list--horizontal {
  display: flex;
  overflow: auto;

  // make it work with tooltip
  position: absolute;
  max-width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .7rem 1rem;

  border-bottom: 1px solid rgba(#000, .1);

  &:hover {
    background-color: rgba(0, 188, 212, .1);
  }
}
