// +-------------------------------------------------------------------+
// | Md-Modal
// +-------------------------------------------------------------------+
// | Simple centered take-over modal.
// +-------------------------------------------------------------------+
// require "./shadow"

// Public API
$md-modal-aside-bg: #fff;

md-modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 0;
  width: 100%;
}

.md-modal-overlay {
  // covers the entire container (usually window)
  position: fixed;
  height: 100%;
  width: 100%;

  // should be ontop of everything but the drawer
  z-index: 2;
  cursor: pointer;

  top: -100%;
  left: 0;
  background-color: rgba(#000, 0);

  // fade in when drawer is summoned
  transition: background-color 250ms;
}

.md-modal {
  // add some extra distance to overlay
  @extend .md-shadow-1-half;

  margin-top: -100%;
  min-width: 30rem;

  // should be ontop of everything else pretty much
  z-index: 3;

  background-color: $md-modal-aside-bg;
  transition: margin-top .2s;

  &.is-showing {
    display: block;
    margin-top: 0;

    + .md-modal-overlay {
      // ... and this activates the overlay as well
      background-color: rgba(#000, .54);
      top: 0;
    }
  }
}

.md-modal-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(#000, .2);
  background-color: rgba(#000, .05);
  font-weight: bold;
}

.md-modal-body {
  padding: 0.5rem 1rem;
}
