// +-------------------------------------------------------------------+
// | Shadow: for different z-levels
// +-------------------------------------------------------------------+

.md-shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(#000, .16),
              0 2px 10px 0 rgba(#000, .12);
}
.md-shadow-1-half {
  box-shadow: 0 5px 11px 0 rgba(#000, .18),
              0 4px 15px 0 rgba(#000, .15);
}
.md-shadow-2 {
  box-shadow: 0 8px 17px 0 rgba(#000, .2),
              0 6px 20px 0 rgba(#000, .19);
}
.md-shadow-3 {
  box-shadow: 0 12px 15px 0 rgba(#000, .24),
              0 17px 50px 0 rgba(#000, .19);
}
.md-shadow-4 {
  box-shadow: 0 16px 28px 0 rgba(#000, .22),
              0 25px 55px 0 rgba(#000, .21);
}
.md-shadow-5 {
  box-shadow: 0 27px 24px 0 rgba(#000, .2),
              0 40px 77px 0 rgba(#000, .22);
}
