// +-------------------------------------------------------------------+
// | Toolbar
// +-------------------------------------------------------------------+
// Public API
$toolbar-bg-color: $primary-color;

.md-toolbar {
  // resets
  position: relative;

  // fixed height
  height: 3.5rem;

  // ... and flexbox model
  display: flex;
  align-items: center;

  // keep just above secondary toolbars (shadows etc.)
  z-index: 1;

  // slightly bigger text than the body content
  font-size: 1.3rem;

  // default styles
  color: #fff;

  a {
    // default
    color: #fff;
  }

  // items in the toolbar are kept separated by default
  > * {
    margin: 0 .4rem;
  }
}

%secondary-menubar {
  // keep just below md-toolbar (shadows etc.)
  z-index: 0;

  // distinguish from other toolbar(s)
  border-top: 1px solid rgba(#000, .15);
}

.is-secondary {
  @extend %secondary-menubar;

  // make scrollable
  overflow-x: auto;

  > * {
    margin: 0 .4rem;
    flex-shrink: 0;
  }
}

.md-toolbar-group {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-left: 1px solid rgba(#000, .15);

  // items in the toolbar are kept separated by default
  > * {
    margin: 0 .4rem;
  }

  > :last-child {
    margin-right: 0;
  }
}

.md-toolbar-user {
  // reset
  text-decoration: none;

  display: flex;
  align-items: center;
  padding-right: .5rem;
}

.md-toolbar-user-icon {
  @extend .icon-button;
}

.md-toolbar-user-name {
  font-size: .9rem;
}
