$variants-cell-padding: .6rem;

%variants-item {
	flex: 1;
	padding: $variants-cell-padding;

	position: relative;
	text-decoration: none;

	// dotdotdot
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&:not(:last-child) {
		border-right-width: 1px;
		border-right-style: solid;
	}
}

.flex-big {
	flex: 3;
}

.variants-header {
	display: flex;
	background-color: $primary-color;
	border-top: 1px solid rgba(#000, .15);
	padding: 0;
	font-size: .9em;
}

.variants-header-item {
	@extend %variants-item;

	color: #fff;
	border-right-color: rgba(#000, .15);
}

.variants-body {
	background-color: #fff;
	font-size: .9rem;
	border-bottom: 1px solid rgba(#000, .15);
	border-top: 1px solid rgba(#000, .15);
	box-shadow: 0 1px 0 rgba(#000, .07);
	color: rgba(#000, .6);

	// clear overflow
	margin-top: 1em;
}

.variants-row {
	display: flex;

	&:nth-child(even) {
		background-color: rgba(#000, .01);
	}

	&:hover {
		background: rgba($primary-color, .03);
	}

	&:not(:last-child) {
		border-bottom: 1px solid rgba(#000, .1);
	}
}

.variants-row-item {
	@extend %variants-item;

	&:not(:last-child) {
		border-right-color: rgba(#000, .15);
	}
}

.variants-row-list {
	@extend %variants-item;
	padding-top: 0;
	padding-bottom: 0;

	display: flex;
	overflow: auto;
}

.variants-row-list-item {
	padding: $variants-cell-padding;
	flex-shrink: 0;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	&:not(:last-child) {
		border-right: 1px solid rgba(#000, .1);
	}
}

.variants-row-item {
	overflow: visible;
}

.variants-tooltip-tip {
	position: absolute;
	padding: 8px;
	color: white;
	background-color: rgba(#000, .8);
	border-radius: 3px;
	white-space: nowrap;
	z-index: 20;
	visibility: hidden;

	font-size: .9em;
	line-height: 1.3em;

	&:hover {
		visibility: visible;
	}

	> ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

.is-left {
	right: 100%;
	margin-right: .5rem;

	top: -15px; // works for 3 rows
}

.is-right {
	left: 100%;
	margin-left: .5rem;

	top: -15px; // works for 3 rows
}

.is-bottom {
	top: 100%;
	margin-top: .5rem;

	left: -50px; // works for 3 rows
}


.variants-tooltip {
	position: relative;
	overflow: visible;

	&:hover > .variants-tooltip-tip {
		visibility: visible;
	}
}

.variants-load-more {
	@extend .button-base;

	display: block;
	margin: 1.5rem auto;
	width: 10em;
}
