<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% block css %}
	<link rel="stylesheet" href="{{ url_for('public.static', filename='external/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('public.static', filename='external/font-awesome.min.css') }}">
	{% endblock %}

	{% block css_style %}{% endblock %}
</head>
<body>
	{% block body %}
	{% block content_main %}
	{% endblock %}
	{% endblock %}

	{% block scripts %}
	<script src="{{ url_for('public.static', filename='external/bootstrap.min.js') }}"></script>
	{% endblock %}
</body>
</html>
