{% extends "bootstrap/base.html" %}

{% block title %}
  Scout
{% endblock %}

{% block styles %}
  {{ super() }}

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
  <div class="container-fluid main">
    <div class="row">
      <div class="col-xs-12">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category or 'default' }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

    {% block content_main %}{% endblock %}
  </div>
{% endblock %}
