{% extends 'layouts/base.html' %}
{% from 'macros/_polymer.html' import core_item %}

{% block css %}
  {{ super() }}
{% endblock %}

{% block body_classes %}
  unresolved
{% endblock %}

{% block body %}

  <div id="app">
    <drawer-panel v-ref="drawer">
      {% block main_drawer %}
        {{ core_item('Home', icon='home', href=url_for('frontend.index')) }}

        {{ core_item('User Guide', icon='book', href='http://clinical-genomics.github.io/scout/user-guide/pages/', target='_blank') }}

        {{ core_item('Changes', icon='history', href='https://github.com/Clinical-Genomics/scout', target='_blank') }}

        {{ core_item('Open issues', icon='announcement', href='https://github.com/Clinical-Genomics/scout/issues', target='_blank') }}

        {% if current_user.has_role('admin') %}
          {{ core_item('Admin', icon='create', href='/admin') }}
        {% endif %}

        {{ core_item('Logout', icon='close', onclick="document.querySelector('#hidden-logout').click();") }}
        <form action="{{ url_for('login.logout') }}" method="POST">
          <button type="submit" id="hidden-logout" class="hidden-submit"></button>
        </form>
      {% endblock %}
    </drawer-panel>

    <div class="md-header-panel">
      <div class="md-header-panel-header">
        <div class="md-toolbar">
          {% block toolbar %}

            {% block toolbar_left %}
              <div v-on="click: showDrawer" class="icon-button">
                <core-icon icon="menu"></core-icon>
              </div>
            {% endblock %}

            {% block toolbar_right %}
              <a class="md-label" href="{{ url_for('profile.profile', user_id=current_user.id) }}">
                <div class="md-label-icon">
                  <core-icon icon="account-circle"></core-icon>
                </div>
                <div class="md-label-text">
                  {{ current_user.first_name }}
                </div>
              </a>
            {% endblock %}

          {% endblock %}
        </div>

        {% block toolbar_custom %}
          {# Still fixed but below the toolbar #}
          <div class="md-toolbar is-secondary">
            {% block toolbar_secondary %}{% endblock %}
          </div>
        {% endblock %}
      </div>

      <div class="md-header-panel-body">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  {% block js_btm %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/superagent/0.15.7/superagent.min.js"></script>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  {% endblock %}

{% endblock %}
