{% extends 'layouts/base.html' %}
{% from 'macros/_polymer.html' import core_item %}

{% block css %}
    {{ super() }}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/temp.css') }}">
  {% endblock %}

{% block js_top %}

  {{ super() }}

  <script src="{{ url_for('static', filename='vendor/platform/platform.js') }}"></script>
  <link rel="import" href="{{ url_for('static', filename='vendor/polymer/polymer.html') }}">

  <link rel="import" href="{{ url_for('static', filename='vendor/core-icon-button/core-icon-button.html') }}">
  <link rel="import" href="{{ url_for('static', filename='vendor/paper-icon-button/paper-icon-button.html') }}">
  <link rel="import" href="{{ url_for('static', filename='vendor/core-tooltip/core-tooltip.html') }}">
  <link rel="import" href="{{ url_for('static', filename='vendor/paper-item/paper-item.html') }}">

{% endblock %}

{% block body %}

  <div class="drawer-panel">
    <div class="drawer-panel-aside">
      {% block main_drawer %}
        {{ core_item('Home', icon='home', href=url_for('frontend.index')) }}

        {{ core_item('User Guide', icon='book', href='https://github.com/Clinical-Genomics/scout/tree/master/docs/source') }}

        {{ core_item('Changes', icon='history', href='https://github.com/Clinical-Genomics/scout/blob/master/docs/source/index.md') }}

        {% if current_user.has_role('admin') %}
          {{ core_item('Admin', icon='create', href='/admin') }}
        {% endif %}

        {{ core_item('Logout', icon='close', onclick="document.querySelector('#hidden-logout').click();") }}
        <form action="{{ url_for('login.logout') }}" method="POST">
          <button type="submit" id="hidden-logout" class="hidden-submit"></button>
        </form>
      {% endblock %}
    </div>

    <div class="drawer-panel-overlay" onclick="document.querySelector('.drawer-panel-aside').classList.toggle('is-showing');"></div>
  </div>

  <div class="header-panel">
    <div class="header-panel-toolbar--tall">
      {% block toolbar_tall %}

        <div class="header-toolbar-top">
          {% block toolbar_top %}
            <div class="button-menu" onclick="document.querySelector('.drawer-panel-aside').classList.toggle('is-showing');"></div>

            <div class="flex"></div>

            {% block toolbar_top_right %}
              <a class="icon-button" href="{{ url_for('user.profile', user_id=current_user.id) }}">
                <core-icon icon="account-circle"></core-icon>
              </a>
            {% endblock %}
          {% endblock %}
        </div>

        <div class="header-toolbar-middle is-indented">
          {% block toolbar_middle %}{% endblock %}
        </div>

        {% block toolbar_bottom_outer %}
        <div class="header-toolbar-bottom is-indented">
          {% block toolbar_bottom %}{% endblock %}
        </div>
        {% endblock %}

      {% endblock %}
    </div>

    <div class="header-panel-toolbar-main">
      {% block content %}{% endblock %}
    </div>
  </div>

{% endblock %}
