{% extends 'layouts/base.html' %}
{% from 'macros/_polymer.html' import core_item %}

{% block css %}
    {{ super() }}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/temp.css') }}">
  {% endblock %}

{% block body %}

  <div id="app">
    <drawer-panel v-ref="drawer">
      {% block main_drawer %}
        {{ core_item('Home', icon='home', href=url_for('frontend.index')) }}

        {{ core_item('User Guide', icon='book', href='https://github.com/Clinical-Genomics/scout/tree/master/docs/source') }}

        {{ core_item('Changes', icon='history', href='https://github.com/Clinical-Genomics/scout/blob/master/docs/source/index.md') }}

        {% if current_user.has_role('admin') %}
          {{ core_item('Admin', icon='create', href='/admin') }}
        {% endif %}

        {{ core_item('Logout', icon='close', onclick="document.querySelector('#hidden-logout').click();") }}
        <form action="{{ url_for('login.logout') }}" method="POST">
          <button type="submit" id="hidden-logout" class="hidden-submit"></button>
        </form>
      {% endblock %}
    </drawer-panel>

    <div class="header-panel">
      <div class="header-panel-toolbar--tall">
        {% block toolbar_tall %}

          <div class="header-toolbar-top">
            {% block toolbar_top %}
              <div v-on="click: showDrawer" class="icon-button">
                <core-icon data-icon="menu"></core-icon>
              </div>

              {% block toolbar_top_left %}{% endblock %}

              <div class="flex"></div>

              {% block toolbar_top_right %}
                <a class="icon-button" href="{{ url_for('user.profile', user_id=current_user.id) }}">
                  <core-icon data-icon="account-circle"></core-icon>
                </a>
              {% endblock %}
            {% endblock %}
          </div>

          {% block toolbar_bottom_outer %}
          <div class="header-toolbar-bottom is-indented">
            {% block toolbar_bottom %}{% endblock %}
          </div>
          {% endblock %}

        {% endblock %}
      </div>

      <div class="header-panel-toolbar-main">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

{% endblock %}
