{% extends "core/layout.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - Cases
{% endblock %}

{% block top_nav %}
  <li class="active">
    <a href="{{ url_for('core.cases', institute_id=institute_id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li>
    <a href="{{ url_for('genes.panels', institute_id=institute_id) }}">
      Gene Panels
    </a>
  </li>
{% endblock %}

{% block content_main %}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ search_form() }}
    </div>
    <div class="panel-footer text-center">
      Found <strong>{{ found_cases }}</strong> cases
    </div>
  </div>

  {% if prio_cases.first() %}
    <div class="table-responsive">
      {{ cases_table([('priority', prio_cases)]) }}
    </div>
  {% endif %}

  <div class="table-responsive">{{ cases_table(cases) }}</div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-table-headers/0.1.19/js/jquery.stickytableheaders.min.js"></script>
  <script>
    $(function () {
      $('table').stickyTableHeaders({
        fixedOffset: $(".navbar-fixed-top")
      });
    })
  </script>
{% endblock %}

{% macro search_form() %}
  <form action="{{ url_for('core.cases', institute_id=institute_id) }}" method="GET" accept-charset="utf-8">
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="search" class="form-control" value="{{ query if query }}" name="query" placeholder="search cases"></input>
        </div>
      </div>
      <div class="col-md-2 col-xs-4">
        <button type="submit" class="form-control">Search</input>
      </div>
      <div class="col-md-2 col-xs-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="skip_assigned" {% if skip_assigned %}checked{% endif %}> Hide assigned
          </label>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro cases_table(case_groups) %}
  <table class="table table-hover table-special">
    <thead>
      <tr>
        <th class="col-xs-4">Case</th>
        <th class="col-xs-2">Status</th>
        <th class="col-xs-2">Analysis date</th>
        <th class="col-xs-2">Link</th>
        <th class="col-xs-2">Sequencing</th>
      </tr>
    </thead>
    <tbody>
      {% for group_id, case_group in case_groups %}
        {% for case in case_group %}
          {{ case_row(case) }}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro case_row(case) %}
  <tr {% if case.status == 'solved' %} class="bg-success" {% endif %}>
    <td>
      <a href="{{ url_for('core.case', institute_id=case.owner, case_id=case.display_name) }}">
        {{ case.display_name }}
      </a>
      {% if case.assignee %}
        <span class="badge pull-right">
          {{ case.assignee.first_name }}
        </span>
      {% endif %}
    </td>
    <td>
      <span class="label label-info">{{ case.status }}</span>
      {% if case.is_migrated %}
        <span class="label label-info">migrated</span>
      {% endif %}
    </td>
    <td>
      {{ case.analysis_date.date() }}
      {% if case.is_rerun %}
        <span class="badge pull-right">rerun</span>
      {% endif %}
    </td>
    <td>
      {% if case.is_research %}
        <a href="{{ url_for('core.variants', institute_id=case.owner, case_id=case.display_name, variant_type='research') }}">Research variants</a>
      {% else %}
        <a href="{{ url_for('core.variants', institute_id=case.owner, case_id=case.display_name, variant_type='clinical', gene_panel='default') }}">Clinical variants</a>
      {% endif %}
    </td>
    <td>
      {% if case.analysis_type == 'wgs' %}
        {% set label_class = 'primary' %}
      {% elif case.analysis_type == 'wes' %}
        {% set label_class = 'warning' %}
      {% else %}
        {% set label_class = 'default' %}
      {% endif %}
      <span class="label label-{{ label_class }}">
        {{ case.analysis_type|upper }}
      </span>
    </td>
  </tr>
{% endmacro %}
