{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Profile' %}

{% block toolbar_left %}
  {{ super() }}

  <div class="flex">{{ user.name }}</div>
{% endblock %}

{% block toolbar_custom %}{% endblock %}

{% block content %}

  <div class="case-segments">
    <div class="case-segment-row">

      <div id="frequency" class="md-card variant-segment-summary">
        <div class="md-card-header">Details</div>
        <div class="md-card-body-list">
          <div class="variant-list-item">
            <div>Email</div>
            <div>{{ user.email }}</div>
          </div>

          <div class="variant-list-item">
            <div>Joined</div>
            <div>{{ user.created_at|human_date }}</div>
          </div>

          <div class="variant-list-item">
            <div>Last used Scout</div>
            <div>{{ user.created_at|human_date }}</div>
          </div>

          <div class="variant-row-item">
            <div>Institutes</div>
            <div class="variant-row-item-sublist">
              {% for institute in user.institutes %}
                <div class="variant-row-item-sublist-item">
                  {{ institute }}
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="variant-list-item">
            <div>Admin</div>
            <div>
              {{ 'Yes' if user.has_role('admin') else 'No' }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
