{% extends "variant/acmg_base.html" %}
{% from "cases/utils.html" import pretty_link_variant %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ variant.display_name }} - Classify
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="nav-item active d-flex align-items-center"
    {% if variant.category == "sv" %}
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="⚠ You are viewing a structural variant. This classification page is designed for SNVs. It may apply to small SVs. Otherwise follow ACMG SV guidelines (Riggs 2020), which are not yet in Scout. Use the manual Variant tag instead."
    {% endif %}>

    {% if variant.category == "sv" %}
        <i class="fa fa-exclamation-triangle text-warning me-1"></i>
    {% endif %}

    <span class="navbar-text">
        {{ variant.display_name|truncate(20, True) }}
    </span>
  </li>
{% endblock %}

{% block content_main %}
  {{ evaluation_tables() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
