{% extends "layout.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ variant.display_name }} - Classify
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">{{ variant.display_name }}</span>
  </li>
{% endblock %}

{% block content_main %}
  <div class="container mt-3 mb-5">
    <form action="{{ url_for('variant.variant_acmg', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" method="POST">
      <div class="card panel-default mt-3">
        <div class="card-body">
          {% if not evaluation %}
              <div class="mt-3 fixed-bottom bg-light border">
                <div class="text-center">
                  {% for option in ACMG_OPTIONS %}
                    <a id="acmg-{{ option.code }}" class="btn acmg-preview">{{ option.label }}</a>
                  {% endfor %}
                </div>
              </div>
            <button class="btn btn-primary form-control">Submit</button>
          {% else %}
            <h4>
              {{ evaluation.classification.label }}
              <span class="badge bg-info">{{ evaluation.classification.short }}</span>
            </h4>
            By {{ evaluation.user_name }} on {{ evaluation.created_at.date() }}
          {% endif %}
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between mt-3">
        {% for category, criteria_group in CRITERIA.items() %}
          <div class="flex-column {{ 'me-3' if not loop.last }}">
            <h4>Evidence of {{ category }}</h4>
            {% for evidence, criteria in criteria_group.items() %}
              <ul class="list-group mt-3">
                <li class="list-group-item">{{ evidence }}</li>
                {% for criterion_code, criterion in criteria.items() %}
                  {% if evaluation and evaluation.criteria.get(criterion_code).comment %}
                    {% set comment = evaluation.criteria.get(criterion_code).comment %}
                  {% endif %}
                  {% if evaluation and evaluation.criteria.get(criterion_code).links %}
                    {% set link = evaluation.criteria.get(criterion_code).links[0] %}
                  {% endif %}
                  {% if evaluation and evaluation.criteria.get(criterion_code).modifier %}
                    {% set modifier = evaluation.criteria.get(criterion_code).modifier %}
                  {% endif %}
                  <div class="list-group-item">
                    <div class="d-flex justify-content-between">
                      <div data-bs-toggle="tooltip" data-bs-placement="top" title="{{ criterion.description }}">
                        <span class="badge bg-info me-1">{{ criterion_code }}</span>
                        {{ criterion.short }}
                      </div>
                      <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="checkbox-{{ criterion_code }}" name="criteria" value="{{ criterion_code }}" {{ 'checked' if evaluation and criterion_code in evaluation.criteria }} {{ 'disabled' if evaluation }}>
                        <label class="form-check-label" for="checkbox-{{ criterion_code }}"></label>
                      </div>
                    </div>
                    <div id="comment-{{ criterion_code }}" class="{{ 'collapse' if not (comment or link or modifier) }} mt-2">
                      {% if criterion.documentation %}<div class="row"><span class="me-1 fw-light text-wrap">{{ criterion.documentation | safe}}</span></div>{% endif %}
                      <div class="row">
                        <select {{ 'disabled' if evaluation }} id="modifier-{{ criterion_code }}" name="modifier-{{ criterion_code }}" class="form-control form-select">
                          <option value="" {% if not modifier %}selected{% endif %}>Strength modifier...</option>
                          {% for level in "Strong", "Moderate", "Supporting" %}
                            {% if(level != evidence) %}
                              <option id="{{criterion_code}}-{{level}}" value="{{level}}" {% if modifier == level %}selected{% endif%}>{{ level }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="row">
                        <textarea {{ 'disabled' if evaluation }} class="form-control"
                          name="comment-{{ criterion_code }}" rows="3" placeholder="Comment (optional)">{{ comment }}</textarea>
                      </div>
                      <input type="url" {{ 'disabled' if evaluation }} class="form-control" name="link-{{ criterion_code }}"
                        placeholder="{{ link or 'Supporting link (optional)' }}" value="">
                    </div>
                  </div>
                {% endfor %}
                </li>
              </ul>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </form>
  </div>
{% endblock %}

{% macro preview() %}
  <div class="card panel-default">
    <div class="card-body">
      <span class="text-muted">Classification</span>
      <h5>Likely Pathogenic</h5>
    </div>
  </div>
{% endmacro %}

{% block scripts %}
  {{ super() }}

  <script>
    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip();

      $('.form-switch').change(function(event) {
        var el = $('#comment-' + event.target.value);
        if (event.target.checked) {
          el.collapse('show');
        } else {
          el.collapse('hide');
        }

        update_classification()
      });

      $('.form-select').change(function(event) {
            update_classification()
      });
    });


    function update_classification() {
      var criteria = $(':checked').map(function(idx, elem) {
        const modifiers = ["Strong", "Moderate", "Supporting"];
        for (possible_modifier of modifiers) {
          var modifier_option;
          if(elem.value !== null && elem.value !== '') {
            modifier_option = document.getElementById(elem.value + '-' + possible_modifier)
          }
          if(modifier_option) {
            if (modifier_option.selected) {
              return 'criterion=' + elem.value + '_' + possible_modifier
            }
          }
        }
        return 'criterion=' + elem.value
      });


      $.getJSON('/api/v1/acmg?' + criteria.toArray().join('&'), function(data) {
        // reset the selection
        $('.acmg-preview').removeClass('btn-primary');
        // add new selection
        $('#acmg-' + data.classification).addClass('btn-primary');
      });
    }
  </script>
{% endblock %}
