{% macro database_buttons(variant) %}
<div class="mt-3">
  <a class="btn btn-sm btn-info text-white me-1 mb-1" role="button" href="{{ variant.swegen_link }}" target="_blank">SweGen</a>
  <a class="btn btn-sm btn-info text-white me-1 mb-1" role="button" href="{{ variant.beacon_link }}" target="_blank">Beacon</a>
  {% if variant.cosmic_links %} <!-- This is a list of tuples : [(id1, link1), (id2, link2), ..] -->
    {% for cosmic_link in variant.cosmic_links %}
      <a data-bs-toggle="tooltip" title="COSMIC" class="btn btn-sm btn-info text-white me-1 mb-1" role="button" href="{{cosmic_link[1]}}" target="_blank">{{cosmic_link[0]}}</a>
    {% endfor %}
  {% endif %}
  {% if variant.dbsnp_id %}
    {% for snp in variant.dbsnp_id.split(';') %}
      <a class="btn btn-sm btn-info text-white me-1 mb-1" role="button" target="_blank" href="{{variant.snp_links[snp]}}">dbSNP ({{ snp }})</a>
    {% endfor %}
  {% endif %}
</div>
<div class="btn-group">
  {% if primary_transcript and primary_transcript.varsome_link %}
  <a href="{{ primary_transcript.varsome_link }}" class="btn btn-sm btn-info text-white me-1 mb-1" role="button" target="_blank"
    data-bs-toggle="tooltip" title="Varsome">V</a>
  {% endif %}
  {% if primary_transcript and primary_transcript.tp53_link %}
    <a href="{{ primary_transcript.tp53_link }}" class="btn btn-sm btn-info text-white me-1 mb-1" role="button" target="_blank"
      data-bs-toggle="tooltip" title="MutanTP53">TP53</a>
  {% endif %}
  {% if primary_transcript and primary_transcript.cbioportal_link %}
    <a href="{{ primary_transcript.cbioportal_link }}" class="btn btn-sm btn-info text-white me-1 mb-1" role="button" target="_blank"
      data-bs-toggle="tooltip" title="cBioPortal">CBP</a>
  {% endif %}
  {% if primary_transcript and primary_transcript.mycancergenome_link %}
    <a href="{{ primary_transcript.mycancergenome_link }}" class="btn btn-sm btn-info text-white me-1 mb-1" role="button" target="_blank"
      data-bs-toggle="tooltip" title="MyCancerGenome">MCG</a>
  {% endif %}
</div>
{% endmacro %}

{% macro splice_junctions_button(institute_id, case_name, variant_id) %}
  <a class="btn btn-sm btn-secondary text-white" href="{{url_for('alignviewers.sashimi_igv', institute_id=institute_id, case_name=case_name, variant_id=variant_id)}}" target="_blank"
    data-bs-toggle="tooltip" data-bs-placement="top" title="Only available in build GRCh38">RNA splicing</a>
{% endmacro %}

{% macro variant_tag_button(variant, institute, case, manual_rank_options) %}
  <form action="{{ url_for('variant.variant_update', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" method="POST">
    <label class="mt-3">Variant tag</label>
    <div class="row">
      <div class="col-8">
        <select name="manual_rank" class="form-control">
          <option value="-1">Select a tag...</option>
          {% for rank, data in manual_rank_options.items() %}
            <option {% if rank == variant.manual_rank %} selected {% endif %} value="{{ rank }}">
              {{ data.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-4">
        <button type="submit" name="manual_rank" class="btn btn-secondary form-control">Save</button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro variant_tier_button(variant, institute, case, cancer_tier_options) %}
  <form action="{{ url_for('variant.variant_update', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" method="POST">
    <label class="mt-3">Variant tier</label>
    <div class="row">
      <div class="col-8">
        <select name="cancer_tier" class="form-control" data-width="100%">
          <option value="-1">Select a tag...</option>
          {% for rank, data in cancer_tier_options.items() %}
            <option {% if rank == variant.cancer_tier %} selected {% endif %} value="{{ rank }}">
              {{ data.label }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-4">
        <button type="submit" name="manual_rank" class="btn btn-secondary form-control">Save</button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro dismiss_variant_button(variant, institute, case, dismiss_variant_options) %}
  <form action="{{ url_for('variant.variant_update', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" method="POST">
    <label class="mt-3">Dismiss variant</label>
    <div class="row">
      <div class="col-8">
        <select multiple="multiple" name="dismiss_variant" id="dismiss_variant" class="selectpicker" data-width="100%" data-style="btn-secondary">
          {% for rank, data in dismiss_variant_options.items() %}
            <option {% if 'dismiss_variant' in variant and rank~"" in variant.dismiss_variant %} selected {% endif %} value="{{ rank }}">
              {{ data.label }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-4">
        <button type="submit" name="dismiss" class="btn btn-secondary form-control">Save</button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro mosaic_variant_button(variant, institute, case, mosaic_variant_options) %}
  <form action="{{ url_for('variant.variant_update', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" method="POST">
    <label class="mt-3">Mosaic Tags</label>
    <div class="row">
      <div class="col-8">
        <select multiple="multiple" name="mosaic_tags" id="mosaic_tags" class="selectpicker" data-width="100%" data-style="btn-secondary">
          {% for rank, data in mosaic_variant_options.items() %}
            <option {% if 'mosaic_tags' in variant and rank~"" in variant.mosaic_tags %} selected {% endif %} value="{{ rank }}">
              {{ data.label }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-4">
        <button type="submit" name="mosaic" class="btn btn-secondary form-control">Save</button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro reviewer_button(case, variant, case_groups, institute_id) %}
  {% if config.SCOUT_REVIEWER_URL %}
    {% if "reviewer" in case.individuals[0] %}
      <a
      href="{{url_for('variant.reviewer_aln', institute_id=institute_id, case_name=case.display_name, variant_id=variant._id)}}"
      class="btn btn-secondary btn-sm text-white" role="button"
      target="_blank" rel="noopener"
      title="View REViewer graph alignments for {{variant.str_repid}} using external service."
      >REViewer</a>
    {% else %}
      <button class="btn btn-secondary btn-sm" title="No REViewer aln" disabled>REViewer</button>
    {% endif %}
  {% endif %}
{% endmacro %}
