{% from "variant/buttons.html" import variant_tag_button, variant_tier_button, dismiss_variant_button, mosaic_variant_button %}

{% macro acmg_classification_item(data) %}
  {% set current_variant = (data.variant_specific == variant._id) %}
  <li class="list-group-item {{ 'list-group-item-info' if current_variant }}">
    <div class="d-flex">
      <span>
        <a href="{{ url_for('variant.evaluation', evaluation_id=data._id) }}">
          {{ data.classification.label }}
        </a>
        <span class="badge badge-info">{{ data.classification.short }}</span>
      </span>
      <span>
        {% if not current_variant %}
          <small>{{ data.case.display_name }}</small>
        {% endif %}
      </span>
    </div>
    <small class="text-muted">
      <form action="{{ url_for('variant.evaluation', evaluation_id=data._id) }}" method="POST">
      {{ data.user_name }} on {{ data.created_at.date() }}
      {% if current_variant %}
        <button class="btn btn-xs btn-link">Delete</button>
      {% endif %}
      </form>
    </small>
  </li>
{% endmacro %}


{% macro acmg_form(institute, case, variant, ACMG_OPTIONS, selected=None) %}
  <label class="mt-3">ACMG classification</label>
  <form action="{{ url_for('variant.variant_update', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" method="POST">
    <div class="d-flex justify-content-between">
      {% for option in ACMG_OPTIONS %}
        <button class="btn btn-{{ option.color if (option.code == selected or not selected) else 'outline-secondary' }} form-control {{ 'mr-1' if not loop.last }}" name="acmg_classification" value="{{ option.code }}" title="{{ option.label }}">
          {{ option.short }}
        </button>
      {% endfor %}
    </div>
  </form>
{% endmacro %}


{% macro panel_classify(variant, institute, case, ACMG_OPTIONS, manual_rank_options, cancer_tier_options, dismiss_variant_options, mosaic_variant_options) %}
  <div class="card panel-default">
    <div class="panel-heading">Classify</div>
    <div class="card-body">
      {{ variant_tag_button(variant, institute, case, manual_rank_options) }}
      {% if cancer %}
       {{ variant_tier_button(variant, institute, case, cancer_tier_options) }}
      {% endif %}
        {{ dismiss_variant_button(variant, institute, case, dismiss_variant_options) }}
      {% if not cancer %}
        {{ mosaic_variant_button(variant, institute, case, mosaic_variant_options) }}
      {% endif %}
      {{ acmg_form(institute, case, variant, ACMG_OPTIONS, variant.acmg_classification.code if variant.acmg_classification) }}
      <div class="mt-3">
        <a href="{{ url_for('variant.variant_acmg', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}" class="btn btn-outline-secondary form-control">Classify</a>
        {% if variant._id in case.suspects and not variant.clinvar_clinsig %}
          <a href="{{ url_for('variant.clinvar', institute_id=institute._id, case_name=case.display_name, variant_id=variant._id) }}"
            class="btn btn-outline-secondary form-control" target="_blank">Submit to ClinVar</a>
        {% endif %}
        {% if variant.clinvar_clinsig %}
          <a href="{{ url_for('overview.clinvar_submissions', institute_id=institute._id) }}" class="btn btn-outline-secondary form-control">Modify clinvar submission</a>
        {% endif %}
      </div>
      {% if evaluations %}
        <div class="list-group mt-3">
          {% for evaluation in evaluations %}
            {{ acmg_classification_item(evaluation) }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
