
{% macro disease_associated(variant) %}
  <div class="card panel-default">
    <div class="panel-heading" data-toggle='tooltip' title="Transcripts described as disease associated in the case default gene panels">Disease associated transcripts</div>
    <div class=card-body>
      <table class="table table-bordered table-hover table-sm">
        <tr>
          <td>
          {% set ns = namespace(gene='') %}
          {% for transcript in variant.disease_associated_transcripts %}
            {% set ns.gene = transcript.split(":")[0] != ns.gene %} <!-- is this a different gene? -->
            {% if ns.gene and loop.index > 1%}<!--new line-->
              <br><strong>{{transcript.split(":")[0]}}:</strong> &nbsp;<!--print gene -->
            {% elif ns.gene %} <!--first gene-->
              <strong>{{transcript.split(":")[0]}}:</strong> &nbsp;
            {% endif %}
            {{transcript.split(":")[1]}} &nbsp;<!-- print transcript-->
            {% set ns.gene = transcript.split(":")[0] %}
          {% else %}
            -
          {% endfor %}
          </td>
      </tr>
    </table>
  </div>
  </div>
{% endmacro %}

{% macro transcripts_overview(variant) %}
  <div class="card panel-default">
    <div data-toggle='tooltip' class="panel-heading" title="Displays all transcripts with RefSeq id. The complete list of transcripts is available below. One ensembl transcript can have multiple RefSeq ids. Blue color indicates that the ensembl transcript is mapped to a transcript that is primary according to HGNC">
      RefSeq transcripts</div>
    <div class=card-body>
      <table id="transcript_overview_table" class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
          <tr style="cursor: pointer; white-space: nowrap">
            <th>Gene <i class="fas fa-sort" data-toggle="tooltip" title="Sort by gene name"></i></th>
            <th>Refseq IDs <i class="fas fa-sort" data-toggle="tooltip" title="Sort by Refseq ID"></i></th>
            <th>ID <i class="fas fa-sort" data-toggle="tooltip" title="Sort by 'ID'"></i></th>
            <th>HGVS Description <i class="fas fa-sort" data-toggle="tooltip" title="Sort by 'HGVS Description'"></i></th>
            <th>Links <i class="fas fa-sort" data-toggle="tooltip" title="Sort by 'links'"></i></th>
          </tr>
        </thead>
        <tbody>
          {% for tx in variant.overview_transcripts %}
            <tr {% if tx.is_primary %} class="bg-info-light" {% endif %}>
              <td class="d-flex justify-content-between align-items-center"> <!-- gene col-->
                <a href="{{ url_for('genes.gene', hgnc_id=tx.hgnc_id) }}">
                  {{ tx.hgnc_symbol if tx.hgnc_symbol else tx.hgnc_id }}
                </a>
              </td> <!-- end of gene symbol col-->

              <td> <!-- Refseq IDs col -->
              </td> <!-- end of Refseq IDs col-->

              <td> <!-- ID col-->
              </td> <!-- end of ID col-->

              <td> <!-- HGVS Description col -->
              </td> <!-- end of HGVS Description col -->

              <td> <!-- links col -->

              </td> <!-- end of links col -->
            </tr>
          {% endfor %} <!-- end of for tx in variant.overview_transcripts -->
        </tbody>
      </table>
    </div> <!-- end of card-body -->
  </div> <!-- end of card div -->
{% endmacro %}
