{% extends "layout.html" %}
{% from "variant/buttons.html" import database_buttons %}
{% from "utils.html" import activity_panel, comments_panel, pedigree_panel %}
{% from "variants/utils.html" import compounds_table %}
{% from "variant/utils.html" import causative_button, genes_panel, modal_causative, overlapping_panel, pin_button, proteins_panel, transcripts_panel %}
{% from "variant/tx_overview.html" import disease_associated, transcripts_overview %}
{% from "variant/gene_disease_relations.html" import autozygosity_panel, genemodels_panel, inheritance_panel, orpha_omim_phenotypes %}
{% from "variant/variant_details.html" import frequencies, gtcall_panel, old_observations, observations_panel, severity_list, conservations, mappability %}
{% from "variant/components.html" import alignments, clinsig_table, compounds_panel, external_links, external_scripts, external_stylesheets, matching_variants, panel_classify, variant_scripts %}
{% from "variant/sanger.html" import modal_cancel_sanger, modal_sanger, sanger_button %}
{% from "variant/rank_score_results.html" import rankscore_panel %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ variant.display_name }}
{% endblock %}

{% block css %}
  {{ super() }}
  {{ external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
   <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="nav-item">
    {% if cancer %}
      <a class="nav-link text-nowrap" href="{{ url_for('variants.cancer_variants', institute_id=institute._id, case_name=case.display_name, variant_type=variant.variant_type, gene_panels=case.panels|selectattr('is_default')|map(attribute='panel_name')|list) }}">
        {{ variant.variant_type|capitalize }} somatic variants
      </a>
    {% elif mei %}
      <a class="nav-link text-nowrap" href="{{ url_for('variants.mei_variants', institute_id=institute._id, case_name=case.display_name, variant_type=variant.variant_type) }}">
        {{ variant.variant_type|capitalize }} MEI variants
      </a>
    {% elif str %}
      <a class="nav-link text-nowrap" href="{{ url_for('variants.str_variants', institute_id=institute._id, case_name=case.display_name, variant_type=variant.variant_type) }}">
        {{ variant.variant_type|capitalize }} STR variants
      </a>
    {% elif fusion %}
      <a class="nav-link text-nowrap" href="{{ url_for('variants.fusion_variants', institute_id=institute._id, case_name=case.display_name, variant_type=variant.variant_type) }}">
        {{ variant.variant_type|capitalize }} Fusion variants
      </a>
    {% else %}
      <a class="nav-link text-nowrap" href="{{ url_for('variants.variants', institute_id=institute._id, case_name=case.display_name, variant_type=variant.variant_type, gene_panels=case.panels|selectattr('is_default')|map(attribute='panel_name')|list) }}">
        {{ variant.variant_type|capitalize }} SNV and INDELs
      </a>
    {% endif %}
  </li>
  <li class="nav-item active">
    <p class="navbar-text text-nowrap">{{ variant.display_name|truncate(20, True) }}</p>
  </li>
{% endblock %}

{% block top_nav_right %}
  {% if config['MAIL_USERNAME'] %}
    {# Email setting must be setup #}
    <li class="nav-item text-nowrap">{{ sanger_button(variant) }}</li>
  {% endif %}
  <li class="nav-item">{{ pin_button(variant, case, institute) }}</li>
  <li class="nav-item text-nowrap">{{ causative_button(variant, case, institute) }}</li>
  {{ super() }}
{% endblock %}

{% block content_main %}
  <div class="container-float">
    {% if variant.missing_data %}
    <div class="row">
      <div class="alert alert-warning">Showing only first 30 genes!</div>
    </div>
    {% endif %}

    <div class="row"><div class="col-12">{{ matching_variants(managed_variant, causatives, variant.matching_ranked) }}</div></div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        {{ panel_classify(variant, institute, case, ACMG_OPTIONS, manual_rank_options, cancer_tier_options, dismiss_variant_options, mosaic_variant_options, evaluations) }}
      </div>
      <div class="col-lg-5 col-md-6">
        {{ panel_summary() }}
      </div>
      <div class="col-lg-4">
        {{ frequencies(variant) }}
        {% if config['LOQUSDB_SETTINGS'] %}
          {{ observations_panel(variant, observations, case) }}
        {% endif %}
        {{  old_observations(variant) }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="card panel-default">
          {{ comments_panel(institute, case, current_user, variant.comments, variant_id=variant._id) }}
        </div>
        {{ orpha_omim_phenotypes(variant) }}
        {{ genemodels_panel(variant, inherit_palette) }}
        {{ inheritance_panel(variant) }}

      </div>
      <div class="col-lg-8 col-md-12">
        {% if variant.disease_associated_transcripts %}
          <div class="row"><div class="col-12">{{ disease_associated(variant) }}</div></div>
        {% endif %}
        <div class="row"><div class="col-12">{{ transcripts_overview(variant) }}</div></div>
          <div class="row">
            {% set has_pedigree = case.madeline_info and case.individuals|length > 1 %}
            {% if has_pedigree %}
              <div class="col-lg-4">
                {{ pedigree_panel(case) }}
              </div>
            {% endif %}
            <div class="col-lg-8">
              {{ gtcall_panel(variant) }}
            </div>
            <div class="col-lg-4">
              {{ severity_list(variant) }}
            </div>
            <div class="col-lg-4 col-md-6">
              {{ conservations(variant) }}
            </div>
            {% if variant.azlength %}
              <div class="col-lg-4 col-md-6">
                {{ autozygosity_panel(variant) }}
              </div>
            {% endif %}
            <div class="col-lg-4 col-md-6">
              {{ mappability(variant) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if variant.compounds %}
      <div class="row">
        <div class="col-12">{{ compounds_panel(institute, case, variant) }}</div>
      </div>
    {% endif %}
    {{ rankscore_panel(rank_score_results) }}
    <div class="row">
      <div class="col-12">{{ overlapping_panel(variant, overlapping_vars, case, institute) }}</div>
    </div>
    <div class="mt-3 row">
      <div class="col-12">
        <div class="card">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-genes-tab" data-bs-toggle="tab" href="#nav-genes" role="tab" aria-controls="nav-genes" aria-selected="true">Genes</a>
              <a class="nav-link" id="nav-transcripts-tab" data-bs-toggle="tab" href="#nav-transcripts" role="tab" aria-controls="nav-transcripts" aria-selected="false">Transcripts</a>
              <a class="nav-link" id="nav-proteins-tab" data-bs-toggle="tab" href="#nav-proteins" role="tab" aria-controls="nav-proteins" aria-selected="false">Proteins</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-genes" role="tabpanel" aria-labelledby="nav-genes-tab">{{ genes_panel(variant) }}</div>
            <div class="tab-pane fade" id="nav-transcripts" role="tabpanel" aria-labelledby="nav-transcripts-tab">{{ transcripts_panel(variant) }}</div>
            <div class="tab-pane fade" id="nav-proteins" role="tabpanel" aria-labelledby="nav-proteins-tab">{{ proteins_panel(variant) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">{{ external_links(case, variant, cancer, str) }}</div>
    </div>

    {% if variant.custom_images %}
      <div class="row">
        <div class="col-12">{{ panel_custom_images(variant.custom_images) }}</div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-12">{{ activity_panel(events|reverse) }}</div>
    </div>
    {% if config['MAIL_USERNAME'] %}
      {# Email setting must be setup #}
      {{ modal_sanger(institute, case, variant, current_user) }}
    {% endif %}

    {% if config['MAIL_USERNAME'] %}
      {# Email setting must be setup #}
      {{ modal_cancel_sanger(institute, case, variant, current_user) }}
    {% endif %}
</div>
{{ modal_causative(case, institute, variant, case_tag_options) }}
{% endblock %}


{% macro panel_custom_images(images) %}
  <div id="attached-img-panel" class="card mt-3 panel-default">
    <div class="panel-heading">
      <div
          class="panel-heading collapsed"
          data-bs-toggle="collapse"
          data-bs-parent="#attached-img-panel"
          data-bs-target="#attached-images"
          onclick="flipArrowIcon(this)"
      ><span class="fa fa-angle-down rotate-icon"></span>
          &nbsp;Attached images
      </div>
    </div>
    <div id="attached-images" class="card-body collapse" data-parent="#attached-img-panel">
     {% for image in images %}
       <h6 class="font-weight-bold">{{ image.title }}</h6>
       <div id="{{image.path|safe}}"></div>
     {% endfor %}
    </div>
  </div>
{% endmacro  %}


{% macro panel_summary() %}
  <div class="card mt-3 panel-default">
      <div class="panel-heading">Summary</div>
    <div class="card-body">
      <table class="table table-bordered table-fixed table-sm">
        <tbody>
          <tr>
            <td>
              Position:
	      <strong>{{ variant.chromosome }}:<span class="text-muted">{{ variant.position }}</span></strong>
             <button type="button" class="fa fa-copy btn-xs js-tooltip js-copy" style="background-color: Transparent;outline:none; border: none;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-copy="{{ variant.chromosome }}:{{ variant.position }}" title="Copy to clipboard">
              </button>
            </td>
            <td {% if not mei %}colspan="3"{% endif %}>
              Change:
              {% if variant.reference|length > 8 %}
                <strong>{{ variant.reference[:1] }}..{{variant.reference[-1:]}}</strong>
              {% else %}
                <strong>{{ variant.reference }}</strong>
              {% endif %}
              →
              {%- if variant.alternative|length > 8 -%}
                <strong>{{ variant.alternative[:1] }}..{{variant.alternative[-1:]}}</strong>
              {% else %}
                <strong>{{ variant.alternative }}</strong>
              {% endif %}
              <button type="button" class="fa fa-copy btn-xs js-tooltip js-copy" style="background-color: Transparent;outline:none; border: none;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-copy="{{ variant.reference }}>{{ variant.alternative }}" title="Copy to clipboard">
              </button>
	          </td>
            {% if mei %}
              <td>{{ variant.sub_category|upper }}</td>
              <td>{{ variant.mei_name|upper }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>
              Rank
              <span><strong>{{ variant.variant_rank }}</strong></span>
            </td>
            <td>
              Rank score
              <span><strong>{{ variant.rank_score }}</strong></span>
            </td>
            <td>
              CADD score
              <span><strong>
                {% if variant.cadd_score %}
                  {{ variant.cadd_score|round(1) }}
                {% else %}
                  -
                {% endif %}
              </strong></span>
            </td>
            <td>
              QUAL
              <span><strong>
                {% if variant.quality %}
                  {{ variant.quality|int }}
                {% else %}
                  -
                {% endif %}
              </strong></span>
            </td>
          </tr>

        </tbody>
      </table>
      <table class="table table-bordered table-fixed table-sm">
        <tbody class="border-top">
          <tr>
            <td>
              Matches OMIM inhert.
              {% if variant.is_matching_inheritance %}
                <span class="badge bg-success float-end">Yes</span>
              {% else %}
                <div class="badge bg-warning float-end">No</div>
              {% endif %}
            </td>
            <td>
              Frequency
              <div class="badge bg-{% if variant.frequency == 'common' %}danger{% elif variant.frequency == 'uncommon' %}warning{% else %}success{% endif %} float-end">
                {{ variant.frequency }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      {{ clinsig_table(variant) }}
      {% if variant.mitomap_associated_diseases %}
        <table class="table table-bordered table-fixed table-sm">
          <tbody>
            <tr>
              <td><strong>MITOMAP associated diseases</strong></td>
              <td>{{ variant.mitomap_associated_diseases.split('/')|join('<br>')|safe }}</td>
            </tr>
        </table>
      {% endif %}
      <ul class="list-group mb-3">
        {% if variant.dbsnp_id %}
          {% set dbsnp_ids = variant.dbsnp_id.split(';') %}
          <li class="list-group-item">
            SNP info
            <span class="float-end">
              {% for snp in dbsnp_ids %}
                <a target="_blank" href="{{variant.snp_links[snp]}}">
                  {{ snp }}
                </a>
              {% endfor %}
            </span>
          </li>
        {% endif %}
      </ul>
      <table class="table table-bordered table-fixed table-sm">
        <thead class="thead table-light border-top">
          <tr class="active">
            <th>Gene</th>
            <th>Region</th>
            <th>Consequence</th>
            {% if case.genome_build == "38" %}
              <th id="MANE functional annotations">Consequence (MANE transcripts)</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for gene in variant.genes %}
            <tr>
              <th>
                <a href="{{ url_for('genes.gene', hgnc_id=gene.hgnc_id) }}">
                  {{ gene.common.hgnc_symbol if gene.common else gene.hgnc_id }}
                </a>
              </th>
              <td>{{ gene.region_annotation }}</td>
              <td>{{ gene.functional_annotation|truncate(20, True) }}</td>
              {% if case.genome_build == "38" %} <!-- Display eventual functional annotations associated to MANE transcripts -->
                <td>
                  {% for mane_key, name_type in [('mane_select_functional_annotation', 'MANE Select'),('mane_plus_clinical_functional_annotation', 'MANE Plus Clinical') ]%}
                    {% if gene.get(mane_key) %}
                      {% for anno in gene[mane_key] %}
                        <span data-bs-toggle="tooltip" title="{{name_type}}">{{anno|truncate(20, True)}}</span>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="list-group">
        <div class="list-group-item">
          <strong>Gene panels:</strong><br>
          {% for panel in variant.case_panels|sort(attribute='panel_name', case_sensitive=False)|rejectattr('removed') %}
            <a
              href="{{ url_for('panels.panel', panel_id=panel.panel_id) }}"
              {#
              Add hovertip listing occurence of each gene on selected panels, in the case
              where variant covers multiple genes.
              #}
              {% if (variant.genes | length) > 1 %}
              class="badge bg-secondary text-white"
              data-bs-original-title="Genes on gene panel"
              data-bs-toggle="popover"
              data-bs-html="true"
              data-bs-trigger="hover click"
              data-bs-content="
              {% for gene in variant.genes %}
                {% if panel['panel_name'] in gene['associated_gene_panels'] %}
                  {{ gene.common.hgnc_symbol if gene.common else gene.hgnc_id }}
                {% endif%}
              {%endfor%}
              "
              {% endif %}
            >{{ panel.panel_name }}</a>&nbsp;&nbsp;
          {% endfor %}
        </div>
      </ul>
      {% if variant.category != "str" %}
        {{ database_buttons(variant) }}
      {% endif %}
      {{ alignments(institute, case, variant, current_user, config, igv_tracks, has_rna_tracks) }}
      {% if variant.custom %}
      <table class="table table-bordered table-sm">
	<thead class="thead table-light">
	  <th>Custom annotation</th>
	  <th>Value</th>
	</thead>
	<tbody>
	  {% for pair in variant.custom %}
	  <tr>
	    <td>
	      {{ pair[0] }}
	    </td>
	    <td>
	      {{ pair[1] }}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}

    </div> <!-- end of card body -->
  </div> <!--  end of card div -->
{% endmacro %}

{% block scripts %}
  {{ super() }}
  {{ external_scripts() }}
  {{ variant_scripts() }}
  <script src="{{ url_for('static', filename='custom_images.js') }}"></script>
  <script>

    {% if variant.custom_images %}
      {% for image in variant.custom_images %}
        fetchAndDisplayImage("{{url_for('cases.host_custom_image_aux', institute_id=institute._id, case_name=case.display_name, image_path=image.path|safe) }}", "{{image.path|safe}}", "{{image.width}}", "{{image.height}}")
      {% endfor %}
    {% endif %}

    const flipArrowIcon = (element) => {
      const icon = element.firstChild
      if (element.classList.contains('collapsed')) {
        icon.classList.replace('fa-angle-down', 'fa-angle-up')
      } else {
        icon.classList.replace('fa-angle-up', 'fa-angle-down')
      }
    }

    var triggerProtTabList = [].slice.call(document.querySelectorAll('#nav-proteins-tab'))
      triggerProtTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', function (event) {
        event.preventDefault()
        tabTrigger.show()
      })
    })

    set_scrolly_table('transcript_overview_table')
    set_scrolly_table('proteins_panel_table')
    set_scrolly_table('transcripts_panel_table')

  </script>
{% endblock %}
