@use 'App' as global;

.DropdownMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  top: 100%;
  bottom: 0px;
  height: fit-content; // Works in IE? Should we support IE?
  border-radius: 8px;
  box-shadow: global.$shadow;
  background-color: inherit;
  overflow: auto;
  li > a,
  li > button {
    padding: 8px 20px;
    width: 100%;
    text-align: left;
  }
  li:focus,
  li:hover {
    background-color: #e8e8e8;
  }
  li:first-child > a,
  li:first-child > button {
    padding-top: 16px;
  }
  li:last-child > a,
  li:last-child > button {
    padding-bottom: 16px;
  }
}
