.container {
  margin-top: 50px;
}

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.karolinskaLogo {
  height: 150px;
}

.sciLifeLabLogo {
  height: 50px;
}

.swedacLogo {
  height: 145px;
}

.root {
    min-width: 275px;
    max-width: 600px;
}

.title {
    font-size: 45px;
    font-weight: 100;
}

.divider {
    margin-bottom: 30px;
    margin-top: 20px;
}
  
body {
    font-size: 16px;
}
  
.version {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 400;
}