.rank_score_results_heading {
  border-bottom: 1px solid #c6c9cd;
}
.rank_score_results_sub_heading {
  background: rgb(221 223 225);
  border: 1px solid #c6c9cd;
  color: #000;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: .6rem;
  padding: 8px 12px;
  text-align: right;

  white-space: nowrap;
}

.rank_score_results_category {
  display: none;
}

@media screen and (min-width: 1424px) {
  .rank_score_results_category {
    display: block
  }
}

.rank_score_results_abbr {
  display: block;
}

@media screen and (min-width: 1424px) {
  .rank_score_results_abbr {
    display: none
  }
}

.rank_score_results_range {
  display: none;
}

@media screen and (min-width: 1237px) {
  .rank_score_results_range {
    display: inline;
  }
}
