{% extends 'layouts/scroll-header.html' %}

{% set page_title = _('Case') %}

{% block menu_right %}
	<a href="{{ url_for('core.cases') }}">
		<paper-icon-button icon="view-list"></paper-icon-button>
	</a>
{% endblock %}

{% block toolbar_middle %}
	<div class="case-header-links" horizontal center layout>
		<core-item class="case-header-link"
							 icon="account-circle"
							 label="Anna Wedell"></core-item>
		<core-item class="case-header-link" icon="link" label="All variants">
			<a href="{{ url_for('core.variants', case_id=case.id) }}"></a>
		</core-item>
	</div>
{% endblock %}

{% block menu_bottom %}
	<div horizontal layout center>
		<a href="{{ url_for('frontend.index') }}">Scout</a>
		<core-icon icon="chevron-right"></core-icon>

		<a href="{{ url_for('core.cases') }}">Cases</a>
		<core-icon icon="chevron-right"></core-icon>

		<core-item icon="lock-open" label="Case {{ case.id }}"></core-item>
	</div>
{% endblock %}

{% block content %}

	<div class="case-container">

		<div class="case-content">

			<div id="case-brief" class="case-section">
				<h3 class="case-section-header">Breifing area</h3>

				<div class="case-brief-layout">
					<div class="case-brief-main">
						<textarea class="case-brief-textarea">I saw this on the news last night!</textarea>
					</div>

					<div class="case-brief-sidebar">
						{% for sample in case.individuals %}
							<div class="case-brief-sidebar-item">
								<div>
									<core-icon icon="perm-identity"></core-icon>
									{{ sample.id }} <br>
								</div>

								<div>
									<core-icon icon="accessibility"></core-icon>
									{{ sample.phenotype }} <br>
								</div>

								<div>
									<core-icon icon="accessibility"></core-icon>
									{{ sample['sex:'] }} <br>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div id="case-activity" class="case-section">
				<h3 class="case-section-header">Activity</h3>
				<div class="case-activity-container"></div>
			</div>

		</div>
	</div>
{% endblock %}
