{% extends 'layouts/scroll-header.html' %}

{% set page_title = _('Cases') %}

{% block menu_bottom %}
	<a href="{{ url_for('frontend.index') }}">Scout</a>
	<core-icon icon="chevron-right"></core-icon>
	Cases
{% endblock %}

{% block content %}
	<div class="card-container">
		{% for case in cases %}
  		<div class="card">

  			<a href="{{ url_for('core.case', case_id=case.id) }}"
  				 class="card-title">
  				{{ case.id }}
  			</a>

  			<div class="card-item" position="left">
				  Updated 8 days ago
				</div>

  			<a href="{{ url_for('core.variants', case_id=case.id) }}"
  					 class="card-item">
  				Variants
  			</a>

  			<div class="card-overflow">
  				<paper-icon-button icon="drawer"></paper-icon-button>
  			</div>

  		</div>
  	{% endfor %}
	</div>
{% endblock %}
