{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Cases' %}

{% macro case_box(case, institute_id) %}
<div class="md-card">
  <div class="md-card-body--padded">
    <a href="{{ url_for('core.case', institute_id=institute_id, case_id=case.display_name) }}" class="md-item">
      {% if case.events %}
        <div class="md-item-icon">
          <div class="dot-indicator"></div>
        </div>
      {% endif %}

      <div class="md-item-label">{{ case.display_name }}</div>

      {% if case.assignee %}
        <div class="tag">{{ case.assignee.first_name }}</div>
      {% endif %}
    </a>

    <div class="md-item-subtitle">
      {% if not case.analysis_checked and case.created_at < missed_cutoff %}
        <a href="{{ url_for('core.variants', institute_id=institute_id,
                            case_id=case.display_name,
                            variant_type='clinical',
                            functional_annotations=severe_so_terms,
                            region_annotations=['exonic', 'splicing'],
                            thousand_genomes_frequency=-1,
                            gene_lists=case.default_panels) }}">
            Clinical variants without 1000G annotation
        </a> |
      {% endif %}
      {% if case.is_research %}
        <a href="{{ url_for('core.variants', institute_id=institute_id, case_id=case.display_name, variant_type='research') }}">Research variants</a>
      {% else %}
        <a href="{{ url_for('core.variants', institute_id=institute_id, case_id=case.display_name, variant_type='clinical', gene_lists=case.default_panels) }}">Clinical variants</a>
      {% endif %}
       |
      {% if case.analysis_date %}
          <span>{{ case.analysis_date.split()|first }}</span> |
      {% endif %}
      {% if case.analysis_type != 'unknown' %}
        <span class="md-badge is-{{ case.analysis_type }}">{{ case.analysis_type|upper }}</span>
      {% endif %}
      {% if case.is_rerun %}
        <span class="md-badge--success">rerun</span> |
      {% endif %}
      {% if case.analysis_checked %}
          <span class="md-badge--success">checked</span>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <div class="md-breadcrumb">
      <small>{{ institute.display_name }}</small>
    </div>
  </div>
{% endblock %}

{% block toolbar_right %}
    {{ super() }}

    <div v-on:click="showRightDrawer" class="icon-button">
        <core-icon icon="settings"></core-icon>
    </div>
{% endblock %}

{% block toolbar_secondary %}
  <form id="search-cases" class="cases-search" action="{{ url_for('core.cases', institute_id=institute_id) }}" method="GET" accept-charset="utf-8">
    <div class="md-label cases-search-block">
      <div class="md-label-icon">
        <core-icon icon="search"></core-icon>
      </div>
      <div class="md-label-text full-width">
        <input value="{{ query or '' }}" name="query" type="search" class="cases-search-input">
      </div>
    </div>

    <div class="md-label">
      <div class="md-label-icon">
        <input id="skip-assigned" name="skip_assigned" type="checkbox" {% if skip_assigned %}checked{% endif %}></input>
      </div>
      <div class="md-label-text">
        <label for="skip-assigned"><small>Hide assigned</small></label>
      </div>
    </div>

    <button class="md-button" type="submit">Search</button>
  </form>
{% endblock %}

{% block content %}
  <drawer-panel :visible="drawerRightVisible" v-on:hide="hideRightDrawer" side="right">
      <form action="{{ url_for('core.institute_settings', institute_id=institute_id) }}" method="POST">
        <div class="variants-filters-group">
          <div class="variants-filters-group-list">
            <div class="variants-filters-group-label">
              Institute settings
            </div>
            <div class="list-item">
              <div>Frequency cutoff (clinical filter)</div>
              <div><input type="number" min="0" max="1" step="0.01" name="frequency_cutoff" value="{{ institute.frequency_cutoff }}"></div>
            </div>

            <div class="list-item">
              <div>Coverage cutoff (report)</div>
              <div><input type="number" min="10" max="100" step="5" name="coverage_cutoff" value="{{ institute.coverage_cutoff }}"></div>
            </div>
          </div>
        </div>

        <div class="variants-filter-buttons">
          <button class="md-button" type="submit">Save</button>
        </div>
      </form>
  </drawer-panel>

  <div class="cases-list">
    <div class="md-card-list">
      {% if cases.prioritized %}
        <h3>Prioritized</h3>
        {% for case in cases.prioritized %}
          {{ case_box(case, institute_id) }}
        {% endfor %}
      {% endif %}

      {% if cases.inactive %}
        <h3>Inactive</h3>
        {% for case in cases.inactive %}
          {{ case_box(case, institute_id) }}
        {% endfor %}
      {% endif %}

      {% if cases.active %}
        <h3>Active</h3>
        {% for case in cases.active %}
          {{ case_box(case, institute_id) }}
        {% endfor %}
      {% endif %}

      {% if cases.solved %}
        <h3>Solved</h3>
        {% for case in cases.solved %}
          {{ case_box(case, institute_id) }}
        {% endfor %}
      {% endif %}

      {% if cases.archived %}
        <h3>Archived</h3>
        {% for case in cases.archived %}
          {{ case_box(case, institute_id) }}
        {% endfor %}
      {% endif %}
    </div>

    <div class="layout-center" style="margin-top: 2rem;">
      <small>Found: <strong>{{ found_cases }}</strong> case(s)</small>
    </div>
  </div>
{% endblock %}
