{% extends 'layouts/scroll-header.html' %}
{% from 'macros/_polymer.html' import core_item %}
{% from '_macros.html' import activity_feed %}

{% set page_title = "Case " ~ case.display_name %}
{% if case.is_solved %}
  {% set header_classes = 'success' %}
{% elif case.is_archived %}
  {% set header_classes = 'disabled' %}
{% endif %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <a href="{{ url_for('core.cases', institute_id=institute.internal_id) }}" class="md-breadcrumb-button is-raised">
      <small>{{ institute.display_name }}</small>
    </a>
    <core-icon
      icon="chevron-right"
      class="md-breadcrumb-separator">
    </core-icon>
    <div class="md-breadcrumb">
      <small>
        {{ case.display_name }}
        {% if case.is_solved %}
          <strong>(SOLVED)</strong>
        {% elif case.is_archived %}
          <strong>(ARCHIVED)</strong>
        {% endif %}
      </small>
    </div>
  </div>
{% endblock %}

{% block toolbar_secondary %}
  <form class="md-label" action="{{ url_for('core.mark_checked', institute_id=institute_id, case_id=case_id) }}" method="post" accept-charset="utf-8">
    {% if case.analysis_checked %}
      <input class="is-hidden" name="unmark" value="true"></input>
    {% endif %}
    <div class="md-label-icon">
      {% if case.analysis_checked %}
        <core-icon icon="check-box"></core-icon>
      {% else %}
        <core-icon icon="check-box-outline-blank"></core-icon>
      {% endif %}
    </div>
    <button type="submit" class="md-label-text">
      {{ 'Unmark checked' if case.analysis_checked else 'Mark checked' }}
    </button>
  </form>
{% endblock %}

{% block content %}
  <!-- Request research list modal -->
  <core-modal title="Request research list" :visible="modalVisible" v-on:hide="hideModal">
    <form action="{{ url_for('core.open_research',
                              institute_id=institute.internal_id,
                              case_id=case.display_name) }}"
          class="case-open-research" method="POST">
      <p>Please confirm that you want to have the list of research variants opened.</p>
      <p>You also confirm that you have the relevant consent signed.</p>
      <button type="submit" class="md-button">Confirm</button>
    </form>
  </core-modal>

  <!-- Request rerun modal -->
  <core-modal title="Request rerun" :visible="modalSecondVisible" v-on:hide="hideSecondModal">
    <form action="{{ url_for('core.request_rerun',
                              institute_id=institute.internal_id,
                              case_id=case.display_name) }}"
          class="case-open-research" method="POST">
      <p>Please confirm that you want to have the case rerun and the current variants replaced with updated information.</p>
      <button type="submit" class="md-button">Confirm</button>
    </form>
  </core-modal>
{% endblock %}
