{% extends 'layouts/base.html' %}

{% set page_title = _('Home') %}

{% block body %}

	<div class="homescreen">
		<div class="menu-bar">
			<div></div>Scout
			<div>Cases</div>
		</div>

		<div class="menu-bar__padding"></div>

		<div class="homescreen__container">

			<div class="list">
				<div class="list__header">Case</div>


				{% for case in cases %}
		  		<div class="list__item">{{ case.id }}</div>
		  	{% endfor %}
			</div>

		</div>
	</div>

  {% include 'footer.html' %}
{% endblock %}
