{% extends 'layouts/scroll-header.html' %}

{% set page_title = 'Gene panel' %}

{% block toolbar_left %}
  {{ super() }}

  <div class="md-breadcrumb-group flex">
    <a href="{{ url_for('core.cases', institute_id=institute.internal_id) }}" class="md-breadcrumb-button is-raised">
      <small>{{ institute.display_name }}</small>
    </a>

    <core-icon icon="chevron-right" class="md-breadcrumb-separator">
    </core-icon>
    <a class="md-breadcrumb-button is-raised" href="{{ url_for('core.case', institute_id=institute.internal_id, case_id=case.display_name) }}">
      <small>{{ case.display_name }}</small>
    </a>

    <core-icon icon="chevron-right" class="md-breadcrumb-separator">
    </core-icon>
    <div class="md-breadcrumb">
      <small>{{ panel.display_name }}</small>
    </div>
  </div>
{% endblock %}

{% block toolbar_secondary %}
  {% for gene_panel in case.sorted_clinical_panels %}
    <a class="md-label" href="{{ url_for('core.gene_panel', institute_id=institute.internal_id, case_id=case.display_name, panel_id=gene_panel.panel_name) }}">
      {% if gene_panel == panel %}
        <div class="md-label-icon">
          <core-icon icon="arrow-forward"></core-icon>
        </div>
      {% endif %}
      <div class="md-label-text">{{ gene_panel.display_name }}</div>
    </a>
  {% endfor %}
{% endblock %}

{% block content %}

  <div id="summary" class="md-card">
    <div class="md-card-header">Overview</div>

    <div class="variant-segment-content">
      <div class="variant-row-item">
        <div class="dist-even">
          <div class="dist-even-item">
            <div>Full name</div>
            <div>{{ panel.display_name }}</div>
          </div>
        </div>
      </div>

      <div class="variant-row-item">
        <div class="dist-even">
          <div class="dist-even-item">
            <div>Panel id</div>
            <div>{{ panel.panel_name }}</div>
          </div>
        </div>
      </div>

      <div class="variant-row-item">
        <div class="dist-even">
          <div class="dist-even-item">
            <div>Version</div>
            <div>{{ panel.version }}</div>
          </div>
        </div>
      </div>

      <div class="variant-row-item">
        <div class="dist-even">
          <div class="dist-even-item">
            <div>Number of genes</div>
            <div>{{ panel.genes|length }}</div>
          </div>
        </div>
      </div>

      <div class="variant-row-item">
        <div class="dist-even">
          <div class="dist-even-item">
            <div>Date</div>
            <div>{{ panel.date }}</div>
          </div>
        </div>
      </div>

      <div class="variant-row-item">
        <div class="dist-even">
          <div class="dist-even-item">
            <div>Coverage overview</div>
            <div>
              <a href="{{ url_for('report.genes', level=institute.coverage_cutoff, sample_id=case.sample_ids, gene_id=panel.genes|join(','), exonlink='core.pileup_range', **sample_map) }}" target="_blank">
                {{ case.display_name }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="md-card">
    <div class="md-card-header">Included genes (coverage)</div>
    <div class="md-card-body-list">
      {% for gene_id in panel.genes %}
        <div class="list-item">
          <a href="{{ url_for('report.gene', gene_id=gene_id, **covlink_kwargs) }}" target="_blank">
            {{ gene_id }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
