{% extends 'layouts/scroll-header.html' %}

{% set page_title = _('Variants') %}

{% block toolbar_middle %}
	<a href="{{ url_for('frontend.index') }}">Scout</a>
	<core-icon icon="chevron-right"></core-icon>
	<a href="{{ url_for('core.cases') }}">Cases</a>
	<core-icon icon="chevron-right"></core-icon>
	<a href="{{ url_for('core.case', case_id=case_id) }}">Case {{ case_id }}</a>
	<core-icon icon="chevron-right"></core-icon>
	Variants
{% endblock %}

{% block toolbar_bottom %}
	<div class="variants-header" horizontal layout>
		<div class="variants-header-item">CADD score</div>
		<div class="variants-header-item">HGNC</div>
		<div class="variants-header-item">1000 Genomes</div>
		<div class="variants-header-item">Chromosome</div>
		<div class="variants-header-item">dbSNP ID</div>
		<div class="variants-header-item">Genetic models</div>
	</div>
{% endblock %}

{% block content %}

	<div class="variants-body">

		{% for variant in variants %}

			<div class="variants-row" horizontal layout>

				<a class="variants-row-item"
					 href="{{ url_for('core.variant',
					 									variant_id=variant.id, case_id=case_id) }}">
					<paper-ripple fit></paper-ripple>
					{{ variant.cadd_score|join(', ') }}
				</a>

				<div class="variants-row-item">
					{{ (variant.hgnc_symbol or '-')|join(', ') }}
				</div>

				<div class="variants-row-item">
					{{ (variant.thousand_genomes_frequency or '-')|join(', ') }}
				</div>

				<div class="variants-row-item">Chr{{ variant.chromosome }}</div>

				<div class="variants-row-item">
					{{ (variant.db_snp_id)|join(', ') }}
				</div>

				<div class="variants-row-item">
					{{ (variant.genetic_models or '-')|join(', ') }}
				</div>

			</div>
		{% endfor %}
		
	</div>

{% endblock %}
