{% extends 'layouts/scroll-header.html' %}
{% from 'macros/_polymer.html' import core_item %}
{% from '_macros.html' import activity_feed, compounds_table, variant_links, overlapping_svs %}

{% set page_title = case.display_name ~ '- Variant: ' ~ variant.display_name %}
{% if case.is_solved %}
  {% set header_classes = 'success' %}
{% elif case.is_archived %}
  {% set header_classes = 'disabled' %}
{% endif %}

{% block toolbar_secondary %}

  <div class="variant-header-item">
    <div class="md-label">
      <div class="md-label-icon">
        <core-icon icon="grade"></core-icon>
      </div>
      <div class="md-label-text">{{ variant.variant_rank }}</div>
    </div>
  </div>

  <div class="variant-header-item">
    <a class="md-label" href="{{ url_for('pileup.viewer', bam=case.bam_files, bai=case.bai_files, sample=case.sample_names, contig=variant.chromosome, start=(variant.position - 50), stop=(variant.end_position + 50), vcf=case.vcf_file) }}" target="_blank">
      <div class="md-label-icon">
        <core-icon icon="room"></core-icon>
      </div>
      <div class="md-label-text">
        View alignment: {{ variant.chromosome }}:{{ variant.position }} ({{ variant.hgnc_symbols|join(', ') }})
      </div>
    </a>
  </div>

  <div class="variant-header-item">
    <div class="md-label">
      <div class="md-label-icon">
        <core-icon icon="swap-vert-circle"></core-icon>
      </div>
      <div class="md-label-text">
        {{ variant.reference }} → {{ variant.alternative }}
      </div>
    </div>
  </div>

  <div class="variant-header-item">
    <div class="md-label">
      <div class="md-label-icon">
        <core-icon icon="report"></core-icon>
      </div>
      <div class="md-label-text">
        {{ variant.region_annotations|join(', ') }}
      </div>
    </div>
  </div>

  <div class="variant-header-item">
    <div class="md-label">
      <div class="md-label-icon">
        <core-icon icon="settings"></core-icon>
      </div>
      <div class="md-label-text">
        {{ variant.functional_annotations|join(', ') }}
      </div>
    </div>
  </div>

  <div class="variant-header-item">
    <form class="status-picker" method="POST">
      <div class="md-label">
        <div class="md-label-icon">Priority</div>
        <div class="md-label-text">
          <select v-model="variantRank" v-on:change="onVariantRankChange">
            {% for rank in manual_rank_options %}
              <option {% if rank == variant.manual_rank %}selected{% endif %}
                      value="{{ rank }}">
                {{ rank }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
  </div>

  {% if variant.variant_type == 'research' %}
    <!-- Separator -->
    <div class="flex"></div>

    <div class="md-toolbar-group">
      {% if prev_variant %}
        <a class="icon-button"
           title="Previous variant"
           href="{{ url_for('core.variant',
                      institute_id=institute_id, case_id=case_id,
                      variant_id=prev_variant.document_id) }}">
          <core-icon icon="arrow-back"></core-icon>
        </a>
      {% endif %}

      <a class="icon-button"
         title="Next variant"
         href="{{ url_for('core.variant',
                    institute_id=institute_id, case_id=case_id,
                    variant_id=next_variant.document_id) }}">
        <core-icon icon="arrow-forward"></core-icon>
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="variant-segments">

    {% for gene in variant.genes %}
      <div id="external-links" class="variant-segments-row">
        <div class="md-card">
          <div class="md-card-header">
            External links: {{ gene.common.hgnc_symbol }}
          </div>
          <div class="md-card-body">
            {{ variant_links(ensembl_link=gene.common.ensembl_link,
                             hpa_link=gene.common.hpa_link,
                             string_link=gene.common.string_link,
                             ucsc_link=variant.ucsc_link,
                             entrez_link=gene.common.entrez_link,
                             reactome_link=gene.common.reactome_link,
                             expression_atlas_link=gene.common.expression_atlas_link)
            }}
          </div>
        </div>
      </div>
    {% endfor %}

    <div id="activity" class="variant-segments-row">
      <div class="md-card">
        <div class="md-card-header">Activity</div>
        <div class="md-card-body-list">
          {{ activity_feed(events|reverse, context='variant') }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
