{% extends 'layouts/scroll-header.html' %}

{% block toolbar_custom %}
  <div class="variants-header">
    <div class="variants-header-item flex-small" title="Rank position">Rank</div>
    <div class="variants-header-item flex-small" title="Rank score">Score</div>
    <div class="variants-header-item flex-small" title="Chromosome">Chr.</div>
    <div class="variants-header-item" title="Length">Length</div>
    <div class="variants-header-item flex-big" title="HGNC">Gene</div>
    <div class="variants-header-item" title="1000 Genomes">1000G</div>
    <div class="variants-header-item flex-small" title="CADD score">CADD</div>
    <div class="variants-header-item" title="Func. annotation">
      Func. annotation (most severe)
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="variants-body">
    {% for variant in variants %}
      {{ variant_row(case, variant) }}
    {% endfor %}
  </div>
{% endblock %}

{% macro variant_row(case, variant) %}
  <div class="variants-row">
    <!-- Rank position -->
    {{ rank_field(case, variant) }}

    <!-- Rank score -->
    <div class="variants-row-item flex-small text-right">
      {{ variant.rank_score }}
    </div>

    <!-- Chromosome -->
    <div class="variants-row-item flex-small">
      {{ variant.chromosome }}
    </div>

    <!-- Length -->
    <div class="variants-row-item flex-small text-right">
      {{ variant.length }}
    </div>

    <!-- HGNC -->
    <div class="variants-row-item flex-big is-scrollable">
      {% for hgnc_id, omim_link in variant.omim_annotation_links %}
        <a target="_blank" href="{{ omim_link }}">{{ hgnc_id }}</a>
      {% endfor %}
    </div>

    <!-- 1000 Genomes -->
    <div class="variants-row-item text-right">
      {{ variant.thousand_genomes_frequency|human_decimal }}
    </div>

    <!-- CADD (severity) -->
    <div class="variants-row-item flex-small text-right">
      {{ variant.cadd_score or '-' }}
    </div>

    <!-- Func. annotation -->
    <div class="variants-row-item">
      {{ variant.most_severe_consequence }}
    </div>
  </div>
{% endmacro %}

{% macro rank_field(case, variant) %}
  <a class="variants-row-item flex-small layout"
           href="{{ url_for('core.variant',
                            institute_id=variant.institute.display_name,
                            case_id=case.display_name,
                            variant_id=variant.document_id) }}">

    <div>{{ variant.variant_rank }}</div>

    {% if variant.manual_rank %}
      <small><span class="md-badge--{{ variant.manual_rank_level }}">
        {{ variant.manual_rank }}
      </span></small>
    {% elif variant.has_comments(case) %}
      <!-- At least show if there are any comments written -->
      <div class="dot-indicator"></div>
    {% endif %}
  </a>
{% endmacro %}
