.container{
    margin-top: 150px;
}

.logosContainer{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
}

.karolinskaLogo{
    height: 150px;
}

.sciLifeLabLogo{
    height: 50px;
}

.swedacLogo{
    height: 140px;
}