.container {
  margin-top: 50px;
}

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.karolinskaLogo {
  height: 150px;
}

.sciLifeLabLogo {
  height: 50px;
}

.swedacLogo {
  height: 145px;
}
