{% extends "layout.html" %}
{% from "variants/components.html" import external_scripts, external_stylesheets %}

{% from "variants/utils.html" import pagination_footer, pagination_hidden_div %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ form.variant_type.data|capitalize }} omics outlier variants
{% endblock %}

{% block css %}
  {{ super() }}
  {{ external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">{{ form.variant_type.data|capitalize }} omics outliers</span>
  </li>
{% endblock %}

{% block content_main %}
<form method="POST" id="filters_form" action="{{url_for('omics_variants.outliers', institute_id=institute._id, case_name=case.display_name)}}"
      enctype="multipart/form-data" onsubmit="return validateForm()">
  <div class="container-float">
    {{ pagination_hidden_div(page) }}
    <div class="card panel-default" id="accordion">
    </div>
    <div class="card mt-3">
      <table class="table table-hover table-bordered" style="table-layout: fixed">
        <thead class="thead table-light">
              <tr>
                <th title="Variant display name">Outlier</th>
                <th title="HGNC symbols">Gene</th>
                <th title="Chromosome">Chr</th>
                <th title="Start">Start</th>
                <th title="End">End</th>
                <th title="Functional annotation">Func. annotation</th>
                <th title="Value - delta Psi or l2fc ">Value</th>
                <th title="P-value">P-value</th>
                <th title="Individual">Ind</th>
              </tr>
        </thead>
          <tbody>
            {% for variant in omics_variants %}
              <td>variant.display_name</td>
              <td> {% if variant.genes %}
                    {% for gene in variant.genes %}
                      {{ gene.common.hgnc_symbol if gene.common else gene.hgnc_id }}
                    {% endfor %}
                  {% endif %}
                </td>
              <td>variant.pos</td>
              <td>variant.end</td>
              <td>
              {% for annotation in variant.functional_annotations %}
               <div>{{ annotation }}</div>
              {% endfor %}
              </td>
              <td>variant.value</td>
              <td>variant.pvalue</td>
              <td>{{ case.individuals.0.display_name }}</td>
            {% else %}
              <tr>
                <td colspan="10">
                  No matching variants
                </td>
              </tr>
            {% endfor %}
         </tbody>
       </table>
     </div><!-- end of <div class="card mt-3">-->
    </div> <!-- end of class="container-float"> -->
  </form> <!--end of form containing filters and variants' table elements -->
  <div class="container-fluid" style="padding-bottom: 100px">
    {{ pagination_footer(more_variants, page) }}
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ external_scripts() }}
{% endblock %}
