:root {
  --bg-color: #eee;
}

.bg-primary {
  background-color: #A8D0E6 !important;
}

.bg-warning {
  background-color: #F8E9A1 !important;
}

.bg-danger-light {
    background-color: #f7bebc;
}

.btn-custom-select {
  width: 100%;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .40rem;
  margin-bottom: 1rem;
}

.container {
	margin-top: 10px;
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.container-float {
  width: 100%;
}

.container_spaced {
  margin-top: 10px;
  width: 100%;
}

table.dataTable {margin-bottom: 0}

.dataTables_scrollBody {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;}

/* dismiss table row */
.dismiss {
   background-color: #C9C9C9;
}

/* causative table row */
.causative {
   background-color: #dff0d8;
}

/* Custom navbar theme */
.navbar{
  background-color:#1181B2;
  padding: 0;
  height: 50px;
}

.navbar-inverse, .navbar-nav > li > a{
  color:white;
  font-size:16px;
  background-color:#1181B2;
}

.float-top-secondary {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	z-index: 99;
	background-color: #1181B2;
	border-bottom: 1px solid rgb(0, 153, 172);
}

.navbar-brand > li > a{
  color:white;
}

/*.navbar-nav > li > a:hover,*/
/*.navbar-nav > li > a:focus,*/

 .navbar-nav>.active, .navbar-default,
 .navbar-inverse>.active, .navbar-nav li.active > a {
  color:white;
  background-color: #343a40 !important;
}

.dropdown {
  margin-top: 0;
}

.panel-default {
	margin-top: 15px;
  background-color: #f6f6f6 !important;
}

.panel-default > .panel-heading {
	padding: 5px 10px;
	font-weight: 500;
	color: #DDEDF4;
  background: #1181B2;
}

.card {
  border-radius: 15px;
  background: #f6f6f6;
}

.card-title {
  padding: 15px;
  border-radius: 15px;
}

.card-subtitle {
  padding-left: 15px;
}

.ul {
  padding: 0;
  list-style: none;
  font-size: 0;
}

.list-scroll  {
  overflow: scroll;
  max-height: 430px;
}

.popover {
    max-width: 60%;
    pointer-events: none;
}

.popover-content > table {
  margin-bottom: 0;
}

li.nav-item {
  font-size: 16px;
  display: inline-block;
  padding: 5px 15px;
  height: 50px;
}

a:visited {
	/* purple */
	color: #551A8B;
}

.odd {
   background-color: #f2f2f2;
}

/* Introduce small space in between list elements */
body {
	background-color: var(--bg-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-success {
	/* light green */
	background-color: #dff0d8 !important;
}

.rank-shield {
	height: 50px;
}

/* define extra small buttons since the property is missing in Boostrap 4 */
.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .4;
    border-radius : .2rem;
}

.badge-primary {
  background-color: #1181B2;
}

/* Override primary button colors */
.btn-primary {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.btn-primary.active {
  background-color: #265a88;
  border-color: #245580;
}

.bg-info-light {
  background-color: #b8d9e3;
}

/* sidebar-related stuff */
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333 !important;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* end of sidebar-related stuff


/* CHECKBOX ios8-switch*/
input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 15px 0 0 35px;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}
/* end of CHECKBOX ios8-switch*/

option {
  width: 100%;
}

.list-group-item {
  background: #f6f6f6;
}

.nav .nav-item, .nav > .active > a {
  background-color: #f6f6f6 !important;
}


.panel-btn  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}

.dropdown-menu {
  max-height: 425px !important;
}
