:root {
  --bg-color: #eee;
}

.container {
	margin-top: 10px;
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.container-float {
	margin-top: 30px;
  width: 100%;
}

a:visited {
	/* faded pink */
	color: hsl(314, 31%, 61%);
}

body {
	background-color: var(--bg-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
