{% extends 'layouts/base.html' %}

{% block body %}

	<div class="homescreen">
		<div class="homescreen-header">
			<div class="menu-bar">
				<div>
					<i class="fa fa-bars fa-fw"></i>
					<a href="{{ url_for('frontend.index') }}">Scout</a>
				</div>

				<div>{% block menu_title %}{% endblock %}</div>
			</div>
		</div>

		<div class="homescreen-content">
			{% block core_container %}{% endblock %}
		</div>
	</div>

	<!-- include browserify script tag -->
  {% include 'footer.html' %}

{% endblock %}
