/***** Global colors *****/
/** Primary color (nav, footer) */
$primary_color: white;
$primary_color_text: black;
$primary_color_dark_mode: black;
$primary_color_dark_mode_text: white;

$cg-color: #ef7c01;

/** Shadow */
//$shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
$shadow: 0px 0px 3px #cccccc;

/***** Clobal styles *****/
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif !important;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.no_button_style {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.btn-style {
  box-sizing: content-box;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: $shadow;
}

/** Dark mode */
.dark_mode {
  background-color: black;
  color: white;
}
/** TODO: Check if this can be done better */
.dark_mode Nav,
.dark_mode Footer
 {
  background-color: $primary_color_dark_mode;
  color: $primary_color_dark_mode_text;
}
/** TODO: Add selected/hover color on dropdown items another color */

/** TODO: Add similar to Tailwind */
.flex {
  display: flex;
}
