/***** Global colors *****/
/** Background for app, dropdown, etc */
$primary_bg_color: white;
$primary_text_color: black;
/** Headers, footers, etc*/
$secondary_bg_color: white;
$secondary_text_color: black;

/** Background for app, dropdown, etc */
$primary_bg_color_dark_mode: #212121;
$primary_text_color_dark_mode: white;
/** Headers, footers, etc*/
$secondary_bg_color_dark_mode: #3d3d3d;
$secondary_text_color_dark_mode: white;

$scout-color: #1181b2;

/** Shadow */
//$shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
$shadow: 0px 0px 3px #cccccc;

/***** Clobal styles *****/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.no_button_style {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.btn_style {
  box-sizing: content-box;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: $shadow;
}

/** Dark mode */
.dark_mode {
  background-color: $primary_bg_color_dark_mode;
  color: $primary_text_color_dark_mode;
}
.dark_mode Nav,
.dark_mode Footer {
  background-color: $secondary_bg_color_dark_mode;
  color: $secondary_text_color_dark_mode;
  box-shadow: none;
}
.dark_mode .dropdown_menu {
  background-color: $primary_bg_color_dark_mode;
  color: $primary_text_color_dark_mode;
  box-shadow: none;
  border: 1px solid white;
  > li:focus,
  > li:hover {
    background-color: $secondary_bg_color_dark_mode;
  }
}
.dark_mode nav > ul > li {
  > a::before,
  > span::before,
  .selected_nav::before {
    background-color: white;
  }
}

/** TODO: Add similar automatic library as Tailwind (e.g. ml-3) */
.flex {
  display: flex;
}

/** Login button */
.login_button {
  background-color: $scout-color;
  margin: 8px;
  color: #fff;
}

/** Nav item container */
li.nav_item {
  list-style-type: none;
  position: relative;
  margin: 0px 8px;
}

.dropdown_item_space {
  height: 100%;
  width: 2px;
  cursor: pointer;
}


.test{
  position: absolute;
  top: -10px;
  right: 100px;
}

  /** Nav item container */
  li.nav_item {
    list-style-type: none;
    position: relative;
    margin: 0px 8px;
  }

  .dropdown_item_space {
    height: 100%;
    width: 2px;
    cursor: pointer;
  }

  /** Collapse arrow animation */
  .collapse_arrow {
    cursor: pointer;
    transition: transform 0.5s;
  }
  li:hover > .collapse_arrow {
    transform: rotate(180deg);
  }
  .dropdown_item_space {
    height: 100%;
    width: 2px;
    cursor: pointer;
  }
  li.nav_item {
  /** Dropdown menu */
  & > ul {
    display: none;
  }
  &:hover > ul {
    display: flex;
  }
}