{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}
{% from "overview/utils.html" import analysis_type %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - Cases
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }}</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Cases</span>
  </li>
{% endblock %}


{% macro search_form() %}
<form action="{{ url_for('overview.cases', institute_id=institute._id) }}" method="GET" accept-charset="utf-8">
    <div class="row d-flex align-items-end">
      <div class="col-3">
        {{ form.search_type.label(class="control-label") }}
        {{ form.search_type(class="form-control") }}
      </div>
      <div class="col-3">
          <label class="control-label" for="search_term">Search cases</label>
          <input class="form-control" id="search_term" name="search_term" value="{{form.search_term.data if form.search_term.data}}" placeholder="example:18201" type="text" pattern="[^\\\<\>\?\!\=\/]*" title="Characters \<>?!=/ are not allowed">
      </div>
      <div class="col-1">
        {{ form.search(class="btn btn-primary form-control") }}
      </div>
      <div class="col-1">
        {{ form.search_limit.label(class="control-label") }}
        {{ form.search_limit(class="form-control") }}
      </div>

      <div class="col-2">
        <div class="form-check">
          {{ form.skip_assigned(class="form-check-input") }}
          {{ form.skip_assigned.label(class="form-check-label") }}
        </div>
        <div class="form-check">
          {{ form.is_research(class="form-check-input") }}
          {{ form.is_research.label(class="form-check-label") }}
        </div>
        <div class="form-check">
          {{ form.has_rna(class="form-check-input") }}
          {{ form.has_rna.label(class="form-check-label") }}
        </div>
      </div>
      <div class="col-2">
        <div class="form-check">
          {{ form.clinvar_submitted(class="form-check-input") }}
          {{ form.clinvar_submitted.label(class="form-check-label") }}
        </div>
        <div class="form-check">
          {{ form.validation_ordered(class="form-check-input") }}
          {{ form.validation_ordered.label(class="form-check-label") }}
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro cases_table(group_name, cases) %}
{% if sort_order == 'asc' %}
  {% set sort_option = 'desc'%}
{% else %}
  {% set sort_option = 'asc'%}
{% endif %}
<div class="card mt-3">
  <div class="card-body" style="padding: 0;">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 21%">{{ group_name|capitalize }} cases ({{cases|length}}/{{status_ncases[group_name] or 0}})</th>
          <th style="width: 7%;">Status <a href="" id="{{group_name}}_status" onclick="updateArgs('{{group_name}}','sort=status','{{sort_option}}');" class="badge" style="color:{{'black' if sort_by=='status' else 'grey'}};background-color:white;">
            <i class="fa fa-sort{{'-'+sort_order if sort_by=='status' }}" aria-hidden="true" data-bs-toggle="tooltip" title="Sort cases by 'status'"></i>
          </a></th>
          <th style="width: 11%;">Analysis date <a href="" id="{{group_name}}_analysis_date" onclick="updateArgs('{{group_name}}','sort=analysis_date','{{sort_option}}');" class="badge" style="color:{{'black' if sort_by=='analysis_date' else 'grey'}};background-color:white;">
            <i class="fa fa-sort{{'-'+sort_order if sort_by=='analysis_date' }}" aria-hidden="true" data-bs-toggle="tooltip" title="Sort by analysis date"></i>
          </a></th>
          <th style="width: 22%;">Link</th>
          <th style="width: 21%;">Default panel</th>
          <th style="width: 3%;" data-bs-toggle="tooltip" title="Sequencing modality">Seq</th>
          <th style="width: 11%;">Track <a href="" id="{{group_name}}_track" onclick="updateArgs('{{group_name}}','sort=track','{{sort_option}}');" class="badge text-body" style="color:{{'black' if sort_by=='track' else 'grey'}};background-color:white;">
            <i class="fa fa-sort{{'-'+sort_order if sort_by=='track' }}" aria-hidden="true" data-bs-toggle="tooltip" title="Sort by analysis track: Rare Disease, Cancer.."></i>
          </a></th>
          <th style="width: 4%;">Share</th>
        </tr>
      </thead>
      <tbody>
      {% for case in cases %}
        {{ case_row(case) }}
      {% else %}
          <tr>
            <td colspan=8>No cases found with this query.</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div><!--end of card-body-->
</div>
{% endmacro %}


{% macro case_row(case) %}
  <tr class="{% if case.status == 'solved' %}causative{% endif %}">
    <td>
      <a href="{{ url_for('cases.case', institute_id=case.owner, case_name=case.display_name) }}">
        {{ case.display_name }}
      </a>
      {% if case.individuals|length > 1 %}
      <span class="badge bg-primary">
        {% for item in case.individuals %}
          {% if case.track == "cancer" %}
            <span class="fa fa-vial"></span>
          {% else %} <!-- rare disease case -->
            <span class="fa fa-user"></span>
          {% endif %}
        {% endfor %}
      </span>
      {% endif %}
      {% for user in case.assignees %}
        <span class="badge bg-secondary">{{ user.name }}</span>
      {% endfor %}
      {% if case.needs_check %}
        <span class="badge bg-warning">decipher</span>
      {% endif %}
    </td>
    <td>
      <span class="badge bg-primary">{{ case.status }}</span>
      {% if case.is_migrated %}
        <span class="badge bg-primary">migrated</span>
      {% endif %}
    </td>
    <td class="d-flex justify-content-between align-items-center">
      {{ case.analysis_date.date() }}
      {% if case.rerun_requested %}
          <span class="badge bg-secondary">rerun pending</span>
      {% elif case.is_rerun %}
        <span class="badge bg-secondary">rerun</span>
      {% endif %}
    </td>
    <td>
      {% if case.is_research %}
        {% if case.vcf_files.vcf_snv %}
          <a href="{{ url_for('variants.variants', institute_id=case.owner, case_name=case.display_name, variant_type='research') }}">Research SNV and INDELs</a>
        {% elif case.vcf_files.vcf_cancer %}
          <a href="{{ url_for('variants.cancer_variants', institute_id=case.owner, case_name=case.display_name, variant_type='research') }}">Clinical Somatic Variants</a>
        {% endif %}
      {% else %}
        {% if case.vcf_files.vcf_snv %}
          <a href="{{ url_for('variants.variants', institute_id=case.owner, case_name=case.display_name, variant_type='clinical', gene_panels=case.panels|selectattr('is_default')|map(attribute='panel_name')|list) }}">Clinical SNV and INDELs</a>
        {% elif case.vcf_files.vcf_cancer %}
          <a href="{{ url_for('variants.cancer_variants', institute_id=case.owner, case_name=case.display_name, variant_type='clinical') }}">Clinical Somatic Variants</a>
        {% elif case.vcf_files.vcf_cancer_sv %}
          <a href="{{ url_for('variants.cancer_sv_variants', institute_id=case.owner, case_name=case.display_name, variant_type='clinical') }}">Clinical Somatic Structural Variants</a>
        {% elif case.vcf_files.vcf_fusion %}
          <a href="{{ url_for('variants.fusion_variants', institute_id=case.owner, case_name=case.display_name, variant_type='clinical') }}">Clinical Fusion Variants</a>
        {% elif case.individuals|rejectattr('bionano_access', 'undefined')|rejectattr('bionano_access', 'none')|list|length > 0 %}
          <a href="{{ url_for('cases.bionano', institute_id=institute._id, case_name=case.display_name) }}">Optical Genome Mapping BioNano FSHD</a>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {{ default_gene_panel(institute, case) }}
    </td>
    <td>
      {{ analysis_type(case.analysis_types) }}
    </td>
    <td>
      {{ case.display_track }}
    </td>
    <td>
      {% if case.clinvar_variants %}
        <span class="badge rounded-pill bg-dark" data-bs-toggle="tooltip" title="ClinVar - info about submitted variants available on Case page or ClinVar submissions page (Institute sidebar)"><em class="fas fa-database"></em></span>
      {% endif %}
      {% if case.mme_submission %}
        <span class="badge rounded-pill bg-dark" data-bs-toggle="tooltip" title="Matchmaker Exchange - info about submitted variants available on Case page (sidebar)"><em class="fas fa-network-wired"></em></span>
      {% endif %}
      {% if case.beacon %}
        <span class="badge rounded-pill bg-dark" data-bs-toggle="tooltip" title="Beacon - info available on Case page (sidebar)"><em class="fab fa-watchman-monitoring"></em></span>
      {% endif %}
    </td>
  </tr>
{% endmacro %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ institute_actionbar(institute) }} <!-- This is the sidebar -->
  <div class="col">
    <div class="container-float">
      <div class="card panel-default">
        <div class="card-body">
          {{ search_form() }}
        </div>
        <div class="card-footer text-center">
          Showing {{ found_cases }} / {{ nr_cases }} cases
        </div>
      </div>

      {% if sanger_unevaluated %}
        <div class="container alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% if sanger_unevaluated|length > 1%}
          You have <strong>{{ sanger_unevaluated|length }}</strong> cases with Sanger validations to evaluate!
          {% else %}
          You have <strong>1</strong> case with Sanger validations to evaluate!&nbsp;
          {% endif %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#evaluateModal">
            evaluate
          </button>

          <!-- Modal -->
          <div class="modal fade" id="evaluateModal" tabindex="-1" role="dialog" aria-labelledby="sangerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="sangerModalLabel">Sanger validations to evaluate:</h5>
                </div>
                <div class="modal-body">
                  <ul>
                    {% for uneval_obj in sanger_unevaluated %}
                    {% for case, var_list in uneval_obj.items() %}
                    <li>
                      Case <strong><a href="{{ url_for('cases.case', institute_id=institute._id, case_name=case) }}" target="_blank">{{case}}</a></strong> ---> <strong>{{var_list|length}}</strong> variants:
                      <ul>
                        {% for var in var_list %}
                          <li><a href="{{ url_for('variant.variant', institute_id=institute._id, case_name=case, variant_id=var) }}" target="_blank">{{var}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div>
        {% set ordered_statuses = ['prioritized', 'inactive', 'active', 'archived', 'solved', 'ignored'] -%}
        {% for status in ordered_statuses %}
          {% for group_name, case_group in cases %}
            {% if status == group_name %}
              <div class="table-responsive">{{ cases_table(group_name, case_group) }}</div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div> <!-- end of cases page content -->
  </div> <!-- end of col div element -->
  </div> <!-- end of div id body-row -->
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('overview.static', filename='form_scripts.js') }}"></script>
  <script>
  var caseSearchTerms = {{ search_terms|safe }};
  var searchTerm = document.getElementById('search_term'); // Case search term label
  var sel = document.getElementById('search_type'); // Case search term select
  document.getElementById("search_type").onchange = function() {
    // Change case search term placeholder
    selectedKey = sel.options[sel.selectedIndex].value.slice(0, -1);
    searchTerm.placeholder=caseSearchTerms[selectedKey]["placeholder"];
    // Reset search
    searchTerm.value="";
  };

  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
  </script>
{% endblock %}

{% macro default_gene_panel(institute, case) %}
  {% set count = namespace(count=0, displayed=0) %}
  {% for panel in case.panels if panel.is_default %}
    {% set count.count = count.count + 1 %}
    {% if count.count < 3 %}
      <a href="{{ url_for('panels.panel', panel_id=panel.panel_id, case_id=case._id, institute_id=institute._id) }}">
        {{ panel.panel_name }}
      </a>
      {% set count.displayed = count.displayed + 1 %}
    {% else %}
      <a href="{{ url_for('cases.case', institute_id=case.owner, case_name=case.display_name) }}">
        ...
      </a>
    {% endif %}
 {% endfor %}
 {% if case.panels|length > count.displayed %}
    + {{ case.panels|length - count.displayed }}
 {% endif %}
{% endmacro %}
