{% extends "layout.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}
{% from "overview/utils.html" import variant_list_content %}
{% from "utils.html" import db_table_external_scripts, db_table_external_stylesheets %}

{% block title %}
{{ super() }} - Institutes
{% endblock %}

{% block css %}
{{ super() }}
 {{ db_table_external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }}</a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">Causative variants</span>
  </li>
{% endblock %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    <div class="col-12">
        {{ variant_list_content(institute, causatives, acmg_map, callers) }}
    </div>
  </div> <!-- end of div id body-row -->
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ db_table_external_scripts() }}
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
  <script src="{{ url_for('overview.static', filename='variants_list_scripts.js') }}"></script>
{% endblock %}
