{% extends "layout_bs4.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - Filters
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<style>
.tree {
  list-style-type: none;
}
</style>
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }} cases </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.filters', institute_id=institute._id) }}">Filters</a>
  </li>
{% endblock %}

{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ institute_actionbar(institute) }} <!-- This is the sidebar -->
    <div class="col">
      <table>
        {% for filter in filters %}
          <tr>
            <input type="hidden" id="_id" value="{{filter._id}}">
            <td>{{ filter.display_name }}</td>
            <td>{{ filter.category }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div><!-- end of body row div -->
</div><!-- end of container-float-->
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript">

  function showDiv(showElem, hideElem) {
    // show div of interest
    var divElem = document.getElementById(showElem);
    divElem.style.display = "block";
    // hide the other div
    divElem = document.getElementById(hideElem);
    divElem.style.display = "none";
  }

  $(document).ready(function(){
    $('#omimForm').toggle();
  });

  $('#hpoHasTitle').change(function() {
    if($(this).prop("checked")){
      $("#hpoTermTitle").removeAttr('disabled');
    }
    else{
      $("#hpoTermTitle").prop("disabled", true);
    }
  });

  $('#omimHasTitle').change(function() {
    if($(this).prop("checked")){
      $("#omimTermTitle").removeAttr('disabled');
    }
    else{
      $("#omimTermTitle").prop("disabled", true);
    }
  });

  function toggleDiv(divName){
    var div = document.getElementById(divName);
    if (div.style.display === "none") {
      div.style.display = "block";
    } else {
      div.style.display = "none";
    }
  }

</script>
{% endblock %}
