{% extends "layout_bs4.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "overview/utils.html" import users_table%}

{% block title %}
  {{ super() }} - Institutes
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('overview.institutes') }}">
      institutes
    </a>
  </li>
  <li class="nav-item active">
    <p class="navbar-text text-nowrap">{{ institute.display_name }}</p>
  </li>
{% endblock %}

{% block content_main %}
<form  action="{{ url_for('overview.institute', institute_id=institute.internal_id) }}" method="POST"
  accept-charset="utf-8" id="institute_form">
{{ form.csrf_token() }}
<div class="container-fluid">
  <div class="row">
    <!-- institute settings panel -->
    <div class="card mt-3 col-6">
      <div style="padding: 0;" class="card-body mt-3 ml-3 mr-3" >
        <h5 class="header">Institute Settings</h5>
          <div class="form-row mt-3 d-flex justify-content-between">
            <div class="form-group col-md-12">
              {{ form.display_name.label }}
              {{ form.display_name(class='form-control', value=institute.display_name) }}
              {% for error in form.display_name.errors %}
                <span style="color: red;">{{ error }}</span><br>
              {% endfor %}
            </div>
          </div>
          <div class="form-row mt-3 d-flex justify-content-between">
            <div class="form-group col-md-6">
              {{ form.sanger_email.label }}
              {{ form.sanger_email(class='form-control') }}
              {% for error in form.sanger_email.errors %}
                <span style="color: red;">{{ error }}</span><br>
              {% endfor %}
              <div class="form-row mt-3 d-flex justify-content-between">
                <div class="form-group col-md-6">
                  <button type="button" class="btn btn-sm btn-secondary" onclick="add_recipient()">Add recipient</button>
                </div>
                <div class="form-group col-md-6">
                  <button type="button" class="btn btn-sm btn-warning" onclick="clear_recipients()">Clear recipients list</button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              {{ form.sanger_recipients.label }}
              {{ form.sanger_recipients(class='form-control') }}
            </div>
          </div>
          <div class="form-row mt-3 d-flex justify-content-between">
            <div class="form-group col-md-6">
              {{ form.coverage_cutoff.label }}
              {{ form.coverage_cutoff(class='form-control', value=institute.coverage_cutoff) }}
              {% for error in form.coverage_cutoff.errors %}
                <span style="color: red;">{{ error }}</span><br>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{ form.frequency_cutoff.label }}
              {{ form.frequency_cutoff(class='form-control', value=institute.frequency_cutoff) }}
              {% for error in form.frequency_cutoff.errors %}
                <span style="color: red;">{{ error }}</span><br>
              {% endfor %}
            </div>
          </div>
          <div class="form-row mt-3 d-flex justify-content-between">
            <div class="form-group col-md-6">
              {{ form.snvs_rank_threshold.label }}
              {{ form.snvs_rank_threshold(class='form-control', value=institute.snvs_rank_threshold) }}
              {% for error in form.snvs_rank_threshold.errors %}
                <span style="color: red;">{{ error }}</span><br>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              {{ form.svs_rank_threshold.label }}
              {{ form.svs_rank_threshold(class='form-control', value=institute.svs_rank_threshold) }}
              {% for error in form.svs_rank_threshold.errors %}
                <span style="color: red;">{{ error }}</span><br>
              {% endfor %}
            </div>
          </div>
          <div class="form-row mt-3 d-flex justify-content-between">
            <div class="col-md-6 selectpicker">
              {{ wtf.form_field(form.pheno_groups, class='form-control') }}
            </div>
            <div class="col-md-6 selectpicker">
              {{ wtf.form_field(form.cohorts, class='form-control') }}
            </div>
          </div>
          <div class="form-row mt-3 d-flex justify-content-center">
            <div class="col-md-12 selectpicker">
              {{ wtf.form_field(form.institutes, class='form-control') }}
            </div>
          </div>
          <div class="form-row mt-3 d-flex justify-content-center">
            <div class="form-group">
              {{ form.submit(class="btn-primary btn") }}
            </div>
          </div>
      </div>
    </div>
    <!-- institute users panel -->
    <div class="card col-6 mt-3">
      <div style="padding: 0;" class="card-body mt-3 overflow-auto">
        <h5 class="header">Institute users</h5>
          {{ users_table(users) }}
      </div>
    </div>
  </div> <!-- end of div class="row" -->
</div> <!-- end of container div -->
</form>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
  <script>
    $(function () {
      $('select[multiple]').selectpicker({
          width: '100%'
        });
    });

    function add_recipient(){
      var re = /\S+@\S+\.\S+/; // regular expression to validate new sanger recipient email
      var recipient = document.getElementById('sanger_email').value
      if (re.test(recipient)) { // if new recipient is a valid email
        old_value = document.getElementById('sanger_recipients').value;
        if (old_value){
          // append new recipient to list of recipients
          document.getElementById('sanger_recipients').value = old_value.concat(", ", recipient);
        }
        else{
          document.getElementById('sanger_recipients').value = recipient;
        }
      }
    }

    function clear_recipients(){
      document.getElementById('sanger_recipients').value = '';
    }

  </script>

{% endblock %}
