<!-- Inspired by https://github.com/Nathlo/vertical-timeline -->
{% extends "layout.html" %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - Cases
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('overview.static', filename='timeline_styles.css') }}"></link>
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
{% endblock %}

{% block content_main %}
<div class="wrapper">
  <!-- Centered Main Line -->
  <div class="center-line">
    <a href="" class="scroll-icon fas fa-caret-up"></a>
  </div>

  <!-- Loop over the group of events and display them on the timeline -->
  {% set ns = namespace(last_event_day=None, row_class="1", last_case=None) %}

  {% for eventg in events %}
    <!-- Display events from the same day on the same side of the timeline -->
    {% if eventg._id.yearMonthDay != ns.last_event_day %}
      {% if ns.row_class == "1" %}
        {% set ns.row_class = "2" %}
      {% else %}
        {% set ns.row_class = "1" %}
      {% endif %}
    {% endif %}

    <!-- Display case name and link of top of list of case events -->
    {% if eventg._id.yearMonthDay != ns.last_event_day or eventg._id.case_id !=  ns.last_case%}
      <div class="row row-{{ns.row_class}}"  style="margin-top: 30px;">
        <section>
            <em class="icon icon fas fa-star"></em>
            <div class="details">
              <span class="title"><a href="{{eventg._id.link}}" target="_blank" rel="noopener">{{eventg._id.institute}}, case {{eventg._id.case_name}}</a></span>
              <span><strong>{{eventg._id.yearMonthDay}}</strong></span>
            </div>
        </section>
      </div>
    {% endif %}

    <!-- Display group of events for a case, by category-->
    <div class="row row-{{ns.row_class}}">
      <section>
          <em class="icon {{verbs_icons[eventg._id.verb]}}"></em>
          <div class="details">
            {{verbs_map[eventg._id.verb]}} ({{eventg.count}}x) {{eventg._id.category}}
          </div>
      </section>
    </div>

    {% set ns.last_event_day = eventg._id.yearMonthDay %}
    {% set ns.last_case = eventg._id.case_id %}


  {% endfor %}
  <br>
</div>
{% endblock %}
