{% extends "layout.html" %}

{% from "variants/components.html" import external_scripts, external_stylesheets, gene_cell, frequency_cell_general, observed_cell_general %}
{% from "variants/utils.html" import cancer_filters, cell_rank, pagination_footer, pagination_hidden_div, dismiss_variants_block, filter_form_footer, filter_script_main, update_stash_filter_button_status %}
{% from "variants/indicators.html" import pin_indicator, causative_badge, clinical_assessments_badge, comments_badge, dismissals_badge, evaluations_badge, group_assessments_badge, matching_manual_rank, other_tiered_variants, research_assessments_badge %}

{% block title %}
  {{ variant_type|capitalize }} somatic variants
{% endblock %}

{% block css %}
  {{ super() }}
  {{ external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="nav-item active  d-flex align-items-center">
    <span class="navbar-text">{{ variant_type|capitalize }} somatic variants</span>
  </li>
{% endblock %}

{% block content_main %}
  <form method="POST" id="filters_form" action="{{url_for('variants.cancer_variants', institute_id=institute._id, case_name=case.display_name)}}" enctype="multipart/form-data" onsubmit="return validateForm()">
  <div class="container-float">
    {{ pagination_hidden_div(page) }}
    <div class="card panel-default" id="accordion">
      <div class="card-header">
        <strong><a data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFilters">Filters</a></strong>
      </div>
      <!--Expand filters form if filters were used in a previous POST request or the previous POST request form was not validated-->
      <div class="card-body panel-collapse collapse {{ 'show' if expand_search is sameas true }}" id="collapseFilters" >
        {{ cancer_filters(form, institute, case) }}
      </div>
      {{ filter_form_footer(form, result_size, total_variants, more_variants, page, variants|length, institute) }}
    </div>

  <div class="card mt-3">
    <table class="table table-hover table-bordered" style="table-layout:fixed">
      <thead class="thead table-light">
            <tr>
              <th style="width:2%"></th>
              <th title="Gene">Gene</th>
              <th title="Variant" style="width:12%">HGVS[c/p]</th>
              <th title="Assessments including variant tier" style="width:8%">Assessment</th>
              <th title="Quality markers" style="width:6%">Qual</th>
              <th title="Rank scores" style="width:4%">Rank</th>
              <th title="CADD scores" style="width:4%">CADD</th>
              <th title="Genomic coordinate" style="width:8%">Chr pos</th>
              <th title="Population frequency">Pop Freq</th>
              <th title="Observed" style="width:7%">Observed</th>
              <th title="Variant type">Type</th>
              <th title="Functional consequence annotation" style="width:18%">Consequence</th>
              <th data-bs-toggle="tooltip" data-bs-placement="top" title="Tumor alt. AF. &#013; Alt. allele count | Ref. allele count">Tumor</th>
              <th data-bs-toggle="tooltip" data-bs-placement="top" title="Normal alt. AF. &#013; Alt. allele count | Ref. allele count">Normal</th>
            </tr>
      </thead>
      <tbody>
        {% for variant in variants %}
          {% if variant.dismiss_variant %}
            <tr class="dismiss">
          {% elif 'causatives' in case and variant._id in case.causatives %}
            <tr class="causative">
          {% else %}
            <tr>
          {% endif %}
            <td>
              <input type="checkbox" value="{{variant._id}}" name="dismiss" onclick="enableDismiss()">
              {{ pin_indicator(variant, case) }}
            </td>
            <td>{{ gene_cell(variant) }}</td>
            <td>
              <a target="_blank" href="{{ url_for('variant.cancer_variant', institute_id=institute._id, case_name=case.display_name,
                                  variant_id=variant._id, cancer='yes') }}">
                {% if variant.first_rep_gene.hgvs_identifier %}
                  <div>{{ variant.first_rep_gene.hgvs_identifier }}</div>
                  <div>{{ (variant.first_rep_gene.hgvsp_identifier or '') |url_decode }}</div>
                {% else %}
                  <div>{{ variant.reference }}→
                    {% if variant.alternative | length > 5 %}
                      {{ variant.alternative[0] }}...{{ variant.alternative[-1] }}
                    {% else %}
                      {{ variant.alternative }}
                    {% endif %}
                  </div>
                {% endif %}
              </a>
            </td>
            <td>
              {{ evaluations_badge(variant) }}
              {{ dismissals_badge(variant) }}
              {{ matching_manual_rank(variant) }}
              {{ research_assessments_badge(variant) }}
              {{ clinical_assessments_badge(variant) }}
              {{ group_assessments_badge(variant) }}
              {{ comments_badge(case, institute, variant) }}
              {{ causative_badge(variant, case) }}
              {{ other_tiered_variants(variant) }}
            </td>
            <td>{{ quality_cell(variant) }}</td>
            <td>{{ rank_cell(variant) }}</td>
            <td>{{ cadd_cell(variant) }}</td>
            <td>{{ position_cell(variant) }}</td>
            <td class="text-end">{{ frequency_cell_general(variant) }}</td>
            <td>{{ observed_cell_general(variant) }}</td>
            <td>{{ variant.sub_category }}</td>
            <td>
              {% for annotation in variant.functional_annotations %}
                <div>{{ annotation }}</div>
              {% endfor %}
            </td>
            <td>{{ allele_cell(variant.tumor or {}) }}</td>
            <td>{{ allele_cell(variant.normal or {}) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- end of card-->
</div><!--end of container-float -->
{{ dismiss_variants_block(dismiss_variant_options, institute, case, show_dismiss_block) }}
</form><!--end of form containing filters and variants' table elements -->
<div class="container-fluid" style="padding-bottom: 100px">
  {{ pagination_footer(more_variants, page) }}
</div>
{% endblock %}

{% macro actions_cell(variant) %}
  <a href="{{ url_for('variant.variant', institute_id=institute._id, case_name=case.display_name,
                      variant_id=variant._id, cancer='yes') }}">View</a>
  {% if variant.comments %}
    <span class="glyphicon glyphicon-comment"></span>
  {% endif %}
{% endmacro %}

{% macro rank_cell(variant) %}
  {% if variant.rank_score is defined %}
    {% if variant.rank_score <= 4 %}
      {% set label_class = 'secondary' %}
    {% elif variant.rank_score == 5 %}
      {% set label_class = 'info' %}
    {% elif variant.rank_score == 6 %}
      {% set label_class = 'primary' %}
    {% elif variant.rank_score == 7 %}
      {% set label_class = 'warning' %}
    {% elif variant.rank_score > 8 %}
      {% set label_class = 'danger' %}
    {% endif %}
    <div class="badge bg-{{ label_class }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Rank score">{{ variant.rank_score }}</div>
  {% endif %}
{% endmacro %}

{% macro cadd_cell(variant) %}
  {% if variant.cadd_score %}
    {% if variant.cadd_score <= 10 %}
      {% set label_class = 'secondary' %}
    {% elif variant.cadd_score <= 20 %}
      {% set label_class = 'primary' %}
    {% elif variant.cadd_score <= 25 %}
      {% set label_class = 'warning' %}
    {% elif variant.cadd_score > 29 %}
      {% set label_class = 'danger' %}
    {% endif %}
    <div class="badge bg-{{ label_class }}" data-bs-toggle="tooltip" data-bs-placement="top" title="CADD score">{{ variant.cadd_score|round }}</div>
  {% endif %}
{% endmacro %}

{% macro quality_cell(variant) %}
  {% for filter in variant.filters %}
    <div data-bs-toggle="tooltip" data-bs-placement="top" title="{{ filter.description }}" class="badge bg-{{ filter.label_class }}">{{ filter.label }}</div>
  {% endfor %}
{% endmacro %}


{% macro position_cell(variant) %}
  {{ variant.chromosome }}<span class="text-muted">:{{ variant.position }}</span>
{% endmacro %}

{% macro allele_cell(allele) %}
  {% if 'alt_freq' in allele %}
    {{ allele.alt_freq|round(4)  }}
    <br>
    <small class="text-muted">{{ allele.alt_depth }} | {{ allele.ref_depth }}</small>
  {% else %}
    <span class="text-muted">N/A</span>
  {% endif %}
{% endmacro %}

{% block scripts %}
  {{ super() }}
  {{ external_scripts() }}
  <script src="{{ url_for('variants.static', filename='form_scripts.js') }}"></script>
  {{ filter_script_main(cytobands) }}
  <script type="text/javascript">

    $('select[multiple]').selectpicker({
      width: '100%'
    });

    window.onload=function() {
        populateCytobands({{cytobands|safe}});
        {{ update_stash_filter_button_status(current_user, filters) }}
    }

    $("#filters").change(function () {
      {{ update_stash_filter_button_status(current_user, filters) }}
    });

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl, {
        sanitizeFn: function (content) {
          return DOMPurify.sanitize(content)
        },
        container: 'body',
      })
    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

  </script>
{% endblock %}
