{% extends "variants/variants_layout.html" %}
{% from "variants/utils.html" import cell_rank, dismiss_variants_block, enable_variants_hotkeys, filters_form_header, filter_form_footer, filter_script_main, fusion_filters, pagination_footer, pagination_hidden_div, update_stash_filter_button_status, variant_link_href %}
{% from "variants/components.html" import external_scripts, external_stylesheets, fusion_variant_gene_symbols_cell, fusion_variants_header, default_fusion_variant_cells %}

{% block category_title %}
  Fusion variants
{% endblock %}

{% block variants_form_action %}
  {{url_for('variants.fusion_variants', institute_id=institute._id, case_name=case.display_name)}}
{% endblock %}

{% block variants_filter %}
  {{ fusion_filters(form, institute, case) }}
{% endblock %}

{% block variants_table_header %}
  {{ fusion_variants_header() }}
{% endblock %}

{% block variants_table_rows %}
  {% for variant in variants %}
    {{ variant_row(variant) }}
  {% else %}
    <tr>
        <td colspan="11">No matching variants</td>
    </tr>
  {% endfor %}
{% endblock %}

{% macro variant_row(variant) %}
  <tr data-href="{{ variant_link_href(variant, institute, case) }}"
  {% if variant.dismiss_variant %}
    class="dismiss">
  {% elif 'causatives' in case and variant._id in case.causatives %}
    class="causative">
  {% else %}
    >
  {% endif %}
    <td class="no-row-click"><input type="checkbox" value="{{variant._id}}" name="dismiss" onclick="enableDismiss()"></td>
    <td class="text-start">
      {{ cell_rank(variant, institute, case, form, manual_rank_options) }}
    </td>
    {{ default_fusion_variant_cells(institute, case, variant) }}
  </tr>
{% endmacro %}
