{% extends "layout.html" %}
{% from "variants/utils.html" import compounds_table %}
{% from "variants/components.html" import gene_cell, frequency_cell %}
{% from "utils.html" import flash_messages, comments_table %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - STR variants
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li>
    <a href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li>
    <a href="{{ url_for('cases.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li>
    <a href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="active">
    <span class="navbar-text">{{ form.variant_type.data|capitalize }} STRs</span>
  </li>
{% endblock %}

{% block top_nav_right %}
  {{ super() }}
{% endblock %}

{% block content %}
<form>
  <div class="container-fluid main">
    {{ flash_messages() }}
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-xs-1" title="Rank position">Rank</th>
          <th class="col-xs-1" title="Repeat ID">Repeat locus</th>
          <th class="col-xs-2" title="Repeat unit">Reference repeat unit</th>
          <th class="col-xs-1" title="ALT">Estimated size</th>
          <th class="col-xs-1" title="ReferenceSize">Reference size</th>
          <th class="col-xs-1" title="Status">Status</th>
          <th class="col-xs-2" title="GT">Genotype</th>
          <th class="col-xs-1" title="Chromosome">Chr.</th>
          <th class="col-xs-2" title="Position">Position</th>
        </tr>
      </thead>
      <tbody>
        {% for variant in variants %}
          {% if variant.dismiss_variant %}
              <tr class="dismiss">
          {% elif variant.str_status == 'normal' %}
              <tr class="bg-success">
          {% elif variant.str_status == 'full_mutation' %}
              <tr class="bg-warning">
          {% elif variant.str_status == 'pre_mutation' %}
              <tr class="medium">
	        {% else %}
	            <tr>
	        {% endif %}
            <td>{{ cell_rank(variant) }}</td>
            <td>{{ variant.str_repid }}</td>
	          <td class="text-right">{{ variant.str_ru }}</td>
            <td class="text-right">{{ variant.alternative|replace("STR", "")|replace("<", "")|replace(">", "") }}</td>
            <td class="text-right">{{ variant.str_ref }}</td>
            <td>{{ variant.str_status }}</td>
            <td>{% for sample in variant.samples %}
                  {% if sample.genotype_call != "./." %}
                    <div class="pull-left">{{ sample.display_name }}</div>
                    <div class="pull-right">{{ sample.genotype_call }}</div><br>
                  {% endif %}
                {% endfor %}
            </td>
            <td>{{ variant.chromosome }}</td>
            <td>
              {{ variant.position }}
              {% if case.bam_files %}
                <a class="btn btn-default btn-sm pull-right" href="{{ url_for('alignviewers.igv', sample=case.sample_names, build=case.genome_build, bam=case.bam_files, bai=case.bai_files, contig=variant.chromosome, start=(variant.position - 50), stop=(variant.position + 50), center_guide="T") }}" target="_blank">IGV viewer</a>
              {% endif %}
            </td>
        </tr>
        {% else %}
          <tr>
            <td colspan="9">
              No matching variants
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ footer() }}
  </div>
</form>
{% endblock %}

{% macro cell_rank(variant) %}
  <a class="variants-row-item flex-small layout"
     href="{{ url_for('variants.variant', institute_id=institute._id, case_name=case.display_name,
                      variant_id=variant._id) }}">
    {{ variant.variant_rank }}
  </a>
  {% set comment_count = variant.comments.count() %}
  {% if variant.manual_rank %}
    <span class="badge pull-right" title="Manual rank">{{ variant.manual_rank }}</span>
  {% endif %}
  {% if comment_count > 0 %}
    {% set comments_content = comments_table(institute, case, variant.comments, variant._id) %}
    <a href="#"
       class="badge pull-right"
       data-toggle="popover"
       data-placement="right"
       data-html="true"
       data-trigger="hover click"
       data-content="{{ comments_content }}"
       title=""
       >
      {{ comment_count }}
      <i class="fa fa-comment"></i>
      {% if 'GLOBAL' in comments_content %}
        <i class="fa fa-globe" aria-hidden="true"></i>
      {% endif %}
    </a>
  {% endif %}
{% endmacro %}

{% macro footer() %}
  <div class="container-fluid">
    <div class="form-group text-center">
      {% if more_variants %}
        <a class="btn btn-default" href="{{ url_for('variants.variants', institute_id=institute._id, case_name=case.display_name, page=(page + 1), **form.data) }}">
          Next page
        </a>
      {% else %}
        <i class="text-muted">No more variants to display</i>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% block scripts %}
  {{ super() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-table-headers/0.1.19/js/jquery.stickytableheaders.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover({
        container: 'body',
      });

      $('table').stickyTableHeaders({
        fixedOffset: $(".navbar-fixed-top")
      });

      $('select[multiple]').multiselect({
        buttonWidth: '100%'
      });
    })

    function add_export(){
      var the_form = document.forms['filters_form'];
      var hidden_export = document.createElement('input');

      hidden_export.type = 'hidden';
      hidden_export.name = 'export';
      hidden_export.value = 'True';
      hidden_export.id = 'export';
      the_form.appendChild(hidden_export);
      the_form.submit();
    }

    function remove_export(){
      var the_form = document.forms['filters_form'];
      var hidden_export = document.getElementById('export');
      the_form.removeChild(hidden_export);
      the_form.submit();
    }

  </script>
{% endblock %}
