{% extends "variants/variants_layout.html" %}
{% from "utils.html" import clickable_table_row_script, comments_table, pedigree_panel %}
{% from "variant/buttons.html" import reviewer_button%}
{% from "variant/gene_disease_relations.html" import inheritance_badge %}
{% from "variants/components.html" import external_scripts, external_stylesheets, frequency_cell_general %}
{% from "variants/utils.html" import callers_cell, cell_rank, dismiss_variants_block, enable_variants_hotkeys, filter_form_footer, filters_form_header, filter_script_main, pagination_footer, pagination_hidden_div, str_filters, update_stash_filter_button_status, variant_link_href %}

{% block category_title %}
  STR variants
{% endblock %}

{% block variants_form_action %}
  {{url_for('variants.str_variants', institute_id=institute._id, case_name=case.display_name)}}
{% endblock %}

{% block variants_filter %}
  {{ str_filters(form, institute, case) }}
{% endblock %}

{% block variants_filter_form_footer %}
  {{ filter_form_footer(form, result_size, total_variants, page, variants|length, institute) }}
{% endblock %}

{% block variants_table_header %}
  <tr>
    <th scope="col" style="width:2%">
    <th scope="col" style="width:8%" title="Index">Index</th>
    <th scope="col" title="Repeat locus ID">Repeat locus</th>
    <th scope="col" style="width:8%" title="Reference repeat unit">Ref RU</th>
    <th scope="col" style="width:6%" title="ALT">Est size</th>
    <th scope="col" style="width:6%" title="ReferenceSize">Ref size</th>
    <th scope="col" style="width:8%" title="Caller and call filter status">Qual</th>
    <th scope="col" style="width:8%" title="Status">Status</th>
    <th scope="col" title="GT">Genotype</th>
    <th scope="col" style="width:6%" title="Chromosome" style="width:6%">Chr.</th>
    <th scope="col" title="Position" style="width:20%">Position</th>
  </tr>
{% endblock %}

{% block variants_table_rows %}
  {% set ns = namespace(allele0='') %}
  {% for variant in variants %}
    {% if variant.chromosome + variant.position|string != ns.allele0 %}
      <tr style="height:10px;"></tr>
    {% endif %}
    {% set ns.allele0 = variant.chromosome + variant.position|string %}
      <tr data-target="_blank" data-href="{{ variant_link_href(variant, institute, case) }}"
    {% if variant.dismiss_variant %}
        class="dismiss">
    {% elif 'causatives' in case and variant._id in case.causatives %}
        class="causative">
    {% elif variant.str_status == 'normal' %}
        class="{% if loop.index0 % 2 %}even{% else %}odd{% endif %}">
    {% elif variant.str_status == 'full_mutation' %}
        class="bg-danger">
    {% elif variant.str_status == 'pre_mutation' %}
        class="bg-warning">
    {% else %}
        >
    {% endif %}
      <td class="no-row-click"><input type="checkbox" value="{{variant._id}}" name="dismiss" onclick="enableDismiss()"></td>
      <td class="str-link">{{ cell_rank(variant, institute, case, form, manual_rank_options) }}</td>
      <td class="str-link">{{ str_locus_info(variant) }}</td>
  <td class="text-end"><span data-bs-toggle="tooltip" title="{{ variant.str_display_ru or variant.str_ru or variant.reference }}">
    {% if variant.str_display_ru %}{{variant.str_display_ru | truncate(12, True)}}
    {% elif variant.str_ru %}{{ variant.str_ru | truncate(12, True) }}
    {% else %}{{ variant.reference | truncate(12, True) }}{% endif %}</span></td>
      <td class="text-end"><b><span data-bs-toggle="tooltip" title="{{ variant.alternative }}">{{ variant.str_mc or "." }}</span></b></td>
      <td class="text-end"><span data-bs-toggle="tooltip" title="{{ variant.reference }}">{{ variant.str_ref or "." }}</span></td>
      <td>{{ callers_cell(variant) }}</td>
      <td>{{ str_status(variant) }}</td>
      <td>{% for sample in variant.samples %}
            {% if sample.genotype_call != "./." %}
              <div class="row">
                <div class="col-8">{{ sample.display_name }}</div>
                <div class="col-4 text-end">{{ sample.genotype_call }}</div>
              </div>
            {% endif %}
          {% endfor %}
      </td>
      <td class="text-end">{{ variant.chromosome }}</td>
      <td class="text-end"><span style="white-space: nowrap;">
        {{ variant.position|human_longint|safe }}</span>
        {{ reviewer_button(case,variant,case_groups,institute._id) }}
        {% if case.bam_files %}
          <span><a class="btn btn-secondary btn-sm text-white" href="{{url_for('alignviewers.igv', institute_id=institute['_id'], case_name=case['display_name'], variant_id=variant['_id'])}}" rel="noopener" target="_blank"><i class="fa fa-magnifying-glass fa-fw me-1"></i>IGV gDNA</a></span>
        {% else %}
          <span data-bs-toggle="tooltip" title="BAM file(s) missing"><button class="btn btn-secondary btn-sm" disabled><i class="fa fa-times-circle fa-fw me-1"></i>IGV gDNA</button></span>
        {% endif %}

      </td>
  </tr>
  {% else %}
    <tr>
      <td colspan="11">
        No matching variants
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block content_main %}
  {{ super() }}
  <!--  Pedigree_panel -->
  {% set has_pedigree = case.madeline_info and case.individuals|length > 1 %}
  {% if has_pedigree %}
    <div class="row">
      <div class="col-md-4">{{ pedigree_panel(case) }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('cases.static', filename='madeline.js') }}"></script>
  {{ super() }}
{% endblock %}

{% macro str_status(variant) %}
<a class="badge bg-secondary text-white"
  data-bs-toggle="popover"
  data-bs-html="true"
  data-bs-trigger="hover click"
  data-bs-content="{% if variant.str_normal_max %}
    <table>
      <tr><td>Normal max</td><td>{{ variant.str_normal_max }}</td></tr>
      <tr><td>Pathologic min</td><td>{{ variant.str_pathologic_min }}</td><tr>
      <tr><td colspan=2>&nbsp;</td></tr>
      {% if variant.str_swegen_mean %}
        <tr><td>SweGen Z-score</td><td>
          {% if variant.str_mc %}
            {{ ((variant.str_mc - variant.str_swegen_mean ) / variant.str_swegen_std) | round(2) }}
          {% endif %}
        </td></tr>
        <tr><td>SweGen mean</td><td>{{variant.str_swegen_mean|round(2)}}</td></tr>
        <tr><td>SweGen std</td><td>{{variant.str_swegen_std|round(2)}}</td></tr>
      {% endif %}
    </table>
    {% endif %}
    {% if not variant.str_normal_max %}
      <div>Normal range not provided. Consider updating to a new version of Stranger.</div>
    {% endif %}"
  title="">{{ variant.str_status }}</a>
{% endmacro %}

{% macro str_locus_info(variant) %}
  <a
  href="{{ variant.str_source_link }}"
  class="link"
  target="_blank"
  referrerpolicy="no-referrer"
  rel="noopener"
  data-bs-toggle="popover"
  data-bs-html="true"
  data-bs-trigger="hover"
  data-bs-content="
  <div class='text-start'>
    {% if variant.str_disease %}
      <div><strong>Disease:</strong> {{ variant.str_disease }} ({{ variant.str_inheritance_mode }})</div>
    {% else %}
      <div>Disease information not provided with locus. Consider updating to a new version of Stranger.</div>
    {% endif %}
    {% if variant.str_source is defined %}
      <div><strong>Source:</strong> {{ variant.str_source.display }} </div>
      <div>Click to visit {{ variant.str_source.type }}
      {% for gene in variant.genes %}
        {% if gene.phenotypes %}
          <div><strong>OMIM disease</strong>
          {% for disease in gene.phenotypes %}
            <div>
                {{ disease.description }}
            </div>
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {%endif%}
  </div>"
  title="">{% if variant.str_repid %} {{ variant.str_repid }}
  {% elif variant.hgnc_symbols %}
    {% for hgnc_symbol in variant.hgnc_symbols %} {{ hgnc_symbol }} {% endfor %}
  {% elif variant.genes %}
    {% for gene in variant.genes %} {{ gene.symbol or gene.hgnc_symbol }} {% endfor %}
  {% elif variant.hgnc_ids %}
    {% for hgnc_id in variant.hgnc_ids %} {{ hgnc_id }} {% endfor %}
  {% else %}
    {{ variant.str_trid }}
  {% endif %}
  </a>
  {% for gene in variant.genes %}
      {% if variant.str_disease %}
          {{ inheritance_badge(variant.str_inheritance_mode,inherit_palette) }}
      {% else %}
        {% for model in gene.inheritance %} {{ inheritance_badge(model,inherit_palette) }} {% endfor %}
      {% endif %}
    <span class="badge bg-secondary"><a href="{{ gene.stripy_link }}" class="text-white" referrerpolicy="no-referrer" rel="noopener" target="_blank">S</a></span>
    <span class="badge bg-secondary"><a href="{{ gene.gnomad_str_link }}" class="text-white" referrerpolicy="no-referrer" rel="noopener" target="_blank">G</a></span>
  {% endfor %}
{% endmacro %}
