{% extends "layout.html" %}
{% from "utils.html" import flash_messages %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - SV variants
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li>
    <a href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li>
    <a href="{{ url_for('cases.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li>
    <a href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="active">
    <span class="navbar-text">{{ variant_type|capitalize }}  Structural variants</span>
  </li>
{% endblock %}

{% block top_nav_right %}
  <li><p class="navbar-text">Panels: {{ (form.gene_panels.data or ['All'])|join(',') }}</p></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">HPO panels <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ url_for('variants.sv_variants', institute_id=institute._id,
                            case_name=case.display_name, variant_type=variant_type,
                            gene_panels=['hpo']) }}">
          HPO gene list
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="{{ url_for('variants.sv_variants', institute_id=institute._id, case_name=case.display_name, variant_type=variant_type, gene_panels=case.panels|selectattr('is_default')|map(attribute='panel_name')|list) }}">Reset filters</a>
  </li>
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid main">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFilters">
              SvFilters
            </a>
          </h4>
        </div>
        <div id="collapseFilters" class="panel-collapse collapse">
          <div class="panel-body">{{ filters_form() }}</div>
        </div>
      </div>
    </div>
    {{ flash_messages() }}
  </div>

  <div class="table-responsive">
    <table id="variantsTable" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Score</th>
          <th>Type</th>
          <th>Chr</th>
          <th>Start loc</th>
          <th>Stop loc</th>
          <th>Length</th>
          <th>Region</th>
          <th>Function</th>
          <th>Frequency</th>
          <th>Gene(s)</th>
        </tr>
      </thead>
      <tbody>
        {% for variant in variants %}
          {{ variant_row(variant) }}
        {% else %}
          <tr>
              <td colspan="10">No matching variants</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container-fluid">
    {{ pagination() }}
  </div>
</div>
{% endblock %}

{% macro filters_form() %}
  <form method="GET">
    <input type="hidden" name="variant_type" value="{{ variant_type }}">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-3">
          {{ form.gene_panels.label(class="control-label") }}
          {{ form.gene_panels(class="form-control") }}
        </div>
        <div class="col-xs-3">
          {{ form.region_annotations.label(class="control-label") }}
          {{ form.region_annotations(class="form-control") }}
        </div>
        <div class="col-xs-3">
          {{ form.functional_annotations.label(class="control-label") }}
          {{ form.functional_annotations(class="form-control") }}
        </div>
        <div class="col-xs-3">
          {{ form.genetic_models.label(class="control-label") }}
          {{ form.genetic_models(class="form-control") }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-3">
          {{ form.hgnc_symbols.label(class="control-label") }}
          {{ form.hgnc_symbols(class="form-control") }}
        </div>
        <div class="col-xs-3">
          {{ form.size.label(class="control-label") }}
          {{ form.size(class="form-control") }}
        </div>
        <div class="col-xs-3">
          {{ form.size_inclusive.label(class="control-label") }}
          <div>{{ form.size_inclusive() }}</div>
        </div>
        <div class="col-xs-3">
          {{ form.clinsig.label(class="control-label") }}
          {{ form.clinsig(class="form-control") }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-3">
          {{ form.chrom.label(class="control-label") }}
          {{ form.chrom(class="form-control") }}
        </div>
        <div class="col-xs-3">
          {{ form.thousand_genomes_frequency.label(class="control-label") }}
          {{ form.thousand_genomes_frequency(class="form-control") }}
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3">
          {{ form.svtype.label(class="control-label") }}
          {{ form.svtype(class="form-control") }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-3">
	</div>
        <div class="col-xs-6">
          <label class="control-label">Submit</label>
          <div class="row">
            <div class="col-xs-6">
              <button class="btn btn-primary form-control">Filter variants</button>
            </div>
            <div class="col-xs-6">
              <a href="{{ url_for('variants.sv_variants', institute_id=institute._id,
                          case_name=case.display_name, variant_type=variant_type,
                          functional_annotations=severe_so_terms,
                          region_annotations=['exonic', 'splicing'],
                          thousand_genomes_frequency=institute.frequency_cutoff,
			  size=100,
                          gene_panels=form.data.get('gene_panels')) }}"
                 class="btn btn-default form-control">
                Clinical filter
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}

{% block scripts %}
  {{ super() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-table-headers/0.1.19/js/jquery.stickytableheaders.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
  <script>
    $(function () {
      $('table').stickyTableHeaders({
        fixedOffset: $(".navbar-fixed-top")
      });

      $('select[multiple]').multiselect({
        buttonWidth: '100%'
      });
    })
  </script>
{% endblock %}


{% macro variant_row(variant) %}
  <tr>
    <td>
      <a href="{{ url_for('variants.sv_variant', institute_id=institute._id,
                          case_name=case.display_name, variant_id=variant._id) }}">
        {{ variant.variant_rank }}
      </a>
    </td>
    <td>{{ variant.rank_score|int }}</td>
    <td>{{ variant.sub_category|upper }}</td>
    <td>{{ variant.chromosome }}</td>
    <td>{{ variant.position }}</td>
    <td>{{ 'inf' if variant.end == 100000000000 else variant.end }}</td>
    <td>{{ 'inf' if variant.length == 100000000000 else variant.length }}</td>
    <td>{{ variant.region_annotations[:3]|join(', ') }}</td>
    <td>{{ variant.functional_annotations[:3]|join(', ') }}</td>
    <td>{{ variant.thousand_genomes_frequency|human_decimal if variant.thousand_genomes_frequency }}</td>
    <td>
      {% if variant.hgnc_symbols|length >= 5 %}
        {{ variant.hgnc_symbols[:2]|join(', ') }} [...] {{ variant.hgnc_symbols[-2:]|join(', ') }}
      {% else %}
        {{ variant.hgnc_symbols|join(', ') }}
      {% endif %}

      {% if variant.hgnc_symbols %}
        <span class="badge pull-right">{{ variant.hgnc_symbols|length }}</span>
      {% endif %}
    </td>
  </tr>
{% endmacro %}

{% macro pagination() %}
  <nav>
    <ul class="pager">
      {% if more_variants %}
        <li class="next">
          <a href="{{ url_for('variants.sv_variants', institute_id=institute._id, case_name=case.display_name, page=(page + 1), **form.data) }}">
            Next &rarr;
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endmacro %}
