{% import "bootstrap/wtf.html" as wtf %}
{% from "utils.html" import comments_table %}
{% from "variants/indicators.html" import pin_indicator, causative_badge, comments_badge, evaluations_badge, research_assessments_badge, clinical_assessments_badge, group_assessments_badge %}

{% macro mark_heteroplasmic_mt(individuals, samples) %}
  {% for ind in individuals if ind.phenotype == 2 %}
    {% for gt in samples|selectattr("sample_id", "equalto", ind.individual_id) %}
      {% if gt.alt_frequency and gt.alt_frequency < 0.9 and gt.alt_frequency != -1 %}
        <a data-toggle="tooltip" data-html="true" title="<div>Heteroplasmy: {{ (100*gt.alt_frequency)|round(3) }}%</div>">
        <span class="badge badge-warning">{{ (100*gt.alt_frequency)|round(1) }}%</span>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}

{% macro filter_form_footer(form, result_size, total_variants, more_variants, page, nvars) %}
<div class="card-footer text-center">
  <div class="row">
    <div class="col-2 d-flex align-items-baseline justify-content-start">
      <input type="hidden" id="expand_search" name="expand_search">
      {{ form.hide_dismissed }}
      {{ form.hide_dismissed.label(class="ml-3") }}
    </div>
    <div class="col-3 offset-3 d-flex justify-content-start">
      Filter returns {{result_size}} / {{ total_variants }} variants.
    </div>
    <div class="col-3 offset-1 d-flex justify-content-end">
      Showing {%if more_variants %}page {{page}}{%else%}last page{% endif %} with {{nvars}} variants.
    </div>
  </div>
</div>
{% endmacro %}

{% macro dismiss_variants_block(dismiss_variant_options, institute, case) %}
<div class="row d-flex align-items-center mb-2 ml-1">
  <div class="col-2 ">Dismiss selected variants:</div>
  <div class="col-4 align-items-start">
    <select multiple="multiple" name="dismiss_choices" id="dismiss_choices" class="selectpicker" data-width="100%" onchange="enableDismiss();">
      {% for value, data in dismiss_variant_options.items() %}
        <option value="{{ value }}">{{ data.label }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-2">
    <button type="submit" disabled name="dismiss_submit" id="dismiss_submit" class="btn btn-sm btn-primary form-control">Dismiss variants</button>
  </div>
  <div class="offset-2 col-2">
      <a role="button" href='{{ url_for("variants.reset_dismissed", institute_id=institute._id, case_name=case.display_name )}}' class="btn btn-warning text-dark pull-right mr-3">Reset all dismissed variants for this case</a>
  </div>
</div>
{% endmacro %}

{% macro compounds_table(institute, case, compounds) %}
  <table class='table table-condensed table-bordered table-sm'>
    <thead>
      <tr>
        <th>Variant</th>
        <th>Combined score</th>
        <th>Rank score</th>
        <th>Gene annotation</th>
        <th>Func. annotation</th>
      </tr>
    </thead>
    <tbody>
      {% for compound in compounds %}
        {% if compound.is_dismissed %}
          <tr class='dismiss'>
        {% else %}
          <tr>
        {% endif %}
          <td>
              {% if compound.not_loaded %}
                {{ compound.display_name }} <small>(not loaded)</small>
              {% else %}
                <a href='{{ url_for("variant.variant",
                institute_id=institute._id,
                case_name=case.display_name,
                variant_id=compound.variant) }}' target='_blank'>
                {{ compound.display_name|truncate(20, True) }}
                </a>
                {% if 'suspects' in case and compound.variant in case.suspects %}
                  <i class='fa fa-map-pin ml-1'></i>
                {% endif %}
              {% endif %}
          </td>
          <td class='text-right'>{{ compound.combined_score }}</td>
          <td class='text-right'>{{ compound.rank_score }}</td>
          <td>
            {% for annotation in compound.region_annotations %}
              {{ annotation }}<br>
            {% endfor %}
          </td>
          <td>
            {% for annotation in compound.functional_annotations %}
              {{ annotation }}<br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro svs_table(institute, case, overlapping) %}
  <table class='table table-bordered table-hover table-condensed'>
    <thead>
      <tr>
        <th>Region</th>
        <th>Type</th>
        <th>Length</th>
        <th>Rank score</th>
      </tr>
    </thead>
    <tbody>
      {% for sv in overlapping %}
        <tr>
          <td>
              <a href='{{ url_for("variant.sv_variant",
                                 institute_id=institute._id,
                                 case_name=case.display_name,
                                 variant_id=sv._id) }}'>
                {{ sv.chromosome }}{{ sv.cytoband_start }}
              </a>
          </td>
          <td class='text-right'>{{ sv.sub_category }}</td>
          <td class='text-right'>{{ sv.length if sv.length < 100000000000 else "-" }}</td>
          <td class='text-right'>{{ sv.rank_score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro snv_filters(form, institute, case, filters)%}
<input type="hidden" name="variant_type" value="{{ form.variant_type.data }}">
<div class="form-group">
  <div class="row">
    <div class="col-2">
      {{ form.gene_panels.label(class="control-label", data_toggle="tooltip", data_placement="left", title="This list can be modified from the institute settings page. Latest panel version is used in variants filtering.") }}
      {{ form.gene_panels(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.symbol_file.label(class="control-label", data_toggle="tooltip", data_placement="left", title="Load an HGNC gene symbol list file; a text file with one gene symbol starting each row. Extra columns separated with tab are ignored. Comment rows starting with # are ignored.") }}
      {{ form.symbol_file(class="form-control-file") }}
    </div>
    <div class="col-2">
      {{ form.region_annotations.label(class="control-label") }}
      {{ form.region_annotations(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.functional_annotations.label(class="control-label") }}
      {{ form.functional_annotations(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.genetic_models.label(class="control-label") }}
      {{ form.genetic_models(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.clinvar_tag() }}
      {{ form.clinvar_tag.label(class="ml-2") }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-3">
      {{ form.hgnc_symbols.label(class="control-label") }}
      {{ form.hgnc_symbols(class="form-control") }}
    </div>
    <div class="col-1 mt-3">
      <div class="btn-group d-flex">
        <a class="btn btn-outline-secondary btn-sm " href="{{ url_for('variants.variants', institute_id=institute._id,
          case_name=case.display_name, variant_type=form.variant_type.data,
          gene_panels=['hpo']) }}">HPO gene list</a>
      </div>
    </div>
    <div class="col-1">
      {{ form.cadd_score.label(class="control-label") }}
      {{ form.cadd_score(class="form-control") }}
    </div>
    <div class="col-1">
      {{ form.cadd_inclusive.label(class="control-label", data_toggle="tooltip", data_placement="top", title="Include empty CADD") }}
      <div>{{ form.cadd_inclusive() }}</div>
    </div>
    <div class="col-2">
      {{ form.spidex_human.label(class="control-label") }}
      {{ form.spidex_human(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.clinsig.label(class="control-label") }}
      {{ form.clinsig(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.clinsig_confident_always_returned.label(class="control-label", data_toggle="tooltip", data_placement="top", title="Always show selected CLINSIG entries with trusted revision status levels.") }}
      <div>{{ form.clinsig_confident_always_returned() }}</div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-1">
      {{ form.gnomad_frequency.label(class="control-label") }}
      {{ form.gnomad_frequency(class="form-control") }}
    </div>
    <div class="col-2">
      {{ form.local_obs.label(class="control-label") }}
      {{ form.local_obs(class="form-control") }}
    </div>
    <div class="col-1">
      {{ wtf.form_field(form.chrom) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.start) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.end) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.cytoband_start) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.cytoband_end) }}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#stringcoords" aria-expanded="false" aria-controls="stringcoords">
        String coordinates
      </a>
    </div>
    <div id="stringcoords" class="collapse col-5 offset-1">
      {{ wtf.form_field(form.chrom_pos) }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row justify-content-between" style="margin-top:20px;">
      <div class="col-4">
        {{ form.filter_variants(class="btn btn-primary form-control") }}
      </div>
      <div class="col-4">
         {{ form.clinical_filter(class="btn btn-outline-secondary form-control") }}
      </div>
      <div class="col-4">
        {{ form.export(class="btn btn-warning form-control") }}
      </div>
  </div>
</div>
<div class="form-group">
  <div class="row justify-content-between" style="margin-top:20px;">
    <div class="col-6 text-left">
      <a href="{{ url_for('variants.variants', institute_id=institute._id, case_name=case.display_name,
        variant_type=form.variant_type.data) }}"
        class="btn btn-secondary" style="color: #ffffff !important;">
        Reset&nbsp;filters
      </a>
    </div>
    <div class="col-6">
      {{ stash_filter_buttons(form, institute, case) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro str_filters(form, institute, case, filters) %}
<input type="hidden" name="variant_type" value="{{ form.variant_type.data }}">
<div class="form-group">
  <div class="row">
    <div class="col-2">
      {{ form.gene_panels.label(class="control-label", data_toggle="tooltip", data_placement="left", title="This list can be modified from the institute settings page. Latest panel version is used in variants filtering.") }}
      {{ form.gene_panels(class="selectpicker") }}
    </div>
    <div class="col-3">
      {{ form.hgnc_symbols.label(class="control-label") }}
      {{ form.hgnc_symbols(class="form-control") }}
    </div>
    <div class="col-1 align-self-end">
      <div class="btn-group d-flex">
        <a class="btn btn-outline-secondary btn-sm " href="{{ url_for('variants.str_variants', institute_id=institute._id,
          case_name=case.display_name, variant_type=form.variant_type.data,
          gene_panels=['hpo']) }}">HPO gene list</a>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-1">
      {{ wtf.form_field(form.chrom) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.start) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.end) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.cytoband_start) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.cytoband_end) }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row" style="margin-top:20px;">
      <div class="col-4">
        {{ form.filter_variants(class="btn btn-primary form-control") }}
      </div>
      <div class="col-4">
        {{ form.export(class="btn btn-warning form-control") }}
      </div>
  </div>
</div>
<div class="form-group">
  <div class="row" style="margin-top:20px;">
    <div class="col-2 text-left">
      <a href="{{ url_for('variants.str_variants', institute_id=institute._id, case_name=case.display_name,
        variant_type=form.variant_type.data) }}"
        class="btn btn-secondary" style="color: #ffffff !important;">
        Reset&nbsp;filters
      </a>
    </div>
    <div class="col-6">
      {{ stash_filter_buttons(form, institute, case) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro sv_filters(form, institute, case) %}
<input type="hidden" name="variant_type" value="{{ form.variant_type.data }}">
<div class="form-group">
  <div class="row">
    <div class="col-4">
      {{ form.gene_panels.label(data_toggle="tooltip", data_placement="left", title="This list can be modified from the institute settings page. Latest panel version is used in variants filtering.") }}
      {{ form.gene_panels(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.svtype.label(class="control-label") }}
      {{ form.svtype(class="form-control selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.region_annotations.label(class="control-label") }}
      {{ form.region_annotations(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.functional_annotations.label(class="control-label") }}
      {{ form.functional_annotations(class="selectpicker") }}
    </div>
    <div class="col-2">
      {{ form.genetic_models.label(class="control-label") }}
      {{ form.genetic_models(class="selectpicker") }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-3">
      {{ form.hgnc_symbols.label(class="control-label") }}
      {{ form.hgnc_symbols(class="form-control") }}
    </div>
    <div class="col-1 mt-3">
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('variants.sv_variants', institute_id=institute._id,
          case_name=case.display_name, variant_type=form.variant_type.data,
          gene_panels=['hpo']) }}">HPO gene list</a>
    </div>
    <div class="col-2">
      {{ form.size.label(class="control-label") }}
      {{ form.size(class="form-control", type="number") }}
    </div>
    <div class="col-2">
      {{ form.size_shorter.label(class="control-label") }}
      <div>{{ form.size_shorter() }}</div>
    </div>
    <div class="col-1">
      {{ form.decipher.label(class="control-label") }}
      <div>{{ form.decipher() }}</div>
    </div>
    <div class="col-2">
      {{ form.clinsig.label(class="control-label") }}
      {{ form.clinsig(class="selectpicker") }}
    </div>
    <div class="col-1">
      {{ form.gnomad_frequency.label(class="control-label") }}
      {{ form.gnomad_frequency(class="form-control") }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-6">
           {{ form.clingen_ngi.label(class="control-label") }}
           {{ form.clingen_ngi(class="form-control") }}
        </div>
        <div class="col-6">
          {{ form.swegen.label(class="control-label") }}
          {{ form.swegen(class="form-control") }}
        </div>
      </div>
    </div>
    <div class="col-1">
      {{ form.chrom.label(class="control-label") }}
      {{ form.chrom(class="form-control") }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.start) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.end) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.cytoband_start) }}
    </div>
    <div class="col-2">
      {{ wtf.form_field(form.cytoband_end) }}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#stringcoords" aria-expanded="false" aria-controls="stringcoords">
        String coordinates
      </a>
    </div>
    <div id="stringcoords" class="collapse col-5 offset-1">
      {{ wtf.form_field(form.chrom_pos) }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-4">
      {{ form.filter_variants(class="btn btn-primary form-control") }}
    </div>
    <div class="col-4">
      {{ form.clinical_filter(class="btn btn-outline-secondary form-control ") }}
    </div>
    <div class="col-4">
      {{ form.export(class="btn btn-warning form-control") }}
    </div>
  </div>
  <div class="row justify-content-between" style="margin-top:20px;">
    <div class="col-1">
      <a href="{{ url_for('variants.sv_variants', institute_id=institute._id,
        case_name=case.display_name, variant_type=form.variant_type.data) }}"
        class="btn btn-secondary" style="color: #ffffff !important;">
        Reset&nbsp;filters
      </a>
    </div>
    <div class="col-6">
      {{ stash_filter_buttons(form, institute, case) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro cancer_filters(form, institute, case, filters) %}
    {{ form.csrf_token }}
    {{ form.variant_type() }}
    <div class="form-group">
      <div class="row">
        <div class="col-2">
          {{ form.gene_panels.label(data_toggle="tooltip", data_placement="left", title="This list can be modified from the institute settings page. Latest panel version is used in variants filtering.") }}
          {{ form.gene_panels(class="selectpicker") }}
        </div>
        <div class="col-2">
          {{ form.region_annotations.label(class="control-label") }}
          {{ form.region_annotations(class="selectpicker") }}
        </div>
        <div class="col-2">
          {{ form.functional_annotations.label(class="control-label") }}
          {{ form.functional_annotations(class="selectpicker") }}
        </div>
        <div class="col-2">
          {{ form.genetic_models.label(class="control-label") }}
          {{ form.genetic_models(class="selectpicker") }}
        </div>
        <div class="col-2">
          {{ form.clinsig.label(class="control-label") }}
          {{ form.clinsig(class="selectpicker") }}
        </div>
        <div class="col-2">
          <div class="row form-inline">
            {{ form.mvl_tag() }}
            {{ form.mvl_tag.label(class="ml-2") }}
          </div>
          <div class="row form-inline">
            {{ form.clinvar_tag() }}
            {{ form.clinvar_tag.label(class="ml-2") }}
          </div>
          <div class="row form-inline">
            {{ form.cosmic_tag() }}
            {{ form.cosmic_tag.label(class="ml-2") }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          {{ form.hgnc_symbols.label(class="control-label") }}
          {{ form.hgnc_symbols(class="form-control") }}
        </div>
        <div class="col-1">
          {{ form.cadd_score.label(class="control-label") }}
          {{ form.cadd_score(class="form-control") }}
        </div>
        <div class="col-1">
          {{ form.cadd_inclusive.label(class="control-label", data_toggle="tooltip", data_placement="top", title="Include empty CADD") }}
          <div>{{ form.cadd_inclusive() }}</div>
        </div>
        <div class="col-1">
          {{ form.gnomad_frequency.label(class="control-label") }}
          {{ form.gnomad_frequency(class="form-control") }}
        </div>
        <div class="col-1">
          {{ form.depth.label(class="control-label") }}
          {{ form.depth(class="form-control") }}
        </div>
        <div class="col-1">
          {{ form.alt_count.label(class="control-label") }}
          {{ form.alt_count(class="form-control") }}
        </div>
        <div class="col-2">
          {{ form.tumor_frequency.label(class="control-label") }}
          {{ form.tumor_frequency(class="form-control") }}
        </div>
        <div class="col-2">
          {{ form.control_frequency.label(class="control-label") }}
          {{ form.control_frequency(class="form-control") }}
        </div>
      </div>
    </div>
    <div class="form-group" id="chromosome_search">
      <div class="row" style="margin-top:20px;">
        <div class="col-1">
          {{ wtf.form_field(form.chrom) }}
        </div>
        <div class="col-2">
          {{ wtf.form_field(form.start) }}
        </div>
        <div class="col-2">
          {{ wtf.form_field(form.end) }}
        </div>
        <div class="col-2">
          {{ wtf.form_field(form.cytoband_start) }}
        </div>
        <div class="col-2">
          {{ wtf.form_field(form.cytoband_end) }}
        </div>
        <div class="col-3">
          {{ wtf.form_field(form.chrom_pos) }}
        </div>
      </div>
    </div>


    <div class="form-group" id="buttons">
      <div class="row justify-content-center" style="margin-top:20px;">
        <div class="col-4">
          <button class="btn btn-primary form-control">Filter variants</button>
        </div>
        <div class="col-4">
          {{ form.export(class="btn btn-warning form-control") }}
        </div>
      </div>
      <div class="row justify-content-between" style="margin-top:20px;">
        <div class="col-2">
          <a href="{{ url_for('variants.cancer_variants', institute_id=institute._id,
            case_name=case.display_name, variant_type=form.variant_type.data) }}"
            class="btn btn-secondary" style="color: #ffffff !important;">
            Reset&nbsp;filters
          </a>
        </div>
        <div class="col-6">
          {{ stash_filter_buttons(form, institute, case) }}
        </div>
      </div>
    </div>
{% endmacro %}

{% macro modal_prompt_filter_name(form) %}
<div class="modal fade" id="filterNameModal" tabindex=""-1" role="dialog"
  aria-hidden="true" aria-labelledby="filterNameModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="filterNameModalLabel">Filter display name</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          Please name the current filter for saving.
          {{ form.filter_display_name(class="form-control") }}
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        {{ form.save_filter(class="btn btn-secondary") }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro stash_filter_buttons(form, institute, case) %}
  <div class="row">
    <div class="col-3 text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterNameModal"><i class="fa fa-star"></i> Save filter</button>
    </div>
    {{ modal_prompt_filter_name(form) }}
    <div class="col-3">
      {{ form.filters(class="form-control") }}
    </div>
    <div class="btn-group col-6" role="group">
      {{ form.load_filter(class="btn btn-secondary", title="Load selected filter", data_toggle="tooltip", data_placement="top", disabled=form.filters.choices|length==0) }}
      {{ form.audit_filter(class="btn btn-secondary bg-info", title="Note selected filter audited for this case. Filter name, user and date will then show up on general report.", data_toggle="tooltip", data_placement="top", disabled=form.filters.choices|length==0) }}
      <button name="lock_filter" type="submit" value="Lock filter" class="btn btn-primary btn-sm" id="lock_filter" data-toggle="tooltip" data-placement="top" title="Lock filter and make you owner. Unlock if you own it." disabled="{{form.filters.choices|length==0}}">
              <span id="stash_filter_padlock" class="fa fa-lock-open"></span></button>
      {{ form.delete_filter(class="btn btn-secondary bg-danger", data_toggle="tooltip", data_placement="top",
        id="stash_filter_delete", title="Delete selected filter for this institute.", disabled=form.filters.choices|length==0) }}
    </div>
  </div>
{% endmacro %}

{% macro update_stash_filter_button_status(current_user, filters) %}
 {% for filter in filters %}
    if ($("#filters").val() === "{{ filter._id }}") {
      {% if filter.lock %}
        $("#stash_filter_padlock").removeClass("fa-lock-open");
        $("#stash_filter_padlock").addClass("fa-lock");
        $("#stash_filter_delete").attr("disabled", true);
        {% if filter.owner == current_user._id %}
          $("#lock_filter").attr("disabled", false);
        {% elif filter.owner and filter.owner != current_user._id %}
          $("#lock_filter").attr("disabled",true);
        {% endif %}
      {% else %}
        $("#stash_filter_padlock").removeClass("fa-lock");
        $("#stash_filter_padlock").addClass("fa-lock-open");
        $("#stash_filter_delete").attr("disabled",false);
        $("#lock_filter").attr("disabled",false);
      {% endif %}
    };
  {% endfor %}
{% endmacro %}

{% macro cell_rank(variant, institute, case, form, manual_rank_options) %}
  {% if variant.category in ("sv", "cancer_sv") %}
    <a class="variants-row-item flex-small layout"
        href="{{ url_for('variant.sv_variant', institute_id=institute._id,
                         case_name=case.display_name, variant_id=variant._id) }}" target='_blank'>
  {% else %}
    <a class="variants-row-item flex-small layout"
       href="{{ url_for('variant.variant', institute_id=institute._id, case_name=case.display_name,
                        variant_id=variant._id) }}" target='_blank'>
  {% endif %}

  {{ variant.variant_rank }}&nbsp;</a>

  {{ evaluations_badge(variant) }}
  {{ research_assessments_badge(variant) }}
  {{ clinical_assessments_badge(variant) }}
  {{ group_assessments_badge(variant) }}

  {{ comments_badge(institute, case, variant) }}
  {{ causative_badge(variant, case) }}
  {{ pin_indicator(variant, case) }}
{% endmacro %}

{% macro pagination_hidden_div(page) %}
{# Used inside filters form to introduce submit buttons for footer pagniation #}
  <div class="hidden">
    <input type="submit" name="page" id="paginate-first" value=1 hidden="true">
    <input type="submit" name="page" id="paginate-previous" value={{page-1}} hidden="true">
    <input type="submit" name="page" id="paginate-next" value={{page+1}} hidden="true">
    <input type="hidden" name="page" value="{{page}}"> <!-- In order to work, this input should be placed AFTER the submit form items with the same name -->
  </div>
{% endmacro %}

{% macro pagination_footer(more_variants, page) %}
{# Used outside filters form to introduce footer pagniation labels #}
  <div class="container-fluid">
    {% if not more_variants %}
      <div class="row justify-content-center">
        <i class="text-muted">No more variants to display</i>
      </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="btn-group mt-1" role="group">
          {% if page > 1 %}
             <div>
               <label for="paginate-first" class="btn btn-secondary mx-1" tabindex="0">
                 First&nbsp;page
               </label>
             </div>
          {% endif %}
          {% if page > 2 %}
            <div>
              <label for="paginate-previous" class="btn btn-secondary mx-1" tabindex="0">
                Previous&nbsp;page
              </label>
            </div>
          {% endif %}
          {% if more_variants %}
            <div>
              <label for="paginate-next" class="btn btn-secondary mx-1" tabindex="0">
                Next&nbsp;page
              </label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endmacro %}
