{% extends "layout.html" %}
{% from "variants/utils.html" import compounds_table, svs_table, snv_filters, cell_rank, pagination_footer, pagination_hidden_div, dismiss_variants_block, filter_form_footer, filter_script_main, update_stash_filter_button_status, mark_heteroplasmic_mt %}
{% from "variants/components.html" import external_scripts, external_stylesheets, frequency_cell_general, gene_cell, observed_cell_general  %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - {{ case.display_name }} - {{ form.variant_type.data|capitalize }} variants
{% endblock %}

{% block css %}
  {{ super() }}
  {{ external_stylesheets() }}
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('overview.cases', institute_id=institute._id) }}">
      {{ institute.display_name }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-nowrap" href="{{ url_for('cases.case', institute_id=institute._id, case_name=case.display_name) }}">
      {{ case.display_name }}
    </a>
  </li>
  <li class="nav-item active d-flex align-items-center">
    <span class="navbar-text">{{ form.variant_type.data|capitalize }} SNV and INDELs</span>
  </li>
{% endblock %}

{% block top_nav_right %}
  <li class="nav-item text-nowrap"><p class="navbar-text">Panels: {{ (form.gene_panels.data or ['All'])|join(',') }}</p></li>
  {{ super() }}
{% endblock %}
{% block content_main %}
  <form method="POST" id="filters_form" action="{{url_for('variants.variants', institute_id=institute._id, case_name=case.display_name)}}"
         enctype="multipart/form-data" onsubmit="return validateForm()">
    <div class="container-float">
     {{ pagination_hidden_div(page) }}
     <div class="card panel-default" id="accordion">
       <div class="card-header">
         <strong><a data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFilters">Filters</a></strong>
       </div>
       <!--Expand filters form if filters were used in a previous POST request-->
       <div class="card-body panel-collapse collapse {{ 'show' if expand_search is sameas true }}" id="collapseFilters">
         {{ snv_filters(form, institute, case) }}
       </div>
       {{ filter_form_footer(form, result_size, total_variants, more_variants, page, variants|length, institute) }}
     </div>
     <div class="card mt-3">
       <table class="table table-hover table-bordered" style="table-layout: fixed">
         <thead class="thead table-light">
            <tr>
              <th style="width:2%"></th>
              <th style="width:12%" title="Rank position">Rank</th>
              <th style="width:4%" title="Rank score">Score</th>
              <th style="width:4%" title="Chromosome">Chr.</th>
              <th style="width:8%" title="HGNC symbols">Gene</th>
              <th style="width:4%" title="Pop Freq">Pop Freq</th>
              <th style="width:6%" title="Observed database matches">Observed</th>
              <th style="width:5%" title="CADD score">CADD</th>
              <th style="width:8%" title="Gene region annotation">Gene annotation</th>
              <th style="width:17%" title="Functional annotation">Func. annotation</th>
              <th style="width:17%" title="Inheritance models">Inheritance model</th>
              <th style="width:8%" title="Overlapping">Overlapping</th>
            </tr>
         </thead>
         <tbody>
            {% for variant in variants %}
              {% if variant.dismiss_variant %}
                <tr class="dismiss">
              {% elif 'causatives' in case and variant._id in case.causatives %}
                <tr class="causative">
              {% else %}
                <tr>
              {% endif %}
                <td><input type="checkbox" value="{{variant._id}}" name="dismiss" onclick="enableDismiss()"></td>
                <td class="text-start">{{ cell_rank(variant, institute, case, form, manual_rank_options) }}</td>
                <td class="text-end">{{ variant.rank_score|int }}</td>
                <td>
                  {{ variant.chromosome }}
                  {% if variant.chromosome in ["MT","M"] %}
                    {{ mark_heteroplasmic_mt(case.individuals, variant.samples) }}
                  {% endif %}
		            </td>
                <td>{{ gene_cell(variant) }}</td>
                <td class="text-start">{{ frequency_cell_general(variant) }}</td>
                <td class="text-start">{{ observed_cell_general(variant) }}</td>
                <td class="text-end">{{ cell_cadd(variant) }}</td>
                <td>
                  {% for annotation in variant.region_annotations %}
                    <div>{{ annotation }}</div>
                  {% endfor %}
                </td>
                <td>
                  {% for annotation in variant.functional_annotations %}
                    <div>{{ annotation }}</div>
                  {% endfor %}
                </td>
                <td>{{ cell_models(variant) }}</td>
                <td>{{ overlapping_cell(variant) }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="10">
                  No matching variants
                </td>
              </tr>
            {% endfor %}
         </tbody>
       </table>
     </div><!-- end of <div class="card mt-3">-->
    </div> <!-- end of class="container-float"> -->
    {{ dismiss_variants_block(dismiss_variant_options, institute, case, show_dismiss_block) }}
  </form> <!--end of form containing filters and variants' table elements -->
  <div class="container-fluid" style="padding-bottom: 100px">
    {{ pagination_footer(more_variants, page) }}
  </div>
{% endblock %}

{% macro cell_cadd(variant) %}
  <div data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" title="
    <div class='text-start'>
      <strong>Sift</strong>
      {{ variant.sift_predictions|join(',') }} <br>
      <strong>PolyPhen</strong>
      {{ (variant.polyphen_predictions or ['-'])|join(',') }} <br>
      <strong>REVEL</strong>
      {{ variant.revel or '-' }}
    </div>
  ">
    {% if variant.cadd_score %}
      {{ variant.cadd_score|round(1) }}
    {% else %}
      -
    {% endif %}
  </div>
{% endmacro %}

{% macro cell_models(variant) %}
  {% for model in (variant.genetic_models or []) %}
    {% if model in genetic_models_palette %}
      <span class="badge {{genetic_models_palette[model]['bgcolor']}} {{genetic_models_palette[model]['text_color']}}">{{model}}</span>
    {% else %}
      <span class="badge bg-secondary">{{ model }}</span>
    {% endif %}
  {% endfor %}

  {% if variant.mosaic_tags %}
    <span class="badge bg-warning">mosaic</span>
  {% endif %}
{% endmacro %}

{% macro overlapping_cell(variant) %}

  {% if variant.compounds %}
    {% set ns=namespace(show_compounds=false) %}
    {% for compound in variant.compounds if not compound.is_dismissed %}
      {% set ns.show_compounds = true %}
    {% endfor %}
    {% if ns.show_compounds %}
      <a href="#" class="badge bg-primary text-white" data-bs-toggle="popover" data-bs-placement="left"
        data-bs-html="true" data-bs-trigger="hover click"
        data-bs-content="{{ compounds_table(institute, case, variant.compounds[:20]) }}">Compounds</a>
    {% endif %}
  {% endif %}

  {% if variant.overlapping %}
  <a href="#" class="badge bg-warning" data-bs-toggle="popover" data-bs-placement="left"
    data-bs-html="true" data-bs-trigger="hover click"
    data-bs-content="{{ svs_table(institute, case, variant.overlapping[:20]) }}">Overlapping SVs</a>
  {% endif %}
{% endmacro %}

{% block scripts %}
  {{ super() }}
  {{ external_scripts() }}
  <script src="{{ url_for('variants.static', filename='form_scripts.js') }}"></script>
  {{ filter_script_main(cytobands) }}
  <script type="text/javascript">

    window.onload=function() {
      populateCytobands({{cytobands|safe}});
      {{ update_stash_filter_button_status(current_user, filters) }}
    }

    $('select[multiple]').selectpicker({
      width: '100%'
    });

    $("#filters").change(function () {
      {{ update_stash_filter_button_status(current_user, filters) }}
    });

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl, {
        sanitizeFn: function (content) {
          return DOMPurify.sanitize(content)
        },
        container: 'body',
      })
    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    $(document).ready(function(){
      if(document.getElementById('compound_follow_filter').checked || document.getElementById('compound_rank_score').value) {
        $('#hidecompounds').collapse('show');
      }
    });

    document.getElementById('symbol_file').onchange = function() {
      var the_form = document.forms['filters_form'];
      the_form.submit();
    };
   </script>
{% endblock %}
