name: Publish to PyPI, Docker Hub and GitHub IO

on:
 release:
  types:
   - created

jobs:
 build-n-publish:
  name: Build and publish Python distribution to PyPI
  runs-on: ubuntu-latest
  permissions:
    id-token: write
  steps:
     - uses: actions/checkout@v6
     - uses: astral-sh/setup-uv@v7
     - run: uv build
     - run: uv publish --trusted-publishing always

 docker-image-CI:
   name: Docker Image CI
   runs-on: ubuntu-latest
   steps:

    - name: Check out git repository
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Publish server image (Dockerfile-server) to Registry
      uses: docker/build-push-action@v6
      with:
        context: ./
        file: ./Dockerfile-server
        push: true
        provenance: mode=max
        sbom: true
        tags: "clinicalgenomics/scout-server:latest, clinicalgenomics/scout-server:${{ github.event.release.tag_name }}"

    - name: Publish server image (Dockerfile) to Registry
      uses: docker/build-push-action@v6
      with:
        context: ./
        file: ./Dockerfile
        push: true
        provenance: mode=max
        sbom: true
        tags: "clinicalgenomics/scout:latest, clinicalgenomics/scout:${{ github.event.release.tag_name }}"

 deploy-docs:
    name: Deploy Docs to GitHubIO
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repo
       uses: actions/checkout@v6
     - name: Setup environment for docs deployment
       uses: actions/setup-python@v6
       with:
         python-version-file: ".python-version"
     - name: Install mkdocs
       run: pip install mkdocs mkdocs-material markdown-include
     - name: Deploy documentation
       run: mkdocs gh-deploy --force
